{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">О компании</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-half">
					<div class="article">
						<h2 class="article__title article__title--hide-on-mobile">Группа компаний Авто-Белогорье</h2>
						<p>Группа компаний Авто-Белогорье основана в 2009 году. Мы являемся официальным дилером 4
							брендов ведущих зарубежных и отечественных автоконцернов: Volkswagen, Kia, Renault, LADA.
							Самые востребованные рынком модели и запасные части входят в пакет ГК Авто-Белогорье.</p>
						<p>Авто-Белагорье активно развивается и плодотворно сотрудничает
							как с физическими, так и с юридическими лицами.</p>
					</div>
				</div>
				<div class="layout__item-half">
					<h2 class="article__title article__title--hide-on-desktop">Группа компаний Авто-Белогорье</h2>
					<div class="m-slider">
						<div class="m-slider__container swiper-container">
							<div class="brands m-slider__wrapper swiper-wrapper">
								<div class="brands__item swiper-slide">
									<div class="brand">
										<img src="./styles/images/renault.svg" alt=""/>
									</div>
								</div>
								<div class="brands__item swiper-slide">
									<div class="brand">
										<img src="./styles/images/volkswagen.svg" alt=""/>
									</div>
								</div>
								<div class="brands__item swiper-slide">
									<div class="brand">
										<img src="./styles/images/lada.png" alt=""/>
									</div>
								</div>
								<div class="brands__item swiper-slide">
									<div class="brand">
										<img src="./styles/images/kia.svg" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Этапы подготовки к продаже
					автомобилей в пробегом</h3>
			</div>
			<div class="step-slider h-slider">
				<div class="step-slider__container h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="1">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Диагностика</span>
								</h3>
								<span
									class="tile-blue__text">Квалифицированные специалисты проводят полную
									техническую проверку каждого автомобиля с применением профессионального оборудования.
Все заключения и рекомендации фиксируются в диагностическом листе.</span>
							</div>
						</div>
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="2">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Юридическая проверка</span>
								</h3>
								<span
									class="tile-blue__text">Еще один обязательный этап проверки каждого автомобиля в ГК «Авто-Белогорье»
									- криминалистическая экспертиза. Юридическую чистоту каждого автомобиля гарантируем на 100%.</span>
							</div>
						</div>
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="3">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Предпродажная подготовка</span>
								</h3>
								<span
									class="tile-blue__text">Заключительным этапов подготовки каждого автомобиля к продаже является
									необходимое для безопасной эксплуатации техническое обслуживание
									автомобиля, химчистка салона, полировка кузова, устранение кузовных дефектов.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Наша команда</h3>
			</div>
			<div class="layout">
				<div class="layout__item-half">
					<div class="section__head">
						<p>Команда – это наше все. В нашей команде Вы не найдете равнодушных. Каждый сотрудник четко на
							своем месте, выполняет работу, которая
							ему по душе.
						</p>
						<p>Хотите стать часть нашей команды? Тогда ознакомьтесь с открытыми вакансиями на нашем
							сайте.</p>
					</div>
				</div>
				<div class="layout__item-half">

				</div>
			</div>
			<div class="news-slider">
				<div class="news-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Лыпушанский Владимир.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Лапушанский Владимир
									Иванович</h4>
								<p class="news-slide__desc">Ведущий специалист по качеству
									и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Уткин Максим.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Уткин Максим
									Вячеславович</h4>
								<p class="news-slide__desc">Специалист по качеству и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:zubko@mail.ru">zubko@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Болгова Татьяна.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Болгова Татьяна
									Петровна</h4>
								<p class="news-slide__desc">Ведущий специалист по качеству
									и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:mavrina@mail.ru">mavrina@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Беседин Эдуард.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Беседин Эдуард
									Ильясович</h4>
								<p class="news-slide__desc">Ведущий специалист по качеству
									и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:kopeenko@mail.ru">kopeenko@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Лыпушанский Владимир.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Лапушанский Владимир
									Иванович</h4>
								<p class="news-slide__desc">Ведущий специалист по качеству
									и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Уткин Максим.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Уткин Максим
									Вячеславович</h4>
								<p class="news-slide__desc">Специалист по качеству и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:zubko@mail.ru">zubko@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Болгова Татьяна.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Болгова Татьяна
									Петровна</h4>
								<p class="news-slide__desc">Ведущий специалист по качеству
									и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:mavrina@mail.ru">mavrina@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
						<div class="news-slider__slide swiper-slide">
							<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Беседин Эдуард.jpg" alt=""/>
									</span>
								</span>
								<h4 class="news-slide__title">Беседин Эдуард
									Ильясович</h4>
								<p class="news-slide__desc">Ведущий специалист по качеству
									и клиентскому сервису</p>
								<div class="news-slide__links">
									<div>Тел.:
										<a href="tel:+79275561545">+7-927-556-15-45</a>
									</div>
									<div>E-mal:
										<a href="mailto:kopeenko@mail.ru">kopeenko@mail.ru</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="load-more">
						<a href="" class="btn-transparent-grey btn-mobile-full">Все сотрудники</a>
						<a href="" class="btn-blue btn-mobile-full">Вакансии</a>
					</div>
					<div class="slider-nav">
						<div class="slider-nav__prev swiper-button-prev"></div>
						<div class="slider-nav__pagination swiper-pagination"></div>
						<div class="slider-nav__next swiper-button-next"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Нам есть чем гордиться</h3>
			</div>
			<div class="section__content">
				<div class="news-slider">
					<div class="news-slider__container swiper-container">
						<div class="swiper-wrapper">
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/847336bbf9c3a81e337eddba81ebecf7.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Дилер года 2016. Специальный приз президента Киа
										Моторс Россия и СНГ</h4>
									<p class="news-slide__desc">21 июля 2016</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/a5c713559da49d8c8f0dfa2c7cb423c6.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Лучший дилер по продажам коммерческого транспорта
										PEUGEOT</h4>
									<p class="news-slide__desc">15 июня 2018</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/n18981.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Лучший Холдинг по продажам в 2015 году</h4>
									<p class="news-slide__desc">8 мая 2015</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/6c4b9d05733f0c752008eb96638fae87.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Дилер года 2019. Специальный приз президента Киа
										Моторс Россия и СНГ</h4>
									<p class="news-slide__desc">23 августа 2019</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/n18981.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Лучший Холдинг по продажам в 2015 году</h4>
									<p class="news-slide__desc">8 мая 2015</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/6c4b9d05733f0c752008eb96638fae87.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Дилер года 2019. Специальный приз президента Киа
										Моторс Россия и СНГ</h4>
									<p class="news-slide__desc">23 августа 2019</p>
								</a>
							</div>
						</div>
						<div class="load-more">
							<a href="" class="btn-transparent-grey btn-mobile-full">Все награды</a>
						</div>
						<div class="slider-nav">
							<div class="slider-nav__prev swiper-button-prev"></div>
							<div class="slider-nav__pagination swiper-pagination"></div>
							<div class="slider-nav__next swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Наши партнеры</h3>
			</div>
			<div class="section__content">
				<div class="logo-slider">
					<div class="logo-slider__container swiper-container">
						<div class="swiper-wrapper">
							<div class="logo-slider__slide swiper-slide">
								<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (14).png" alt=""/>
									</span>
								</span>
								</div>
							</div>
							<div class="logo-slider__slide swiper-slide">
								<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (15).png" alt=""/>
									</span>
								</span>
								</div>
							</div>
							<div class="logo-slider__slide swiper-slide">
								<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (16).png" alt=""/>
									</span>
								</span>
								</div>
							</div>
						</div>
						<div class="load-more">
							<a href="" class="btn-transparent-grey btn-mobile-full">Все партнеры</a>
						</div>
						<div class="slider-nav">
							<div class="slider-nav__prev swiper-button-prev"></div>
							<div class="slider-nav__pagination swiper-pagination"></div>
							<div class="slider-nav__next swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Новости
					компании</h3>
			</div>
		</div>
		<div class="section__content">
			<div class="wrapper">
				<div class="news-slider">
					<div class="news-slider__container swiper-container">
						<div class="swiper-wrapper">
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С праздником 8 марта!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С днем защитника Отечества!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Цветочный патруль</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С праздником 8 марта!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С днем защитника Отечества!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="news-slider__slide swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Цветочный патруль</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
						</div>
						<div class="load-more">
							<a href="" class="btn-transparent-grey btn-mobile-full">Все новости</a>
						</div>
						<div class="slider-nav">
							<div class="slider-nav__prev swiper-button-prev"></div>
							<div class="slider-nav__pagination swiper-pagination"></div>
							<div class="slider-nav__next swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="section__content">
			<div class="wrapper">
				<div class="section__head">
					<h3 class="section__title">Отзывы наших клиентов</h3>
				</div>
				<div class="h-slider">
					<div class="h-slider__container swiper-container">
						<div class="swiper-wrapper">
							<div class="feedback-slide swiper-slide">
								<div class="feedback-tile">
									<div class="feedback-tile__inner">
										<div class="stars">
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
										</div>
										<h4 class="feedback-tile__title">Отличный салон!!!</h4>
										<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на
											Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела!
											Поскольку я
											проживаю в другом регионе, мне было не удобно кататься туда-сюда, Илья нашел
											выход...</p>
										<button class="link-grey link-under link-small js-open-feedback-popup-btn">
											Читать полностью
										</button>
									</div>
									<div class="feedback-tile__name">Ирина Смольченко</div>
								</div>
							</div>
							<div class="feedback-slide swiper-slide">
								<div class="feedback-tile">
									<div class="feedback-tile__inner">
										<div class="stars">
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star-empty.svg" alt=""/>
												</div>
											</div>
										</div>
										<h4 class="feedback-tile__title">Спасибо Вячеславу Лигай</h4>
										<p class="feedback-tile__text">Вячеслав Лигай отличный менеджер,спасибо что у
											вас есть такие работники, профессионал своего дела! Поскольку я проживаю в
											другом регионе, мне было не удобно кататься туда-сюда, Вячеслав нашел
											выход…</p>
										<button class="link-grey link-under link-small js-open-feedback-popup-btn">
											Читать полностью
										</button>
									</div>
									<div class="feedback-tile__name">Ирина Смольченко</div>
								</div>
							</div>
							<div class="feedback-slide swiper-slide">
								<div class="feedback-tile">
									<div class="feedback-tile__inner">
										<div class="stars">
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star.svg" alt=""/>
												</div>
											</div>
											<div class="stars__item">
												<div class="star">
													<img src="./styles/images/star-empty.svg" alt=""/>
												</div>
											</div>
										</div>
										<h4 class="feedback-tile__title">Отзыв о покупке</h4>
										<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на
											Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела! </p>
										<button class="link-grey link-under link-small js-open-feedback-popup-btn">
											Читать полностью
										</button>
									</div>
									<div class="feedback-tile__name">Ирина Смольченко</div>
								</div>
							</div>
						</div>
						<div class="load-more">
							<a href="" class="btn-transparent-grey btn-mobile-full">Все отзывы</a>
							<button class="btn-blue btn-mobile-full js-open-give-feedback-popup-btn">Оставить отзыв
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Правовая инфомация</h3>
			</div>
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-half">
					<div class="article">
						<p>Гелиоцентрическое расстояние, как справедливо считает И.Гальперин, анизотропно влияет на
							составляющие гироскопического момента больше, чем абразивный нонаккорд. Соинтервалие, в том
							числе, дает медиамикс. Альтиметр, это удалось установить по характеру спектра,
							интуитивно.</p>
						<p>Абстрактное высказывание косвенно. Дискурс осознаёт урбанистический орнаментальный сказ.
							Установившийся режим, в соответствии с модифицированным уравнением Эйлера, выбирает
							латентный верлибр. Неустойчивость, как известно, быстро разивается.</p>
						<div class="article__btns">
							<div class="article__btn">
								<a href="" class="btn-transparent-grey btn-mobile-full">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
