{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Автосервис</a>
					<a class="breadcrumbs__item" href="">Адреса</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Адреса</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Наши автосервисы</h3>
			</div>
			<div class="layout">
				<div class="layout__item-half">
					<div class="service-tile">
						<div class="service-tile__back">
							<img src="./styles/images/service9.jpg" alt=""/>
						</div>
						<div class="service-tile__inner">
							<div>
								<h3 class="service-tile__title">Автоцентр «Авто-Белогорье»</h3>
								<p class="service-tile__address">
									Официальный дилер KIA
									Белгород, ул. Магистральная, 8

								</p>
								<a href="tel:+74722357070" class="service-tile__phone">+7 (4722) 35-70-70</a>
								<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
							</div>
							<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
						</div>
					</div>
				</div>
				<div class="layout__item-half">
					<div class="service-tile">
						<div class="service-tile__back">
							<img src="./styles/images/service13.jpg" alt=""/>
						</div>
						<div class="service-tile__inner">
							<div>
								<h3 class="service-tile__title">Автоцентр «Авто-Белогорье»</h3>
								<p class="service-tile__address">
									Официальный дилер KIA
									Старый Оскол, пр. Алексея Угарова, 18г

								</p>
								<a href="tel:+74725391111" class="service-tile__phone">+7 (4725) 39-11-11</a>
								<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
							</div>
							<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
						</div>
					</div>
				</div>
				<div class="layout__item-half">
					<div class="service-tile">
						<div class="service-tile__back">
							<img src="./styles/images/service10.jpg" alt=""/>
						</div>
						<div class="service-tile__inner">
							<div>
								<h3 class="service-tile__title">Автоцентр «Триумф»</h3>
								<p class="service-tile__address">
									Официальный дилер Volkswagen
									Белгород, ул. Магистральная, 12
								</p>
								<a href="tel:+74722515050" class="service-tile__phone">+7 (4722) 51-50-50</a>
								<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
							</div>
							<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
						</div>
					</div>
				</div>
				<div class="layout__item-half">
					<div class="service-tile">
						<div class="service-tile__back">
							<img src="./styles/images/service11.jpg" alt=""/>
						</div>
						<div class="service-tile__inner">
							<div>
								<h3 class="service-tile__title">Автоцентр «Авто-Белогорье»</h3>
								<p class="service-tile__address">
									Официальный дилер Renault
									Белгород, Ул. Магистральная, 8


								</p>
								<a href="tel:+74722357070" class="service-tile__phone">+7 (4722) 35-70-70</a>
								<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
							</div>
							<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
						</div>
					</div>
				</div>
				<div class="layout__item-half">
					<div class="service-tile">
						<div class="service-tile__back">
							<img src="./styles/images/service12.jpg" alt=""/>
						</div>
						<div class="service-tile__inner">
							<div>
								<h3 class="service-tile__title">Автоцентр «Лада Центр Спутник»</h3>
								<p class="service-tile__address">
									Официальный дилер LADA
									Белгород, Ул. Магистральная, 1а
								</p>
								<a href="tel:+74722357575" class="service-tile__phone">+7 (4722) 35-75-75</a>
								<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
							</div>
							<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Наши автоцентры на карте</h3>
			</div>
			<div class="map-box">
				<div class="map-form-box form-box form-box--grey form-box--pd">
					<form class="form map-form">
						<div class="form__head">
							<h4 class="form__title">Перезвоните мне</h4>
							<p class="form__hint-small">Оставьте заявку и мы свяжемся с Вами <br>
								в ближайшее время</p>
						</div>
						<div class="form__inner">
							<div class="form__field-box">
								<div class="form__field">
									<label class="field field--required">
										<span class="field__label">Ваше имя</span>
										<input class="field__input field__input--white" type="text"
											   placeholder="Введите имя">
									</label>
								</div>
								<div class="form__field">
									<label class="field field--required">
										<span class="field__label">Номер телефона</span>
										<input class="field__input field__input--white" type="text"
											   placeholder="+7 ( ___ ) ___ - __ - __">
									</label>
								</div>
								<div class="form__field">
									<label class="checkbox">
										<input class="visuallyhidden" type="checkbox">
										<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
										<span class="checkbox__label">Я согласен на <br>
											<a href="">обработку персональных данных</a></span>
									</label>
								</div>
								<div class="form__field">
									<button class="btn-blue btn-mobile-full" type="submit">
										Отправить
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="map">
					<div class="address-map" id="address-map"></div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
