{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Услуги</a>
					<a class="breadcrumbs__item" href="">Выкуп авто</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Выкуп авто</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-filter">
						<div class="menu-sidebar">
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Страхование автомобиля</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Обмен авто Trade-in</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link menu-link--active">Выкуп автомобиля</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Покупка в лизинг</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Кредит на автомобиль</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Информация об автомобиле</h3>
							<div class="form">
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="select">
												<span class="select__label">Марка автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Модификация</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Пробег</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Пробег автомобиля">
											</label>
										</div>
										<div class="form__field">
											<div class="attach">
												<div class="attach__label">
													<span>Фото автомобиля</span>
												</div>
												<label class="attach__input" for="attach-photo-auto">
													<input id="attach-photo-auto" class="upload-file visuallyhidden"
														   name="document"
														   type="file">
													<span class="attach-input__btn btn-transparent-grey btn-full">Прикрепить файл</span>
												</label>
												<div class="file-list">Файл не выбран</div>
											</div>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="select">
												<span class="select__label">Модель автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Комплектация</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Год выпуска</span>
												<select class="select__input js-select">
													<option>Год выпуска</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<div class="attach">
												<div class="attach__label">
													<span>ПТС и СТС</span>
												</div>
												<label class="attach__input" for="attach-pts">
													<input id="attach-pts" class="upload-file visuallyhidden"
														   name="document"
														   type="file">
													<span class="attach-input__btn btn-transparent-grey btn-full">Прикрепить файл</span>
												</label>
												<div class="file-list">Файл не выбран</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Информация о владельце</h3>
							<div class="form">
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Имя</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите имя">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Фамилия</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите фамилию">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Отчество</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите отчество">
											</label>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Ваш e-mail</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите e-mail">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Номер телефона</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="+7 ( ___ ) ___ - __ - __">
											</label>
										</div>
										<div class="form__field form__field--top-mg">
											<button class="btn-blue btn-full js-application-accepted-btn" type="submit">
												Рассчитать страховку
											</button>
											<div class="form__hint-small form__hint-small--extra">Нажимая кнопку
												«Рассчитать страховку», Вы
												соглашаетесь на <a href="">обработку
													персональных данных</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-half">
					<div class="article">
						<h3 class="article__title">Как проходит выкуп автомобиля</h3>
						<p>Объективная оценка технического состояния транспортного средства позволяет Вам дорого продать
							свой автомобиль в короткие сроки.</p>
					</div>
				</div>
				<div class="layout__item-half">

				</div>
			</div>
			<div class="step-slider h-slider">
				<div class="step-slider__container h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="1">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Оформите on-line заявку
на оценку Вашего автомобиля</span>
								</h3>
								<span
									class="tile-blue__text">Наш менеджер свяжется с Вами
для согласования времени и места осмотра Вашего авто</span>
							</div>
						</div>
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="2">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Бесплатно пройдите
экспресс-диагностику</span>
								</h3>
								<span
									class="tile-blue__text">Мы бесплатно проверим техническое состояние Вашего автомобиля, оценим
его и предложим цену выкупа</span>
							</div>
						</div>
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="3">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Получите деньги сразу</span>
								</h3>
								<span
									class="tile-blue__text">Мы сразу платим за автомобиль 100%
его стоимости.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
