{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автомобилей</a>
					<a class="breadcrumbs__item" href="">Volkswagen</a>
					<a class="breadcrumbs__item" href="">Passat Business</a>
					<a class="breadcrumbs__item" href="">Резервирование автомобиля</a>
					<a class="breadcrumbs__item" href="">Успешное бронирование</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Автомобиль забронирован</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-fill-info">
					<div class="form-box form-box--grey">
						<h2 class="form-box__title form-box__title--small">Автомобиль успешно забронирован</h2>
						<div class="form">
							<div class="form__inner">
								<div class="form__field-box form__field-box--half form__field-box--mg">
									<div class="form__field form__field--mg">
										<div class="price-lbl price-lbl--large">Оплаченная сумма бронирования:</div>
										<div class="price-box price-box--no-sb">
											<div class="price price--medium price--bold price--dark"><span>25 000</span><sup>₽</sup></div>
										</div>
									</div>
								</div>
								<div class="form__field-box form__field-box--half">
									<div class="form__field form__field--mg">
										<div class="price-lbl price-lbl--large">Способ оплаты:</div>
										<div class="price-box price-box--no-sb">
											<div class="price price--medium price--bold price--dark">Яндекс.Касса</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form__inner">
								<div class="form__field-box form__field-box--half form__field-box--mg">
									<div class="form__field form__field--mg">
										<div class="price-lbl price-lbl--large">Номер вашего заказа:</div>
										<div class="price-box price-box--no-sb">
											<div class="price price--medium price--bold price--dark">№B7419_731488197</div>
										</div>
										<div class="form__hint-small">
											Вы можете следить за выполнением своего заказа в <a href="">Личном кабинете</a>
										</div>
									</div>
									<div class="form__field form__field--mg">
										<a href="" class="btn-blue btn-mobile-full">Узнать статус заказа</a>
									</div>
								</div>
								<div class="form__field-box form__field-box--half">
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="layout__item-info">
					<div class="info-sidebar">
						<div class="info-sidebar__item">
							<h3 class="info-sidebar__title">Volkswagen Passat VIII (B8) Рестайлинг , Седан, 2020 года
								выпуска, двигатель 1984 см3, 190 л.с., бензиновый, автомат, передний привод, цвет
								черный, комбинированный салон</h3>
							<div class="info-item">
								<div class="info-item__title">Заказ номер:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark">B7419_731488197</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Стоимость по прайсу:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark"><span>2 680 900</span><sup>₽</sup>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Выгода при онлайн
									бронировании:
								</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark-green"><span>- 272 900</span><sup>₽</sup>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title info-item__title--bold">Итоговая стоимость:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--normal price--bold price--dark"><span>2 408 000</span><sup>₽</sup></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="info-sidebar-tip">
						<div>* Финальная стоимость рассчитывается на основании всех доступных скидок и акций и может
							отличаться после проверки на соответствие условиям.
						</div>
						<div>** Подробную информацию об актуальных скидках и акциях
							можно посмотреть в разделе <a class="link-grey link-under" href="">Акции</a>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
