{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автомобилей</a>
					<a class="breadcrumbs__item" href="">LADA</a>
					<a class="breadcrumbs__item" href="">XRAY</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">LADA XRAY 1.6 Л. 5МКП (106 Л.С) FWD Luxe Prestige, снежный
						белый</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-fill-info">
					<div class="product-content">
						<div class="product-content__box">
							<div class="product-slider">
								<div class="product-slider-gallery">
									<div class="product-slider-gallery__container swiper-container">
										<div class="swiper-wrapper">
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/car7.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/car8.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/car9.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/car10.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/car11.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/car12.png" alt=""/>
											</div>
										</div>
										<div class="product-slider-gallery__pagination swiper-pagination"></div>
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>
									</div>
									<div class="product-lbl-box">
										<div class="tile-lbl tile-lbl--blue">В наличии</div>
										<div class="tile-lbl tile-lbl--green">Акция</div>
										<div class="tile-lbl tile-lbl--red">Спец цена</div>
									</div>
									<div class="product-options">
										<div class="product-options__item">
											<button class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#print"/>
												</svg>
											</button>
										</div>
										<div class="product-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="product-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
										<div class="product-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#zoom-out"/>
												</svg>
											</a>
										</div>
									</div>
								</div>
								<div class="product-slider-thumbs">
									<div class="product-slider-thumbs__container swiper-container">
										<div class="swiper-wrapper">
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/car7.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/car8.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/car9.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/car10.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/car11.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/car12.png" alt=""/>
											</div>
										</div>
									</div>
								</div>
								<div class="product-slider__hint">
									Изображения автомобиля могут отличаться. Запросите персональное предложение, чтобы
									получить
									точные фото данного автомобиля
								</div>
							</div>
						</div>
						<div class="product-content__box">
							<div class="product-content__head">
								<h3 class="product-content__title">Характеристики</h3>
							</div>
							<div class="product-specifications">
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<svg class="product-specification__icon">
												<use xlink:href="./styles/icons/icons.svg#car"/>
											</svg>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">КОМПЛЕКТАЦИЯ</h4>
											<p class="product-specification__name">Luxe Prestige</p>
											<p class="product-specification__desc">CB23HZ</p>
										</div>
									</div>
								</div>
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<svg class="product-specification__icon">
												<use xlink:href="./styles/icons/icons.svg#engine"/>
											</svg>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">ДВИГАТЕЛЬ</h4>
											<p class="product-specification__name">1600 см3, 106 л.с.</p>
										</div>
									</div>
								</div>
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<svg class="product-specification__icon">
												<use xlink:href="./styles/icons/icons.svg#gearshift"/>
											</svg>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">КОРОБКА</h4>
											<p class="product-specification__name">Механическая</p>
										</div>
									</div>
								</div>
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<svg class="product-specification__icon">
												<use xlink:href="./styles/icons/icons.svg#chassis"/>
											</svg>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">ПРИВОД</h4>
											<p class="product-specification__name">Передний</p>
										</div>
									</div>
								</div>
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<svg class="product-specification__icon">
												<use xlink:href="./styles/icons/icons.svg#seat"/>
											</svg>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">МАТЕРИАЛ</h4>
											<p class="product-specification__name">Велюр</p>
										</div>
									</div>
								</div>
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<div class="product-specification__color"
												 style="background-color: #FFFFFF"></div>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">ЦВЕТ КУЗОВА</h4>
											<p class="product-specification__name">Белый</p>
										</div>
									</div>
								</div>
								<div class="product-specifications__item">
									<div class="product-specification">
										<div class="product-specification__box">
											<div class="product-specification__color"
												 style="background-color: #0F2043"></div>
										</div>
										<div class="product-specification__info">
											<h4 class="product-specification__lbl">ЦВЕТ САЛОНА</h4>
											<p class="product-specification__name">Темный синий</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-content__box">
							<div class="product-content__head">
								<h3 class="product-content__title">Дополнительные услуги</h3>
							</div>
							<div class="product-services">
								<div class="product-services__item">
									<div class="product-service">
										<div class="product-service__inner">
											<h4 class="product-service__title">Кредит на автомобиль</h4>
											<p class="product-service__text">Рассчитайте стоимость ежемесячного
												платежа с удобным для вас банком.</p>
										</div>
										<button class="btn-transparent-white btn-full">Рассчитать</button>
									</div>
								</div>
								<div class="product-services__item">
									<div class="product-service">
										<div class="product-service__inner">
											<h4 class="product-service__title">Обмен авто Trade-in</h4>
											<p class="product-service__text">Узнайте стоимость Вашего авто
												в режиме онлайн!*</p>
										</div>
										<button class="btn-transparent-white btn-full">Оценить</button>
									</div>
								</div>
								<div class="product-services__item">
									<div class="product-service">
										<div class="product-service__inner">
											<h4 class="product-service__title">Страхование автомобиля</h4>
											<p class="product-service__text">Рассчитайте стоимость страхования
												автомобиля онлайн в удобном калькуляторе</p>
										</div>
										<button class="btn-transparent-white btn-full">Рассчитать</button>
									</div>
								</div>
							</div>
						</div>
						<div class="product-content__box">
							<div class="product-content__head">
								<h3 class="product-content__title">Комплектация авто</h3>
							</div>
							<div class="tabs">
								<div class="tabs__item">
									<button class="tab tab--active js-tab" data-tab="tab1">Стандартное оборудование
									</button>
								</div>
								<div class="tabs__item">
									<button class="tab js-tab" data-tab="tab2">Дополнительные опции</button>
								</div>
								<div class="tabs__item">
									<button class="tab js-tab" data-tab="tab3">Технические характеристики</button>
								</div>
							</div>
							<div class="product-equipment-box">
								<div class="product-equipment-content tab-content spoiler tab-content--active" id="tab1">
									<div
										class="product-equipment-content__inner spoiler__inner spoiler__inner--active">
										<div class="product-equipment-content__col">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Безопасность</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														водителя
													</div>
													<div class="product-equipment-info__name">3T2</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														переднего пассажира
													</div>
													<div class="product-equipment-info__name">731J</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Крепления для детских
														сидений ISOFIX
													</div>
													<div class="product-equipment-info__name">GSA4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Блокировка задних дверей
														от открывания детьми
													</div>
													<div class="product-equipment-info__name">NZ5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое запирание
														дверей при начале движения
													</div>
													<div class="product-equipment-info__name">WHZE</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое включение
														аварийной сигнализации при экстренном торможении
													</div>
													<div class="product-equipment-info__name">HNAE55</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое отпирание
														дверей и включение аварийной сигнализации при столкновении
													</div>
													<div class="product-equipment-info__name">HNSV</div>
												</div>
											</div>
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Безопасность</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														водителя
													</div>
													<div class="product-equipment-info__name">3T2</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														переднего пассажира
													</div>
													<div class="product-equipment-info__name">731J</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Крепления для детских
														сидений ISOFIX
													</div>
													<div class="product-equipment-info__name">GSA4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Блокировка задних дверей
														от открывания детьми
													</div>
													<div class="product-equipment-info__name">NZ5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое запирание
														дверей при начале движения
													</div>
													<div class="product-equipment-info__name">WHZE</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое включение
														аварийной сигнализации при экстренном торможении
													</div>
													<div class="product-equipment-info__name">HNAE55</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое отпирание
														дверей и включение аварийной сигнализации при столкновении
													</div>
													<div class="product-equipment-info__name">HNSV</div>
												</div>
											</div>
										</div>
										<div class="product-equipment-content__col">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Интерьер</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Бортовой компьютер</div>
													<div class="product-equipment-info__name">SFV3</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подсказчик переключения
														передач в комбинации приборов
													</div>
													<div class="product-equipment-info__name">234IK</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Заднее сиденье с
														раскладной спинкой в пропорции 60/40
													</div>
													<div class="product-equipment-info__name">FSILS4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Воздушный фильтр салона
													</div>
													<div class="product-equipment-info__name">SFLI5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Противосолнечный козырек
														пассажира с зеркалом
													</div>
													<div class="product-equipment-info__name">425I</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Панель приборов. Цвет (по
														выбору) черный/коричневый
													</div>
													<div class="product-equipment-info__name">DD5S</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Обивка сидений
														комбинированная ткань/экокожа. Цвет (по выбору)
														черный/коричневый
													</div>
													<div class="product-equipment-info__name">LM56</div>
												</div>
											</div>
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Интерьер</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Бортовой компьютер</div>
													<div class="product-equipment-info__name">SFV3</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подсказчик переключения
														передач в комбинации приборов
													</div>
													<div class="product-equipment-info__name">234IK</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Заднее сиденье с
														раскладной спинкой в пропорции 60/40
													</div>
													<div class="product-equipment-info__name">FSILS4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Воздушный фильтр салона
													</div>
													<div class="product-equipment-info__name">SFLI5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Противосолнечный козырек
														пассажира с зеркалом
													</div>
													<div class="product-equipment-info__name">425I</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Панель приборов. Цвет (по
														выбору) черный/коричневый
													</div>
													<div class="product-equipment-info__name">DD5S</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Обивка сидений
														комбинированная ткань/экокожа. Цвет (по выбору)
														черный/коричневый
													</div>
													<div class="product-equipment-info__name">LM56</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product-equipment-content__show spoiler__show">
										<button class="btn-transparent-grey btn-mobile-full js-spoiler-btn">Показать
											все
										</button>
									</div>
								</div>
								<div class="product-equipment-content tab-content spoiler" id="tab2">
									<div
										class="product-equipment-content__inner spoiler__inner spoiler__inner--active">
										<div class="product-equipment-content__col">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Безопасность 2</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														водителя
													</div>
													<div class="product-equipment-info__name">3T2</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														переднего пассажира
													</div>
													<div class="product-equipment-info__name">731J</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Крепления для детских
														сидений ISOFIX
													</div>
													<div class="product-equipment-info__name">GSA4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Блокировка задних дверей
														от открывания детьми
													</div>
													<div class="product-equipment-info__name">NZ5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое запирание
														дверей при начале движения
													</div>
													<div class="product-equipment-info__name">WHZE</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое включение
														аварийной сигнализации при экстренном торможении
													</div>
													<div class="product-equipment-info__name">HNAE55</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое отпирание
														дверей и включение аварийной сигнализации при столкновении
													</div>
													<div class="product-equipment-info__name">HNSV</div>
												</div>
											</div>
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Безопасность</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														водителя
													</div>
													<div class="product-equipment-info__name">3T2</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														переднего пассажира
													</div>
													<div class="product-equipment-info__name">731J</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Крепления для детских
														сидений ISOFIX
													</div>
													<div class="product-equipment-info__name">GSA4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Блокировка задних дверей
														от открывания детьми
													</div>
													<div class="product-equipment-info__name">NZ5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое запирание
														дверей при начале движения
													</div>
													<div class="product-equipment-info__name">WHZE</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое включение
														аварийной сигнализации при экстренном торможении
													</div>
													<div class="product-equipment-info__name">HNAE55</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое отпирание
														дверей и включение аварийной сигнализации при столкновении
													</div>
													<div class="product-equipment-info__name">HNSV</div>
												</div>
											</div>
										</div>
										<div class="product-equipment-content__col">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Интерьер 2</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Бортовой компьютер</div>
													<div class="product-equipment-info__name">SFV3</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подсказчик переключения
														передач в комбинации приборов
													</div>
													<div class="product-equipment-info__name">234IK</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Заднее сиденье с
														раскладной спинкой в пропорции 60/40
													</div>
													<div class="product-equipment-info__name">FSILS4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Воздушный фильтр салона
													</div>
													<div class="product-equipment-info__name">SFLI5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Противосолнечный козырек
														пассажира с зеркалом
													</div>
													<div class="product-equipment-info__name">425I</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Панель приборов. Цвет (по
														выбору) черный/коричневый
													</div>
													<div class="product-equipment-info__name">DD5S</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Обивка сидений
														комбинированная ткань/экокожа. Цвет (по выбору)
														черный/коричневый
													</div>
													<div class="product-equipment-info__name">LM56</div>
												</div>
											</div>
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Интерьер</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Бортовой компьютер</div>
													<div class="product-equipment-info__name">SFV3</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подсказчик переключения
														передач в комбинации приборов
													</div>
													<div class="product-equipment-info__name">234IK</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Заднее сиденье с
														раскладной спинкой в пропорции 60/40
													</div>
													<div class="product-equipment-info__name">FSILS4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Воздушный фильтр салона
													</div>
													<div class="product-equipment-info__name">SFLI5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Противосолнечный козырек
														пассажира с зеркалом
													</div>
													<div class="product-equipment-info__name">425I</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Панель приборов. Цвет (по
														выбору) черный/коричневый
													</div>
													<div class="product-equipment-info__name">DD5S</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Обивка сидений
														комбинированная ткань/экокожа. Цвет (по выбору)
														черный/коричневый
													</div>
													<div class="product-equipment-info__name">LM56</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product-equipment-content__show spoiler__show">
										<button class="btn-transparent-grey btn-mobile-full js-spoiler-btn">Показать
											все
										</button>
									</div>
								</div>
								<div class="product-equipment-content tab-content spoiler" id="tab3">
									<div
										class="product-equipment-content__inner spoiler__inner spoiler__inner--active">
										<div class="product-equipment-content__col">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Безопасность 3</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														водителя
													</div>
													<div class="product-equipment-info__name">3T2</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														переднего пассажира
													</div>
													<div class="product-equipment-info__name">731J</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Крепления для детских
														сидений ISOFIX
													</div>
													<div class="product-equipment-info__name">GSA4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Блокировка задних дверей
														от открывания детьми
													</div>
													<div class="product-equipment-info__name">NZ5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое запирание
														дверей при начале движения
													</div>
													<div class="product-equipment-info__name">WHZE</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое включение
														аварийной сигнализации при экстренном торможении
													</div>
													<div class="product-equipment-info__name">HNAE55</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое отпирание
														дверей и включение аварийной сигнализации при столкновении
													</div>
													<div class="product-equipment-info__name">HNSV</div>
												</div>
											</div>
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Безопасность</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														водителя
													</div>
													<div class="product-equipment-info__name">3T2</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подушка безопасности
														переднего пассажира
													</div>
													<div class="product-equipment-info__name">731J</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Крепления для детских
														сидений ISOFIX
													</div>
													<div class="product-equipment-info__name">GSA4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Блокировка задних дверей
														от открывания детьми
													</div>
													<div class="product-equipment-info__name">NZ5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое запирание
														дверей при начале движения
													</div>
													<div class="product-equipment-info__name">WHZE</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое включение
														аварийной сигнализации при экстренном торможении
													</div>
													<div class="product-equipment-info__name">HNAE55</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Автоматическое отпирание
														дверей и включение аварийной сигнализации при столкновении
													</div>
													<div class="product-equipment-info__name">HNSV</div>
												</div>
											</div>
										</div>
										<div class="product-equipment-content__col">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Интерьер 3</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Бортовой компьютер</div>
													<div class="product-equipment-info__name">SFV3</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подсказчик переключения
														передач в комбинации приборов
													</div>
													<div class="product-equipment-info__name">234IK</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Заднее сиденье с
														раскладной спинкой в пропорции 60/40
													</div>
													<div class="product-equipment-info__name">FSILS4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Воздушный фильтр салона
													</div>
													<div class="product-equipment-info__name">SFLI5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Противосолнечный козырек
														пассажира с зеркалом
													</div>
													<div class="product-equipment-info__name">425I</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Панель приборов. Цвет (по
														выбору) черный/коричневый
													</div>
													<div class="product-equipment-info__name">DD5S</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Обивка сидений
														комбинированная ткань/экокожа. Цвет (по выбору)
														черный/коричневый
													</div>
													<div class="product-equipment-info__name">LM56</div>
												</div>
											</div>
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Интерьер</h4>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Бортовой компьютер</div>
													<div class="product-equipment-info__name">SFV3</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Подсказчик переключения
														передач в комбинации приборов
													</div>
													<div class="product-equipment-info__name">234IK</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Заднее сиденье с
														раскладной спинкой в пропорции 60/40
													</div>
													<div class="product-equipment-info__name">FSILS4</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Воздушный фильтр салона
													</div>
													<div class="product-equipment-info__name">SFLI5</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Противосолнечный козырек
														пассажира с зеркалом
													</div>
													<div class="product-equipment-info__name">425I</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Панель приборов. Цвет (по
														выбору) черный/коричневый
													</div>
													<div class="product-equipment-info__name">DD5S</div>
												</div>
												<div class="product-equipment-info__item">
													<div class="product-equipment-info__desc">Обивка сидений
														комбинированная ткань/экокожа. Цвет (по выбору)
														черный/коричневый
													</div>
													<div class="product-equipment-info__name">LM56</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product-equipment-content__show spoiler__show">
										<button class="btn-transparent-grey btn-mobile-full js-spoiler-btn">Показать
											все
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-info">
					<div class="info-sidebar">
						<div class="info-sidebar__item">
							<h3 class="info-sidebar__title">LADA XRAY 1.6 Л. 5МКП (106 Л.С) FWD Luxe Prestige, снежный
								белый</h3>
							<div class="info-mobile-slider">
								<div class="info-mobile-slider__box">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car8.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car9.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car10.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car11.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car12.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--blue">В наличии</div>
										<div class="tile-lbl tile-lbl--small tile-lbl--green">Акция</div>
										<div class="tile-lbl tile-lbl--small tile-lbl--red">Спец цена</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<button class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#print"/>
												</svg>
											</button>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#zoom-out"/>
												</svg>
											</a>
										</div>
									</div>
								</div>
								<div class="info-sidebar-tip">Изображения автомобиля могут отличаться. Запросите
									персональное предложение, чтобы
									получить точные фото данного автомобиля
								</div>
							</div>
							<div class="info-item">
								<div class="info-item__title">Стоимость:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--normal price--dark price--bold"><span>611 910</span><sup>₽</sup></div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Скидки</div>
							</div>
							<div class="info-item">
								<div class="info-item__title info-item__title--bold">Trade-in</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--green"><span>- 30 000</span><sup>₽</sup>
										</div>
										<div class="tip-box">
											<button class="tip-link">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#info-circle"/>
												</svg>
											</button>
											<div class="tip-popup">Рекламоноситель упорядочивает пул лояльных изданий.
												Анализ рыночных цен обоснован необходимостью. Процесс стратегического
												планирования однородно отражает экспериментальный BTL, осознав маркетинг
												как часть производства. BTL,
											</div>
										</div>
									</div>
									<div class="info-item__price">
										<div class="price price--small price--green"><span>- 30 000</span><sup>₽</sup>
										</div>
										<div class="tip-box">
											<button class="tip-link">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#info-circle"/>
												</svg>
											</button>
											<div class="tip-popup">Рекламоноситель упорядочивает пул лояльных изданий.
												Анализ рыночных цен обоснован необходимостью. Процесс стратегического
												планирования однородно отражает экспериментальный BTL, осознав маркетинг
												как часть производства. BTL,
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-item">
								<div class="info-item__title info-item__title--bold">Кредит, trade-in
									и КАСКО
								</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--green"><span>- 102 300</span><sup>₽</sup>
										</div>
										<div class="tip-box">
											<button class="tip-link">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#info-circle"/>
												</svg>
											</button>
											<div class="tip-popup">Рекламоноситель упорядочивает пул лояльных изданий.
												Анализ рыночных цен обоснован необходимостью. Процесс стратегического
												планирования однородно отражает экспериментальный BTL, осознав маркетинг
												как часть производства. BTL,
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-item">
								<div class="info-item__title">Итоговая скидка:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--normal price--bold price--green"><span>- 102 300</span><sup>₽</sup>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Итоговая стоимость:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--normal price--bold price--dark"><span>509 610</span><sup>₽</sup></div>
									</div>
								</div>
							</div>
							<div class="info-item">
								<button class="btn-blue btn-full js-open-offer-popup-btn">Получить персональное предложение</button>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Предоплата при резерве:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark"><span>25 000</span><sup>₽</sup></div>
									</div>
								</div>
							</div>
							<div class="info-item">
								<a href="" class="btn-blue btn-full">Зарезервировать онлайн</a>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Купить в кредит от:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark"><span>25 000</span><sup>₽</sup></div>
									</div>
								</div>
							</div>
							<div class="info-item info-item--flex-sb">
								<div class="info-item__btn">
									<button class="btn-transparent-grey btn-full js-open-credit-calculator-popup-btn">Купить в кредит</button>
								</div>
								<div class="info-item__btn">
									<button class="btn-transparent-grey btn-full js-open-leasing-calculator-popup-btn">Купить в лизинг</button>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-sidebar-content">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#money-stack"/>
									</svg>
									<span>
										<strong>Предоплата сохраняет условия</strong> и идет в зачет полной стоимости автомобиля
									</span>
								</div>
							</div>
							<div class="info-item">
								<div class="info-sidebar-content">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#clock"/>
									</svg>
									<span>
										<strong>Моментальный возврат предоплаты </strong> в полном объеме без комиссии
									</span>
								</div>
							</div>
							<div class="info-item">
								<div class="info-sidebar-content">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#headphone"/>
									</svg>
									<span><strong>Персональный менеджер</strong> расскажет о выдаче автомобиля и ответит на вопросы
									</span>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-sidebar-hint">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
									</svg>
									<span>Гарантия: 2 года без ограничения пробега</span>
								</div>
							</div>
							<div class="info-item info-item--small-mg">
								<div class="info-sidebar-hint">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
									</svg>
									<span>Скидка по госпрограмме</span>
								</div>
							</div>
						</div>
					</div>
					<div class="info-sidebar-tip">
						<div>* Финальная стоимость рассчитывается на основании всех доступных скидок и акций и может
							отличаться после проверки на соответствие условиям.
						</div>
						<div>** Подробную информацию об актуальных скидках и акциях
							можно посмотреть в разделе <a class="link-grey link-under" href="">Акции</a>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Похожие предложения</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032 500</span><sup>₽</sup></div>
										<div class="price-old"><span>4 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032 500</span><sup>₽</sup></div>
										<div class="price-old"><span>4 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Сопутствующие товары</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--green">Акция</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part8.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">Нет на складе</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
