{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автомобилей</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Каталог автомобилей</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-filter">
					<div class="filter-result filter-result--col" data-result-lbl="Показаны">272 авто</div>
				</div>
				<div class="layout__item-fill-filter">
					<form class="catalog-sort">
						<div class="catalog-sort__item catalog-sort__item--hide-on-desktop">
							<button class="btn-blue btn-full js-open-catalog-filter-btn" type="button">Фильтр</button>
						</div>
						<div class="catalog-sort__item">
							<label class="select">
								<span class="select__label">Сортировать по:</span>
								<select class="select__input js-select">
									<option>Популярности</option>
									<option>Select 1</option>
									<option>Select 2</option>
									<option>Select 3</option>
								</select>
							</label>
						</div>
						<div class="catalog-sort__item catalog-sort__item--hide-on-mobile">
							<label class="select">
								<span class="select__label">Показать по:</span>
								<select class="select__input js-select">
									<option>8</option>
									<option>10</option>
									<option>12</option>
									<option>14</option>
								</select>
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="layout layout--nowrap  layout--no-mg">
				<div class="layout__item-filter">
					<div class="catalog-filter">
						<h3 class="catalog-filter__title">Фильтр</h3>
						<button class="catalog-filter__close js-close-catalog-filter-btn">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#cross"/>
							</svg>
						</button>
						<div class="catalog-filter__inner">
							<form class="filter">
								<div class="filter-items filter-items--vertical">
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Тип авто</span>
											<label class="select select-filter">
												<select class="select-filter__input js-select">
													<option>Выбрать</option>
													<option>Select 1</option>
													<option>Select 2</option>
													<option>Select 3</option>
												</select>
											</label>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Марка</span>
											<label class="select select-filter">
												<select class="select-filter__input js-select">
													<option>Выбрать</option>
													<option>Select 1</option>
													<option>Select 2</option>
													<option>Select 3</option>
												</select>
											</label>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Модель</span>
											<label class="select select-filter">
												<select class="select-filter__input js-select">
													<option>Выбрать</option>
													<option>Select 1</option>
													<option>Select 2</option>
													<option>Select 3</option>
												</select>
											</label>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Модификация</span>
											<label class="select select-filter">
												<select class="select-filter__input js-select">
													<option>Выбрать</option>
													<option>Select 1</option>
													<option>Select 2</option>
													<option>Select 3</option>
												</select>
											</label>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Поколение</span>
											<label class="select select-filter">
												<select class="select-filter__input js-select">
													<option>Выбрать</option>
													<option>Select 1</option>
													<option>Select 2</option>
													<option>Select 3</option>
												</select>
											</label>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Комплектация</span>
											<label class="select select-filter">
												<select class="select-filter__input js-select">
													<option>Выбрать</option>
													<option>Select 1</option>
													<option>Select 2</option>
													<option>Select 3</option>
												</select>
											</label>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Наличие</span>
											<div class="filter-item__flex-r">
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox" checked>
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">В наличии</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Под заказ</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Наличие</span>
											<div class="filter-item__flex-c">
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox" checked>
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Акция</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">С тест-драйва</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Подменный</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Лучшее предложение</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
													<span class="checkbox__checked">
														<svg class="checkbox__icon">
															<use xlink:href="./styles/icons/icons.svg#checkmark"/>
														</svg>
													</span>
												</span>
														<span class="checkbox__label">Новинка</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Цвет кузова</span>
											<div class="colors">
												<div class="colors__item">
													<label class="color color--black">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--grey">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--light-grey">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--white">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--light-blue">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--blue">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--purple">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--pink">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--beige">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--brown">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--red">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--green">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--light-yellow">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--yellow">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--light-pink">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--orange">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input"></span>
													</label>
												</div>
												<div class="colors__item">
													<label class="color color--clear">
														<input class="visuallyhidden" type="radio" name="colors">
														<span class="color__input">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#cross"/>
													</svg>
												</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Цена</span>

										</div>
									</div>
									<div class="filter-items__submit">
										<div class="filter-items__submit-btn">
											<button class="btn-blue btn-full" type="submit">Подобрать авто</button>
										</div>
										<div class="filter-items__submit-btn">
											<button class="link-grey" type="button">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#rotate-left"/>
												</svg>
												<span>Сбросить фильтр</span>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="layout__item-fill-filter">
					<div class="catalog-result">
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
										<div class="price price--large price--grey price--normal price--old"><span>4 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032 500</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="catalog-result__item-full">
							<button class="btn-transparent-grey btn-mobile-full">Показать еще</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
