{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Корзина</a>
					<a class="breadcrumbs__item" href="">Оформление заказа</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Оформление заказа</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-fill-info">
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Тип покупателя и регион доставки</h3>
							<div class="form">
								<div class="form-flex">
									<div class="form-flex__item">
										<label class="radio">
											<input class="visuallyhidden" type="radio" name="radio" checked>
											<span class="radio__input">
													<span class="radio__checked"></span>
												</span>
											<span class="radio__label">Физическое лицо</span>
										</label>
									</div>
									<div class="form-flex__item">
										<label class="radio">
											<input class="visuallyhidden" type="radio" name="radio">
											<span class="radio__input">
													<span class="radio__checked"></span>
												</span>
											<span class="radio__label">Юридическое лицо</span>
										</label>
									</div>
								</div>
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Местоположение</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите название">
											</label>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Индекс</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите индекс">
											</label>
										</div>
									</div>
								</div>
								<div class="form__inner form__inner--small-mg">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<div class="form-box__hint">
												Выберите свой город в списке. Если вы не нашли свой город, выберите
												«другое местоположение», а город впишите в поле «Город»
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Способ доставки</h3>
							<div class="form">
								<div class="form-flex">
									<div class="form-flex__item">
										<label class="cart-radio">
											<input class="visuallyhidden" type="radio" name="delivery-radio" checked>
											<span class="cart-radio__input">
												<span class="cart-radio__title">Доставка курьером*</span>
												<span class="cart-radio__item">
													<span class="cart-radio__subtitle">Стоимость доставки</span>
													<span class="cart-radio__name">бесплатно**</span>
												</span>
												<span class="cart-radio__item">
													<span class="cart-radio__subtitle">Срок доставки</span>
													<span class="cart-radio__name">1 день</span>
												</span>
											</span>
											<span class="cart-radio__checked"></span>
										</label>
									</div>
									<div class="form-flex__item">
										<label class="cart-radio">
											<input class="visuallyhidden" type="radio" name="delivery-radio">
											<span class="cart-radio__input">
												<span class="cart-radio__title">Самовывоз***</span>
												<span class="cart-radio__item">
													<span class="cart-radio__subtitle">Стоимость доставки</span>
													<span class="cart-radio__name">бесплатно**</span>
												</span>
												<span class="cart-radio__item">
													<span class="cart-radio__subtitle">Срок доставки</span>
													<span class="cart-radio__name">в день заказа</span>
												</span>
											</span>
											<span class="cart-radio__checked"></span>
										</label>
									</div>
								</div>
								<div class="form-flex">
									<div class="form-flex__item">
										<div class="form-box__hint">
											* при заказе на сумму от 5 000 ₽ <br>
											** доставка в город Белгород и Старый Оскол; <br>
											стоимость доставки за чертой города - 40 ₽ за 1км <br>
											*** при заказе на сумму менее 5 000 ₽
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Способ оплаты</h3>
							<div class="form">
								<div class="form-flex">
									<div class="form-flex__item">
										<label class="cart-radio">
											<input class="visuallyhidden" type="radio" name="payment-radio" checked>
											<span class="cart-radio__input">
												<span class="cart-radio__title">Яндекс Касса</span>
												<span class="cart-radio__img">
													<img src="./styles/images/yandex.png" alt=""/>
												</span>
											</span>
											<span class="cart-radio__checked"></span>
										</label>
									</div>
								</div>
								<div class="form-flex">
									<div class="form-flex__item">
										<div class="form-box__hint">
											Оплата производится в рублях, через сервис Яндекс.Касса. Подтверждением
											вашей оплаты является электронное почтовое уведомление, пришедшее после
											оплаты.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Покупатель</h3>
							<div class="form">
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Ваше ФИО</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите ФИО">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Ваш e-mail</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите e-mail">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Номер телефона</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="+7 ( ___ ) ___ - __ - __">
											</label>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Адрес доставки</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите индекс">
											</label>
										</div>
										<div class="form__field">
											<label class="field">
												<span class="field__label">Комментарий к заказу</span>
												<textarea
													class="field__input field__input--textarea field__input--white"
													placeholder="Введите комментарий"></textarea>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Товары в заказе</h3>
							<div class="cart-table cart-table--form">
								<div class="cart-table__head">
									<div>
										<div class="cart-title">Наименование</div>
									</div>
									<div>
										<div class="cart-title">Цена / шт</div>
									</div>
									<div>
										<div class="cart-title">Количество</div>
									</div>
									<div>
										<div class="cart-title">Стоимость</div>
									</div>
								</div>
								<div class="cart-table__row">
									<div class="cart-table__cell-name cart-table__cell-name--full">
										<div>
											<h3 class="cart-product-name">Моторное масло VOLKSWAGEN Special G 5W-40 5 л
												<br> <span class="text-light-grey">Код товара: LQ-12112</span></h3>
											<div class="cart-availability">
												<div class="info-item info-item--no-sb">
													<div class="info-item__title">Наличие:</div>
													<div class="info-item__inner">
														<div class="icon-text icon-text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span>Много</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cart-table__cell-full">
										<div class="cart-title cart-title--hide-on-desktop">Цена / шт</div>
										<div class="price-box price-box--col">
											<div class="price price--normal-2 price--bold price--dark">
												<span>4 479</span><sup>₽</sup>
											</div>
											<div class="price price--small price--bold price--old price--grey">
												<span>5 399</span><sup>₽</sup></div>
										</div>
									</div>
									<div class="cart-table__cell-full">
										<div class="cart-title cart-title--hide-on-desktop">Количество</div>
										<div class="price-box price-box--col">
											<div class="price price--normal-fixed price--bold price--dark">1</div>
										</div>
									</div>
									<div class="cart-table__cell-full">
										<div class="cart-title cart-title--hide-on-desktop">Стоимость</div>
										<div class="price-box price-box--col">
											<div class="price price--normal-fixed price--bold price--dark">
												<span>4 479</span><sup>₽</sup></div>
										</div>
									</div>
								</div>
								<div class="cart-table__row">
									<div class="cart-table__cell-name cart-table__cell-name--full">
										<div>
											<h3 class="cart-product-name">Моторное масло VOLKSWAGEN Special G 5W-40 5 л
												<br> <span class="text-light-grey">Код товара: LQ-12112</span></h3>
											<div class="cart-availability">
												<div class="info-item info-item--no-sb">
													<div class="info-item__title">Наличие:</div>
													<div class="info-item__inner">
														<div class="icon-text icon-text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span>Много</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cart-table__cell-full">
										<div class="cart-title cart-title--hide-on-desktop">Цена / шт</div>
										<div class="price-box price-box--col">
											<div class="price price--normal-2 price--bold price--dark">
												<span>950</span><sup>₽</sup>
											</div>
										</div>
									</div>
									<div class="cart-table__cell-full">
										<div class="cart-title cart-title--hide-on-desktop">Количество</div>
										<div class="price-box price-box--col">
											<div class="price price--normal-fixed price--bold price--dark">1</div>
										</div>
									</div>
									<div class="cart-table__cell-full">
										<div class="cart-title cart-title--hide-on-desktop">Стоимость</div>
										<div class="price-box price-box--col">
											<div class="price price--normal-fixed price--bold price--dark">
												<span>1 900</span><sup>₽</sup></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layout__item-info">
						<div class="info-sidebar info-sidebar--mobile-grey">
							<div class="info-sidebar__item">
								<h3 class="info-sidebar__title info-sidebar__title--large">Итог:</h3>
								<div class="info-item">
									<div class="info-item__title">В корзине:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price price--small price--bold price--dark">3 товара</div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-sidebar__item">
								<div class="info-item">
									<div class="info-item__title">На сумму</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price price--small price--bold price--dark">
												<span>6 379</span><sup>₽</sup>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-sidebar__item">
								<div class="info-item">
									<div class="info-item__title">Скидка:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price price--small price--bold price--dark-green">
												<span>- 340</span><sup>₽</sup>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-sidebar__item">
								<div class="info-item">
									<div class="info-item__title">Доставка:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price price--small price--bold price--dark">
												<span>500</span><sup>₽</sup></div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-sidebar__item">
								<div class="info-item">
									<div class="info-item__title info-item__title--bold">Итоговая стоимость:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price price--normal price--bold price--dark">
												<span>6 539</span><sup>₽</sup>
											</div>
										</div>
									</div>
								</div>
								<div class="info-item">
									<button class="btn-transparent-grey btn-full" type="button">Есть промокод?</button>
								</div>
								<div class="info-item">
									<button class="btn-blue btn-full" type="submit">Оформить заказ</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

{% endblock %}
