{% extends "./layout.html" %}

{% block title %}ООО «Авто Белогорье»{% endblock %}

{% block content %}
<style>
	body {
		padding: 40px;
	}
	.header, .footer {
		display: none;
	}

	.section, .wrapper, .layout, [class*='layout__item'] {
		border: 1px solid;
	}

	.wrapper {
		border-color: red;
		height: 100%;
	}

	.layout {
		border-color: green;
		height: 100%;
	}

	[class*='layout__item'] {
		border-color: yellow;
		min-height: 150px;
	}
</style>
<div class="content">
	<h2>Layout</h2>
	<h3>1 column</h3>
	<div class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-full"></div>
			</div>
			<div class="layout">
				<div class="layout__item-full"></div>
			</div>
		</div>
	</div>
	<br><br>
	<h3>2 columns</h3>
	<div class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-half"></div>
				<div class="layout__item-half"></div>
				<div class="layout__item-half"></div>
				<div class="layout__item-half"></div>
			</div>
			<div class="layout">
				<div class="layout__item-half"></div>
				<div class="layout__item-half"></div>
			</div>
		</div>
	</div>
	<br><br>
	<h3>sidebar</h3>
	<div class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item">
					<div style="width: 270px"></div>
				</div>
				<div class="layout__item-full"></div>
			</div>
		</div>
	</div>
	<br><br>
	<h3>match</h3>
	<div class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item">
					<div style="width: 328px"></div>
				</div>
				<div class="layout__item-full"></div>
				<div class="layout__item">
					<div style="width: 328px"></div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>button</h2>
	<div>
		<button class="btn-green">
			<span>button</span>
		</button>
		<button class="btn-green">
			<span class="btn-spinner btn-spinner--active">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<button class="btn-green">
			<svg>
				<use xlink:href="./styles/icons/icons.svg#checkmark"/>
			</svg>
			<span>button</span>
		</button>
		<button class="btn-green" disabled="disabled">
			<span>button</span>
		</button>

		<br><br><br>

		<button class="btn-green-transparent">
			<span>button</span>
		</button>
		<button class="btn-green-transparent">
			<span class="btn-spinner btn-spinner--active">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<button class="btn-green-transparent">
			<svg>
				<use xlink:href="./styles/icons/icons.svg#checkmark"/>
			</svg>
			<span>button</span>
		</button>
		<button class="btn-green-transparent" disabled="disabled">
			<span>button</span>
		</button>

		<br><br><br>

		<button class="btn-grey">
			<span>button</span>
		</button>
		<button class="btn-grey">
			<span class="btn-spinner btn-spinner--active">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<button class="btn-grey">
			<svg>
				<use xlink:href="./styles/icons/icons.svg#checkmark"/>
			</svg>
			<span>button</span>
		</button>
		<button class="btn-grey" disabled="disabled">
			<span>button</span>
		</button>

		<br><br><br>

		<button class="btn-grey-transparent">
			<span>button</span>
		</button>
		<button class="btn-grey-transparent">
			<span class="btn-spinner btn-spinner--active">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<button class="btn-grey-transparent">
			<svg>
				<use xlink:href="./styles/icons/icons.svg#checkmark"/>
			</svg>
			<span>button</span>
		</button>
		<button class="btn-grey-transparent" disabled="disabled">
			<span>button</span>
		</button>

		<br><br><br>

		<button class="btn-white">
			<span>button</span>
		</button>
		<button class="btn-white">
			<span class="btn-spinner btn-spinner--active">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<button class="btn-white">
			<svg>
				<use xlink:href="./styles/icons/icons.svg#checkmark"/>
			</svg>
			<span>button</span>
		</button>
		<button class="btn-white" disabled="disabled">
			<span>button</span>
		</button>

		<br><br><br>

		<button class="btn-white-transparent">
			<span>button</span>
		</button>
		<button class="btn-white-transparent">
			<span class="btn-spinner btn-spinner--active">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<button class="btn-white-transparent">
			<svg>
				<use xlink:href="./styles/icons/icons.svg#checkmark"/>
			</svg>
			<span>button</span>
		</button>
		<button class="btn-white-transparent" disabled="disabled">
			<span>button</span>
		</button>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>text fields</h2>
	<div>
		<label class="field">
			<span class="field__label">Input name</span>
			<input class="field__input" placeholder="Input hint">
		</label>
		<label class="field field--correct">
			<span class="field__label">Input name</span>
			<input class="field__input" placeholder="Input hint">
		</label>
		<label class="field field--required field--correct">
			<span class="field__label">Input name</span>
			<input class="field__input" placeholder="Input hint">
		</label>
		<label class="field field--required field--incorrect">
			<span class="field__label">Input name</span>
			<input class="field__input" placeholder="Input hint">
		</label>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>select</h2>
	<div>
		<label class="select js-select-sample-holder">
			<span class="select__label">Dropdown</span>
			<select class="select__input" id="js-select-sample">
				<option>Select</option>
				<option>Select</option>
				<option>Select</option>
				<option>Select</option>
			</select>
		</label>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>radio</h2>
	<div>
		<label class="radio">
			<input class="visuallyhidden" type="radio" name="radio">
			<span class="radio__input">
				<span class="radio__checked"></span>
			</span>
			<span class="radio__label">radio name</span>
		</label>
		<label class="radio">
			<input class="visuallyhidden" type="radio" name="radio">
			<span class="radio__input">
				<span class="radio__checked"></span>
			</span>
			<span class="radio__label">radio name</span>
		</label>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>checkbox</h2>
	<div>
		<label class="checkbox">
			<input class="visuallyhidden" type="checkbox">
			<span class="checkbox__input">
			<span class="checkbox__checked"></span>
		</span>
			<span class="checkbox__label">Checkbox name</span>
		</label>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>datepicker</h2>
	<div>
		<div class="datepicker" id="js-calendar-from-holder">
			<div class="datepicker__holder datepicker__holder--transparent">
				<input class="datepicker__field js-calendar-from" type="text" placeholder="From"
					   readonly="readonly" data-input>
			</div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>progress</h2>
	<div>
		<div class="progress">
			<input class="progress-value visuallyhidden" type="text" value="1800"/>
			<div class="progress__bar"></div>
			<div class="progress__time"></div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>timer</h2>
	<div>
		<div class="timer timer--wait">
			<input class="timer-value visuallyhidden" type="text" value="720"/>
			<div class="timer__box">
				<div class="timer__time" data-time="минут"></div>
			</div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>contact</h2>
	<div class="layout">
		<div class="layout__item-third">
			<div class="contact">
				<div class="contact__head">
					<h3 class="contact-title">Поддержка</h3>
				</div>
				<div class="contact__body">
					<div class="contact__inner">
						<svg class="contact-icon"><use xlink:href="./styles/icons/icons.svg#headphones" /></svg>
						<a href="mailto:support@fortwin.win" class="contact-link">support@fortwin.win</a>
					</div>
				</div>
			</div>
		</div>
		<div class="layout__item-third">
			<div class="contact">
				<div class="contact__head">
					<h3 class="contact-title">Предложения</h3>
				</div>
				<div class="contact__body">
					<div class="contact__inner">
						<svg class="contact-icon"><use xlink:href="./styles/icons/icons.svg#bulb" /></svg>
						<a href="mailto:offer@fortwin.win" class="contact-link">offer@fortwin.win</a>
					</div>
				</div>
			</div>
		</div>
		<div class="layout__item-third">
			<div class="contact">
				<div class="contact__head">
					<h3 class="contact-title">Партнерство</h3>
				</div>
				<div class="contact__body">
					<div class="contact__inner">
						<svg class="contact-icon"><use xlink:href="./styles/icons/icons.svg#handshake" /></svg>
						<a href="mailto:partner@fortwin.win" class="contact-link">partner@fortwin.win</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>social</h2>
	<div class="layout">
		<a href="" class="social-link social-link--large">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#telegram" /></svg>
		</a>
		<a href="" class="social-link social-link--large">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#phone" /></svg>
		</a>
		<a href="" class="social-link social-link--large">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#messanger" /></svg>
		</a>
		<a href="" class="social-link">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#vk" /></svg>
		</a>
		<a href="" class="social-link">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#fb" /></svg>
		</a>
		<a href="" class="social-link">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#discord" /></svg>
		</a>
		<a href="" class="social-link">
			<svg class="social-link__icon"><use xlink:href="./styles/icons/icons.svg#twich" /></svg>
		</a>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>fight tile</h2>
	<div style="width: 408px;">
		<div class="fight">
			<div class="fight__head">
				<h3 class="fight-title">Box Fight</h3>
				<div class="fight-num">#3564</div>
			</div>
			<div class="fight__body">
				<div class="fight-info">
					<div class="fight-info__item fight-info__item--lt">
						<div class="fight-info__title">1v1</div>
						<div class="fight-info__desc">участники</div>
					</div>
					<div class="fight-info__item fight-info__item--lb">
						<div class="fight-info__title">5</div>
						<div class="fight-info__desc">лимит матча</div>
					</div>
					<div class="fight-info__item fight-info__item--rt">
						<div class="fight-info__title">3$</div>
						<div class="fight-info__desc">взнос</div>
					</div>
					<div class="fight-info__item fight-info__item--rb">
						<div class="fight-info__title">32$</div>
						<div class="fight-info__desc">выигрыш</div>
					</div>
					<div class="fight-info__timer">
						<div class="timer timer--wait">
							<input class="timer-value visuallyhidden" type="text" value="720"/>
							<div class="timer__box">
								<div class="timer__time" data-time="минут"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="fight-details">
					<div class="fight-details__item">
						<div class="fight-detail">
							<span>Европа</span>
							<img class="fight-detail__img" src="./images/flags/european-union.svg" alt=""/>
						</div>
					</div>
					<div class="fight-details__item">
						<div class="fight-detail">
							<span>Desktop</span>
						</div>
					</div>
					<div class="fight-details__item">
						<div class="fight-detail">
							<span>Закрытый</span>
							<svg class="fight-detail__icon"><use xlink:href="./styles/icons/icons.svg#lock" /></svg>
						</div>
					</div>
				</div>
				<div class="fight-btn">
					<button class="btn-green btn-full">Участвовать</button>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>match tile</h2>
	<div style="width: 420px;">
		<div class="match">
			<div class="match__body">
				<div class="match-details match-details--ml">
					<div class="match-details__item">
						<div class="match-info match-info--green">
							<div class="match-info__title">1000 <sup>₽</sup></div>
							<div class="match-info__desc">выигрыш</div>
						</div>
					</div>
					<div class="match-details__item">
						<div class="match-info match-info--grey">
							<div class="match-info__title">7</div>
							<div class="match-info__desc">свободных мест</div>
						</div>
					</div>
					<div class="match-details__item match-details__item--hide-on-mobile">
						<a href="" class="match-info match-info--link">
							<svg class="match-info__icon"><use xlink:href="./styles/icons/icons.svg#arrow-right" /></svg>
						</a>
					</div>
				</div>
				<div class="match-details">
					<div class="match-details__item">
						<h3 class="match-title">Матч Zone Wars</h3>
					</div>
					<div class="match-details__item match-details__item--inline match-details__item--hide-on-mobile">
						<div class="fight-detail">
							<span>1v1</span>
						</div>
					</div>
				</div>
				<div class="match-details match-details--wrap match-details--mr">
					<div class="match-details__item">
						<div class="fight-detail">
							<span>Европа</span>
							<img class="fight-detail__img" src="./images/flags/european-union.svg" alt=""/>
						</div>
					</div>
					<div class="match-details__item">
						<div class="fight-detail">
							<span>Desktop</span>
						</div>
					</div>
					<div class="match-details__item match-details__item--hide-on-desktop">
						<div class="fight-detail">
							<span>1v1</span>
						</div>
					</div>
					<div class="match-details__item">
						<div class="fight-detail">
							<span>Закрытый</span>
							<svg class="fight-detail__icon"><use xlink:href="./styles/icons/icons.svg#lock" /></svg>
						</div>
					</div>
				</div>
				<div class="match-details match-details--hide-on-desktop">
					<div class="match-details__item match-details__item--link">
						<a href="" class="match-info match-info--link">
							<span>Участвовать</span>
							<svg class="match-info__icon"><use xlink:href="./styles/icons/icons.svg#arrow-right" /></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<h2>pagination</h2>
	<div>
		<div class="pagination">
			<a href="#" class="pagination__link pagination__link--active">1</a>
			<a href="#" class="pagination__link">2</a>
			<a href="#" class="pagination__link">3</a>
			<a href="#" class="pagination__link">4</a>
			<a href="#" class="pagination__link">5</a>
		</div>
	</div>
</div>
{% endblock %}
