{% extends "./layout.html" %}

{% block title %}ООО «Авто Белогорье»{% endblock %}

{% block content %}
<style>
	.header, .footer {
		display: none;
	}

	.section, [class*=wrapper], .layout, [class*='layout__item'] {
		border: 1px solid;
	}

	[class*=wrapper] {
		border-color: red;
		height: 100%;
	}

	.layout {
		border-color: green;
		height: 100%;
	}

	[class*='layout__item'] {
		border-color: blue;
		height: 100%;
	}
</style>
<div class="content">
	<div>
		<h3>Full wrapper</h3>
		<div class="section">
			<div class="wrapper-full" style="height: 100px;"></div>
		</div>
	</div>
	<br>
	<div>
		<h3>Wrapper</h3>
		<div class="section">
			<div class="wrapper" style="height: 100px;"></div>
		</div>
	</div>
	<br>
	<div>
		<h3>Small wrapper</h3>
		<div class="section">
			<div class="wrapper-small" style="height: 100px;"></div>
		</div>
	</div>
	<br>
	<div>
		<h3>Layout 1 column</h3>
		<div class="section">
			<div class="wrapper" style="height: 100px;">
				<div class="layout">
					<div class="layout__item-full"></div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<h3>Layout 2 columns</h3>
		<div class="section">
			<div class="wrapper" style="height: 100px;">
				<div class="layout">
					<div class="layout__item-half"></div>
					<div class="layout__item-half"></div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<h3>Button</h3>
		<div class="section">
			<div class="wrapper">
				<div>
					<button class="btn-blue">
						<span>button</span>
					</button>
					<button class="btn-blue">
						<span class="btn-spinner btn-spinner--active">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</button>
					<button class="btn-blue">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#checkmark"/>
						</svg>
						<span>button</span>
					</button>
					<button class="btn-blue" disabled="disabled">
						<span>button</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<h3>Text fields</h3>
		<div class="section">
			<div class="wrapper">
				<div>
					<label class="field">
						<span class="field__label">Input name</span>
						<input class="field__input" placeholder="Input hint">
					</label>
					<label class="field field--correct">
						<span class="field__label">Input name</span>
						<input class="field__input" placeholder="Input hint">
					</label>
					<label class="field field--required field--correct">
						<span class="field__label">Input name</span>
						<input class="field__input" placeholder="Input hint">
					</label>
					<label class="field field--required field--incorrect">
						<span class="field__label">Input name</span>
						<input class="field__input" placeholder="Input hint">
					</label>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<h3>Select</h3>
		<div class="section">
			<div class="wrapper">
				<div>
					<label class="select js-select-sample-holder">
						<span class="select__label">Dropdown</span>
						<select class="select__input" id="js-select-sample">
							<option>Select</option>
							<option>Select</option>
							<option>Select</option>
							<option>Select</option>
						</select>
					</label>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<h3>Radio</h3>
		<div class="section">
			<div class="wrapper">
				<div>
					<label class="radio">
						<input class="visuallyhidden" type="radio" name="radio" checked>
						<span class="radio__input">
				<span class="radio__checked"></span>
			</span>
						<span class="radio__label">radio name</span>
					</label>
					<label class="radio">
						<input class="visuallyhidden" type="radio" name="radio">
						<span class="radio__input">
				<span class="radio__checked"></span>
			</span>
						<span class="radio__label">radio name</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>
{% endblock %}
