{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Отзывы</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Отзывы</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-row">
				<div class="step-slider__slide-3">
					<div class="feedback-tile">
						<div class="feedback-tile__inner">
							<div class="stars">
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
							</div>
							<h4 class="feedback-tile__title">Отличный салон!!!</h4>
							<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на
								Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела!
								Поскольку я
								проживаю в другом регионе, мне было не удобно кататься туда-сюда, Илья нашел
								выход...</p>
							<button class="link-grey link-under link-small js-open-feedback-popup-btn">
								Читать полностью
							</button>
						</div>
						<div class="feedback-tile__name">Ирина Смольченко</div>
					</div>
				</div>
				<div class="step-slider__slide-3">
					<div class="feedback-tile">
						<div class="feedback-tile__inner">
							<div class="stars">
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star-empty.svg" alt=""/>
									</div>
								</div>
							</div>
							<h4 class="feedback-tile__title">Спасибо Вячеславу Лигай</h4>
							<p class="feedback-tile__text">Вячеслав Лигай отличный менеджер,спасибо что у
								вас есть такие работники, профессионал своего дела! Поскольку я проживаю в
								другом регионе, мне было не удобно кататься туда-сюда, Вячеслав нашел
								выход…</p>
							<button class="link-grey link-under link-small js-open-feedback-popup-btn">
								Читать полностью
							</button>
						</div>
						<div class="feedback-tile__name">Ирина Смольченко</div>
					</div>
				</div>
				<div class="step-slider__slide-3">
					<div class="feedback-tile">
						<div class="feedback-tile__inner">
							<div class="stars">
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star-empty.svg" alt=""/>
									</div>
								</div>
							</div>
							<h4 class="feedback-tile__title">Отзыв о покупке</h4>
							<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на
								Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела! </p>
							<button class="link-grey link-under link-small js-open-feedback-popup-btn">
								Читать полностью
							</button>
						</div>
						<div class="feedback-tile__name">Ирина Смольченко</div>
					</div>
				</div>
				<div class="step-slider__slide-3">
					<div class="feedback-tile">
						<div class="feedback-tile__inner">
							<div class="stars">
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
							</div>
							<h4 class="feedback-tile__title">Отличный салон!!!</h4>
							<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на
								Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела!
								Поскольку я
								проживаю в другом регионе, мне было не удобно кататься туда-сюда, Илья нашел
								выход...</p>
							<button class="link-grey link-under link-small js-open-feedback-popup-btn">
								Читать полностью
							</button>
						</div>
						<div class="feedback-tile__name">Ирина Смольченко</div>
					</div>
				</div>
				<div class="step-slider__slide-3">
					<div class="feedback-tile">
						<div class="feedback-tile__inner">
							<div class="stars">
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star-empty.svg" alt=""/>
									</div>
								</div>
							</div>
							<h4 class="feedback-tile__title">Спасибо Вячеславу Лигай</h4>
							<p class="feedback-tile__text">Вячеслав Лигай отличный менеджер,спасибо что у
								вас есть такие работники, профессионал своего дела! Поскольку я проживаю в
								другом регионе, мне было не удобно кататься туда-сюда, Вячеслав нашел
								выход…</p>
							<button class="link-grey link-under link-small js-open-feedback-popup-btn">
								Читать полностью
							</button>
						</div>
						<div class="feedback-tile__name">Ирина Смольченко</div>
					</div>
				</div>
				<div class="step-slider__slide-3">
					<div class="feedback-tile">
						<div class="feedback-tile__inner">
							<div class="stars">
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star.svg" alt=""/>
									</div>
								</div>
								<div class="stars__item">
									<div class="star">
										<img src="./styles/images/star-empty.svg" alt=""/>
									</div>
								</div>
							</div>
							<h4 class="feedback-tile__title">Отзыв о покупке</h4>
							<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на
								Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела! </p>
							<button class="link-grey link-under link-small js-open-feedback-popup-btn">
								Читать полностью
							</button>
						</div>
						<div class="feedback-tile__name">Ирина Смольченко</div>
					</div>
				</div>
			</div>
			<div class="load-more load-more--mg">
				<a href="" class="btn-transparent-grey btn-mobile-full">Показать еще</a>
				<button class="btn-blue btn-mobile-full js-open-give-feedback-popup-btn">Оставить отзыв
				</button>
			</div>
		</div>
	</section>
</div>

{% endblock %}
