<!DOCTYPE html>

<html lang="ru" prefix="og: http://ogp.me/ns/website#">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<!-- OpenGraph Start -->
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="//example.com/og.png">
	<meta property="og:url" content="//example.com/">
	<!-- OpenGraph End -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="./styles/main.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.webmanifest">
</head>

<body>

<div class="fetchbar" hidden></div>


{% include "./components/login.html" %}
{% include "./components/offer-popup.html" %}
{% include "./components/credit-calculator-popup.html" %}
{% include "./components/leasing-calculator-popup.html" %}
{% include "./components/request-call-popup.html" %}
{% include "./components/application-accepted-popup.html" %}
{% include "./components/sign-up-popup.html" %}
{% include "./components/leasing-application-popup.html" %}
{% include "./components/credit-application-popup.html" %}
{% include "./components/feedback-popup.html" %}
{% include "./components/give-feedback-popup.html" %}
{% include "./components/feedback-sent-popup.html" %}
{% include "./components/vacancy-popup.html" %}
{% include "./components/vacancy-accepted-popup.html" %}

{% include "./components/header.html" %}

<!-- Main content Start -->
{% block content %}{% endblock %}
<!-- Main content End -->

{% include "./components/footer.html" %}

<div class="cookies-notice" hidden>
	<div class="cookies-notice__content">
		Мы&nbsp;используем файлы cookies для более удобного и&nbsp;эффективного взаимодейстия людей с&nbsp;сайтом.
		Продолжная пользоваться сайтом, вы&nbsp;соглашаетесь с&nbsp;условиями нашей <a class="link link_solid"
																					   href="/privacy-policy.html"
																					   target="_blank">политики
		конфиденциальности</a>
	</div>
	<button class="cookies-notice__close">
		<svg class="cookies-notice__icon">
			<use xlink:href="./styles/icons/icons.svg#outline-close"/>
		</svg>
	</button>
</div>

{% raw %}
<script>
	const i18n = {
		masks: {
			tel: '+{7} (000) 000-00-00',
		},
		units: {
			byte: 'Б',
			kilobyte: 'КБ',
			megabyte: 'МБ'
		},
		fileInput: ['файл', 'файла', 'файлов'],
		validate: {
			required: 'Обязательно для заполнения',
			minlength: 'Минимальное кол-во символов — {{min}}',
			minWithMask: 'Заполнено не до конца',
			email: 'Нужно ввести настоящую эл. почту',
			url: 'Нужно ввести настоящее имя домена',
			minDate: 'Минимальная дата — {{min}}',
			maxDate: 'Максимальная дата — {{max}}',
			minNumber: 'Минимум {{min}}',
			maxNumber: 'Максимум {{max}}',
			maxFile: 'Максимум {{max}}'
		}
	};
</script>
{% endraw %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCWIAZZI690B23sTDummHxJQxxre2_iLMk"></script> -->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=db328270-45f9-4de2-868d-3e3379595548"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="./scripts/main.js"></script>

</body>

</html>
