{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Услуги</a>
					<a class="breadcrumbs__item" href="">Покупка в лизинг</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Покупка в лизинг</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-filter">
						<div class="menu-sidebar">
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Страхование автомобиля</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Обмен авто Trade-in</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Выкуп автомобиля</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link menu-link--active">Покупка в лизинг</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Кредит на автомобиль</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Информация об автомобиле</h3>
							<div class="form">
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="select">
												<span class="select__label">Марка автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Модификация и стоимость</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="select">
												<span class="select__label">Модель автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-box__title">Информация о кредите</h3>
							<div class="form">
								<div class="form__inner form__inner--col">
									<div class="form__field-box">
										<div class="form__field">
											<div class="filter">
												<div class="filter-items filter-items--vertical">
													<div class="filter-items__item">
														<div class="filter-item">
															<span class="filter-item__label">Первоначальный взнос</span>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form__field-box">
										<div class="form__field">
											<div class="filter">
												<div class="filter-items filter-items--vertical">
													<div class="filter-items__item">
														<div class="filter-item">
															<span class="filter-item__label">Срок кредита</span>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form__field-box">
										<div class="form__field">
											<button class="btn-blue btn-mobile-full js-calculate-btn" type="button">Рассчитать</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<div class="form-box-back hidden js-calculated-img">
								<div class="form-box-back__img">
									<img src="./images/car19.png" alt=""/>
								</div>
							</div>
							<div class="form">
								<div class="form__inner form__inner--mobile-reverse">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<h3 class="form-box__title form-box__title--hide-on-mobile">Результаты расчета</h3>
											<p class="form__subtitle">Расчет является предварительным и не является публичной
												офертой.</p>
											<p>Для получения индивидуального предложения отправьте запрос нашему
												менеджеру.</p>
										</div>
										<div class="form__field">
											<button class="btn-blue btn-mobile-full js-open-leasing-app-popup-btn" type="submit">Отправить запрос</button>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<h3 class="form-box__title form-box__title--hide-on-desktop">Результаты расчета</h3>
											<div class="price-lbl">Стоимость авто</div>
											<div class="price-box price-box--no-sb">
												<div class="price price--medium price--dark"><span class="no-price no-price--small js-no-price">--</span>
												<span class="hidden js-price"><span>747 000</span><sup>₽</sup></span>
												</div>
											</div>
										</div>
										<div class="form__field">
											<div class="price-lbl">Стоимость по
												договору лизинга</div>
											<div class="price-box price-box--no-sb">
												<div class="price price--medium price--dark"><span class="no-price no-price--small js-no-price">--</span>
													<span class="hidden js-price"><span>747 000</span><sup>₽</sup></span>
												</div>
											</div>
										</div>
										<div class="form__field">
											<div class="price-lbl">Ежемесячный платеж</div>
											<div class="price-box price-box--no-sb">
												<div class="price price--medium price--dark"><span class="no-price no-price--small js-no-price">--</span>
													<span class="hidden js-price"><span>747 000</span><sup>₽</sup></span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-half">
					<div class="article">
						<h3 class="article__title">Как получить автомобиль в лизинг</h3>
						<p>Лизинг — это форма долгосрочной аренды автомобиля с возможностью его выкупа в конце срока
							лизингового договора. Вы садитесь за руль сейчас, а решение о покупке машины принимаете
							потом.</p>
					</div>
				</div>
				<div class="layout__item-half">

				</div>
			</div>
			<div class="step-slider h-slider">
				<div class="step-slider__container h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="1">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Оформите on-line заявку </span>
								</h3>
								<span
									class="tile-blue__text">Наш менеджер ответит на все Ваши вопросы и предложит особые условия оформления лизингового договора</span>
							</div>
						</div>
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="2">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Предоставьте документы</span>
								</h3>
								<span
									class="tile-blue__text">Предоставьте установленный пакет документов</span>
							</div>
						</div>
						<div class="step-slider__slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="3">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Получите машину</span>
								</h3>
								<span
									class="tile-blue__text">Получите машину в пользование</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
