{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}
<style>
	.header, .footer, .message-bar {
		display: none;
	}

	body {
		 padding: 40px;
	 }
</style>
<div class="content">
	<a href="components.html">0. Components</a><br>
	<a href="index.html">1. Главная</a><br>
	<a href="catalog.html">1. Каталог</a><br>
	<a href="catalog-search.html">1. Каталог поиск</a><br>
	<a href="catalog-part.html">1. Каталог запчасти</a><br>
	<a href="catalog-part-2.html">1. Каталог запчасти 2</a><br>
	<a href="car.html">1. Детальная страница</a><br>
	<a href="car2.html">1. Детальная страница 2</a><br>
	<a href="part.html">1. Детальная страница 3</a><br>
	<a href="car-reservation.html">1. Резервирование автомобиля</a><br>
	<a href="car-booked.html">1. Автомобиль забронирован</a><br>
	<a href="cart.html">1. Корзина</a><br>
	<a href="checkout.html">1. Оформление заказа</a><br>
	<a href="order-paid.html">1. Ваш заказ оплачен</a><br>
	<a href="wished.html">1. Избранное</a><br>
	<a href="promotions.html">1. Акции</a><br>
	<a href="promotion.html">1. Акция</a><br>
	<a href="car-services.html">1. Автосервис</a><br>
	<a href="service1.html">1. Диагностика автомобиля</a><br>
	<a href="service2.html">1. Кузовной ремонт</a><br>
	<a href="service3.html">1. Замена масла</a><br>
	<a href="service4.html">1. Новая услуга</a><br>
	<a href="address.html">1. Адреса</a><br>
	<a href="services.html">1. Услуги</a><br>
	<a href="insurance.html">1. Страхование</a><br>
	<a href="trade-in.html">1. Обмен авто Trade-in</a><br>
	<a href="buyback.html">1. Выкуп авто</a><br>
	<a href="leasing.html">1. Покупка в лизинг</a><br>
	<a href="credit.html">1. Кредит на автомобиль</a><br>
	<a href="about.html">1. О компании</a><br>
	<a href="team.html">1. Команда</a><br>
	<a href="vacancies.html">1. Вакансии</a><br>
	<a href="awards.html">1. Достижения и награды</a><br>
	<a href="partners.html">1. Партнеры</a><br>
	<a href="news.html">1. Новости</a><br>
	<a href="news-item.html">1. Новость</a><br>
	<a href="feedback.html">1. Отзывы</a><br>
	<a href="contacts.html">1. Контакты</a><br>
</div>
{% endblock %}
