{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Новости</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Новости</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
					<form class="form">
						<div class="form__inner">
							<div class="form__field-box form__field-box--full">
								<div class="search-box">
									<div class="search-box__field search-box__field--full">
										<label class="field">
											<span class="field__label visuallyhidden">Поиск по автомобилям и запчастям</span>
											<input class="field__input field__input--transparent" type="text"
												   placeholder="Поиск по автомобилям и запчастям">
										</label>
									</div>
									<div class="search-box__btn">
										<button class="btn-blue">
											<span>Найти</span>
										</button>
									</div>
								</div>
							</div>
							<div class="form__field-box">
								<label class="select">
									<span class="select__label">Сортировать по:</span>
									<select class="select__input js-select">
										<option>Популярности</option>
										<option>Select 1</option>
										<option>Select 2</option>
										<option>Select 3</option>
									</select>
								</label>
							</div>
						</div>
					</form>
			<div class="layout">
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news6.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С праздником 8 марта!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news7.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С днем Защитника Отечества!
						</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news8.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Цветочный патруль</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news9.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news10.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С праздником 8 марта!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news11.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С днем Защитника Отечества!
						</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="tile-slide tile-slide--small">
					<a href="" class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/news12.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Цветочный патруль</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="load-more">
					<button class="btn-transparent-grey">Показать еще</button>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
