{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Корзина</a>
					<a class="breadcrumbs__item" href="">Оформление заказа</a>
					<a class="breadcrumbs__item" href="">Ваш заказ оформлен</a>
					<a class="breadcrumbs__item" href="">Спасибо за заказ</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Ваш заказ оплачен</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-fill-info">
					<div class="form-box form-box--grey">
						<h3 class="form-box__title">Ваш заказ №30 от 22.05.2020 08:48 успешно оплачен</h3>
						<div class="form">
							<div class="form-flex form-flex--col">
								<div class="form-flex__item">
									<h4 class="form__subtitle">Номер оплаты</h4>
									<div class="order-num-box">
										№30/1
									</div>
								</div>
								<div class="form-flex__item">
									<div class="form-box__hint">
										Вы можете следить за выполнением своего заказа в Персональном разделе сайта.
										Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин
										и пароль пользователя сайта
									</div>
								</div>
							</div>
							<div class="form-flex form-flex--col">
								<div class="form-flex__item">
									<h4 class="form__subtitle">Способ оплаты:</h4>
									<div>
										<label class="cart-radio cart-radio--small-h">
											<span class="cart-radio__input">
												<span class="cart-radio__title">Яндекс Касса</span>
												<span class="cart-radio__img">
													<img src="./styles/images/yandex.png" alt=""/>
												</span>
											</span>
										</label>
									</div>
								</div>
								<div class="form-flex__item">
									<div class="form-box__hint">
										Обратите внимание: если вы откажетесь от покупки, для возврата денег вам
										придется обратиться в поддержку
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-info">
					<div class="info-sidebar info-sidebar--mobile-grey">
						<div class="info-sidebar__item">
							<h3 class="info-sidebar__title info-sidebar__title--large">Итог:</h3>
							<div class="info-item">
								<div class="info-item__title">В корзине:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark">3 товара</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">На сумму</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark">
											<span>6 379</span><sup>₽</sup>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Скидка:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark-green">
											<span>- 340</span><sup>₽</sup>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Доставка:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold price--dark">
											<span>500</span><sup>₽</sup></div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title info-item__title--bold">Итоговая стоимость:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--normal price--bold price--dark">
											<span>6 539</span><sup>₽</sup>
										</div>
									</div>
								</div>
							</div>
							<div class="info-item">
								<button class="btn-blue btn-full">Посмотреть статус заказа</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
