{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-4.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автозапчастей</a>
					<a class="breadcrumbs__item" href="">Запчасти для Volkswagen</a>
					<a class="breadcrumbs__item" href="">Моторное масло VOLKSWAGEN Special G 5W-40 5 л
					</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-fill-info">
					<div class="product-content">
						<div class="product-content__box">
							<div class="product-slider">
								<div class="product-slider-gallery">
									<div class="product-slider-gallery__container swiper-container">
										<div class="swiper-wrapper">
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-gallery__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
										</div>
										<div class="product-slider-gallery__pagination swiper-pagination"></div>
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>
									</div>
									<div class="product-lbl-box">
										<div class="tile-lbl tile-lbl--blue">В наличии</div>
										<div class="tile-lbl tile-lbl--green">Акция</div>
									</div>
									<div class="product-options">
										<div class="product-options__item">
											<button class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#print"/>
												</svg>
											</button>
										</div>
										<div class="product-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="product-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
										<div class="product-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#zoom-out"/>
												</svg>
											</a>
										</div>
									</div>
								</div>
								<div class="product-slider-thumbs">
									<div class="product-slider-thumbs__container swiper-container">
										<div class="swiper-wrapper">
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
											<div class="product-slider-thumbs__slide swiper-slide">
												<img src="./images/part9.png" alt=""/>
											</div>
										</div>
									</div>
								</div>
								<div class="product-slider__hint">
									* Изображения товара могут отличаться.
								</div>
							</div>
						</div>
						<div class="product-content__box">
							<div class="product-content__head">
								<h3 class="product-content__title">Описание товара</h3>
							</div>
							<div class="tabs">
								<div class="tabs__item">
									<button class="tab tab--active js-tab" data-tab="tab1">Характеристики</button>
								</div>
								<div class="tabs__item">
									<button class="tab js-tab" data-tab="tab2">Описание</button>
								</div>
								<div class="tabs__item">
									<button class="tab js-tab" data-tab="tab3">Оплата</button>
								</div>
								<div class="tabs__item">
									<button class="tab js-tab" data-tab="tab4">Доставка</button>
								</div>
							</div>
							<div class="product-question-btn">
								<button class="btn-transparent-grey">Задать вопрос</button>
							</div>
							<div class="product-equipment-box">
								<div class="product-equipment-content product-equipment-content--active" id="tab1">
									<div
										class="product-equipment-content__inner">
										<div
											class="product-equipment-content__col product-equipment-content__col--full">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Характеристики</h4>
												<table class="product-equipment-table">
													<tr>
														<td>Вы смотрели</td>
														<td>MOTUL</td>
													</tr>
													<tr>
														<td>Тип</td>
														<td>HC-синтетическое</td>
													</tr>
													<tr>
														<td>Двигатель</td>
														<td>дизельный, бензиновый, четырёхтактный</td>
													</tr>
													<tr>
														<td>Объём</td>
														<td>5 л</td>
													</tr>
													<tr>
														<td>Вязкость SAE</td>
														<td>5W-30</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="product-equipment-content" id="tab2">
									<div
										class="product-equipment-content__inner">
										<div
											class="product-equipment-content__col product-equipment-content__col--full">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Характеристики 2</h4>
												<table class="product-equipment-table">
													<tr>
														<td>Вы смотрели</td>
														<td>MOTUL</td>
													</tr>
													<tr>
														<td>Тип</td>
														<td>HC-синтетическое</td>
													</tr>
													<tr>
														<td>Двигатель</td>
														<td>дизельный, бензиновый, четырёхтактный</td>
													</tr>
													<tr>
														<td>Объём</td>
														<td>5 л</td>
													</tr>
													<tr>
														<td>Вязкость SAE</td>
														<td>5W-30</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="product-equipment-content" id="tab3">
									<div
										class="product-equipment-content__inner">
										<div
											class="product-equipment-content__col product-equipment-content__col--full">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Характеристики 3</h4>
												<table class="product-equipment-table">
													<tr>
														<td>Вы смотрели</td>
														<td>MOTUL</td>
													</tr>
													<tr>
														<td>Тип</td>
														<td>HC-синтетическое</td>
													</tr>
													<tr>
														<td>Двигатель</td>
														<td>дизельный, бензиновый, четырёхтактный</td>
													</tr>
													<tr>
														<td>Объём</td>
														<td>5 л</td>
													</tr>
													<tr>
														<td>Вязкость SAE</td>
														<td>5W-30</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="product-equipment-content" id="tab4">
									<div
										class="product-equipment-content__inner">
										<div
											class="product-equipment-content__col product-equipment-content__col--full">
											<div class="product-equipment-info">
												<h4 class="product-equipment-info__title">Характеристики 4</h4>
												<table class="product-equipment-table">
													<tr>
														<td>Вы смотрели</td>
														<td>MOTUL</td>
													</tr>
													<tr>
														<td>Тип</td>
														<td>HC-синтетическое</td>
													</tr>
													<tr>
														<td>Двигатель</td>
														<td>дизельный, бензиновый, четырёхтактный</td>
													</tr>
													<tr>
														<td>Объём</td>
														<td>5 л</td>
													</tr>
													<tr>
														<td>Вязкость SAE</td>
														<td>5W-30</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-info">
					<div class="info-sidebar">
						<div class="info-sidebar__item">
							<h3 class="info-sidebar__title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л
								<br> <span class="text-light-grey">Код товара: LQ-12112</span></h3>
							<div class="info-mobile-slider">
								<div class="info-mobile-slider__box">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part9.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part9.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part9.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part9.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part9.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part9.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--blue">В наличии</div>
										<div class="tile-lbl tile-lbl--small tile-lbl--green">Акция</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<button class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#print"/>
												</svg>
											</button>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#zoom-out"/>
												</svg>
											</a>
										</div>
									</div>
								</div>
								<div class="info-sidebar-tip">* Изображения товара могут отличаться.</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Рейтинг:</div>
								<div class="info-item__inner">
									<div class="stars">
										<div class="stars__item">
											<div class="star">
												<img src="./styles/images/star.svg" alt=""/>
											</div>
										</div>
										<div class="stars__item">
											<div class="star">
												<img src="./styles/images/star.svg" alt=""/>
											</div>
										</div>
										<div class="stars__item">
											<div class="star">
												<img src="./styles/images/star.svg" alt=""/>
											</div>
										</div>
										<div class="stars__item">
											<div class="star">
												<img src="./styles/images/star.svg" alt=""/>
											</div>
										</div>
										<div class="stars__item">
											<div class="star">
												<img src="./styles/images/star-empty.svg" alt=""/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Наличие:</div>
								<div class="info-item__inner">
									<div class="icon-text icon-text--green">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
										</svg>
										<span>Много</span>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Цена за штуку:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price-box">
											<div class="price price--small price--bold price--old price--grey">
												<span>5 399</span><sup>₽</sup></div>
											<div class="price price--normal price--bold price--dark"><span>4 479</span><sup>₽</sup>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="info-item info-item--flex-sb-mobile">
								<div class="info-item__btn info-item__btn--small">
									<label class="number-field">
										<span class="number-field__input">
											<input class="hidden" type="text" value="1">
											<span class="number-field__value">1</span>
										</span>
									</label>
								</div>
								<div class="info-item__btn info-item__btn--large">
									<button class="btn-blue btn-mobile-full">В корзину</button>
								</div>
							</div>
							<div class="info-item">
								<button class="btn-transparent-grey btn-full">Купить в 1 клик</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Похожие товары</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--green">Акция</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part8.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large price--grey"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">Нет на складе</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Сопутствующие товары</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--green">Акция</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part8.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">Нет на складе</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Вы смотрели</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--green">Акция</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="h-tile-slide swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part8.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price"><span>3 032</span><sup>₽</sup></div>
									</div>
									<div class="tile-hint">Нет на складе</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Наши автосервисы</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service9.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр KIA «Авто-Белогорье»</h3>
										<p class="service-tile__address">
											Официальный дилер KIA
											Старый Оскол, пр. Алексея Угарова, 18г

										</p>
										<a href="tel:+74725391111" class="service-tile__phone">+7 (4725) 39-11-11</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service10.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр «Триумф»</h3>
										<p class="service-tile__address">
											Официальный дилер Volkswagen
											Белгород, ул. Магистральная, 12
										</p>
										<a href="tel:+74722515050" class="service-tile__phone">+7 (4722) 51-50-50</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service11.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр «Авто-Белогорье»</h3>
										<p class="service-tile__address">
											Официальный дилер Renault
											Белгород, Ул. Магистральная, 8


										</p>
										<a href="tel:+74722357070" class="service-tile__phone">+7 (4722) 35-70-70</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service12.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр «Лада Центр Спутник»</h3>
										<p class="service-tile__address">
											Официальный дилер LADA
											Белгород, Ул. Магистральная, 1а
										</p>
										<a href="tel:+74722357575" class="service-tile__phone">+7 (4722) 35-75-75</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
