{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Акции</a>
					<a class="breadcrumbs__item" href="">Новый Volkswagen Jetta уже в продаже</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Новый Volkswagen Jetta уже в продаже</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-half">
					<div class="article">
						<h3>Подогрев руля и сидений</h3>
						<p>Тепло с первой минуты.
							Погода на улице больше не станет помехой комфорту за рулём. В НОВОЙ Jetta передние и задние
							сиденья оборудованы подогревом, что порадует и вас, и ваших пассажиров. А если вдруг у вас
							замёрзнут руки, то рулевое колесо их согреет.</p>
						<h3>Просторный и удобный салон</h3>
						<p>Всем максимально комфортно.
							В НОВОЙ Jetta каждый элемент салона продуман для удобства водителя и пассажиров. Поэтому не
							удивляйтесь, если вам захочется, чтобы поездка не кончалась.</p>
						<h3>Камера заднего вида</h3>
						<p>Паркуйтесь с удовольствием.
							Камера заднего вида Rear View отображает на дисплее радионавигационной системы плохо
							просматривающуюся область за автомобилем. Изображение сопровождается звуковыми сигналами.
							Это облегчает парковку автомобиля и движение задним ходом.</p>
						<div class="article__date">21 мая 2020 г.</div>
						<div class="article__btns">
							<div class="article__btn">
								<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
							</div>
							<div class="article__btn">
								<a href="" class="btn-transparent-grey btn-mobile-full">Другие акции</a>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-half">
					<div class="article-slider m-slider">
						<div class="m-slider__container swiper-container">
							<div class="m-slider__wrapper swiper-wrapper">
								<div class="article-slider__slide swiper-slide">
									<img src="./images/car20.jpg" alt=""/>
								</div>
								<div class="article-slider__slide swiper-slide">
									<img src="./images/car11.png" alt=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
