{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Акции</a>
					<a class="breadcrumbs__item" href="">Автосервис</a>
					<a class="breadcrumbs__item" href="">Диагностика автомобиля</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Диагностика автомобиля</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-half">
					<div class="article">
						<h2 class="article__title">Диагностика и проверка состояния автомобиля</h2>
					</div>
				</div>
				<div class="layout__item-half">

				</div>
			</div>
			<div class="layout layout--small-mg layout--mobile-reverse">
				<div class="layout__item-half">
					<div class="article">
						<p>Помогите своей машине оставаться исправной на протяжении многих лет – регулярно приезжайте в
							автосервис для компьютерной диагностики автомобиля. Это убережет авто от серьезных поломок
							и дорогостоящего ремонта. Особенно актуальна услуга перед длительной поездкой, когда нужно
							убедиться в исправной работе всех систем, или при покупке б. у. машины.</p>
						<p>В нашем сервисе вы можете заказать комплексную диагностику
							или проверить работу отдельных узлов. Проверять работоспособность ходовой части авто
							необходимо регулярно
							вне зависимости от его возраста и марки. Позаботьтесь о своей безопасности!</p>
					</div>
				</div>
				<div class="layout__item-half">
					<div class="article-slider m-slider">
						<div class="m-slider__container swiper-container">
							<div class="m-slider__wrapper swiper-wrapper">
								<div class="article-slider__slide article-slider__slide--half swiper-slide">
									<img src="./images/service1.jpg" alt=""/>
								</div>
								<div class="article-slider__slide article-slider__slide--half swiper-slide">
									<img src="./images/service2.jpg" alt=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="form-box form-img-box">
				<div class="form-img-box__back">
					<img src="./styles/images/form.jpg" alt=""/>
				</div>
				<div class="form-img-box__inner js-request-form">
					<h3 class="form-box__title">Оставьте заявку</h3>
					<div class="tabs">
						<div class="tabs__item">
							<button class="tab tab--active js-tab" data-tab="tab1">Информация об автомобиле</button>
						</div>
						<div class="tabs__item">
							<button class="tab js-tab" data-tab="tab2">Контактные данные</button>
						</div>
					</div>
					<form class="form-box__tab-content">
						<div class="tab-content tab-content--active" id="tab1">
							<div class="form">
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="select">
												<span class="select__label">Марка автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Модель автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Комплектация</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Пробег</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Пробег автомобиля">
											</label>
										</div>
										<div class="form__field">
											<label class="select">
												<span class="select__label">Год выпуска</span>
												<select class="select__input js-select">
													<option>Год выпуска</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
								</div>
								<div class="form-flex">
									<div class="form-flex__item">
										<button class="btn-blue btn-mobile-full js-tab" data-tab="tab2" type="button">
											Следующий шаг
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" id="tab2">
							<div class="form">
								<div class="form__inner">
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Ваше имя</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите имя">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Фамилия</span>
												<input class="field__input field__input--white" type="text" placeholder="Введите фамилию">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Отчество</span>
												<input class="field__input field__input--white" type="text" placeholder="Введите отчество">
											</label>
										</div>
									</div>
									<div class="form__field-box form__field-box--half">
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">Номер телефона</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="+7 ( ___ ) ___ - __ - __">
											</label>
										</div>
										<div class="form__field">
											<label class="field field--required">
												<span class="field__label">E-mail</span>
												<input class="field__input field__input--white" type="text" placeholder="Введите e-mail">
											</label>
										</div>
									</div>
								</div>
								<div class="form-flex">
									<div class="form-flex__item">
										<button class="btn-blue btn-mobile-full js-leave-request-btn" type="submit">
											Записаться
										</button>
									</div>
									<div class="form-flex__item">
										<label class="checkbox">
											<input class="visuallyhidden" type="checkbox">
											<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
											<span class="checkbox__label">Я согласен на <a href="">обработку персональных данных</a></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="request-box hidden js-request-box">
					<h3 class="request-box__title">
						Благодарим за заявку
					</h3>
					<p class="request-box__text">Ваша заявка принята и находится в обработке. Наш менеджер свяжется с
						Вами в ближайшее рабочее время с 8:00 до 20:00 ежедневно.</p>
					<p class="request-box__hint">Чтобы сохранить данные о своем автомобиле
						и не вводить их повторно при следующей записи, зарегистрируйтесь на нашем сайте</p>
					<div class="request-box__btn">
						<a href="" class="btn-blue btn-full">Зарегистрироваться</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
