{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Команда</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Команда</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-row">
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Лыпушанский Владимир.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Лапушанский Владимир
							Иванович</h4>
						<p class="news-slide__desc">Ведущий специалист по качеству
							и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Уткин Максим.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Уткин Максим
							Вячеславович</h4>
						<p class="news-slide__desc">Специалист по качеству и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:zubko@mail.ru">zubko@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Болгова Татьяна.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Болгова Татьяна
							Петровна</h4>
						<p class="news-slide__desc">Ведущий специалист по качеству
							и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:mavrina@mail.ru">mavrina@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Беседин Эдуард.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Беседин Эдуард
							Ильясович</h4>
						<p class="news-slide__desc">Ведущий специалист по качеству
							и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:kopeenko@mail.ru">kopeenko@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Дурнев Илья.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Ивашкин Виктор
							Дмитриевич</h4>
						<p class="news-slide__desc">Ведущий специалист по качеству
							и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Власенкова Анна.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Гудкова Светлана
							Игоревна</h4>
						<p class="news-slide__desc">Специалист по качеству и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Олег Богачев.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Богачев Олег
							Александрович</h4>
						<p class="news-slide__desc">Ведущий специалист по качеству
							и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="news-slide-4">
					<div class="news-slide">
								<span class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/Кутузов Иван.jpg" alt=""/>
									</span>
								</span>
						<h4 class="news-slide__title">Айдамилер Игорь
							Петрович</h4>
						<p class="news-slide__desc">Ведущий специалист по качеству
							и клиентскому сервису</p>
						<div class="news-slide__links">
							<div>Тел.:
								<a href="tel:+79275561545">+7-927-556-15-45</a>
							</div>
							<div>E-mal:
								<a href="mailto:sivkovvi@mail.ru">sivkovvi@mail.ru</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="load-more">
				<button class="btn-transparent-grey btn-mobile-full">Показать еще</button>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="info-img-box">
				<div class="info-img-box__back">
					<img src="./styles/images/info.jpg" alt=""/>
				</div>
				<div class="info-img-box__inner">
					<h3 class="info-img-box__title">Хочешь стать частью нашей команды?</h3>
					<p class="info-img-box__text">Ознакомьтесь с открытыми вакансиями на нашем сайте. Если подходящей вакансии нет в списке, но Вы
						хотите у нас работать, присылайте свое резюме.</p>
					<a href="" class="btn-blue">Вакансии</a>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
