{% extends "./layout.html" %}

{% block title %}ГрандИмпериалъ{% endblock %}

{% block content %}
<div class="content">
	<div class="virtual-movie">
		<video class="youtube-video virtual-movie__video">
			<source type="video/youtube" src="https://www.youtube.com/embed/tgbNymZ7vqY" />
		</video>
	</div>
</div>
{% endblock %}
