{% extends "./layout.html" %}

{% block title %}ГрандИмпериалъ{% endblock %}

{% block content %}
<div class="preloader">
	<div class="preloader__animation"></div>
</div>
<div class="content">
	<div class="popup popup-flat">
		<div class="popup__inner popup__inner--black" data-simplebar data-simplebar-auto-hide="false">
			<button class="popup__close  popup-flat__close">
				<svg>
					<use xlink:href="./styles/icons/icons.svg#close"/>
				</svg>
			</button>
			<div class="popup__body">
				<h4>ОТПРАВКА ЗАПРОСА</h4>
				<p class="popup__subtitle">Интересует более подробная информация по трехкомнатным
					квартирам в Гранд Империалъ</p>
				<form class="form">
					<label class="field">
						<span class="visuallyhidden">Имя</span>
						<input class="field__input" type="text" placeholder="Имя"/>
					</label>
					<label class="field field--required phone-field-box">
						<span class="visuallyhidden">Телефон</span>
						<input class="field__input phone-field" type="tel" placeholder="Телефон" required="required"/>
					</label>
					<label class="checkbox">
						<input class="visuallyhidden checkbox__hidden-input" type="checkbox" checked="checked">
						<span class="checkbox__input">
                            <svg><use xlink:href="./styles/icons/icons.svg#checkbox"/></svg>
                            <span class="checkbox__checked">
                                <svg><use xlink:href="./styles/icons/icons.svg#checked"/></svg>
                            </span>
                        </span>
						<span class="checkbox__label">
							Согласен(на) на обработку <br>
							персональных данных
						</span>
					</label>
					<button class="btn btn--ocher send-request-btn">ОТПРАВИТЬ</button>
				</form>
				<div class="phone">
					<a href="tel:+78462059620">+ 7 (846) 20 596 20</a>
					<div class="phone__label">Телефон отдела продаж</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup-offer">
		<div class="popup__inner popup__inner--white" data-simplebar data-simplebar-auto-hide="false">
			<button class="popup__close  popup-offer__close">
				<svg>
					<use xlink:href="./styles/icons/icons.svg#close"/>
				</svg>
			</button>
			<div class="popup__body">
				<h4>ОТПРАВКА ЗАПРОСА</h4>
				<p class="popup__subtitle">Интересует более подробная информация по предложению Гранд Империалъ</p>
				<form class="form">
					<label class="field">
						<span class="visuallyhidden">Имя</span>
						<input class="field__input" type="text" placeholder="Имя"/>
					</label>
					<label class="field field--required phone-field-box">
						<span class="visuallyhidden">Телефон</span>
						<input class="field__input phone-field" type="tel" placeholder="Телефон" required="required"/>
					</label>
					<label class="checkbox">
						<input class="visuallyhidden checkbox__hidden-input" type="checkbox" checked="checked">
						<span class="checkbox__input">
                            <svg><use xlink:href="./styles/icons/icons.svg#checkbox"/></svg>
                            <span class="checkbox__checked">
                                <svg><use xlink:href="./styles/icons/icons.svg#checked"/></svg>
                            </span>
                        </span>
						<span class="checkbox__label">
							Согласен(на) на обработку <br>
							персональных данных
						</span>
					</label>
					<button class="btn btn--ocher send-request-btn">ОТПРАВИТЬ</button>
				</form>
				<div class="phone">
					<a href="tel:+78462059620">+ 7 (846) 20 596 20</a>
					<div class="phone__label">Телефон отдела продаж</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup-bell">
		<div class="popup__inner popup__inner--white" data-simplebar data-simplebar-auto-hide="false">
			<button class="popup__close popup-bell__close">
				<svg>
					<use xlink:href="./styles/icons/icons.svg#close"/>
				</svg>
			</button>
			<div class="popup__body">
				<h4>ЗАКАЗАТЬ ЗВОНОК</h4>
				<p class="popup__subtitle popup-bell-sub">Интересует более подробная информация по предложению Гранд
					Империалъ</p>
				<form class="form">
					<label class="field">
						<span class="visuallyhidden">Имя</span>
						<input class="field__input" type="text" placeholder="Имя"/>
					</label>
					<label class="field field--required phone-field-box">
						<span class="visuallyhidden">Телефон</span>
						<input class="field__input phone-field" type="tel" placeholder="Телефон" required="required"/>
					</label>
					<label class="checkbox">
						<input class="visuallyhidden checkbox__hidden-input" type="checkbox" checked="checked">
						<span class="checkbox__input">
                            <svg><use xlink:href="./styles/icons/icons.svg#checkbox"/></svg>
                            <span class="checkbox__checked">
                                <svg><use xlink:href="./styles/icons/icons.svg#checked"/></svg>
                            </span>
                        </span>
						<span class="checkbox__label">
							Согласен(на) на обработку <br>
							персональных данных
						</span>
					</label>
					<button class="btn btn--ocher send-request-btn">ОТПРАВИТЬ</button>
				</form>
				<div class="phone">
					<a href="tel:+78462059620">+ 7 (846) 20 596 20</a>
					<div class="phone__label">Телефон отдела продаж</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news-popup">
		<div class="wrapper">
			<button class="news-popup__close">
				<svg>
					<use xlink:href="./styles/icons/icons.svg#close"/>
				</svg>
			</button>
			<div class="js-append-new">
				<div>
					<div class="news-popup__inner" data-simplebar data-simplebar-auto-hide="false">
						<div>
							<div class="news-popup__date">1.10.2019</div>
							<h3 class="news-popup__title">Презентация ЖК «Гранд Империаль»</h3>
							<p>24 сентября компания «Новое Время» официально представила Самаре «Гранд Империалъ» - жилой
								комплекс премиум-класса с инфрастуктурой пятизвездочного отеля. Эффектная презентация
								прошла в Самарском академическом театре оперы и балета.</p>
							<p>Одновременно начаты внутренние отделочные работы в каждом из корпусов, установка систем
								кондиционирования,
								а также монтаж оконных систем на всех этажах.</p>
							<p>Кроме того полностью завершены работы по тестированию всех типов фасадных элементов ЖК.
								Для этого макеты каждого из типов фасадов, предусмотренных архитектурным проектом,
								были изготовлены и смонтированы на соответствующих этажах возводимых башен. Кроме того,
								архитектурным бюро Dyer была проведена экспертиза соответствия визуальных характеристик деталей
								фасада существующему проекту. Архитекторы, осуществляющие полный авторский надзор строительства,
								оценивали точность исполнения цветовых решений,
								обработки материалов и пропорций для всех образцов.</p>
							<p>Булат Шакиров, управляющий директор Новое Время: «Гранд Империалъ» - очень масштабный проект,
								в его создании объединены усилия высококлассных команд из разных стран. Чтобы не возникало
								сбоев или задержек в ходе строительства требуется высочайший уровень координации и контроля.
								Мы очень довольны тем, что сегодня работы идут даже с некоторым опережением графиков
								строительства, что, безусловно свидетельствует о том,
								что команда проекта действует слаженно и на высочайшем профессиональном уровне»</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header">
		<div class="header__inner">
			<button class="menu-btn">
				<span class="menu-btn__line menu-btn__line--top"></span>
				<span class="menu-btn__line menu-btn__line--middle"></span>
				<span class="menu-btn__line menu-btn__line--bottom"></span>
			</button>
			<a href="" class="header__logo">
				<img src="../styles/images/logo-white.svg" alt="ГрандИмпериалъ"/>
			</a>
		</div>
		<div class="menu">
			<div class="menu__top">
				<button class="lang-btn">IN ENGLISH</button>
			</div>
			<div class="menu__inner">
				<div class="menu__nav">
					<button class="menu__nav-btn" data-scroll=".premium">ЖК «ГРАНД ИМПЕРИАЛЪ»</button>
					<button class="menu__nav-btn" data-scroll=".concept">КОНЦЕПЦИЯ</button>
					<button class="menu__nav-btn" data-scroll=".ideal-place">РАСПОЛОЖЕНИЕ</button>
					<button class="menu__nav-btn" data-scroll=".infrastructure">ИНФРАСТРУКТУРА</button>
					<button class="menu__nav-btn" data-scroll=".flats-b">КВАРТИРЫ</button>
				</div>
				<button class="special-btn" data-scroll=".offer">СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ</button>
				<div class="phone">
					<a href="tel:+78462059620">+ 7 (846) 20 596 20</a>
					<div class="phone__label">Телефон отдела продаж</div>
				</div>
				<div class="menu__nav">
					<button class="menu__nav-btn" data-scroll=".steps-b">Ход строительства</button>
					<button class="menu__nav-btn" data-scroll=".docs">Документация</button>
					<button class="menu__nav-btn" data-scroll=".virtual">Виртуальный тур</button>
				</div>
				<div class="menu__copyright">© 2019 ЖК "Гранд Империалъ"</div>
				<div class="menu__company">Сделано с любовью
					в <br> <a href="">PARUS AGENCY</a></div>
			</div>
		</div>
	</header>
	<div class="video" data-video-index="0">
		<div class="video__back">
			<img src="./images/home3.jpg" alt=""/>
			<button class="btn-circle video__back-btn js-youtube-watch-btn" id="watch">СМОТРЕТЬ</button>
			<p class="video__subtitle">ФИЛЬМ ГРАНД ИМПЕРИАЛЪ</p>
		</div>
		<div class="video__inner">
			<video class="lazy video__movie youtube-video">
				<source type="video/youtube" src="https://youtu.be/I_F8yHuZRRU" />
			</video>
			<button class="video__close-btn js-youtube-close-btn">
				<svg>
					<use xlink:href="./styles/icons/icons.svg#close"/>
				</svg>
			</button>
			<button class="btn-circle video__btn js-youtube-pause-btn">ПАУЗА</button>
		</div>
	</div>
	<div class="video" data-video-index="1">
		<div class="video__back">
			<img src="./images/home3.jpg" alt=""/>
			<button class="btn-circle video__back-btn js-youtube-watch-btn">СМОТРЕТЬ</button>
			<p class="video__subtitle">ФИЛЬМ ГРАНД ИМПЕРИАЛЪ</p>
		</div>
		<div class="video__inner">
			<video class="video__movie youtube-video 1">
				<source type="video/youtube" src="" />
			</video>
			<button class="video__close-btn js-youtube-close-btn">
				<svg>
					<use xlink:href="./styles/icons/icons.svg#close"/>
				</svg>
			</button>
			<button class="btn-circle video__btn js-youtube-pause-btn">ПАУЗА</button>
		</div>
	</div>
	<div class="banner">
		<div class="banner__back">
			<img class="lazyload" src="./images/banner.jpg" alt=""/>
		</div>
		<div class="wrapper">
			<img class="banner__logo" src="../styles/images/logo-large.svg" alt="ГрандИмпериалъ Жилой Комплекс"/>
			<div class="banner__inner">
				<h2 class="banner__name">Жилой комплекс «Гранд Империалъ»</h2>
				<div class="banner__titles">
					<h3 class="banner__title">
						<span class="banner__title--ocher">Комфортный</span><br/>
						<span>для проживания</span>
					</h3>
					<h3 class="banner__title">
						<span class="banner__title--ocher">Эффективный</span><br/>
						<span>Для бизнеса</span>
					</h3>
					<h3 class="banner__title">
						<span class="banner__title--ocher">Идеальный</span><br/>
						<span>для жизни</span>
					</h3>
				</div>
				<div class="banner__scrolldown">
					<svg>
						<use xlink:href="./styles/icons/icons.svg#arrow-down"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="premium">
		<div class="wrapper">
			<h2 class="premium__title">
				ПРЕМИАЛЬНОЕ КАЧЕСТВО ЖИЗНИ В РАЙОНЕ С ВЫСОКИМ СТАТУСОМ
			</h2>
		</div>
	</div>
	<div class="large-gallery large-gallery--desktop large-gallery-first">
		<div class="large-gallery__item large-gallery__item--desktop">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-first__item--two">
			<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-first__item--three">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
	</div>
	<div class="large-gallery large-gallery--mobile b-slider">
		<div class="swiper-container b-slider__container">
			<div class="swiper-wrapper">
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
					</div>
				</div>
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
					</div>
				</div>
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="large-gallery large-gallery--desktop large-gallery-second">
		<div class="large-gallery__item large-gallery__item--desktop">
			<img class="lazy" data-src="./images/home3.jpg" data-srcset="./images/home3.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-second__item--two">
			<img class="lazy" data-src="./images/home4.jpg" data-srcset="./images/home4.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-second__item--three">
			<img class="lazy" data-src="./images/home3.jpg" data-srcset="./images/home3.jpg" alt=""/>
		</div>
	</div>
	<div class="slogan slogan--black concept">
		<div class="wrapper">
			<h3 class="slogan__title">
				Комплексная застройка квартала. Уникальное сочетание архитектурных стилей в контексте городской среды.
				Две парадные входные группы атриумного типа. Двор без машин.
			</h3>
		</div>
	</div>
	<div class="advantages">
		<div class="advantages__info">
			<div class="advantages__item advantages__item--first">
				<div class="advantage" data-adv-num="450">
					<span>квартир свободной <br> планировки</span>
				</div>
			</div>
			<div class="advantages__item advantages__item--first">
				<div class="advantage" data-adv-num="7">
					<span>пентхаусов свободной <br> планировки</span>
				</div>
			</div>
			<div class="advantages__item advantages__item--first">
				<div class="advantage" data-adv-num="3">
					<span>метра высота <br> потолков</span>
				</div>
			</div>
			<div class="advantages__item advantages__item--second">
				<div class="advantage" data-adv-num="7">
					<span>ресторанных <br> площадок</span>
				</div>
			</div>
			<div class="advantages__item advantages__item--second">
				<div class="advantage" data-adv-num="6700">
					<span>квадратных метров <br> фитнес-комплекса</span>
				</div>
			</div>
			<div class="advantages__item advantages__item--second">
				<div class="advantage" data-adv-num="860">
					<span>машиномест в <br> паркинге</span>
				</div>
			</div>
		</div>
		<div class="advantages__img">
			<img src="./images/home4.jpg" alt=""/>
		</div>
	</div>
	<div class="ideal-place">
		<div class="wrapper">
			<div class="ideal-place__inner">
				<h2 class="ideal-place__title">ИДЕАЛЬНОЕ Расположение</h2>
				<div class="ideal-place__items">
					<div class="ideal-place__item">
						<div class="advantage" data-adv-num="6">
							<span>знаковых объектов в <br> шаговой доступности</span>
						</div>
					</div>
					<div class="ideal-place__item">
						<div class="advantage" data-adv-num="600">
							<span>метров до Волги</span>
						</div>
					</div>
					<div class="ideal-place__item">
						<div class="advantage" data-adv-num="5">
							<span>образовательных <br> учреждений</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="map-box">
		<div class="map" id="map"></div>
		<div class="map-box__inner">
			<div class="wrapper">
				<a href="" class="map-box__logo">
					<img src="../styles/images/map-logo.svg" alt="ГрандИмпериалъ"/>
				</a>
				<div class="map-info">
					<div class="map-info__item">
						<button class="map-info__btn btn-book">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#book"/>
							</svg>
						</button>
						<span class="map-info__text">Школы</span>
					</div>
					<div class="map-info__item">
						<button class="map-info__btn btn-toy">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#toy"/>
							</svg>
						</button>
						<span class="map-info__text">Детские сады</span>
					</div>
					<div class="map-info__item">
						<button class="map-info__btn btn-heart">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#heart"/>
							</svg>
						</button>
						<span class="map-info__text">Больницы и аптеки</span>
					</div>
					<div class="map-info__item">
						<button class="map-info__btn btn-food">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#food"/>
							</svg>
						</button>
						<span class="map-info__text">Рестораны</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="virtual">
		<div class="wrapper">
			<div class="virtual__inner">
				<h3 class="virtual__title">Уникальное сочетание архитектурных стилей, таких как арт-деко, индустриальная
					архитектура 19-го века, неоконструктивизм , модерн, современная архитектура и хай-тек в контексте
					городской среды.</h3>
				<a href="3d.html" class="btn btn--ocher">ВИРТУАЛЬНЫЙ ТУР</a>
			</div>
		</div>
	</div>
	<div class="large-gallery large-gallery--desktop large-gallery-third">
		<div class="large-gallery__item large-gallery__item--desktop">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-third__item--two">
			<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-third__item--three">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
	</div>
	<div class="large-gallery large-gallery--mobile b-slider">
		<div class="swiper-container b-slider__container">
			<div class="swiper-wrapper">
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
					</div>
				</div>
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
					</div>
				</div>
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="infrastructure">
		<div class="wrapper">
			<div class="infrastructure__inner">
				<h2 class="infrastructure__title">Инфраструктура отеля премиум-класса.</h2>
				<div class="infrastructure__items">
					<div class="infrastructure__item">Галерея по всему периметру комплекса</div>
					<div class="infrastructure__item">Вертолётная площадка</div>
					<div class="infrastructure__item">7 ресторанных площадок</div>
					<div class="infrastructure__item">4 станции зарядки электромобилей, наномойка в паркинге</div>
					<div class="infrastructure__item">Фитнес-комплекс со СПА и 25 метровым бассейном, фитокафе на
						террасе
					</div>
					<div class="infrastructure__item">Интерактивная детская площадка</div>
					<div class="infrastructure__item">Небесный парк с бассейном и шезлонгами на кровле жилого дома</div>
					<div class="infrastructure__item">Многоцелевая спортивная площадка с трибунами на 150 зрителей</div>
				</div>
			</div>
		</div>
	</div>
	<div class="large-gallery large-gallery--desktop large-gallery-fourth">
		<div class="large-gallery__item large-gallery__item--desktop">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-fourth__item--two">
			<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-fourth__item--three">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
	</div>
	<div class="large-gallery large-gallery--mobile b-slider">
		<div class="swiper-container b-slider__container">
			<div class="swiper-wrapper">
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
					</div>
				</div>
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
					</div>
				</div>
				<div class="large-gallery__slide swiper-slide">
					<div class="large-gallery__item">
						<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="slogan slogan--brown slogan--small">
		<div class="wrapper">
			<h2 class="slogan__title">Небесный парк</h2>
		</div>
	</div>
	<div class="gallery">
		<div class="gallery__top swiper-container">
			<div class="swiper-wrapper">
				<div class="gallery__slide swiper-slide">
					<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
				</div>
				<div class="gallery__slide swiper-slide">
					<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
				</div>
				<div class="gallery__slide swiper-slide">
					<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<div class="gallery__thumbs swiper-container">
			<div class="swiper-wrapper">
				<div class="gallery__thumb swiper-slide">
					<img src="./images/home1.jpg" alt=""/>
				</div>
				<div class="gallery__thumb swiper-slide">
					<img src="./images/home2.jpg" alt=""/>
				</div>
				<div class="gallery__thumb swiper-slide">
					<img src="./images/home3.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>
	<div class="slogan slogan--ocher flats-b">
		<div class="wrapper">
			<h3 class="slogan__title">Коллекция лучших планировочных решений квартир для самых взыскательных. Подземный
				трёхуровневый паркинг на 860 мест с отдельными лифтами.</h3>
		</div>
	</div>
	<div class="flats">
		<div class="flats__tabs tabs js-tabs">
			<div class="wrapper">
				<div class="h-slider">
					<button class="mobile-dropdown">
						<span>
							<span class="mobile-dropdown__type">ДВУХКОМНАТНЫЕ</span>
							<span class="mobile-dropdown__area">от 75 м2</span>
						</span>
						<svg class="mobile-dropdown__icon">
							<use xlink:href="./styles/icons/icons.svg#arrow-down"/>
						</svg>
					</button>
					<div class="flats-tabs h-slider__container d-tabs-nav js-tabs-nav swiper-container">
						<div class="flats-tabs__list d-tabs-nav__list swiper-wrapper">
							<div class="flats-tabs__item tabs-nav__item js-tabs-item swiper-slide active">
								<a class="flats-tabs__link tabs-nav__link js-tabs-link" href="#tab-1" data-scroll=".flats-tabs">
									<span class="flats-tabs__type">ДВУХКОМНАТНЫЕ</span>
									<span class="flats-tabs__area">от 75 м2</span>
								</a>
							</div>
							<div class="flats-tabs__item tabs-nav__item js-tabs-item swiper-slide">
								<a class="flats-tabs__link tabs-nav__link js-tabs-link" href="#tab-2" data-scroll=".flats-tabs">
									<span class="flats-tabs__type">ТРЕХКОМНАТНЫЕ</span>
									<span class="flats-tabs__area">от 120 м2</span>
								</a>
							</div>
							<div class="flats-tabs__item tabs-nav__item js-tabs-item swiper-slide">
								<a class="flats-tabs__link tabs-nav__link js-tabs-link" href="#tab-3" data-scroll=".flats-tabs">
									<span class="flats-tabs__type">ЧЕТЫРЕХКОМНАТНЫЕ</span>
									<span class="flats-tabs__area">от 145 м2</span>
								</a>
							</div>
							<div class="flats-tabs__item tabs-nav__item js-tabs-item swiper-slide">
								<a class="flats-tabs__link tabs-nav__link js-tabs-link" href="#tab-4" data-scroll=".flats-tabs">
									<span class="flats-tabs__type">ПЕНТХАУСЫ</span>
									<span class="flats-tabs__area">от 180 м2</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flats__content tabs-content js-tabs-wrap">
				<div class="wrapper">
					<div class="flats-content__toggles">
						<div class="flats-content__toggle">
							<label class="toggle">
								<input class="toggle__input toggle-furniture" id="id_1" type="checkbox" checked="checked"/>
								<span class="toggle__holder">
											<span class="toggle__circle"></span>
										</span>
								<span class="toggle__label">С МЕБЕЛЬЮ</span>
							</label>
						</div>
						<div class="flats-content__toggle">
							<label class="toggle">
								<input class="toggle__input toggle-level" id="id_2" type="checkbox" checked="checked" disabled="disabled"/>
								<span class="toggle__holder">
											<span class="toggle__circle"></span>
										</span>
								<span class="toggle__label">ПЕРВЫЙ УРОВЕНЬ</span>
							</label>
						</div>
					</div>
					<div class="flats-content__holder">
						<div class="flats-content tab js-tabs-content active" id="tab-1">
							<div class="flat-slider">
								<div class="flat-slider__container swiper-container">
									<div class="swiper-wrapper">
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-2-1"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-2-1.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-2-1.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-2-2"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-2-2.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-2-2.jpg" alt=""/>
										</div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
						<div class="flats-content tab js-tabs-content" id="tab-2">
							<div class="flat-slider">
								<div class="flat-slider__container swiper-container">
									<div class="swiper-wrapper">
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-3-1"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-3-1.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-3-1.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-3-2"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-3-2.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-3-2.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-3-3"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-3-3.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-3-3.jpg" alt=""/>
										</div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
						<div class="flats-content tab js-tabs-content" id="tab-3">
							<div class="flat-slider">
								<div class="flat-slider__container swiper-container">
									<div class="swiper-wrapper">
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-4-1"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-4-1.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-4-1.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-4-2"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-4-2.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-4-2.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-4-3"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-4-3.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-4-3.jpg" alt=""/>
										</div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
						<div class="flats-content tab js-tabs-content" id="tab-4">
							<div class="flat-slider">
								<div class="flat-slider__container swiper-container">
									<div class="swiper-wrapper">
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-6-1"/>
											<img class="flat-slider__img img-furniture-one" data-level="1" src="./images/furniture/plan-6-1-1.jpg" alt=""/>
											<img class="flat-slider__img img-furniture-two" data-level="2" src="./images/furniture/plan-6-1-2.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" data-level="1" src="./images/empty/plan-6-1-1.jpg" alt=""/>
											<img class="flat-slider__img img-empty-two" data-level="2" src="./images/empty/plan-6-1-2.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-7-1"/>
											<img class="flat-slider__img img-furniture-one" src="./images/furniture/plan-7-1-1.jpg" alt=""/>
											<img class="flat-slider__img img-furniture-two" src="./images/furniture/plan-7-1-2.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-7-1-1.jpg" alt=""/>
											<img class="flat-slider__img img-empty-two" src="./images/empty/plan-7-1-2.jpg" alt=""/>
										</div>
										<div class="flat-slider__slide swiper-slide">
											<input type="text" class="flat-link-val visuallyhidden" value="plan-8-1"/>
											<img class="flat-slider__img img-furniture img-furniture-one" src="./images/furniture/plan-8-1-1.jpg" alt=""/>
											<img class="flat-slider__img img-furniture img-furniture-two" src="./images/furniture/plan-8-1-2.jpg" alt=""/>
											<img class="flat-slider__img img-empty-one" src="./images/empty/plan-8-1-1.jpg" alt=""/>
											<img class="flat-slider__img img-empty-two" src="./images/empty/plan-8-1-2.jpg" alt=""/>
										</div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="flat-slider__footer">
						<button class="btn btn--transparent open-flat-btn">ВЫБРАТЬ КВАРТИРУ</button>
						<a class="btn btn--transparent flat-3d-btn" href="">3D-ТУР ПО КВАРТИРЕ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="offer">
		<div class="wrapper">
			<div class="offer__info">
				<div class="offer__inner">
					<h2 class="offer__title">Выгодное предложение</h2>
					<div class="offer__box">
						<p class="offer__label">Заморозка цен на квартиры!<br> Цены по стоимости 2018 года</p>
						<div class="countdown">
							<p class="countdown__label">До конца акции осталось:</p>
							<input class="countdown-value visuallyhidden" type="text" value="Nov 7, 2019 00:00:00"/>
							<div class="countdown__inner">
								<div class="countdown__int" data-int="дней">
									<div id="day"></div>
								</div>
								<div class="countdown__divider">
									<div class="countdown__circle countdown__circle--one"></div>
									<div class="countdown__circle countdown__circle--two"></div>
								</div>
								<div class="countdown__int" data-int="часов">
									<div id="hour"></div>
								</div>
								<div class="countdown__divider">
									<div class="countdown__circle countdown__circle--one"></div>
									<div class="countdown__circle countdown__circle--two"></div>
								</div>
								<div class="countdown__int" data-int="минут">
									<div id="minute"></div>
								</div>
							</div>
						</div>
						<button class="btn btn--ocher open-offer-btn">ОСТАВИТЬ ЗАЯВКУ</button>
					</div>
				</div>
			</div>
		</div>
		<div class="offer__img-holder">
			<img class="offer__img lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
			<h2 class="offer__img-title">Ипотека от 7,5 %</h2>
		</div>
	</div>
	<div class="slogan slogan--black">
		<div class="wrapper">
			<h3 class="slogan__title">7 пентхаусов с бассейнами и дровяными каминами в жилом комплексе «Гранд Империалъ»
				- поистине уникальное предложение даже для насыщенного различными форматами рынка недвижимости.</h3>
		</div>
	</div>
	<div class="grid-gallery b-slider">
		<div class="swiper-container b-slider__container">
			<div class="grid-gallery__wrapper swiper-wrapper">
				<div class="grid-gallery__slide grid-gallery__slide--1 swiper-slide">
					<div class="grid-gallery__item">
						<img class="lazy" data-src="./images/room1.jpg" data-srcset="./images/room1.jpg" alt=""/>
					</div>
				</div>
				<div class="grid-gallery__slide grid-gallery__slide--2 swiper-slide">
					<div class="grid-gallery__item">
						<img class="lazy" data-src="./images/room2.jpg" data-srcset="./images/room2.jpg" alt=""/>
					</div>
				</div>
				<div class="grid-gallery__slide grid-gallery__slide--3 swiper-slide">
					<div class="grid-gallery__item">
						<img class="lazy" data-src="./images/room3.jpg" data-srcset="./images/room3.jpg" alt=""/>
					</div>
				</div>
				<div class="grid-gallery__slide grid-gallery__slide--4 swiper-slide">
					<div class="grid-gallery__item">
						<img class="lazy" data-src="./images/room4.jpg" data-srcset="./images/room4.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="infrastructure">
		<div class="wrapper">
			<div class="infrastructure__inner">
				<h2 class="infrastructure__title">Коммерческая недвижимость</h2>
				<div class="infrastructure__items">
					<div class="infrastructure__item infrastructure__item--mb">Спортивный комплекс с <br> бассейном
					</div>
					<div class="infrastructure__item infrastructure__item--mb">Салоны красоты</div>
					<div class="infrastructure__item infrastructure__item--mb">Супермаркеты</div>
					<div class="infrastructure__item infrastructure__item--mb">Предприятия сферы быта</div>
					<div class="infrastructure__item infrastructure__item--mb">Аква-зона со СПА- <br> комплексом</div>
					<div class="infrastructure__item infrastructure__item--mb">Фитокафе на террасе</div>
				</div>
			</div>
		</div>
	</div>
	<div class="large-gallery large-gallery--mobile-hide large-gallery-fifth">
		<div class="large-gallery__item large-gallery__item--desktop">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-fifth__item--two">
			<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/home2.jpg" alt=""/>
		</div>
		<div class="large-gallery__item large-gallery__item--desktop large-gallery-fifth__item--three">
			<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
		</div>
	</div>
	<div class="docs">
		<div class="wrapper">
			<h2 class="docs__title">Документация застройщика</h2>
			<div class="docs__tabs tabs js-tabs">
				<div class="h-slider">
					<button class="mobile-dropdown">
						<span class="mobile-dropdown__text">Проектная декларация</span>
						<svg class="mobile-dropdown__icon">
							<use xlink:href="./styles/icons/icons.svg#arrow-down"/>
						</svg>
					</button>
					<div class="docs-tabs h-slider__container d-tabs-nav js-tabs-nav swiper-container">
						<div class="docs-tabs__list d-tabs-nav__list swiper-wrapper">
							<div class="docs-tabs__item tabs-nav__item js-tabs-item swiper-slide active">
								<a class="docs-tabs__link tabs-nav__link js-tabs-link" href="#doc-1">Проектная
									декларация</a>
							</div>
							<div class="docs-tabs__item tabs-nav__item js-tabs-item swiper-slide">
								<a class="docs-tabs__link tabs-nav__link js-tabs-link" href="#doc-2">Договоры долевого
									участия</a>
							</div>
							<div class="docs-tabs__item tabs-nav__item js-tabs-item swiper-slide">
								<a class="docs-tabs__link tabs-nav__link js-tabs-link" href="#doc-3">Отчетные
									документы</a>
							</div>
						</div>
					</div>
				</div>
				<div class="docs__content tabs-content js-tabs-wrap">
					<div class="docs-content tab js-tabs-content active" id="doc-1">
						<table class="docs-table">
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
						</table>
						<div class="docs__footer">
							<button class="btn btn--transparent load-more">
								<span class="load-more__text">ПОКАЗАТЬ ЕЩЕ</span>
								<span class="spinner">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</span>
							</button>
						</div>
					</div>
					<div class="docs-content tab js-tabs-content" id="doc-2">
						<table class="docs-table">
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
						</table>
						<div class="docs__footer">
							<button class="btn btn--transparent load-more">
								<span class="load-more__text">ПОКАЗАТЬ ЕЩЕ</span>
								<span class="spinner">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</span>
							</button>
						</div>
					</div>
					<div class="docs-content tab js-tabs-content" id="doc-3">
						<table class="docs-table">
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
							<tr class="docs-table__row">
								<td class="docs-table__cell">Изменения в ПД ЖК "Гранд Империалъ" жилой дом №2 от
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Дата размещения:</span>
									25.03.2019
								</td>
								<td class="docs-table__cell docs-table__cell--nowrap"><span>Разместил:</span> ООО "Новое
									Время"
								</td>
								<td class="docs-table__cell">
									<a class="docs-table__link" href="">Скачать</a>
								</td>
							</tr>
						</table>
						<div class="docs__footer">
							<button class="btn btn--transparent load-more">
								<span class="load-more__text">ПОКАЗАТЬ ЕЩЕ</span>
								<span class="spinner">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slogan slogan--white slogan--small steps-b">
		<div class="wrapper">
			<h2 class="slogan__title">Ход строительства</h2>
		</div>
	</div>
	<div class="steps">
		<div class="steps__tabs tabs js-tabs">
			<div class="step-thumbs">
				<div class="steps-tabs step-thumbs__container tabs-nav js-tabs-nav swiper-container" dir="rtl">
					<div class="steps-tabs__list tabs-nav__list swiper-wrapper">
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide active">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-10">Сентябрь</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-9">Август</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-8">Июль</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-7">Июнь</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-6">Май</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-5">Апрель</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-4">Март</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-3">Февраль</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-2">Январь</a>
						</div>
						<div class="steps-tabs__item tabs-nav__item js-tabs-item swiper-slide">
							<a class="steps-tabs__link tabs-nav__link js-tabs-link" href="#step-1">Декабрь</a>
						</div>
					</div>
				</div>
			</div>
			<div class="steps__content tabs-content js-tabs-wrap">
				<div class="steps-content tab js-tabs-content" id="step-1">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-2">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-3">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-4">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-5">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-6">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-7">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-8">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content" id="step-9">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
				<div class="steps-content tab js-tabs-content active" id="step-10">
					<div class="video">
						<div class="video__back">
							<img src="./images/home3.jpg" alt=""/>
							<h2 class="video__year">2019</h2>
							<button class="btn-circle video__back-btn js-watch-video-btn">СМОТРЕТЬ</button>
						</div>
						<div class="video__inner">
							<video class="video__movie lazy">
								<source data-src="./images/video/video.mp4" type="video/mp4">
							</video>
							<button class="video__close-btn js-close-video-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#close"/>
								</svg>
							</button>
							<button class="btn-circle video__btn js-pause-video-btn">ПАУЗА</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news">
		<div class="wrapper">
			<div class="news__inner">
				<div class="news-slider a-slider">
					<h2 class="news__title">Новости</h2>
					<div class="news-slider__container a-slider__container swiper-container">
						<div class="swiper-wrapper">
							<div class="news-slider__item swiper-slide">
								<div class="news-slider__date">1.10.2019</div>
								<h3 class="news-slider__title">Презентация ЖК «Гранд Империаль»</h3>
								<p>24 сентября компания «Новое Время» официально представила Самаре «Гранд Империалъ»
									- жилой комплекс
									премиум-класса с инфрастуктурой пятизвездочного отеля. Эффектная презентация прошла
									в Самарском
									академическом театре оперы и балета.
								</p>
							</div>
							<div class="news-slider__item swiper-slide">
								<div class="news-slider__date">2.10.2019</div>
								<h3 class="news-slider__title">Презентация ЖК «Гранд Империаль»</h3>
								<div>24 сентября компания «Новое Время» официально представила Самаре «Гранд Империалъ»
									- жилой комплекс
									премиум-класса с инфрастуктурой пятизвездочного отеля. Эффектная презентация прошла
									в Самарском
									академическом театре оперы и балета.
								</div>
							</div>
							<div class="news-slider__item swiper-slide">
								<div class="news-slider__date">3.10.2019</div>
								<h3 class="news-slider__title">Презентация ЖК «Гранд Империаль»</h3>
								<div>24 сентября компания «Новое Время» официально представила Самаре «Гранд Империалъ»
									- жилой комплекс
									премиум-класса с инфрастуктурой пятизвездочного отеля. Эффектная презентация прошла
									в Самарском
									академическом театре оперы и балета.
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="wrapper">
			<div class="footer__box">
				<div class="footer__inner">
					<div class="contacts">
						<h2 class="contacts__title">Контакты</h2>
						<div class="contacts__inner">
							<div class="contacts__item">
								<div class="contacts__label">Телефон отдела продаж</div>
								<div class="contacts__phone">
									<a href="tel:+78462059620">+ 7 (846) 20 596 20</a>
								</div>
								<div>
									<button class="btn btn--transparent open-bell-btn">ЗАКАЗАТЬ ЗВОНОК</button>
								</div>
							</div>
							<div class="contacts__item">
								<div class="contacts__label">Адрес отдела продаж:</div>
								<div class="contacts__text">443100, г. Самара, ул. Самарская, д. 200А</div>
							</div>
							<div class="contacts__item">
								<div class="contacts__label">ЖК «Гранд Империалъ» в соцсетях</div>
								<div class="social">
									<a href="" class="social__item">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#instagram"/>
										</svg>
									</a>
									<a href="" class="social__item">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#vk"/>
										</svg>
									</a>
									<a href="" class="social__item">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#facebook"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
					<form class="form">
						<label class="field">
							<span class="visuallyhidden">Имя</span>
							<input class="field__input" type="text" placeholder="Имя"/>
						</label>
						<label class="field field--required phone-field-box">
							<span class="visuallyhidden">Телефон</span>
							<input class="field__input phone-field" type="tel" placeholder="Телефон" required="required"/>
						</label>
						<label class="field">
							<span class="visuallyhidden">E-mail</span>
							<input class="field__input" type="text" placeholder="E-mail"/>
						</label>
						<label class="field">
							<span class="visuallyhidden">Сообщение</span>
							<input class="field__input" type="text" placeholder="Сообщение"/>
						</label>
						<label class="checkbox">
							<input class="visuallyhidden checkbox__hidden-input" type="checkbox" checked="checked">
							<span class="checkbox__input">
                            <svg><use xlink:href="./styles/icons/icons.svg#checkbox"/></svg>
                            <span class="checkbox__checked">
                                <svg><use xlink:href="./styles/icons/icons.svg#checked"/></svg>
                            </span>
                        </span>
							<span class="checkbox__label">
								Согласен(на) на обработку <br>
								персональных данных
							</span>
						</label>
						<button class="btn btn--ocher send-request-btn">ОТПРАВИТЬ</button>
					</form>
				</div>
				<div class="copyright">
					<p class="copyright__text">Настоящий сайт является официальным и единственный сайтом застройщика,
						на котором он осуществляет размещение информации о проекте
					</p>
					<p>© 2019 ЖК «Гранд Империалъ»</p>
					<p>Сделано с любовью в <a href="" class="copyright__link">PARUS AGENCY</a></p>
				</div>
			</div>
		</div>
	</footer>
</div>
{% endblock %}
