<!DOCTYPE html>

<html lang="ru" prefix="og: http://ogp.me/ns/website#">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<!-- OpenGraph Start -->
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="//example.com/og.png">
	<meta property="og:url" content="//example.com/">
	<!-- OpenGraph End -->
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.webmanifest">
</head>

<body>

<div class="fetchbar" hidden></div>

<!-- Main content Start -->
{% block content %}{% endblock %}
<!-- Main content End -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCWIAZZI690B23sTDummHxJQxxre2_iLMk"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh2CY_9wrvF4SBmWnH8HfKowAF8NuwSLY"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelement-and-player.min.js"></script>

<script src="../scripts/main.js"></script>

</body>

</html>
