:root {
	--header-border-color: rgba(255, 255, 255, 0.5);
	--header-call-color: #ffffff;
	--header-call-hover-color: #02a5ff;
	--mobile-header-back-color: #ffffff;

	--badge-color: linear-gradient(#e31a15 0%, #c10b06 100%);
	--badge-text-color: #d0daf0;
}

.header {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: var(--animate-duration-effect);
	transition-property: background-color;
	transition-timing-function: var(--animate-easing-standard);
	z-index: 102;

	@media (--tablet-landscape-down) {
		position: fixed;

		&--fixed {
			background-color: var(--mobile-header-back-color);
		}

		&--active {
			background-color: var(--mobile-header-back-color);
		}
	}

	&__inner {
		border-bottom-color: var(--header-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		padding-bottom: var(--pd-2);
		padding-top: var(--pd-2);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-4);
			padding-top: var(--pd-7);
		}
	}
}

.request-call {
	width: 200px;

	@media (--only-tablet-landscape) {
		display: none;
	}
}

.header-search {
	flex-grow: 1;

	@media (--tablet-landscape-down) {
		background-color: var(--mobile-header-back-color);
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity, visibility;
		transition-timing-function: var(--animate-easing-standard);
		visibility: hidden;

		&--active {
			opacity: 1;
			visibility: visible;
		}
	}
}

.header-call {
	margin-right: var(--mg-3);

	@media (--tablet-landscape-down) {
		display: none;
	}

	@media (--tablet-landscape-up) {
		margin-right: var(--mg-2);
	}

	@media (--desktop-up) {
		margin-right: var(--mg-4);
	}

	@media (--big-desktop-up) {
		margin-right: var(--mg-8);
	}

	&::before {
		color: var(--header-call-color);
		content: attr(data-header-call-lbl);
		display: block;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}

	&__link {
		color: var(--header-call-color);
		font-size: var(--fz-2);
		font-weight: 700;
		line-height: var(--lh-2);
		text-decoration: none;

		&.has-hover:hover {
			color: var(--header-call-hover-color);
			text-decoration: underline;
		}
	}
}

.has-badge {
	position: relative;

	&::before {
		background-image: var(--badge-color);
		border-radius: 24px;
		color: var(--badge-text-color);
		content: attr(data-cart-item-num);
		font-size: var(--fz-1);
		height: 24px;
		line-height: 24px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 24px;
	}
}
