:root {
	--nav-link-color: #ffffff;
	--nav-link-mobile-color: #0f2043;
	--nav-link-mobile-border-color: #d0daf0;

	--badge-color: linear-gradient(#e31a15 0%, #c10b06 100%);
	--badge-text-color: #d0daf0;
}

.navigation-link {
	color: var(--nav-link-color);
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-2);
	font-weight: 400;
	line-height: var(--lh-2);
	position: relative;
	text-decoration: none;

	@media (--tablet-landscape-down) {
		color: var(--nav-link-mobile-color);
	}

	&.has-hover:hover {
		color: var(--nav-link-color);
	}

	&--active {
		font-weight: 500;
	}

	> span {
		display: inline-block;
		vertical-align: middle;
	}

	&.has-hover:hover > span {
		text-decoration: underline;
	}

	&__icon {
		display: inline-block;
		fill: var(--nav-link-color);
		height: 15px;
		margin-right: var(--mg-1);
		vertical-align: middle;
		width: 15px;

		@media (--tablet-landscape-down), (--only-tablet-landscape) {
			display: none;
		}
	}
}

.badge {
	background-image: var(--badge-color);
	border-radius: 16px;
	color: var(--badge-text-color);
	font-size: 9px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	right: -26px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;

	@media (--tablet-landscape-up) {
		border-radius: 20px;
		font-size: var(--fz-1);
		height: 20px;
		line-height: 20px;
		right: -30px;
		width: 20px;
	}
}
