.navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-top: var(--pd-3);

	@media (--tablet-landscape-down) {
		background-color: var(--mobile-header-back-color);
		bottom: 0;
		flex-direction: column;
		justify-content: center;
		left: 0;
		opacity: 0;
		padding-bottom: var(--pd-9);
		padding-top: var(--pd-4);
		position: fixed;
		right: 0;
		top: 56px;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity, visibility;
		transition-timing-function: var(--animate-easing-standard);
		visibility: hidden;
		z-index: -1;

		&--active {
			opacity: 1;
			visibility: visible;
			z-index: 100;
		}
	}

	&__item {
		position: relative;

		@media (--tablet-landscape-down) {
			padding-bottom: var(--pd-2);
			padding-top: var(--pd-2);
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				&::after {
					background-color: var(--nav-link-mobile-border-color);
					bottom: 0;
					content: '';
					height: 1px;
					left: 50%;
					position: absolute;
					transform: translateX(-50%);
					width: 41px;
				}
			}

			/*@media (--tablet-landscape-up) {
				margin-right: var(--mg-3);
			}

			@media (--desktop-up) {
				margin-right: var(--mg-6);
			}*/
		}
	}
}
