:root {
	--mobile-btn-color: #ffffff;
	--mobile-btn-active-color: #191a1d;
}

.top-header {
	align-items: center;
	display: flex;
	justify-content: space-between;

	&__left {
		align-items: center;
		display: flex;
		flex-grow: 1;

		@media (--tablet-landscape-down) {
			justify-content: space-between;
			width: 100%;
		}

		> div:not(:last-child) {
			@media (--tablet-landscape-up) {
				margin-right: var(--mg-4);
			}
		}
	}

	&__right {
		align-items: center;
		display: flex;

		@media (--tablet-landscape-down) {
			display: none;
		}

		> div:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}

.top-header-mobile-options {
	align-items: center;
	display: flex;

	@media (--tablet-landscape-up) {
		display: none;
	}

	&__item {
		display: inline-flex;

		&:not(:last-child) {
			margin-right: var(--mg-2);
		}
	}
}

.mobile-search-btn {
	height: 16px;
	position: relative;
	width: 16px;

	> svg {
		stroke: var(--mobile-btn-color);
	}

	.header--fixed & > svg {
		stroke: var(--mobile-btn-active-color);
	}
}

.menu-button {
	height: 11px;
	position: relative;
	width: 18px;

	&--active {
		height: 18px;
	}

	&__line {
		background-color: var(--mobile-btn-color);
		border-radius: 1px;
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: ease;

		.header--fixed & {
			background-color: var(--mobile-btn-active-color);
		}

		&--top {
			top: 0;

			.menu-button--active & {
				background-color: var(--mobile-btn-active-color);
				top: 8px;
				transform: rotate(-45deg);
			}
		}

		&--middle {
			top: 5px;
			.menu-button--active & {
				opacity: 0;
			}
		}

		&--bottom {
			top: 10px;

			.menu-button--active & {
				background-color: var(--mobile-btn-active-color);
				top: 8px;
				transform: rotate(45deg);
			}
		}
	}
}
