.login-popup {
	bottom: 0;
	position: fixed;
	transition-duration: var(--animate-duration-effect);
	transition-timing-function: var(--animate-easing-standard);
	width: 464px;
	z-index: 103;

	@media (--tablet-landscape-down) {
		left: 0;
		opacity: 0;
		right: 0;
		top: 56px;
		transition-property: visibility, opacity;
		visibility: hidden;
		width: auto;
	}

	@media (--tablet-landscape-up) {
		right: -100%;
		top: 0;
		transition-property: right;
	}

	&::before {
		background-color: var(--back-trans-color);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: visibility, opacity;
		transition-timing-function: var(--animate-easing-standard);
		visibility: hidden;
	}

	&--active {
		@media (--tablet-landscape-down) {
			opacity: 1;
			visibility: visible;
		}

		@media (--tablet-landscape-up) {
			right: 0;
		}

		&::before {
			@media (--tablet-landscape-up) {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__close {
		height: 16px;
		position: absolute;
		right: 16px;
		top: -40px;
		width: 16px;

		> svg {
			stroke: var(--link-black-color);
		}
	}

	&__box {
		background-color: var(--back-color);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__inner {
		padding-bottom: var(--pd-5);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-4);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-10);
			padding-left: var(--pd-6);
			padding-right: var(--pd-6);
			padding-top: var(--pd-9);
		}
	}

	&__head {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--mg-3);
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-4);
		line-height: var(--lh-4);
		margin-bottom: 0;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
		}
	}

	&__subtitle {
		color: var(--text-grey-color);
		font-size: var(--fz-2);
		font-weight: 500;
		line-height: var(--lh-2);
		margin-bottom: 0;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&__form {
		margin-bottom: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-7);
		}
	}

	&__mobile-close {
		margin-top: var(--mg-4);

		@media (--tablet-landscape-up) {
			display: none;
		}
	}
}

.login-form {
	&__field {
		margin-bottom: var(--mg-3);
	}

	&__submit {
		align-items: center;
		display: flex;

		@media (--tablet-landscape-down) {
			flex-direction: column;
		}
	}

	&__btn {
		@media (--tablet-landscape-down) {
			text-align: center;
			width: 100%;
		}

		&:not(:last-child) {
			margin-right: var(--mg-3);

			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-1);
				margin-right: 0;
			}
		}
	}
}

.login-popup-social {
	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-2);

			@media (--tablet-landscape-up) {
				margin-bottom: var(--mg-3);
			}
		}
	}
}
