.order-table {
	@media (--tablet-landscape-up) {
		border-collapse: collapse;
		display: table;
		width: 100%;
	}

	&__head {
		display: none;

		@media (--tablet-landscape-up) {
			background-color: var(--table-head-color);
			display: table-row;
			height: 30px;

			> div {
				display: table-cell;
				padding-left: var(--pd-3);
				padding-right: var(--pd-3);
				vertical-align: middle;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

.order-item {
	@media (--tablet-landscape-down) {
		background-color: var(--back-grey-color);
		display: block;

		&:not(:last-child) {
			margin-bottom: var(--mg-3);
		}

		> div {
			padding-top: var(--pd-2);

			&:not(:last-child) {
				border-bottom-color: var(--table-head-border-color);
				border-bottom-style: solid;
				border-bottom-width: 1px;
				padding-bottom: var(--pd-2);
			}
		}
	}

	@media (--tablet-landscape-up) {
		display: table-row;

		&:not(:last-child) {
			border-bottom-color: var(--table-head-border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}

		> div {
			display: table-cell;
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
			vertical-align: middle;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.order-title {
	color: var(--table-head-text-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	white-space: nowrap;

	@media (--tablet-landscape-down) {
		margin-bottom: var(--mg-1);
	}
}

.bill-info {
	align-items: center;
	display: flex;
	position: relative;

	@media (--tablet-landscape-down) {
		align-items: flex-start;
	}

	&__icon {
		height: 30px;
		width: 24px;
	}

	&__text {
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-left: var(--mg-2);
	}

	&__price {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		text-decoration: underline;
		width: fit-content;
	}

	+ .bill-info {
		margin-top: var(--mg-2);

		@media (--tablet-landscape-up) {
			padding-left: 44px;

			&::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.279' height='41.349' viewBox='0 0 27.279 41.349'%3E%3Cpath id='Path_636' data-name='Path 636' d='M17639.813,9567.27v32.754s-.248,8.095,6.975,8.095h19.8' transform='translate(-17639.309 -9567.27)' fill='none' stroke='%23505f80' stroke-width='1'/%3E%3C/svg%3E%0A");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				height: 40px;
				left: 13px;
				position: absolute;
				top: -19px;
				width: 26px;
			}
		}
	}
}
