:root {
	--popup-box-back-color: rgba(0, 0, 0, 0.3);
	--popup-back-color: #ffffff;
	--popup-img-back: rgba(255, 255, 255, 0.5);
}

.popup-box-close-box {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.popup-box {
	align-items: flex-start;
	background-color: var(--popup-box-back-color);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 56px;
	transition-duration: var(--animate-duration-effect);
	transition-property: visibility, opacity;
	transition-timing-function: var(--animate-easing-standard);
	visibility: hidden;
	z-index: 103;

	@media (--tablet-landscape-up) {
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		padding-bottom: var(--pd-12);
		padding-top: var(--pd-12);
		top: 0;
	}

	&--active {
		opacity: 1;
		visibility: visible;
	}

	&__inner {
		display: inline-block;
		position: relative;

		@media (--tablet-landscape-down) {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		@media (--tablet-landscape-up) {
			max-width: 90%;
			width: 800px;

			&--info {
				width: 482px;
			}
		}
	}
}

.popup-box-close {
	align-items: center;
	display: flex;
	font-size: var(--fz-0);
	height: 16px;
	position: absolute;
	right: 16px;
	top: -40px;
	width: 16px;

	@media (--tablet-landscape-up) {
		color: var(--link-white-color);
		height: 23px;
		line-height: 23px;
		right: 0;
		top: -32px;
		width: auto;
	}

	> svg {
		stroke: var(--link-black-color);

		@media (--tablet-landscape-up) {
			align-items: center;
			border-bottom-color: var(--link-white-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-left-color: var(--link-white-color);
			border-left-style: solid;
			border-left-width: 1px;
			border-radius: 50%;
			border-right-color: var(--link-white-color);
			border-right-style: solid;
			border-right-width: 1px;
			border-top-color: var(--link-white-color);
			border-top-style: solid;
			border-top-width: 1px;
			display: flex;
			height: 21px;
			justify-content: center;
			margin-left: var(--mg-1);
			padding-bottom: 3px;
			padding-left: 3px;
			padding-right: 3px;
			padding-top: 3px;
			stroke: var(--link-white-color);
			width: 21px;
		}
	}
}

.popup {
	background-color: var(--popup-back-color);
	overflow: hidden;
	position: relative;
	width: 100%;

	@media (--tablet-landscape-down) {
		bottom: 0;
		left: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.popup-content {
	padding-bottom: var(--pd-4);
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	padding-top: var(--pd-4);
	position: relative;

	@media (--tablet-landscape-up) {
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);
		padding-top: var(--pd-5);
	}

	&--no-pb {
		padding-bottom: 0 !important;
	}

	&--grey {
		background-color: var(--back-grey-color);
	}

	&:last-child {
		padding-bottom: var(--pd-5);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-6);
		}
	}

	&--feedback,
	&--feedback:last-child {
		@media (--tablet-landscape-up) {
			margin-left: auto;
			margin-right: auto;
			padding-bottom: var(--pd-14);
			padding-top: var(--pd-8);
			width: 70%;
		}
	}

	&__head {
		margin-bottom: var(--mg-6);
	}

	&__inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		overflow: hidden;
		position: relative;

		@media (--tablet-landscape-up) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__col {
		width: 100%;

		@media (--tablet-landscape-up) {
			width: calc(50% - 16px);
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
			}
		}
		> div {
			&:not(:last-child) {
				margin-bottom: var(--mg-3);
			}
		}
	}
}

.popup-title {
	color: var(--text-main-color);
	font-size: var(--fz-4);
	font-weight: 400;
	line-height: var(--lh-4);
	margin-bottom: var(--mg-2);

	@media (--tablet-landscape-up) {
		font-size: var(--fz-5);
		line-height: var(--lh-5);
	}

	&--small {
		font-size: var(--fz-3);
		line-height: var(--lh-3);
	}

	> strong {
		font-weight: 500;
	}
}

.popup-subtitle {
	color: var(--text-main-color);
	font-size: var(--fz-3);
	font-weight: 500;
	line-height: var(--lh-3);
	margin-bottom: var(--mg-4);
}

.popup-name {
	color: var(--text-main-color);
	font-size: var(--fz-6);
	font-weight: 400;
	line-height: var(--lh-6);
	margin-bottom: var(--mg-2);

	@media (--tablet-landscape-up) {
		font-size: 32px;
		line-height: 42px;
	}
}

.popup-text {
	color: var(--text-main-color);
	font-size: var(--fz-1);
	line-height: var(--lh-1);
	margin-bottom: var(--mg-2);
}

.popup-content-flex {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}

.popup-content-back {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&__img {
		bottom: 0;
		left: 15%;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		@media (--tablet-landscape-up) {
			left: 50%;
		}

		> img {
			object-position: center left;
			opacity: 0.1;
			@extend .back-img-contain;
		}
	}
}

.popup-info {
	background-color: var(--popup-back-color);
	overflow: hidden;
	position: relative;
	width: 100%;

	@media (--tablet-landscape-down) {
		bottom: 0;
		left: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		padding-bottom: var(--pd-4);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-4);
		position: absolute;
		right: 0;
		top: 0;
	}

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-13);
		padding-left: var(--pd-12);
		padding-right: var(--pd-12);
		padding-top: var(--pd-13);
		text-align: center;
	}
}
