<div class="offer-slider">
	<div class="offer-slider__container swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home1.jpg" alt=""/>
			</div>
			<div class="swiper-slide">
				<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/home2.jpg" alt=""/>
			</div>
		</div>
	</div>
	<h2 class="offer-slider__title">Ипотека от 7,5 %</h2>
</div>
