<div class="flats-content tab js-tabs-content" id="tab-4">
	<div class="flat-slider">
		<div class="flat-slider__container swiper-container">
			<div class="swiper-wrapper">
				<div class="flat-slider__slide swiper-slide">
					<img class="flat-slider__img img-furniture-one penthouses-img" data-level="1" src="images/furniture/plan-6-1-1.jpg" alt=""/>
					<img class="flat-slider__img img-furniture-two penthouses-img" data-level="2" src="images/furniture/plan-6-1-2.jpg" alt=""/>
					<img class="flat-slider__img img-empty-one penthouses-img" data-level="1" src="images/empty/plan-6-1-1.jpg" alt=""/>
					<img class="flat-slider__img img-empty-two penthouses-img" data-level="2" src="images/empty/plan-6-1-2.jpg" alt=""/>
					<div class="penthouses">
						<div class="penthouses__title">7 эксклюзивных пентхаусов площадью от 300 м2</div>
						<div>Панировки высылаем по запросу</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</div>
