:root {
	--tile-lbl-text-color: #ffffff;
	--tile-lbl-green-color: linear-gradient(to right, #10baa8 0%, #088477 100%);
	--tile-lbl-blue-color: linear-gradient(to right, #3b5afb 0%, #054077 100%);
	--tile-lbl-red-color: linear-gradient(to right, #e31a15 0%, #c10b06 100%);
}

.tile-lbl {
	border-radius: var(--br-1);
	color: var(--tile-lbl-text-color);
	font-size: 10px;
	font-weight: 500;
	height: 24px;
	line-height: 24px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;

	@media (--tablet-landscape-up) {
		font-size: var(--fz-1);
		height: 40px;
		line-height: 40px;
	}

	+ .tile-lbl {
		margin-top: var(--mg-1);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-2);
		}
	}

	&--small {
		height: 32px;
		line-height: 32px;
		padding-left: 20px;
		padding-right: 20px;
	}

	&--green {
		background-image: var(--tile-lbl-green-color);
	}

	&--blue {
		background-image: var(--tile-lbl-blue-color);
	}

	&--red {
		background-image: var(--tile-lbl-red-color);
	}
}
