.h-tile-service-slide {
	height: auto;
	min-height: 344px;
	width: 240px;

	@media (--tablet-landscape-up) {
		height: 468px;
		max-width: 624px;
		width: 45%;
	}

	&:not(:last-child) {
		margin-right: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-right: var(--mg-4);
		}
	}
}

.service-tile {
	height: 100%;
	position: relative;
	width: 100%;

	&__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		> img {
			@extend .back-img-cover;
		}

		&::before {
			background-image: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}

		&::after {
			background-color: rgba(0, 0, 0, 0.4);
			bottom: 0;
			content: '';
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition-duration: var(--animate-duration-effect);
			transition-property: visibility, opacity;
			transition-timing-function: var(--animate-easing-standard);
			visibility: hidden;
			z-index: 2;
		}

		.service-tile:hover &::after {
			opacity: 1;
			visibility: visible;
		}
	}

	&__inner {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		padding-bottom: var(--pd-5);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-5);
		position: relative;
		width: 100%;
		z-index: 2;

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-5);
			padding-right: 40%;
			padding-top: var(--pd-8);
		}

		> div {
			@media (--tablet-landscape-down) {
				padding-right: 10%;
			}
		}
	}

	&__title {
		color: var(--text-white-color);
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-down) {
			padding-right: 20%;
		}

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
			margin-bottom: var(--mg-5);
		}
	}

	&__address {
		color: var(--text-white-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-3);
	}

	&__phone {
		color: var(--link-white-color);
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		line-height: 26px;
		margin-bottom: var(--mg-2);
		text-decoration: none;

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-3);
		}
	}

	&__clock {
		color: var(--text-white-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-6);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-9);
		}
	}
}
