.logo-slide {
	display: block;
	text-decoration: none;

	&__media {
		display: block;
		margin-bottom: var(--mg-3);
		position: relative;
		width: 100%;

		@media (--tablet-landscape-down) {
			height: 248px;
		}

		&::after {
			@media (--tablet-landscape-up) {
				content: '';
				display: block;
				padding-bottom: 70%;
			}
		}
	}
}

.logo-slide-media {
	background-color: var(--back-grey-color);
	display: block;
	height: 100%;
	position: relative;
	text-align: center;
	width: 100%;

	@media (--tablet-landscape-up) {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	> img {
		max-width: 200px;
		width: 50%;
		@extend .back-img-contain;
	}
}
