:root {
	--news-tile-media-hover-color: linear-gradient(to bottom, rgba(5, 64, 119, 0.7) 0%, rgba(59, 90, 251, 0.7) 100%);
	--news-tile-media-icon-hover-color: #ffffff;
}

.news-slide {
	display: block;
	height: 100%;
	text-decoration: none;

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}

	&__media {
		display: block;
		margin-bottom: var(--mg-3);
		position: relative;
		width: 100%;

		@media (--tablet-landscape-down) {
			height: 248px;
		}

		&::after {
			@media (--tablet-landscape-up) {
				content: '';
				display: block;
				padding-bottom: 100%;
			}
		}

		&--large {
			@media (--tablet-landscape-down) {
				height: 392px;
			}

			&::after {
				@media (--tablet-landscape-up) {
					padding-bottom: 130%;
				}
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		margin-bottom: var(--mg-1);
		transition-duration: var(--animate-duration-effect);
		transition-property: color;
		transition-timing-function: var(--animate-easing-standard);
		white-space: pre-line;

		.news-slide.has-hover:hover &,
		.news-slide__media.has-hover:hover ~ & {
			color: var(--text-light-blue-color);
		}
	}

	&__desc {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		padding-right: 5%;
		transition-duration: var(--animate-duration-effect);
		transition-property: color;
		transition-timing-function: var(--animate-easing-standard);

		.news-slide.has-hover:hover &,
		.news-slide__media.has-hover:hover ~ & {
			color: var(--text-light-blue-color);
		}
	}

	&__links {
		> div {
			display: flex;

			a {
				margin-left: 5px;
				text-decoration: none;
			}
		}
	}
}

.news-slide-media {
	display: block;
	height: 100%;
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	> img {
		@extend .back-img-cover;
	}

	.news-slide__media--large & {
		> img {
			@extend .back-img-contain;
		}
	}

	&__hover {
		background-image: var(--news-tile-media-hover-color);
		bottom: 0;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity, visibility;
		transition-timing-function: var(--animate-easing-standard);
		visibility: hidden;

		.news-slide.has-hover:hover &,
		.news-slide__media.has-hover:hover & {
			opacity: 1;
			visibility: visible;
		}

		> svg {
			fill: var(--news-tile-media-icon-hover-color);
			height: 48px;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 48px;
		}
	}
}
