:root {
	--tile-blue-back-color: linear-gradient(to top, #3b5afb 0%, #3b5afb 0%, #054077 100%);
	--tile-blue-back-hover-color: #3b5afb;
	--tile-blue-text-color: #ffffff;
}

.tile-blue {
	background-image: var(--tile-blue-back-color);
	color: var(--tile-blue-text-color);
	display: block;
	height: 100%;
	padding-bottom: var(--pd-6);
	padding-left: var(--pd-3);
	padding-right: var(--pd-9);
	padding-top: var(--pd-5);
	position: relative;
	text-decoration: none;

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-14);
		padding-left: var(--pd-4);
		padding-right: 30%;
		padding-top: var(--pd-7);
	}

	&::before {
		background-color: var(--tile-blue-back-hover-color);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity;
		transition-timing-function: var(--animate-easing-standard);
		z-index: 0;
	}

	&.has-hover:hover {
		color: var(--tile-blue-text-color);

		&::before {
			opacity: 1;
		}
	}

	&--large {
		@media (--desktop-up) {
			padding-bottom: var(--pd-16);
		}
	}

	&--step {
		height: 100%;
		padding-bottom: var(--pd-8);
		padding-right: var(--pd-5);
		padding-top: var(--pd-3);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-11);
			padding-left: var(--pd-3);
			padding-right: var(--pd-6);
			padding-top: var(--pd-4);
		}

		&::after {
			bottom: -40px;
			color: var(--text-sky-color);
			content: attr(data-step);
			font-size: 84px;
			line-height: 84px;
			position: absolute;
			right: var(--pd-3);

			@media (--tablet-landscape-up) {
				right: var(--pd-6);
			}
		}
	}

	> * {
		position: relative;
		z-index: 1;
	}

	&__title {
		font-size: var(--fz-1);
		font-weight: 400;
		line-height: var(--lh-1);

		> span {
			display: block;
		}

		&--large {
			font-size: 20px;
			font-weight: 500;
			line-height: 28px;
			margin-bottom: var(--mg-1);

			@media (--tablet-landscape-up) {
				font-size: var(--fz-5);
				line-height: var(--lh-5);
			}
		}
	}

	&__text {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-3);
	}

	&__icon {
		height: 40px;
		position: absolute;
		right: 32px;
		top: 32px;
		transition-duration: var(--animate-duration-effect);
		transition-property: right;
		transition-timing-function: var(--animate-easing-standard);
		width: 40px;

		@media (--tablet-landscape-up) {
			right: 48px;
			top: 51px;
		}
	}

	&.has-hover:hover .tile-blue__icon {
		right: 40px;
	}
}
