:root {
	--tile-media-back-color: #f6f6f8;
	--tile-media-pagination-color: #505f80;
	--tile-option-color: #505f80;
}

.tile {
	&--comparison {
		@media (--tablet-landscape-down) {
			padding-top: 34px;
		}
	}

	&__media {
		height: 248px;
		margin-bottom: var(--mg-3);
		position: relative;
		width: 100%;

		@media (--tablet-landscape-up) {
			height: 352px;
		}

		.tile--comparison & {
			@media (--tablet-landscape-down) {
				height: 200px;
			}

			@media (--only-phone) {
				height: 128px;
			}
		}
	}

	&__price-info {
		margin-bottom: var(--mg-3);
	}

	&__links {
		align-items: center;
		display: flex;
		flex-direction: column;

		@media (--tablet-landscape-up) {
			flex-direction: row;
			padding-right: 25%;
		}

		a,
		button {
			&:not(:last-child) {
				margin-bottom: var(--mg-2);

				@media (--tablet-landscape-up) {
					margin-bottom: 0;
					margin-right: var(--mg-3);
				}
			}
		}
	}
}

.tile-slider {
	background-color: var(--tile-media-back-color);
	height: 100%;
	position: relative;
	width: 100%;

	&__container,
	.swiper-wrapper,
	&__slide {
		height: 100%;
		width: 100% !important;
	}

	[data-tile-hover] {
		height: calc(100% - 34px);

		.tile-slider__slide {
			height: calc(100% + 34px);
		}

		+ .tile-slider__pagination {
			bottom: 0 !important;
			display: flex;
			height: 34px;
			padding-top: 12px;
		}
	}

	&__slide {
		align-items: center;
		display: flex;
		justify-content: center;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		img {
			@extend .back-img-contain;
		}
	}

	&__pagination {
		bottom: 16px !important;
		left: 16px !important;
		position: absolute;
		width: auto !important;

		.tile--comparison & {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}

		.swiper-pagination-bullet {
			background-color: var(--tile-media-pagination-color);
			height: 4px;
			margin-left: 4px;
			margin-right: 4px;
			opacity: 0.6;
			position: relative;
			width: 4px;

			&::before {
				border-bottom-color: transparent;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-left-color: transparent;
				border-left-style: solid;
				border-left-width: 1px;
				border-radius: 50%;
				border-right-color: transparent;
				border-right-style: solid;
				border-right-width: 1px;
				border-top-color: transparent;
				border-top-style: solid;
				border-top-width: 1px;
				content: '';
				height: 8px;
				left: -2px;
				position: absolute;
				top: -2px;
				width: 8px;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;

			&::before {
				border-bottom-color: var(--tile-media-pagination-color);
				border-left-color: var(--tile-media-pagination-color);
				border-right-color: var(--tile-media-pagination-color);
				border-top-color: var(--tile-media-pagination-color);
			}
		}
	}
}

.tile-options {
	align-items: center;
	display: flex;
	position: absolute;
	right: 16px;
	top: 16px;
	z-index: 1;

	@media (--tablet-landscape-up) {
		right: 24px;
		top: 24px;
	}

	.tile--comparison & {
		@media (--tablet-landscape-down) {
			right: 0;
			top: -30px;
		}
	}

	&__item {
		display: inline-flex;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.tile-option {
	display: inline-block;
	height: 22px;
	transform: translateZ(0);
	width: 22px;

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	> svg {
		fill: var(--tile-option-color);
	}
}

.tile-title {
	color: var(--text-main-color);
	font-size: var(--fz-3);
	line-height: var(--lh-3);
	margin-bottom: var(--mg-3);

	@media (--tablet-landscape-up) {
		padding-right: 25%;
	}
}

.tile-hint {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	margin-top: var(--mg-1);
}

.tile-lbl-box {
	left: 16px;
	position: absolute;
	top: 16px;
	z-index: 1;
}

.tile-comparison {
	align-items: center;
	display: flex;

	@media (--tablet-landscape-down) {
		flex-direction: column;
		z-index: 103;
	}

	&__media {
		height: 100px;
		margin-right: var(--mg-3);
		min-width: 100px;
		padding-bottom: 10px;
		padding-top: 10px;
		width: 100px;

		@media (--tablet-landscape-down) {
			margin-bottom: var(--mg-3);
			margin-right: 0;
		}

		img {
			@extend .back-img-contain;
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}
}
