.feedback-tile {
	background-color: var(--back-grey-color);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding-bottom: var(--pd-6);
	padding-left: var(--pd-3);
	padding-right: var(--pd-3);
	padding-top: var(--pd-6);

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-4);
		padding-right: var(--pd-6);
		padding-top: var(--pd-8);
	}

	&--popup {
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-3);
			padding-left: var(--pd-6);
			padding-top: 0;
		}
	}

	&__inner {
		margin-bottom: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-8);
		}
	}

	&__title {
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		margin-bottom: var(--mg-2);
		margin-top: var(--mg-3);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-3);
			margin-top: var(--mg-4);
		}

		.feedback-tile--popup & {
			font-size: var(--fz-4);
			margin-top: var(--mg-4);

			@media (--tablet-landscape-up) {
				font-size: var(--fz-5);
				line-height: var(--lh-5);
			}
		}
	}

	&__text {
		margin-bottom: var(--mg-2);
	}
}
