.banner-small {
	position: relative;
	width: 100%;

	&__img {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		&::before {
			background-image: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}

		> img {
			@extend .back-img-cover;
		}
	}
}

.banner-small-info {
	padding-bottom: var(--pd-6);
	padding-top: 90px;
	position: relative;
	z-index: 2;

	@media (--tablet-landscape-up) {
		padding-top: 240px;
	}

	&__head {
		margin-top: var(--mg-2);
	}
}

.banner-small-info-title {
	color: var(--text-white-color);
	font-size: var(--fz-5);
	font-weight: 400;
	line-height: var(--lh-5);
	margin-bottom: 0;

	@media (--tablet-landscape-up) {
		font-size: var(--fz-6);
		line-height: var(--lh-6);
		width: 70%;
	}
}
