:root {
	--banner-pagination-color: #ffffff;
}

.banner {
	position: relative;
}

.banner-slider {
	height: 100vh;
	position: relative;
	width: 100%;

	&__container,
	.swiper-wrapper {
		height: 100%;
	}

	&__slide {
		height: auto;
		width: 100%;

		> img {
			@extend .back-img-cover;
		}

		&::before {
			background-image: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}
	}
}

.banner-slider-pagination {
	bottom: 180px !important;
	left: auto !important;
	position: absolute;
	right: var(--pd-5);
	width: auto !important;

	@media (--only-phone) {
		bottom: 96px !important;
		left: var(--pd-2) !important;
		right: auto !important;
	}

	@media (min-width: 1400px) {
		right: calc(((100% - 1400px) / 2) + 48px);
	}

	.swiper-pagination-bullet {
		background-color: var(--banner-pagination-color);
		margin-left: var(--mg-1) !important;
		margin-right: var(--mg-1) !important;
		opacity: 0.6;
		position: relative;

		&::before {
			border-bottom-color: transparent;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-left-color: transparent;
			border-left-style: solid;
			border-left-width: 1px;
			border-radius: 50%;
			border-right-color: transparent;
			border-right-style: solid;
			border-right-width: 1px;
			border-top-color: transparent;
			border-top-style: solid;
			border-top-width: 1px;
			content: '';
			height: 16px;
			left: -4px;
			position: absolute;
			top: -4px;
			width: 16px;
		}
	}

	.swiper-pagination-bullet-active {
		opacity: 1;

		&::before {
			border-bottom-color: var(--banner-pagination-color);
			border-left-color: var(--banner-pagination-color);
			border-right-color: var(--banner-pagination-color);
			border-top-color: var(--banner-pagination-color);
		}
	}
}

.banner-button-prev.swiper-button-prev,
.banner-button-next.swiper-button-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: none;
	height: 48px;
	width: 24px;

	@media (--desktop-up) {
		display: block;
	}

	@media (min-width: 1500px) {
		height: 96px;
		width: 48px;
	}

	&::after {
		display: none;
	}
}

.banner-button-prev.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49.061' height='96.707' viewBox='0 0 49.061 96.707'%3E%3Cpath id='Path_109' data-name='Path 109' d='M-16258-22541l-48,48,48,48' transform='translate(16306.707 22541.354)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
	left: var(--pd-1);

	@media (min-width: 1548px) {
		left: calc(((100% - 1400px) / 2) - 40px);
	}
}

.banner-button-next.swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49.061' height='96.707' viewBox='0 0 49.061 96.707'%3E%3Cpath id='Path_108' data-name='Path 108' d='M-16306-22541l48,48-48,48' transform='translate(16306.354 22541.354)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
	right: var(--pd-1);

	@media (min-width: 1548px) {
		right: calc(((100% - 1400px) / 2) - 40px);
	}
}

.banner-info-box {
	@media (--only-phone) {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.banner-info {
	bottom: 0;
	position: absolute;
	z-index: 2;

	@media (--only-phone) {
		left: var(--pd-2);
		right: var(--pd-2);
		top: 0;
	}

	@media (--phone-up) {
		left: var(--pd-3);
		right: 50%;
	}

	@media (--desktop-up) {
		left: var(--pd-5);
	}

	.wrapper-small {
		height: 100%;
	}

	&__inner {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-top: var(--pd-12);
		width: 60%;

		@media (--phone-up) {
			justify-content: flex-end;
			padding-bottom: 165px;
			padding-top: 0;
			width: 50%;
		}
	}

	&__title {
		color: var(--text-white-color);
		font-size: var(--fz-7);
		font-weight: 400;
		line-height: var(--lh-7);
		margin-bottom: var(--mg-3);

		@media (--only-phone) {
			font-size: 32px;
			line-height: 36px;
		}

		> span {
			white-space: pre-line;
		}

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.397' height='32' viewBox='0 0 22.397 32'%3E%3Cpath id='bolt' d='M15.973,21.2H5.8a.8.8,0,0,1-.647-1.27l12.8-17.6A.8.8,0,0,1,19.373,3L16.422,14.8H26.6a.8.8,0,0,1,.647,1.27l-12.8,17.6A.8.8,0,0,1,13.022,33Zm.85-14.6-9.452,13H17a.8.8,0,0,1,.776.994l-2.2,8.8,9.452-13H15.4a.8.8,0,0,1-.776-.994Z' transform='translate(-4.999 -1.997)' fill='%23fff'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
			content: '';
			display: inline-block;
			height: 32px;
			width: 23px;
		}
	}

	&__subtitle {
		color: var(--text-white-color);
		font-size: var(--fz-3);
		font-weight: 500;
		line-height: var(--lh-3);
	}

	&__content {
		@media (--phone-up) {
			margin-bottom: var(--mg-10);
		}

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-14);
		}

		@media (max-height: 768px) and (min-width: 960px) {
			margin-bottom: var(--mg-6);
		}
	}

	&__link {
		@media (--only-phone) {
			bottom: 24px;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.banner-tiles {
	margin-top: var(--mg-8);
	z-index: 3;

	@media (--phone-up) {
		margin-top: -106px;
	}
}
