.accordion-set {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;

	&:not(:last-child) {
		margin-bottom: var(--mg-3);
	}

	&--active {
		overflow: visible;
	}

	&__link {
		text-decoration: none;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-3);
		padding-bottom: var(--pd-4);
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		text-align: left;
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		color: var(--acc-head-text-color);
		background-color: var(--acc-head-back-color);

		@media (--tablet-landscape-up) {
			padding-top: var(--pd-2);
			padding-left: var(--pd-3);
			padding-right: var(--pd-4);
			padding-bottom: var(--pd-2);
			align-items: center;
		}

		&--active {
			background-image: var(--acc-head-back-active-color);
			background-color: transparent;
			color: var(--acc-head-text-active-color);

			&.has-hover:hover {
				color: var(--acc-head-text-active-color);
			}
		}
	}

	&__icon {
		width: 40px;
		min-width: 40px;
		height: 40px;
		fill: var(--acc-head-icon-color);
		transition-duration: var(--animate-duration-effect);
		transition-timing-function: var(--animate-easing-standard);
		transition-property: transform, fill;

		@media (--tablet-landscape-down) {
			margin-left: var(--mg-2);
		}

		.accordion-set__link--active & {
			transform: rotate(-90deg);
			fill: var(--acc-head-icon-active-color);
		}
	}

	&__content {
		display: none;
		padding-bottom: var(--pd-6);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-4);
		background-color: var(--acc-back-color);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
			padding-top: var(--pd-7);
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	&__btn {
		margin-top: var(--mg-6);
	}
}
