.article {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
	}

	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		margin-top: var(--mg-2);
	}

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: var(--mg-3);
	}

	&__title {
		font-size: var(--fz-3);
		line-height: var(--lh-3);

		&--hide-on-mobile {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}

		&--hide-on-desktop {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}
	}

	&__date {
		margin-top: var(--mg-4);
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
	}

	&__btns {
		display: flex;
		margin-top: var(--mg-8);

		@media (--tablet-landscape-down) {
			flex-direction: column;
		}
	}

	&__btn {
		&:not(:last-child) {
			margin-right: var(--mg-3);

			@media (--tablet-landscape-down) {
				margin-right: 0;
				margin-bottom: var(--mg-3);
			}
		}
	}
}

.article-slider {
	position: relative;

	&__slide {
		width: 240px;
		height: 250px;

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-right: var(--mg-2);
			}
		}

		@media (--tablet-landscape-up) {
			position: absolute;
		}

		&:last-child {
			@media (--tablet-landscape-up) {
				width: 35%;
				min-width: 240px;
				top: 140px;
				left: 0;
				z-index: 1;
			}
		}

		&:first-child {
			@media (--tablet-landscape-up) {
				width: 70%;
				top: 0;
				right: 0;
			}
		}

		&--half {
			&:first-child,
			&:last-child {
				@media (--tablet-landscape-up) {
					width: 55%;
					min-width: 55%;
				}
			}
		}

		> img {
			@extend .back-img-cover;
		}
	}
}

.article-images {
	display: flex;
	justify-content: space-between;

	&__item {
		flex: 1 1 calc(50% - 8px);
		max-width: calc(50% - 8px);

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(50% - 12px);
			max-width: calc(50% - 12px);
		}

		&:first-child {
			margin-top: var(--mg-n-3);
			margin-bottom: var(--mg-3);
		}

		> img {
			@extend .back-img-cover;
		}
	}
}
