.banner {
	position: relative;
}

.banner-slider {
	position: relative;
	width: 100%;
	height: 100vh;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 2;
		content: '';
		background: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
	}

	&__container,
	.swiper-wrapper {
		height: 100%;
	}

	&__slide {
		width: 100%;
		height: auto;

		> img {
			@extend .back-img-cover;
		}
	}

	&__pagination {
		position: absolute;
		bottom: 180px !important;
		left: auto !important;
		width: auto !important;
		right: var(--pd-3);

		@media (--only-phone) {
			bottom: 96px !important;
			right: auto;
			left: var(--pd-2);
		}

		.swiper-pagination-bullet {
			background-color: var(--banner-pagination-color);
			opacity: 0.6;
			position: relative;
			margin-left: var(--mg-1);
			margin-right: var(--mg-1);

			&:before {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				left: -4px;
				top: -4px;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-top-style: solid;
				border-top-width: 1px;
				border-left-style: solid;
				border-left-width: 1px;
				border-right-style: solid;
				border-right-width: 1px;
				border-bottom-color: transparent;
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				border-radius: 50%;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;

			&:before {
				border-bottom-color: var(--banner-pagination-color);
				border-top-color: var(--banner-pagination-color);
				border-left-color: var(--banner-pagination-color);
				border-right-color: var(--banner-pagination-color);
			}
		}
	}
}

.banner-info {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	.wrapper-small {
		height: 100%;
	}

	&__inner {
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		padding-top: var(--pd-12);

		@media (--phone-up) {
			justify-content: flex-end;
			padding-bottom: 165px;
			padding-top: 0;
			width: 50%;
		}

		@media (--tablet-landscape-up) {
			width: 25%;
		}
	}

	&__title {
		color: var(--text-white-color);
		font-weight: 400;
		font-size: var(--fz-5);
		line-height: var(--lh-5);
		margin-bottom: var(--mg-3);

		@media (--only-phone) {
			font-size: 32px;
			line-height: 36px;
		}

		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.397' height='32' viewBox='0 0 22.397 32'%3E%3Cpath id='bolt' d='M15.973,21.2H5.8a.8.8,0,0,1-.647-1.27l12.8-17.6A.8.8,0,0,1,19.373,3L16.422,14.8H26.6a.8.8,0,0,1,.647,1.27l-12.8,17.6A.8.8,0,0,1,13.022,33Zm.85-14.6-9.452,13H17a.8.8,0,0,1,.776.994l-2.2,8.8,9.452-13H15.4a.8.8,0,0,1-.776-.994Z' transform='translate(-4.999 -1.997)' fill='%23fff'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			content: '';
			width: 23px;
			height: 32px;
			display: inline-block;
		}
	}

	&__subtitle {
		color: var(--text-white-color);
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		font-weight: 500;
		margin-bottom: var(--mg-8);
	}

	&__link {
		@media (--only-phone) {
			position: absolute;
			left: var(--pd-2);
			right: var(--pd-2);
			bottom: 24px;
		}
	}
}

.banner-tiles {
	z-index: 3;
	margin-top: var(--mg-8);

	@media (--phone-up) {
		margin-top: -106px;
	}
}
