.banner-small {
	position: relative;
	width: 100%;

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 2;
			content: '';
			background: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
		}

		> img {
			@extend .back-img-cover;
		}
	}
}

.banner-small-info {
	position: relative;
	padding-top: 90px;
	padding-bottom: var(--pd-6);
	z-index: 2;

	@media (--tablet-landscape-up) {
		padding-top: 240px;
	}

	&__head {
		margin-top: var(--mg-2);
	}
}

.banner-small-info-title {
	color: var(--text-white-color);
	font-weight: 400;
	font-size: var(--fz-3);
	line-height: var(--lh-3);
	margin-bottom: 0;

	@media (--tablet-landscape-up) {
		font-size: var(--fz-4);
		line-height: var(--lh-4);
		width: 70%;
	}
}
