.btn {
	align-items: center;
	border-radius: var(--br-1);
	cursor: pointer;
	display: inline-flex;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	font-weight: 500;
	min-height: 48px;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	user-select: none;
	white-space: nowrap;
	justify-content: center;

	> span,
	> svg {
		display: inline-block;
		position: relative;
		z-index: 1;
	}

	span + svg,
	svg + span {
		margin-left: var(--mg-1);
	}

	> svg {
		height: 18px;
		transition-duration: var(--animate-duration-enter);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
		width: 24px;
	}

	> svg.btn__icon-left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 16px;
	}

	.msie & {
		text-decoration: none;
	}

	&[disabled] {
		cursor: default;
	}
}

.btn-transparent-grey {
	color: var(--btn-trans-grey-text-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: var(--btn-trans-grey-border-color);
	border-left-color: var(--btn-trans-grey-border-color);
	border-right-color: var(--btn-trans-grey-border-color);
	border-top-color: var(--btn-trans-grey-border-color);
	background-color: var(--btn-trans-grey-back-color);
	@extend .btn;

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		background-color: var(--btn-trans-grey-back-hover-color);
	}
}

.btn-transparent-white {
	color: var(--btn-trans-white-text-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	background-color: transparent;
	border-bottom-color: var(--btn-trans-white-border-color);
	border-left-color: var(--btn-trans-white-border-color);
	border-right-color: var(--btn-trans-white-border-color);
	border-top-color: var(--btn-trans-white-border-color);
	@extend .btn;

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		background-color: var(--btn-trans-white-back-hover-color);
		color: var(--btn-trans-white-text-hover-color);
	}
}

.btn-blue {
	background-image: var(--btn-blue-back-color);
	color: var(--btn-blue-text-color);
	background-size: 200% auto;
	@extend .btn;

	> svg {
		fill: var(--btn-blue-text-color);
	}

	&.has-hover:hover {
		color: var(--btn-blue-text-hover-color);
		background-position: right center;

		> svg {
			fill: var(--btn-blue-text-hover-color);
		}
	}

	&:active,
	&.has-hover:hover:active {
		background-image: var(--btn-blue-back-active-color);
		color: var(--btn-blue-text-active-color);

		> svg {
			fill: var(--btn-blue-text-active-color);
		}
	}

	&:disabled,
	&.has-hover:disabled:hover {
		background-image: var(--btn-blue-back-disabled-color);
		color: var(--btn-blue-text-disabled-color);
	}
}

.btn-circle-icon {
	width: 64px;
	height: 64px;
	justify-content: center;
	border-radius: 50%;
	padding-left: 0;
	padding-right: 0;

	> svg {
		width: 26px;
		height: 26px;
	}
}

.btn-vk {
	background-color: var(--btn-vk-back-color);
	color: var(--btn-social-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-social-text-color);
	}

	&.has-hover:hover,
	&:active,
	&.has-hover:hover:active {
		color: var(--btn-social-text-color);
		background-color: var(--btn-vk-back-hover-color);

		> svg {
			fill: var(--btn-social-text-color);
		}
	}
}

.btn-fb {
	background-color: var(--btn-fb-back-color);
	color: var(--btn-social-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-social-text-color);
	}

	&.has-hover:hover,
	&:active,
	&.has-hover:hover:active {
		color: var(--btn-social-text-color);
		background-color: var(--btn-fb-back-hover-color);

		> svg {
			fill: var(--btn-social-text-color);
		}
	}
}

.btn-google {
	background-color: var(--btn-google-back-color);
	color: var(--btn-social-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-social-text-color);
	}

	&.has-hover:hover,
	&:active,
	&.has-hover:hover:active {
		color: var(--btn-social-text-color);
		background-color: var(--btn-google-back-hover-color);

		> svg {
			fill: var(--btn-social-text-color);
		}
	}
}

.btn-spinner {
	display: none;
	position: relative;

	&--active {
		display: inline-block;
	}

	span {
		animation-direction: alternate;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: spinner;
		animation-timing-function: ease;
		border-radius: 50%;
		display: inline-block;
		height: 12px;
		margin-left: 6px;
		margin-right: 6px;
		width: 12px;
		background-color: var(--btn-back-spinner-color);
	}

	span:nth-child(2) {
		animation-delay: 0.5s;
	}
	span:nth-child(3) {
		animation-delay: 1s;
	}
}

.btn-mobile-full {
	@media (--tablet-landscape-down) {
		width: 100%;
	}
}

.btn-full {
	width: 100%;
}

.btn-medium {
	min-width: 176px;
}
