.catalog-sort {
	display: flex;
	flex-direction: column;

	@media (--tablet-landscape-up) {
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		width: 100%;

		@media (--tablet-landscape-up) {
			width: calc(50% - 16px);
		}

		&:first-child {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
			}
		}

		&--hide-on-mobile {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}

		&--hide-on-desktop {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}
	}
}

.catalog-result {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (--tablet-landscape-down) {
		margin-top: var(--mg-3);
	}

	&__item {
		width: calc(50% - 16px);
		margin-bottom: var(--mg-7);

		@media (--only-phone) {
			width: 100%;
			margin-bottom: var(--mg-6);
		}
	}

	&__item-full {
		width: 100%;
		text-align: center;
	}
}

.catalog-filter {
	@media (--tablet-landscape-down) {
		opacity: 0;
		right: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: var(--back-color);
		width: auto;
		visibility: hidden;
		transition-duration: var(--animate-duration-effect);
		transition-timing-function: var(--animate-easing-standard);
		transition-property: visibility, opacity;
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-2);
		top: 56px;

		&--active {
			opacity: 1;
			z-index: 102;
			visibility: visible;
		}
	}

	&__inner {
		@media (--tablet-landscape-down) {
			right: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			top: 72px;
			overflow: hidden;
			padding-left: var(--pd-2);
			padding-right: var(--pd-2);
			padding-bottom: var(--pd-2);
			overflow-y: auto;
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			display: none;
		}
	}

	&__close {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 16px;
		top: -40px;

		@media (--tablet-landscape-up) {
			display: none;
		}

		> svg {
			stroke: var(--link-black-color);
		}
	}
}
