.checkbox {
	display: flex;
	align-items: center;

	&__input {
		align-items: center;
		background-color: var(--checkbox-back-color);
		border-bottom-color: var(--checkbox-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--checkbox-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--checkbox-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--checkbox-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		height: 32px;
		width: 32px;
		min-width: 32px;
		overflow: hidden;
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color, background-color;
		transition-timing-function: var(--animate-easing-standard);
	}

	&__checked {
		background-image: var(--checkbox-back-checked-color);
		height: 32px;
		opacity: 0;
		transform: translateZ(0);
		transition-duration: var(--animate-duration-micro);
		transition-property: opacity, border;
		transition-timing-function: var(--animate-easing-standard);
		width: 32px;
		display: flex;
		justify-content: center;
		align-items: center;

		:checked ~ .checkbox__input & {
			opacity: 1;
		}
	}

	&__icon {
		fill: var(--checkbox-icon-color);
		width: 20px;
		height: 15px;
	}

	:checked ~ .checkbox__input &__icon {
		animation-duration: var(--animate-duration-enter);
		animation-iteration-count: 1;
		animation-name: hvr-icon-pop;
		animation-timing-function: var(--animate-easing-acceleration);
	}

	&__label {
		color: var(--checkbox-lbl-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);

		a {
			color: var(--link-grey);

			&.has-hover:hover {
				color: var(--link-light-blue-color);
			}
		}
	}

	&__input + &__label,
	&__label + &__input {
		margin-left: var(--mg-2);
	}
}
