.m-slider {
	width: 100%;
	@media (--tablet-landscape-up) {
		overflow: visible;

		&__container {
			overflow: visible;
		}
	}

	&__wrapper {
		@media (--tablet-landscape-up) {
			flex-wrap: wrap;
		}
	}
}

.load-more {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;

	@media (--tablet-landscape-up) {
		flex-direction: row;
	}

	.swiper-wrapper + & {
		margin-top: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-7);
		}
	}

	> * {
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-left: var(--mg-2);
			margin-right: var(--mg-2);
			margin-bottom: 0;
		}
	}

	&--mg {
		margin-top: var(--mg-6);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-7);
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	width: 26px;
	height: 58px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	&:after {
		display: none;
	}
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.061' height='40.707' viewBox='0 0 21.061 40.707'%3E%3Cpath id='Path_119' data-name='Path 119' d='M-16286-22541l-20,20,20,20' transform='translate(16306.707 22541.354)' fill='none' stroke='%23505f80' stroke-width='1'/%3E%3C/svg%3E%0A");
}

.swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.061' height='40.707' viewBox='0 0 21.061 40.707'%3E%3Cpath id='Path_120' data-name='Path 120' d='M-16306-22541l20,20-20,20' transform='translate(16306.354 22541.354)' fill='none' stroke='%23505f80' stroke-width='1'/%3E%3C/svg%3E%0A");
}

.tile-lbl {
	border-radius: var(--br-1);
	font-weight: 500;
	font-size: 10px;
	text-align: center;
	color: var(--tile-lbl-text-color);
	height: 24px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 24px;

	@media (--tablet-landscape-up) {
		height: 40px;
		line-height: 40px;
		font-size: var(--fz-1);
	}

	+ .tile-lbl {
		margin-top: var(--mg-1);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-2);
		}
	}

	&--small {
		height: 32px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 32px;
	}

	&--green {
		background-image: var(--tile-lbl-green-color);
	}

	&--blue {
		background-image: var(--tile-lbl-blue-color);
	}

	&--red {
		background-image: var(--tile-lbl-red-color);
	}
}

.order-num-box {
	color: var(--text-main-color);
	font-size: 32px;
	font-weight: 500;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: var(--border-color);
	border-top-color: var(--border-color);
	border-left-color: var(--border-color);
	border-right-color: var(--border-color);
	background-color: var(--back-color);
	height: 120px;
	line-height: 120px;
	padding-left: var(--pd-7);
	padding-right: var(--pd-7);
	border-radius: var(--br-1);
	text-align: center;
	display: inline-block;

	@media (--only-phone) {
		width: 100%;
	}

	@media (--tablet-landscape-up) {
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
	}
}

.request-box {
	background-color: var(--popup-back-color);
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;

	@media (--tablet-landscape-up) {
		width: 544px;
		padding-top: var(--pd-8);
		padding-left: var(--pd-12);
		padding-right: var(--pd-12);
		padding-bottom: var(--pd-6);
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&__text {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}

	&__hint {
		color: var(--text-light-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
	}
}

.info-img-box {
	position: relative;

	&__back {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		> img {
			@extend .back-img-cover;
		}
	}

	&__inner {
		padding-top: var(--pd-7);
		padding-bottom: var(--pd-7);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		position: relative;
		z-index: 1;

		@media (--tablet-landscape-up) {
			padding-top: var(--pd-16);
			padding-bottom: var(--pd-16);
			padding-left: var(--pd-6);
			padding-right: 50%;
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
			margin-bottom: var(--mg-2);
		}
	}

	&__text {
		color: var(--text-main-color);
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
		}
	}
}

.hide-on-mobile {
	@media (--tablet-landscape-down) {
		display: none;
	}
}
