.fav-btn {
	width: 22px;
	height: 22px;
	display: inline-block;
	transform: translateZ(0);
	position: relative;

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		transition-duration: var(--animate-duration-enter);
		transition-property: opacity;
		transition-timing-function: var(--animate-easing-standard);
	}

	&__icon--not-added {
		fill: var(--fav-button-stroke-color);
		.fav-btn--added & {
			opacity: 0;
		}
	}

	&__icon--added {
		opacity: 0;
		fill: var(--fav-button-fill-color);
		.fav-btn--added & {
			opacity: 1;
		}
	}
}
