.filter {
}

.filter-items {
	display: flex;
	background-color: var(--filter-back-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: var(--filter-border-color);
	border-top-color: var(--filter-border-color);
	border-left-color: var(--filter-border-color);
	border-right-color: var(--filter-border-color);

	&--horizontal {
		flex-direction: column;

		@media (--tablet-landscape-up) {
			flex-direction: row;
		}
	}

	&--vertical {
		flex-direction: column;
	}

	&__submit {
		padding-top: var(--pd-5);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		padding-bottom: var(--pd-4);
	}

	&__submit-btn {
		width: 100%;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: var(--mg-2);
		}
	}

	&__item {
		padding-top: var(--pd-2);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		padding-bottom: var(--pd-2);

		&--desktop-hide {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}

		&:not(:last-child) {
			.filter-items--horizontal & {
				@media (--tablet-landscape-down) {
					border-bottom-style: solid;
					border-bottom-width: 1px;
					border-bottom-color: var(--filter-border-color);
				}

				@media (--tablet-landscape-up) {
					border-right-style: solid;
					border-right-width: 1px;
					border-right-color: var(--filter-border-color);
				}
			}

			.filter-items--vertical & {
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-bottom-color: var(--filter-border-color);
			}
		}
	}
}

.filter-item {
	position: relative;

	&__label {
		color: var(--filter-lbl-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		display: block;
		margin-bottom: var(--mg-2);
	}

	&__flex-r {
		display: flex;
		align-items: center;

		.filter-check:not(:last-child) {
			margin-right: var(--mg-5);
		}
	}

	&__flex-c {
		display: flex;
		flex-direction: column;

		.filter-check:not(:last-child) {
			margin-bottom: var(--mg-2);
		}
	}
}

.filter-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	overflow-x: auto;
}

.filter-radio-items {
	display: flex;
	align-items: center;

	&__radio {
		display: inline-flex;

		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}

.filter-result {
	display: flex;
	align-items: center;
	font-size: var(--fz-4);
	line-height: var(--lh-4);
	color: var(--filter-result-text-color);
	flex-wrap: nowrap;
	white-space: nowrap;

	&--col {
		flex-direction: column;
		align-items: flex-start;
	}

	.filter-radio-items + & {
		margin-left: var(--mg-5);
	}

	&:before {
		content: attr(data-result-lbl);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		color: var(--filter-result-lbl-color);
		margin-right: var(--mg-3);
	}

	&--col:before {
		margin-right: 0;
		margin-bottom: var(--mg-2);
	}
}

.filter-options + .filter-items {
	margin-top: var(--mg-4);
}
