.footer {
	padding-top: var(--pd-8);

	@media (--tablet-landscape-up) {
		padding-top: 0;
	}
}

.footer-nav {
	display: flex;
	padding-top: var(--pd-8);
	padding-bottom: var(--pd-7);
	border-top-color: var(--footer-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (--tablet-landscape-up) {
		justify-content: space-between;
		flex-direction: row;
		align-items: flex-start;
		padding-top: var(--pd-16);
		padding-bottom: var(--pd-8);
	}

	&__col {
		margin-bottom: var(--mg-4);
		text-align: center;

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
			text-align: left;
		}

		&--mobile {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-2);
		}

		&--desktop-hide {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}

		&--mg-1 {
			&:not(:last-child) {
				margin-bottom: var(--mg-3);
			}
		}

		&--mg-2 {
			&:not(:last-child) {
				margin-bottom: var(--mg-5);
			}
		}
	}
}

.footer-nav-link {
	color: var(--footer-nav-color);
	font-size: var(--fz-1);
	line-height: var(--lh-1);
	text-decoration: none;
	font-family: inherit;

	&--large {
		font-weight: 500;
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		color: var(--footer-nav-dark-color);
	}

	&.has-hover:hover {
		text-decoration: underline;
		color: var(--footer-nav-hover-color);
	}
}

.footer-contact {
	&:before {
		color: var(--text-grey-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		content: attr(data-footer-contact-lbl);
		display: block;
		margin-bottom: 4px;
	}

	&__link {
		text-decoration: none;

		&--phone {
			font-weight: 700;
			color: var(--link-dark-color);
			font-size: var(--fz-1-1);
			line-height: var(--lh-1-1);
		}

		&--email {
			color: var(--link-grey-color);
			font-size: var(--fz-1);
			line-height: var(--lh-1);
		}

		&.has-hover:hover {
			text-decoration: underline;
		}
	}
}

.copyright {
	display: flex;
	padding-top: var(--pd-7);
	padding-bottom: var(--pd-7);
	border-top-color: var(--footer-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (--tablet-landscape-up) {
		justify-content: space-between;
		flex-direction: row;
		align-items: flex-start;
		padding-top: var(--pd-8);
		padding-bottom: var(--pd-8);
	}

	> div:not(:last-child) {
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
		}
	}
}

.copyright-lbl {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
}

.copyright-link {
	color: var(--link-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	text-decoration: underline;

	&.has-hover:hover {
		color: var(--link-light-blue-color);
	}
}

.company {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);

	a {
		color: var(--link-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		font-weight: 700;
		text-decoration: none;
	}
}

.politics {
	display: flex;
	padding-top: var(--pd-4);
	padding-bottom: var(--pd-16);
	border-top-color: var(--footer-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (--tablet-landscape-up) {
		justify-content: space-between;
		flex-direction: row;
		align-items: flex-start;
	}

	&__text {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		flex: 1;
		text-align: center;
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			text-align: left;
			margin-right: var(--mg-7);
			margin-bottom: 0;
		}
	}
}

.footer-brands {
	display: flex;
	align-items: center;

	> img {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}
