.form-box {
	padding-top: var(--pd-5);
	padding-bottom: var(--pd-5);
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	width: 100%;
	position: relative;
	overflow: hidden;

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-7);
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);

		&--pd {
			padding-left: var(--pd-10);
			padding-right: var(--pd-10);
		}
	}

	+ .form-box {
		margin-top: var(--mg-3);
	}

	&--grey {
		background-color: var(--back-grey-color);
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
			margin-bottom: var(--mg-5);
		}

		&--hide-on-desktop {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}

		&--hide-on-mobile {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}
	}

	&__hint {
		color: var(--text-light-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);

		.form + & {
			margin-top: var(--mg-5);

			@media (--tablet-landscape-up) {
				margin-top: var(--mg-7);
			}
		}

		.form-box + & {
			margin-top: var(--mg-2);
		}

		+ .form-box__hint {
			margin-top: var(--mg-2);
		}
	}

	&__tab-content {
		margin-top: var(--mg-4);
	}
}

.form {
	position: relative;

	+ .layout {
		margin-top: var(--mg-5);
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-end;

		@media (--tablet-landscape-up) {
			flex-direction: row;
		}

		&--col {
			flex-direction: column;
		}

		&--mobile-reverse {
			@media (--tablet-landscape-down) {
				flex-direction: column-reverse;
			}
		}

		+ .form__inner {
			margin-top: var(--mg-3);

			@media (--tablet-landscape-up) {
				margin-top: var(--mg-7);

				&--small-mg {
					margin-top: var(--mg-3);
				}
			}
		}
	}

	&__field-box {
		width: 100%;

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
			}
		}

		&--full {
			width: 100%;

			@media (--tablet-landscape-up) {
				min-width: calc(100% - 400px);
				margin-right: var(--mg-5);
			}
		}

		&--half {
			width: 100%;

			@media (--tablet-landscape-up) {
				width: calc(50% - 12px);
			}
		}

		.form__inner--mobile-reverse & {
			&:not(:last-child) {
				@media (--tablet-landscape-down) {
					margin-bottom: 0;
					margin-top: var(--mg-3);
				}
			}
		}

		.form__inner--col & {
			&:not(:last-child) {
				margin-bottom: var(--mg-3);
			}
		}
	}

	&__field {
		&:not(:last-child) {
			margin-bottom: var(--mg-3);
		}

		&--top-mg {
			@media (--tablet-landscape-up) {
				margin-top: 54px;
			}
		}

		&--mg {
			&:not(:last-child) {
				margin-bottom: var(--mg-3);

				@media (--tablet-landscape-up) {
					margin-bottom: var(--mg-7);
				}
			}
		}
	}

	&__hint-small {
		color: var(--text-grey-color);
		font-size: var(--fz-1);
		margin-top: var(--mg-2);
		line-height: var(--lh-1);

		&--extra {
			font-size: var(--fz-0);
			line-height: var(--lh-0);
		}

		.form__title + & {
			margin-top: var(--mg-1);
		}

		> a {
			color: var(--text-grey-color);
		}
	}

	&__head {
		margin-bottom: var(--mg-3);

		&--half {
			@media (--tablet-landscape-up) {
				width: 50%;
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;
		margin-bottom: var(--mg-1);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&__subtitle {
		color: var(--text-main-color);
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		font-weight: 500;
		margin-bottom: var(--mg-3);
	}
}

.form-flex {
	display: flex;
	flex-direction: column;

	@media (--tablet-landscape-up) {
		flex-direction: row;
		align-items: center;
	}

&--mobile-col-rev {
@media (--tablet-landscape-down) {
	flex-direction: column-reverse;
}
 }

	&--col {
		flex-direction: column;
		align-items: flex-start;
	}

	.form__inner + & {
		margin-top: var(--mg-7);
	}

	&:not(:last-child) {
		margin-bottom: var(--mg-5);
	}

	&__item {
		.form-flex--col & {
			width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: var(--mg-2);

			@media (--tablet-landscape-up) {
				margin-right: var(--mg-5);
				margin-bottom: 0;

				.form-flex--col & {
					margin-bottom: var(--mg-2);
					margin-right: 0;
				}
			}
		}
	}
}

.form-cart {
	margin-left: auto;
	margin-right: auto;

	@media (--tablet-landscape-up) {
		width: 416px;
		background-color: var(--back-color);
		border-bottom-color: var(--border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--border-color);
		border-top-style: solid;
		border-top-width: 1px;
	}

	&__item {
		padding-top: var(--pd-4);
		padding-bottom: var(--pd-4);

		@media (--tablet-landscape-down) {
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}

		@media (--tablet-landscape-up) {
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
		}

		&:not(:last-child) {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: var(--info-sidebar-border-color);
		}
	}
}

.form-img-box {
	position: relative;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-8);
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-6);
		padding-right: var(--pd-6);
	}

	&__back {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@media (--tablet-landscape-down) {
			display: none;
		}

		> img {
			@extend .back-img-cover;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 2;
			content: '';
			background: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
		}
	}

	&__inner {
		margin-left: auto;
		position: relative;
		z-index: 2;
		margin-right: auto;
		width: 840px;
		max-width: 100%;

		@media (--tablet-landscape-up) {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-top-style: solid;
			border-top-width: 1px;
			padding-top: var(--pd-8);
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-6);
			padding-right: var(--pd-6);
			padding-top: var(--pd-8);
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-6);
			padding-right: var(--pd-6);
			border-left-style: solid;
			border-left-width: 1px;
			border-right-style: solid;
			border-right-width: 1px;
			border-bottom-color: var(--border-color);
			border-top-color: var(--border-color);
			border-left-color: var(--border-color);
			border-right-color: var(--border-color);
			background-color: var(--back-color);
		}
	}
}

.form-box-back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	&__img {
		position: absolute;
		top: 0;
		left: 15%;
		bottom: 0;
		right: 0;
		width: 100%;

		@media (--tablet-landscape-up) {
			left: 50%;
		}

		> img {
			@extend .back-img-contain;
			opacity: 0.1;
			object-position: center left;
		}
	}
}
