.header {
	padding-top: var(--pd-2);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	transition-duration: var(--animate-duration-effect);
	transition-property: background-color;
	transition-timing-function: var(--animate-easing-standard);
	z-index: 102;

	@media (--tablet-landscape-down) {
		position: fixed;

		&--fixed {
			background-color: var(--mobile-header-back-color);
		}
	}

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-7);
		z-index: 3;
	}

	&--active {
		@media (--tablet-landscape-down) {
			background-color: var(--mobile-header-back-color);
		}
	}

	&__navigation {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: var(--header-border-color);
		padding-bottom: var(--pd-2);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-3);
		}
	}
}

.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__search {
		@media (--tablet-landscape-down) {
			display: none;
		}
	}
}

.top-header-options {
	display: flex;
	align-items: center;

	&--right {
		@media (--tablet-landscape-down) {
			display: none;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}

	&__item.top-header-options__item--mr {
		margin-right: var(--mg-7);
	}

	&__logo {
		margin-right: var(--mg-4);
	}
}

.header-call {
	&:before {
		content: attr(data-header-call-lbl);
		color: var(--header-call-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		display: block;
	}

	&__link {
		color: var(--header-call-color);
		text-decoration: none;
		font-weight: 700;
		font-size: var(--fz-1-1);
		line-height: var(--lh-1-1);

		&.has-hover:hover {
			color: var(--header-call-hover-color);
			text-decoration: underline;
		}
	}
}

.top-header-mobile-options {
	display: flex;
	align-items: center;

	@media (--tablet-landscape-up) {
		display: none;
	}

	&__item {
		display: inline-flex;

		&:not(:last-child) {
			margin-right: var(--mg-2);
		}
	}
}

.mobile-search-btn {
	height: 16px;
	position: relative;
	width: 16px;

	> svg {
		stroke: var(--mobile-btn-color);
	}

	.header--fixed & > svg {
		stroke: var(--mobile-btn-active-color);
	}
}

.menu-button {
	height: 11px;
	position: relative;
	width: 18px;

	&--active {
		height: 18px;
	}

	&__line {
		background-color: var(--mobile-btn-color);
		height: 1px;
		border-radius: 1px;
		left: 0;
		position: absolute;
		right: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: ease;

		.header--fixed & {
			background-color: var(--mobile-btn-active-color);
		}

		&--top {
			top: 0;

			.menu-button--active & {
				top: 8px;
				background-color: var(--mobile-btn-active-color);
				transform: rotate(-45deg);
			}
		}

		&--middle {
			top: 5px;
			.menu-button--active & {
				opacity: 0;
			}
		}

		&--bottom {
			top: 10px;

			.menu-button--active & {
				background-color: var(--mobile-btn-active-color);
				top: 8px;
				transform: rotate(45deg);
			}
		}
	}
}
