.filter-field {
	display: flex;
	position: relative;
	width: 100%;
	align-items: baseline;

	&__label {
		color: var(--filter-lbl-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-right: var(--mg-1);
	}

	&__input {
		background-color: transparent;
		border-bottom-width: 0;
		border-left-width: 0;
		border-radius: 0;
		border-right-width: 0;
		border-top-width: 0;
		color: var(--input-text-color);
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
	}
}
