.field {
	display: block;
	position: relative;
	width: 100%;

	&--required {
		&::after {
			bottom: 11px;
			color: var(--input-placeholder-color);
			content: '*';
			position: absolute;
			right: 24px;
		}

		&.field--correct::after {
			color: var(--input-text-correct-color);
		}

		&.field--incorrect::after {
			color: var(--input-text-incorrect-color);
		}
	}

	&__label {
		color: var(--input-lbl-color);
		display: block;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);
	}

	&__input {
		background-color: var(--input-back-color);
		border-bottom-color: var(--input-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--input-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--input-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--input-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--input-placeholder-color);
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: var(--fz-0);
		height: 48px;
		line-height: 48px;
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		width: 100%;

		&:focus {
			color: var(--input-text-color);
		}

		&--textarea {
			height: 114px;

			&-h {
				height: 144px;
			}
		}

		&--white {
			background-color: var(--input-back-white-color);
		}

		&--transparent {
			background-color: var(--input-back-trans-color);
			border-bottom-color: var(--input-border-trans-color);
			border-left-color: var(--input-border-trans-color);
			border-right-color: var(--input-border-trans-color);
			border-top-color: var(--input-border-trans-color);
			color: var(--input-text-trans-color);
		}

		.field--correct & {
			border-bottom-color: var(--input-border-correct-color);
			border-left-color: var(--input-border-correct-color);
			border-right-color: var(--input-border-correct-color);
			border-top-color: var(--input-border-correct-color);
			color: var(--input-text-correct-color);
		}

		.field--incorrect & {
			border-bottom-color: var(--input-border-incorrect-color);
			border-left-color: var(--input-border-incorrect-color);
			border-right-color: var(--input-border-incorrect-color);
			border-top-color: var(--input-border-incorrect-color);
			color: var(--input-text-incorrect-color);
		}
	}
}
