.layout {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@media (--tablet-landscape-up) {
		flex-direction: row;
		justify-content: space-between;
	}

	&--mobile-reverse {
		@media (--tablet-landscape-down) {
			flex-direction: column-reverse;
		}
	}

	&--mobile-row {
		@media (--phone-up) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&--nowrap {
		flex-wrap: nowrap;
	}

	&__item-full {
		flex: 1 1 100%;
		width: 100%;
	}

	&__item-filter {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 368px;
			width: 368px;
		}

		+ .layout__item-fill-filter {
			@media (--tablet-landscape-up) {
				margin-left: var(--mg-8);
			}
		}
	}

	&__item-fill-filter {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(100% - 432px);
			max-width: calc(100% - 432px);
		}
	}

	&__item-info {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 410px;
			width: 410px;
			margin-top: 0 !important;
		}
	}

	&__item-fill-info {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(100% - 458px);
			max-width: calc(100% - 458px);
		}

		+ .layout__item-info {
			@media (--tablet-landscape-up) {
				margin-left: var(--mg-6);
			}
		}
	}

	&__item-six {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(60% - 16px);
			max-width: calc(60% - 16px);
		}
	}

	&__item-four {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(40% - 16px);
			max-width: calc(40% - 16px);
		}
	}

	&__item-half {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(50% - 16px);
			max-width: calc(50% - 16px);
		}
	}

	&__item-third {
		flex: 1 1 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex: 1 1 calc(33% - 21px);
			max-width: calc(33% - 21px);
		}
	}

	+ .layout {
		margin-top: var(--mg-13);
	}

	+ .layout--no-mg {
		margin-top: 0;
	}

	+ .layout--small-mg {
		margin-top: var(--mg-4);
	}
}

[class*='layout__item'] {
	position: relative;

	margin-bottom: var(--mg-3);

	@media (--tablet-landscape-up) {
		margin-bottom: var(--mg-4);
	}

	/*+ .layout__item-half,
	+ .layout__item-third {
		@media (--tablet-landscape-up) {
			margin-top: 0;
		}
	}*/
}

.layout--mobile-reverse {
	@media (--tablet-landscape-down) {
		[class*='layout__item'] + [class*='layout__item'] {
			margin-top: 0;
			margin-bottom: var(--mg-3);
		}
	}
}
