.link-grey {
	color: var(--link-grey-color);
	text-decoration: none;

	&.has-hover:hover {
		color: var(--link-light-blue-color);
	}

	> svg {
		width: 18px;
		height: 18px;
		margin-right: var(--mg-2);
		vertical-align: middle;
		display: inline-block;
		fill: var(--link-grey-color);
		transition-duration: var(--animate-duration-enter);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
	}

	&.has-hover:hover > svg {
		fill: var(--link-light-blue-color);
	}
}

.link-under {
	text-decoration: underline;
}

.link-small {
	font-size: var(--fz-0);
	line-height: var(--lh-0);
}
