.login-popup {
	position: fixed;
	bottom: 0;
	width: 464px;
	z-index: 102;
	transition-duration: var(--animate-duration-effect);
	transition-timing-function: var(--animate-easing-standard);

	@media (--tablet-landscape-down) {
		opacity: 0;
		right: 0;
		left: 0;
		width: auto;
		visibility: hidden;
		top: 56px;
		transition-property: visibility, opacity;
	}

	@media (--tablet-landscape-up) {
		right: -100%;
		top: 0;
		transition-property: right;
	}

	&:before {
		position: fixed;
		left: 0;
		right: 0;
		content: '';
		bottom: 0;
		top: 0;
		background-color: var(--back-trans-color);
		opacity: 0;
		visibility: hidden;
		transition-duration: var(--animate-duration-effect);
		transition-property: visibility, opacity;
		transition-timing-function: var(--animate-easing-standard);
	}

	&--active {
		@media (--tablet-landscape-down) {
			opacity: 1;
			visibility: visible;
		}

		@media (--tablet-landscape-up) {
			right: 0;
		}

		&:before {
			@media (--tablet-landscape-up) {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__close {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 16px;
		top: -40px;

		> svg {
			stroke: var(--link-black-color);
		}
	}

	&__box {
		background-color: var(--back-color);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__inner {
		padding-top: var(--pd-4);
		padding-bottom: var(--pd-5);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);

		@media (--tablet-landscape-up) {
			padding-top: var(--pd-9);
			padding-bottom: var(--pd-10);
			padding-left: var(--pd-6);
			padding-right: var(--pd-6);
		}
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: var(--mg-3);
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 0;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&__form {
		margin-bottom: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-7);
		}
	}

	&__mobile-close {
		margin-top: var(--mg-4);

		@media (--tablet-landscape-up) {
			display: none;
		}
	}
}

.login-form {
	&__field {
		margin-bottom: var(--mg-3);
	}

	&__submit {
		display: flex;
		align-items: center;

		@media (--tablet-landscape-down) {
			flex-direction: column;
		}
	}

	&__btn {
		@media (--tablet-landscape-down) {
			width: 100%;
			text-align: center;
		}

		&:not(:last-child) {
			margin-right: var(--mg-3);

			@media (--tablet-landscape-down) {
				margin-right: 0;
				margin-bottom: var(--mg-1);
			}
		}
	}
}

.login-popup-social {
	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-2);

			@media (--tablet-landscape-up) {
				margin-bottom: var(--mg-3);
			}
		}
	}
}
