.logo-box {
	width: 120px;

	@media (--tablet-landscape-up) {
		width: 190px;
	}
}

.logo {
	display: inline-block;
	width: 100%;
}

.desktop-logo {
	&.hidden {
		@media (--tablet-landscape-up) {
			display: block !important;
		}
	}

	.header--fixed & {
		@media (--tablet-landscape-down) {
			display: none !important;
		}
	}
}

.mobile-logo {
	@media (--tablet-landscape-up) {
		display: none;
	}

	.header--fixed &.hidden {
		@media (--tablet-landscape-down) {
			display: block !important;
		}
	}
}
