.map-box {
	display: flex;

	@media (--tablet-landscape-down) {
		flex-direction: column-reverse;
	}
}

.map-form-box {
	width: 100%;

	@media (--tablet-landscape-up) {
		width: 512px;
	}
}

.map {
	flex: 1;

	@media (--tablet-landscape-down) {
		height: 60vh;
		margin-bottom: var(--mg-5);
		margin-left: var(--mg-n-2);
		margin-right: var(--mg-n-2);
		width: calc(100% + 32px);
	}
}

.address-map {
	width: 100%;
	height: 100%;
}
