.menu-sidebar {
	@media (--tablet-landscape-down) {
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		overflow-x: auto;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-2);

			@media (--tablet-landscape-down) {
				margin-bottom: 0;
				margin-right: var(--mg-2);
			}
		}
	}
}
