.menu-link {
	cursor: pointer;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	min-height: 48px;
	height: 48px;
	line-height: 48px;
	padding-left: 30px;
	width: 100%;
	padding-right: 30px;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	text-align: center;
	text-decoration: none;
	color: var(--menu-link-text-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-weight: 500;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-radius: var(--br-1);
	white-space: nowrap;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: var(--menu-link-border-color);
	border-left-color: var(--menu-link-border-color);
	border-right-color: var(--menu-link-border-color);
	border-top-color: var(--menu-link-border-color);
	background-color: var(--menu-link-back-color);

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		background-color: var(--menu-link-back-hover-color);
		color: var(--menu-link-text-color);
	}

	&--active {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		background-color: transparent;
		color: var(--menu-link-text-active-color);
		background-image: var(--menu-link-back-active-color);
	}
}
