.navigation-link {
	color: var(--nav-link-color);
	font-size: var(--fz-1-1);
	line-height: var(--lh-1-1);
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-decoration: none;
	position: relative;

	@media (--tablet-landscape-down) {
		color: var(--nav-link-mobile-color);
	}

	&.has-hover:hover {
		color: var(--nav-link-color);
	}

	&--active {
		font-weight: 500;
	}

	> span {
		display: inline-block;
		vertical-align: middle;
	}

	&.has-hover:hover > span {
		text-decoration: underline;
	}

	&__icon {
		width: 15px;
		height: 15px;
		fill: var(--nav-link-color);
		display: inline-block;
		vertical-align: middle;
		margin-right: var(--mg-1);

		@media (--tablet-landscape-down) {
			display: none;
		}
	}
}

.badge {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	text-align: center;
	line-height: 16px;
	color: var(--badge-text-color);
	font-size: 9px;
	background-image: var(--badge-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -26px;
}
