.navigation {
	display: flex;
	align-items: center;
	padding-top: var(--pd-5);

	@media (--tablet-landscape-down) {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		background-color: var(--mobile-header-back-color);
		position: fixed;
		top: 56px;
		right: 0;
		bottom: 0;
		left: 0;
		flex-direction: column;
		padding-top: var(--pd-4);
		padding-bottom: var(--pd-9);
		justify-content: center;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity, visibility;
		transition-timing-function: var(--animate-easing-standard);

		&--active {
			opacity: 1;
			visibility: visible;
			z-index: 100;
		}
	}

	&__item {
		position: relative;

		@media (--tablet-landscape-down) {
			padding-top: var(--pd-2);
			padding-bottom: var(--pd-2);
		}

		&--hide-on-desktop {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				&:after {
					content: '';
					width: 41px;
					height: 1px;
					background-color: var(--nav-link-mobile-border-color);
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			@media (--tablet-landscape-up) {
				margin-right: var(--mg-6);
			}
		}
	}
}
