.number-field {
	display: inline-block;
	position: relative;
	min-width: 136px;

	&__input {
		align-items: center;
		background-color: var(--input-back-white-color);
		border-bottom-color: var(--input-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--input-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--input-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--input-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--input-text-color);
		display: flex;
		height: 48px;
		position: relative;
		justify-content: center;
		line-height: 48px;
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;

		&:before,
		&:after {
			content: '';
			width: 1px;
			position: absolute;
			top: 8px;
			bottom: 8px;
			background-color: var(--input-border-color);
		}

		&:before {
			left: 40px;
		}

		&:after {
			right: 40px;
		}
	}

	&__btn {
		color: var(--input-text-color);
		font-size: 16px;
		height: 48px;
		line-height: 48px;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;

		&--dec {
			left: 0;
		}

		&--inc {
			right: 0;
		}
	}
}
