.popup-box {
	position: fixed;
	top: 56px;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--popup-box-back-color);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition-property: visibility, opacity;
	transition-duration: var(--animate-duration-effect);
	transition-timing-function: var(--animate-easing-standard);
	z-index: 102;

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-12);
		padding-bottom: var(--pd-12);
		top: 0;
		overflow: hidden;
		overflow-y: auto;
	}

	&--active {
		opacity: 1;
		visibility: visible;
	}

	&__close {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 16px;
		top: -40px;

		@media (--tablet-landscape-up) {
			display: none;
		}

		> svg {
			stroke: var(--link-black-color);
		}
	}
}

.popup {
	background-color: var(--popup-back-color);
	position: relative;
	width: 100%;

	@media (--tablet-landscape-down) {
		overflow: hidden;
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	@media (--tablet-landscape-up) {
		width: 800px;
		max-width: 90%;
	}
}

.popup-info {
	background-color: var(--popup-back-color);
	position: relative;
	width: 100%;
	text-align: center;

	@media (--tablet-landscape-down) {
		overflow: hidden;
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding-top: var(--pd-4);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-bottom: var(--pd-4);
	}

	@media (--tablet-landscape-up) {
		width: 482px;
		padding-top: var(--pd-13);
		padding-left: var(--pd-12);
		padding-right: var(--pd-12);
		padding-bottom: var(--pd-13);
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&__text {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}
}

.popup-content {
	padding-top: var(--pd-4);
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	padding-bottom: var(--pd-4);
	position: relative;
	overflow: hidden;

	@media (--tablet-landscape-up) {
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);
		padding-top: var(--pd-5);
	}

	&--feedback {
		@media (--tablet-landscape-up) {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--grey {
		background-color: var(--back-grey-color);
	}

	&:last-child {
		padding-bottom: var(--pd-5);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-6);
		}
	}

	&__inner {
		display: flex;
		position: relative;
		overflow: hidden;
		flex-direction: column;
		flex-wrap: wrap;

		@media (--tablet-landscape-up) {
			justify-content: space-between;
			flex-direction: row;
		}

		+ .popup-content__subtitle {
			margin-top: var(--mg-5);
		}

		+ .popup-content__inner {
			margin-top: var(--mg-3);
		}

		&--mobile-reverse {
			@media (--tablet-landscape-down) {
				flex-direction: column-reverse;
			}
		}

		&--col {
			flex-direction: column;
		}
	}

	&__col {
		width: 100%;

		@media (--tablet-landscape-up) {
			width: calc(50% - 16px);
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
			}
		}

		.popup-content__inner--mobile-reverse & {
			&:not(:last-child) {
				@media (--tablet-landscape-down) {
					margin-top: var(--mg-3);
				}
			}
		}

		> div {
			&:not(:last-child) {
				margin-bottom: var(--mg-3);
			}
		}

		&--full {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: var(--mg-4);
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}

		> strong {
			font-weight: 500;
		}

		+ .popup-form__field {
			margin-top: var(--mg-4);
		}
	}

	&__subtitle {
		color: var(--text-main-color);
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		margin-bottom: var(--mg-4);
		font-weight: 500;
	}

	&__desc {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-5);
		padding-right: 30%;
	}

	&__name {
		color: var(--text-main-color);
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		font-weight: 400;
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			font-size: 32px;
			line-height: 42px;
		}
	}

	&__text {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-2);
	}

	&__hint {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: var(--mg-2);
	}

	&__hint-small {
		color: var(--text-light-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
	}
}

.popup-content-back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	&__img {
		position: absolute;
		top: 0;
		left: 15%;
		bottom: 0;
		right: 0;
		width: 100%;

		@media (--tablet-landscape-up) {
			left: 50%;
		}

		> img {
			@extend .back-img-contain;
			opacity: 0.1;
			object-position: center left;
		}
	}
}

.popup-form {
	&__field {
		&:not(:last-child) {
			margin-bottom: var(--mg-3);
		}

		&--mg {
			@media (--tablet-landscape-up) {
				margin-top: 54px;
			}
		}
	}

	&__submit {
		@media (--tablet-landscape-up) {
			width: 60%;
		}

		&--full {
			width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: var(--mg-3);
		}
	}
}

.popup-content-flex {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}
