.price-box {
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: space-between;

	&--col {
		@media (--tablet-landscape-up) {
			flex-direction: column;
			align-items: flex-start;
			div + div {
				margin-top: var(--mg-1);
			}
		}

		div + div {
			margin-left: var(--mg-1);
		}
	}

	&--no-sb {
		@media (--tablet-landscape-down) {
			justify-content: flex-start;

			> div {
				&:not(:last-child) {
					margin-right: var(--mg-3);
				}
			}
		}
	}
}

.price-lbl {
	margin-bottom: 4px;

	&--large {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);

		@media (--tablet-landscape-up) {
			font-weight: 500;
			font-size: var(--fz-2);
			line-height: var(--lh-2);
		}
	}
}

.no-price {
	font-size: var(--fz-4);
	line-height: var(--lh-4);
	text-decoration: line-through;

	&--small {
		color: var(--text-sky-color);
		font-size: var(--fz-3);
		line-height: var(--lh-3);
	}
}

.price {
	+ .price--old,
	&--old + .price {
		margin-left: var(--mg-2);
	}
	&--large {
		font-size: 20px;
		line-height: 32px;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-4);
			line-height: var(--lh-4);
		}
	}

	&--medium {
		font-size: var(--fz-3);
		line-height: var(--lh-3);

		@media (--tablet-landscape-up) {
			font-size: 32px;
			line-height: 32px;
		}
	}

	&--normal {
		font-size: var(--fz-1-1);
		line-height: var(--lh-1-1);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&--normal-fixed {
		font-size: var(--fz-3);
		line-height: var(--lh-3);
	}

	&--normal-2 {
		font-size: 20px;
		line-height: 32px;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}
	}

	&--small {
		font-size: var(--fz-2);
		line-height: var(--lh-2);

		@media (--tablet-landscape-up) {
			font-size: 20px;
			line-height: 32px;
		}
	}

	&--extra-small {
		font-size: var(--fz-2);
		line-height: var(--lh-2);
	}

	&--bold {
		font-weight: 500;
	}

	&--dark-green {
		color: var(--text-dark-green-color);
	}

	&--green {
		color: var(--text-green-color);
	}

	&--grey {
		color: var(--text-grey-color);
	}

	&--dark {
		color: var(--text-main-color);
	}

	&--old {
		text-decoration: line-through;
	}
}
