.product-content {
	&__box + .product-content__box {
		margin-top: var(--pd-8);

		@media (--tablet-landscape-up) {
			margin-top: var(--pd-12);
		}
	}

	&__head {
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
		}
	}

	&__title {
		margin-bottom: 0;
		color: var(--section-title-color);
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		white-space: pre-line;
		font-weight: 400;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-4);
			line-height: var(--lh-4);
		}
	}
}

.product-slider {
	@media (--tablet-landscape-down) {
		display: none;
	}

	&__hint {
		color: var(--text-grey-color);
		margin-top: var(--mg-4);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		text-align: center;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}

.product-slider-gallery {
	width: 100%;
	height: 505px;
	position: relative;

	&__container,
	.swiper-wrapper,
	&__slide {
		width: 100% !important;
		height: 100%;
	}

	&__slide {
		background-color: var(--tile-media-back-color);
		display: flex;
		align-items: center;
		justify-content: center;
		> img {
			@extend .back-img-contain;
		}
	}

	&__pagination {
		position: absolute;
		bottom: 32px !important;
		left: 32px !important;
		width: auto !important;

		.swiper-pagination-bullet {
			background-color: var(--tile-media-pagination-color);
			opacity: 0.6;
			position: relative;
			margin-left: 4px;
			margin-right: 4px;
			width: 8px;
			height: 8px;

			&:before {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				left: -4px;
				top: -4px;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-top-style: solid;
				border-top-width: 1px;
				border-left-style: solid;
				border-left-width: 1px;
				border-right-style: solid;
				border-right-width: 1px;
				border-bottom-color: transparent;
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				border-radius: 50%;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;

			&:before {
				border-bottom-color: var(--tile-media-pagination-color);
				border-top-color: var(--tile-media-pagination-color);
				border-left-color: var(--tile-media-pagination-color);
				border-right-color: var(--tile-media-pagination-color);
			}
		}
	}
}

.product-options {
	display: flex;
	align-items: center;
	position: absolute;
	top: 32px;
	right: 32px;
	z-index: 1;

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.product-lbl-box {
	position: absolute;
	top: 32px;
	left: 32px;
	z-index: 1;
}

.product-slider-thumbs {
	margin-top: var(--mg-4);

	&__slide {
		cursor: pointer;
	}
}

.product-specifications {
	display: flex;
	flex-wrap: wrap;

	@media (--tablet-landscape-down) {
		justify-content: space-between;
	}

	&__item {
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-down) {
			width: 25%;
		}

		@media (--only-phone) {
			width: 50%;
		}

		@media (--tablet-landscape-up) {
			margin-left: var(--mg-4);
			margin-right: var(--mg-4);
			margin-bottom: var(--mg-5);
		}
	}
}

.product-specification {
	&__box {
		width: 112px;
		height: 112px;
		border-radius: 50%;
		background-color: var(--product-specification-back-color);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: var(--mg-4);
		margin-left: auto;
		margin-right: auto;

		@media (--tablet-landscape-up) {
			width: 136px;
			height: 136px;
		}
	}

	&__icon {
		fill: var(--product-specification-icon-color);
		width: 44px;
		height: 44px;
	}

	&__color {
		width: 56px;
		height: 56px;
		border-radius: 50%;
	}

	&__info {
		text-align: center;
	}

	&__lbl {
		color: var(--text-main-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 400;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-1);
			line-height: var(--lh-1);
			margin-bottom: var(--mg-1);
		}
	}

	&__name {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: 0;
		font-weight: 500;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-2);
			line-height: var(--lh-2);
		}
	}

	&__desc {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: 0;
	}
}

.product-services {
	display: flex;
	justify-content: space-between;

	@media (--tablet-landscape-down) {
		flex-wrap: wrap;
	}

	&__item {
		width: 100%;

		@media (--phone-up) {
			width: calc(50% - 16px);
		}

		@media (--tablet-landscape-up) {
			width: calc(33.3% - 16px);
		}

		&:not(:last-child) {
			margin-bottom: var(--mg-3);

			@media (--tablet-landscape-up) {
				margin-bottom: 0;
			}
		}
	}
}

.product-service {
	background-image: var(--product-service-back-color);
	padding-top: var(--pd-3);
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
	padding-bottom: var(--pd-4);
	color: var(--product-service-text-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-7);
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);
		padding-bottom: var(--pd-4);
	}

	&__title {
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		margin-bottom: var(--mg-1);
	}

	&__text {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-11);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-6);
		}
	}
}

.product-equipment-box {
	margin-top: var(--mg-5);
}

.product-equipment-content {
	&__inner {
		display: flex;
		position: relative;
		flex-direction: column;

		@media (--tablet-landscape-up) {
			justify-content: space-between;
			flex-direction: row;
		}
	}

	&__col {
		width: 100%;

		@media (--tablet-landscape-up) {
			width: calc(50% - 20px);
		}

		&--full {
			width: 100%;
		}
	}

	&__show {
		text-align: center;
		margin-top: var(--mg-4);
	}
}

.product-question-btn {
	margin-top: var(--mg-3);
}

.product-equipment-info {
	+ .product-equipment-info {
		margin-top: var(--mg-5);
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		margin-bottom: var(--mg-2);
	}

	&__item {
		padding-top: var(--pd-1);
		padding-bottom: var(--pd-2);
		padding-right: 20%;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: var(--border-color);
	}

	&__desc {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);
	}

	&__name {
		color: var(--text-light-grey-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}
}

.product-equipment-table {
	width: 100%;
	border-collapse: collapse;

	tr {
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: var(--border-color);
	}

	td {
		padding-top: var(--pd-1);
		padding-bottom: var(--pd-3);
	}
}
