.radio {
	align-items: center;
	display: flex;

	&__input {
		align-items: center;
		background-color: var(--radio-back-color);
		border-bottom-color: var(--radio-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--radio-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 50%;
		border-right-color: var(--radio-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--radio-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		height: 32px;
		width: 32px;
		min-width: 32px;
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color, background-color;
		transition-timing-function: var(--animate-easing-standard);
	}

	&__checked {
		background-image: var(--radio-border-checked-color);
		display: block;
		height: 0;
		min-width: 0;
		opacity: 0;
		transform: translateZ(0);
		transition-duration: var(--animate-duration-micro);
		transition-property: opacity, height, min-width, width;
		transition-timing-function: var(--animate-easing-standard);
		width: 0;
		border-radius: 50%;

		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-radius: 50%;
			position: absolute;
			transition-duration: var(--animate-duration-micro);
			transition-property: opacity, height, width;
			transition-timing-function: var(--animate-easing-standard);
			top: 50%;
			background-color: var(--radio-back-color);
			left: 50%;
			opacity: 0;
			transform: translate(-50%, -50%);
		}

		:checked ~ .radio__input & {
			height: 32px;
			min-width: 32px;
			width: 32px;
			opacity: 1;
		}

		:checked ~ .radio__input &:before {
			width: 16px;
			height: 16px;
			opacity: 1;
		}
	}

	&__label {
		color: var(--radio-lbl-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}

	&__input + &__label,
	&__label + &__input {
		margin-left: var(--mg-2);
	}
}
