.color {
	align-items: center;
	display: flex;

	&__input {
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		height: 32px;
		width: 32px;
		min-width: 32px;
		position: relative;
	}

	.color--black &__input {
		background-color: var(--color-radio-black);
	}

	.color--grey &__input {
		background-color: var(--color-radio-grey);
	}

	.color--light-grey &__input {
		background-image: var(--color-radio-light-grey);
	}

	.color--white &__input {
		background-color: var(--color-radio-white);
		border-bottom-color: var(--color-radio-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--color-radio-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--color-radio-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--color-radio-border-color);
		border-top-style: solid;
		border-top-width: 1px;
	}

	.color--light-blue &__input {
		background-color: var(--color-radio-light-blue);
	}

	.color--blue &__input {
		background-color: var(--color-radio-blue);
	}

	.color--purple &__input {
		background-color: var(--color-radio-purple);
	}

	.color--pink &__input {
		background-color: var(--color-radio-pink);
	}

	.color--beige &__input {
		background-color: var(--color-radio-beige);
	}

	.color--brown &__input {
		background-color: var(--color-radio-brown);
	}

	.color--red &__input {
		background-color: var(--color-radio-red);
	}

	.color--green &__input {
		background-color: var(--color-radio-green);
	}

	.color--light-yellow &__input {
		background-color: var(--color-radio-light-yellow);
	}

	.color--yellow &__input {
		background-color: var(--color-radio-yellow);
	}

	.color--light-pink &__input {
		background-color: var(--color-radio-light-pink);
	}

	.color--orange &__input {
		background-color: var(--color-radio-orange);
	}

	.color--clear &__input {
		border-bottom-color: var(--color-radio-clear-color);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-left-color: var(--color-radio-clear-color);
		border-left-style: solid;
		border-left-width: 2px;
		border-right-color: var(--color-radio-clear-color);
		border-right-style: solid;
		border-right-width: 2px;
		border-top-color: var(--color-radio-clear-color);
		border-top-style: solid;
		border-top-width: 2px;

		> svg {
			width: 13px;
			height: 13px;
			stroke-width: 2px;
			stroke: var(--color-radio-clear-color);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	:checked ~ &__input {
		border-bottom-color: var(--color-radio-border-selected-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--color-radio-border-selected-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--color-radio-border-selected-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--color-radio-border-selected-color);
		border-top-style: solid;
		border-top-width: 1px;
	}
}
