.filter-radio {
	display: inline-block;
	height: 48px;

	&__input {
		border-radius: var(--br-1);
		cursor: pointer;
		font-family: 'Montserrat', sans-serif;
		font-size: var(--fz-1);
		font-weight: 500;
		height: 48px;
		line-height: 46px;
		overflow: hidden;
		padding-left: 30px;
		padding-right: 30px;
		display: inline-block;
		position: relative;
		text-align: center;
		transition-duration: var(--animate-duration-enter);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		white-space: nowrap;
		border-bottom-color: var(--radio-filter-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--radio-filter-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--radio-filter-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--radio-filter-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--radio-filter-text-color);
		background-color: var(--radio-filter-back-color);
		min-width: 176px;
	}

	:checked ~ &__input {
		background-color: transparent;
		background-image: var(--radio-filter-back-active-color);
		color: var(--radio-filter-text-active-color);
	}
}
