.cart-radio {
	background-color: var(--radio-cart-back-color);
	border-bottom-color: var(--radio-cart-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--radio-cart-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--radio-cart-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--radio-cart-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	border-radius: var(--br-1);
	width: 100%;
	max-width: 256px;
	height: 240px;
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
	display: inline-block;
	position: relative;

	&--small-h {
		height: 168px;
	}

	@media (--tablet-landscape-up) {
		width: 232px;
	}

	&__input {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
	}

	&__title {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		font-weight: 600;
		margin-bottom: 14px;
		color: var(--text-main-color);
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	&__subtitle {
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: 6px;
		color: var(--text-grey-color);
		display: block;
	}

	&__name {
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;
		color: var(--text-main-color);
		display: block;
	}

	&__img {
		margin-top: var(--mg-6);

		.cart-radio--small-h & {
			margin-top: var(--mg-2);
		}
	}

	&__checked {
		background-image: var(--radio-border-checked-color);
		height: 0;
		width: 0;
		position: absolute;
		top: 16px;
		left: 16px;
		opacity: 0;
		transition-duration: var(--animate-duration-micro);
		transition-property: opacity, height, width;
		transition-timing-function: var(--animate-easing-standard);
		border-radius: 50%;

		&:before {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			background-color: var(--radio-cart-toggle-checked-color);
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	:checked ~ &__checked {
		opacity: 1;
		height: 16px;
		width: 16px;
	}
}
