.ui-page-theme-a .ui-button {
	background-color: var(--range-slider-handle-color);
	border-color: transparent;
	color: transparent;
	box-shadow: 0 3px 6px var(--range-slider-handle-shadow-color);
	text-shadow: none;
}

.ui-slider-track .ui-button.ui-slider-handle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: -10px 0 0 -10px;
}

.ui-page-theme-a .ui-slider-track .ui-button-active {
	background-color: transparent;
	background-image: var(--range-slider-back-color);
	border-color: transparent;
	color: #fff;
	text-shadow: none;
}

html > body .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track:first-child,
.ui-slider-track {
	height: 4px;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-top-width: 0;
}

.ui-rangeslider .ui-rangeslider-sliders {
	height: 20px;
	border: 1px solid red;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	margin-left: 0;
	margin-right: 0;
}

.ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {
	top: 7px;
}
