.search-box {
	display: flex;

	&--full {
		flex: 1;
	}

	&__field {
		width: 360px;

		&--full {
			flex: 1;
		}

		.field__input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&__btn {
		margin-left: -4px;
	}
}
