.section {
	position: relative;
	width: 100%;
	padding-top: var(--pd-8);
	padding-bottom: var(--pd-8);

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-10);
		padding-bottom: var(--pd-10);
	}

	@media (--desktop-up) {
		padding-top: var(--pd-15);
		padding-bottom: var(--pd-15);
	}

	&--no-pd {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--no-pt {
		padding-top: 0;
	}

	&__head {
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
		}
	}

	&__title {
		margin-bottom: 0;
		color: var(--section-title-color);
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		white-space: pre-line;
		font-weight: 400;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-4);
			line-height: var(--lh-4);

			&--small {
				font-size: var(--fz-3);
				line-height: var(--lh-3);
				font-weight: 500;
			}
		}
	}

	&__content {
		margin-top: var(--mg-7);
	}
}

.section-grey {
	background-color: var(--back-grey-color);
}
