.select {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;

	&__label {
		color: var(--select-lbl-color);
		display: block;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);
	}

	&__input.hidden {
		-webkit-appearance: none;
		display: none;
	}
}

.select2-dropdown {
	background-color: transparent;

	&.select2-dropdown--above,
	&.select2-dropdown--above .select2-results {
		border-top-left-radius: var(--br-1);
		border-top-right-radius: var(--br-1);
		overflow: hidden;
	}

	&.select2-dropdown--below,
	&.select2-dropdown--below .select2-results {
		border-bottom-left-radius: var(--br-1);
		border-bottom-right-radius: var(--br-1);
		overflow: hidden;
	}
}

.select2-container--default {
	.select2-selection--single {
		background-color: var(--select-back-color);
		border-bottom-color: var(--select-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--select-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--select-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--select-border-color);
		border-top-style: solid;
		border-top-width: 1px;

		.select2-selection__rendered {
			color: var(--select-text-color);
			font-size: var(--fz-1);
			line-height: 48px;
		}

		.select2-selection__arrow b {
			display: none;
		}

		.select2-selection__arrow {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.414' height='9.207' viewBox='0 0 17.414 9.207'%3E%3Cpath id='Path_91' data-name='Path 91' d='M-14397-18235l8,8,8-8' transform='translate(14397.707 18235.707)' fill='none' stroke='%235e6170' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
			background-size: 100%;
			height: 9px;
			position: absolute;
			right: var(--pd-3);
			top: 50%;
			transform: translateY(-50%);
			width: 16px;
			background-repeat: no-repeat;
		}
	}

	&.select2-container--open.select2-container--above .select2-selection--single {
		border-bottom-left-radius: var(--br-1);
		border-bottom-right-radius: var(--br-1);
	}

	&.select2-container--open.select2-container--below .select2-selection--single {
		border-top-left-radius: var(--br-1);
		border-top-right-radius: var(--br-1);
	}
}

.select2-container--default.select2-container--open .select2-selection--single {
	.select2-selection__arrow {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.414' height='9.207' viewBox='0 0 17.414 9.207'%3E%3Cpath id='Path_92' data-name='Path 92' d='M-14381-18227l-8-8-8,8' transform='translate(14397.707 18235.5)' fill='none' stroke='%23505f80' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
	}
}

.select2-container {
	width: 100% !important;

	.select2-selection--single {
		height: 48px;
		position: relative;
	}

	.select2-selection--single .select2-selection__rendered {
		padding-left: var(--pd-3);
		padding-right: var(--pd-6);
	}
}

.select2-dropdown {
	border-bottom-color: var(--select-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--select-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--select-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--select-border-color);
	border-top-style: solid;
	border-top-width: 1px;
}

.select2-results__option {
	background-color: var(--select-item-back-color);
	color: var(--select-text-color);
	font-size: var(--fz-1);
	height: 48px;
	line-height: 48px;
	padding-bottom: 0;
	padding-left: var(--pd-3);
	padding-right: var(--pd-3);
	padding-top: 0;

	&:not(:last-child) {
		border-bottom-color: var(--select-item-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected='true'],
.select2-container--default .select2-results__option--selected {
	background-color: transparent;
	background-image: var(--select-item-back-hover-color);
	color: var(--select-item-text-hover-color);
}

.ios .select2-container--open:not(.select2) {
	top: 38px !important;
}

.ios .select2-container--above + .select2-container--open:not(.select2) {
	top: -163px !important;
}

.flatpickr-current-month input.cur-year {
	-webkit-appearance: menulist;
}
