.social {
	display: inline-flex;
	align-items: center;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-2);
		}
	}
}

.social-link {
	width: 24px;
	height: 24px;
	display: inline-block;

	@media (--tablet-landscape-up) {
		width: 30px;
		height: 30px;
	}

	> svg {
		fill: var(--social-color);
		transition-duration: var(--animate-duration-enter);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
	}

	&.has-hover:hover > svg {
		fill: var(--social-hover-color);
	}
}
