.spoiler {
	overflow: hidden;

	&__inner {
		overflow: hidden;
		&--active {
			max-height: 550px;

			@media (--tablet-landscape-up) {
				max-height: 790px;
			}

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 224px;
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
			}
		}
	}
}
