.step-slider {
	&__container {
		padding-bottom: 40px;
	}
	[class*='__slide'] {
		width: 240px;
		height: auto;

		&:not(:last-child) {
			margin-right: var(--mg-2);
		}

		@media (--tablet-landscape-up) {
			&:not(:last-child) {
				@media (--tablet-landscape-up) {
					margin-right: var(--mg-3);
				}
			}
		}
	}

	&__slide-4 {
		@media (--tablet-landscape-up) {
			flex: 0 0 calc(33.3% - 16px);
			width: calc(33.3% - 16px);
		}

		@media (--desktop-up) {
			flex: 0 0 calc(25% - 16px);
			width: calc(25% - 16px);
		}
	}

	&__slide-3 {
		@media (--tablet-landscape-up) {
			flex: 0 0 calc(33.3% - 16px);
			width: calc(33.3% - 16px);
		}
	}
}
