.tabs {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	overflow-x: auto;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}

.tab {
	color: var(--tab-text-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	background-color: transparent;
	border-bottom-color: var(--tab-border-color);
	border-left-color: var(--tab-border-color);
	border-right-color: var(--tab-border-color);
	border-top-color: var(--tab-border-color);
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	text-align: center;
	border-radius: var(--br-1);
	transition-timing-function: var(--animate-easing-standard);
	user-select: none;
	white-space: nowrap;

	:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		background-color: var(--tab-back-hover-color);
	}

	&--active {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		background-color: transparent;
		color: var(--tab-active-text-color);
		background-image: var(--tab-active-back-color);
	}
}

.tab-content {
	display: none;

	&--active {
		display: block;
	}
}
