.text-dark-green {
	color: var(--text-dark-green-color);
}

.text-green {
	color: var(--text-green-color);
}

.text-light-grey {
	color: var(--text-light-grey-color);
}

.text-grey {
	color: var(--text-grey-color);
}

.text-red {
	color: var(--text-red-color);
}

.icon-text {
	display: flex;
	align-items: center;

	> svg {
		width: 16px;
		height: 16px;
	}

	&--green {
		color: var(--text-green-color);

		> svg {
			fill: var(--text-green-color);
		}
	}

	svg + span,
	span + svg {
		margin-left: var(--mg-1);
	}
}
