.news-slider {
	position: relative;
	margin-top: -120px;

	&__container {
		padding-top: 120px;
	}

	&__slide {
		@media (--tablet-landscape-down) {
			width: 240px;
		}
	}
}

.news-slide {
	display: block;
	text-decoration: none;

	&__media {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-down) {
			height: 248px;
		}

		&:after {
			@media (--tablet-landscape-up) {
				content: '';
				padding-bottom: 100%;
				display: block;
			}
		}

		&--large {
			@media (--tablet-landscape-down) {
				height: 392px;
			}

			&:after {
				@media (--tablet-landscape-up) {
					padding-bottom: 130%;
				}
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		margin-bottom: var(--mg-1);
		transition-duration: var(--animate-duration-effect);
		transition-property: color;
		transition-timing-function: var(--animate-easing-standard);
		white-space: pre-line;

		.news-slide.has-hover:hover & {
			color: var(--text-light-blue-color);
		}
	}

	&__desc {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		transition-duration: var(--animate-duration-effect);
		transition-property: color;
		transition-timing-function: var(--animate-easing-standard);
		padding-right: 5%;

		.news-slide.has-hover:hover & {
			color: var(--text-light-blue-color);
		}
	}

	&__links {
		> div {
			display: flex;

			a {
				text-decoration: none;
				margin-left: 5px;
			}
		}
	}
}

.news-slide-4 {
	width: 100%;
	margin-bottom: var(--mg-6);

	@media (--tablet-landscape-up) {
		margin-bottom: var(--mg-7);
	}

	&:not(:last-child) {
		margin-right: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-right: 0;
		}
	}

	@media (--phone-up) {
		flex: 0 0 calc(50% - 12px);
		width: calc(50% - 12px);

		&:nth-child(odd) {
			@media (--tablet-landscape-up) {
				margin-right: var(--mg-3);
			}
		}

		&:not(:last-child) {
			margin-right: inherit;
		}
	}

	@media (--tablet-landscape-up) {
		flex: 0 0 calc(33.3% - 16px);
		width: calc(33.3% - 16px);

		&:not(:nth-child(3n)) {
			@media (--tablet-landscape-up) {
				margin-right: var(--mg-3);
			}
		}
	}

	@media (--desktop-up) {
		flex: 0 0 calc(25% - 24px);
		width: calc(25% - 24px);

		&:not(:nth-child(4n)) {
			@media (--tablet-landscape-up) {
				margin-right: var(--mg-3);
			}
		}
	}
}

.news-slide-media {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;

	@media (--tablet-landscape-up) {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}

	> img {
		@extend .back-img-cover;
	}

	&__hover {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		background-image: var(--news-tile-media-hover-color);
		opacity: 0;
		visibility: hidden;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity, visibility;
		transition-timing-function: var(--animate-easing-standard);

		.news-slide.has-hover:hover & {
			opacity: 1;
			visibility: visible;
		}

		> svg {
			stroke: var(--news-tile-media-icon-hover-color);
			width: 48px;
			height: 48px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.slider-nav {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	align-items: center;

	@media (--tablet-landscape-up) {
		display: inline-flex;
	}

	&__pagination {
		position: relative;
		bottom: auto;
		left: auto;
		width: auto;
		color: var(--text-main-color);
		letter-spacing: -1.2px;
	}

	.swiper-pagination-current {
		font-size: var(--fz-4);
		line-height: var(--lh-4);
		top: -5px;
		position: relative;
	}

	.swiper-pagination-total {
		font-size: var(--fz-2);
		line-height: var(--lh-2);
	}

	&__next,
	&__prev {
		position: relative;
		width: 20px;
		height: 40px;
		left: auto;
		right: auto;
		top: auto;
		margin-top: 0;
	}

	&__prev {
		margin-right: var(--mg-3);
	}

	&__next {
		margin-left: var(--mg-3);
	}
}
