.feedback-slide {
	position: relative;
	height: auto;
	width: 240px;

	@media (--tablet-landscape-up) {
		flex: 0 0 calc(33.3% - 16px);
		width: calc(33.3% - 16px);
	}

	&:not(:last-child) {
		margin-right: var(--mg-4);

		@media (--tablet-landscape-down) {
			margin-right: var(--mg-2);
		}
	}
}

.feedback-tile {
	background-color: var(--back-grey-color);
	padding-top: var(--pd-6);
	padding-bottom: var(--pd-6);
	padding-left: var(--pd-3);
	padding-right: var(--pd-3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-8);
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-4);
		padding-right: var(--pd-6);
	}

	&--popup {
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;

		@media (--tablet-landscape-up) {
			padding-top: 0;
			padding-bottom: var(--pd-3);
			padding-left: var(--pd-6);
		}
	}

	&__inner {
		margin-bottom: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-8);
		}
	}

	&__title {
		font-size: var(--fz-2);
		margin-top: var(--mg-3);
		margin-bottom: var(--mg-2);
		line-height: var(--lh-2);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-4);
			margin-bottom: var(--mg-3);
		}

		.feedback-tile--popup & {
			font-size: 20px;
			line-height: 32px;

			@media (--tablet-landscape-up) {
				font-size: var(--fz-3);
				line-height: var(--lh-3);
			}
		}
	}

	&__text {
		margin-bottom: var(--mg-2);
	}
}
