.tile-slide {
	width: 240px;

	&:not(:last-child) {
		margin-right: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-right: 0;
		}
	}

	@media (--tablet-landscape-up) {
		flex: 0 0 calc(33.3% - 16px);
		width: calc(33.3% - 16px);
		min-width: initial;
		margin-bottom: var(--mg-7);

		&--small {
			flex: 0 0 calc(25% - 24px);
			width: calc(25% - 24px);

			&:not(:nth-child(4n)) {
				@media (--tablet-landscape-up) {
					margin-right: var(--mg-3);
				}
			}
		}
	}

	&:not(:nth-child(3n)) {
		@media (--tablet-landscape-up) {
			margin-right: var(--mg-3);
		}
	}
}

.h-tile-slide {
	width: 240px;

	@media (--tablet-landscape-up) {
		width: 408px;
	}

	&:not(:last-child) {
		margin-right: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-right: var(--mg-3);
		}
	}
}

.tile {
	&__media {
		position: relative;
		height: 248px;
		width: 100%;
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-up) {
			height: 352px;
		}
	}

	&__price-info {
		margin-bottom: var(--mg-3);
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (--tablet-landscape-up) {
			flex-direction: row;
			padding-right: 25%;
		}

		a,
		button {
			&:not(:last-child) {
				margin-bottom: var(--mg-2);

				@media (--tablet-landscape-up) {
					margin-right: var(--mg-3);
					margin-bottom: 0;
				}
			}
		}
	}
}

.tile-slider {
	width: 100%;
	height: 100%;
	position: relative;

	&__container,
	.swiper-wrapper,
	&__slide {
		width: 100% !important;
		height: 100%;
	}

	&__slide {
		background-color: var(--tile-media-back-color);
		display: flex;
		align-items: center;
		justify-content: center;
		> img {
			@extend .back-img-contain;
			max-width: 70%;
			max-height: 70%;
		}
	}

	&__pagination {
		position: absolute;
		bottom: 16px !important;
		left: 16px !important;
		width: auto !important;

		.swiper-pagination-bullet {
			background-color: var(--tile-media-pagination-color);
			opacity: 0.6;
			position: relative;
			margin-left: 4px;
			margin-right: 4px;
			width: 4px;
			height: 4px;

			&:before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				left: -2px;
				top: -2px;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-top-style: solid;
				border-top-width: 1px;
				border-left-style: solid;
				border-left-width: 1px;
				border-right-style: solid;
				border-right-width: 1px;
				border-bottom-color: transparent;
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				border-radius: 50%;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;

			&:before {
				border-bottom-color: var(--tile-media-pagination-color);
				border-top-color: var(--tile-media-pagination-color);
				border-left-color: var(--tile-media-pagination-color);
				border-right-color: var(--tile-media-pagination-color);
			}
		}
	}
}

.tile-options {
	display: flex;
	align-items: center;
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;

	@media (--tablet-landscape-up) {
		top: 24px;
		right: 24px;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.tile-option {
	width: 22px;
	height: 22px;
	display: inline-block;
	transform: translateZ(0);

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	> svg {
		fill: var(--tile-option-color);
	}
}

.tile-title {
	color: var(--text-main-color);
	font-size: var(--fz-2);
	line-height: var(--lh-2);
	margin-bottom: var(--mg-3);

	@media (--tablet-landscape-up) {
		padding-right: 25%;
	}
}

.tile-hint {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
}

.tile-lbl-box {
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 1;
}
