.tile-blue {
	display: block;
	background-image: var(--tile-blue-back-color);
	padding-top: var(--pd-5);
	padding-left: var(--pd-3);
	padding-right: var(--pd-9);
	padding-bottom: var(--pd-6);
	color: var(--tile-blue-text-color);
	text-decoration: none;
	height: 100%;
	position: relative;

	@media (--tablet-landscape-up) {
		padding-top: var(--pd-7);
		padding-left: var(--pd-4);
		padding-right: 30%;
		padding-bottom: var(--pd-10);
	}

	&--step {
		height: 100%;
		padding-right: var(--pd-5);
		padding-bottom: var(--pd-8);
		padding-top: var(--pd-3);

		@media (--tablet-landscape-up) {
			padding-top: var(--pd-4);
			padding-left: var(--pd-3);
			padding-right: var(--pd-6);
			padding-bottom: var(--pd-11);
		}

		&:before {
			content: attr(data-step);
			color: var(--text-sky-color);
			font-size: 84px;
			line-height: 84px;
			position: absolute;
			right: var(--pd-3);
			bottom: -40px;

			@media (--tablet-landscape-up) {
				right: var(--pd-6);
			}
		}
	}

	&.has-hover:hover {
		color: var(--tile-blue-text-color);
	}

	&__title {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		font-weight: 400;

		> span {
			display: block;
		}

		&--large {
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			margin-bottom: var(--mg-1);

			@media (--tablet-landscape-up) {
				font-size: var(--fz-3);
				line-height: var(--lh-3);
			}
		}
	}

	&__text {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-3);
	}

	&__icon {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 32px;
		right: 32px;
		transition-duration: var(--animate-duration-effect);
		transition-property: right;
		transition-timing-function: var(--animate-easing-standard);

		@media (--tablet-landscape-up) {
			top: 51px;
			right: 48px;
		}
	}

	&.has-hover:hover .tile-blue__icon {
		right: 40px;
	}
}
