.h-tile-service-slide {
	width: 240px;
	min-height: 344px;
	height: auto;

	@media (--tablet-landscape-up) {
		width: 45%;
		height: 468px;
		max-width: 624px;
	}

	&:not(:last-child) {
		margin-right: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-right: var(--mg-4);
		}
	}
}

.service-tile {
	position: relative;
	width: 100%;
	height: 100%;

	&__back {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		> img {
			@extend .back-img-cover;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 2;
			content: '';
			background: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
		}
	}

	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: var(--pd-4);
		padding-bottom: var(--pd-4);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		z-index: 2;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-start;

		@media (--tablet-landscape-up) {
			padding-top: var(--pd-8);
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-5);
			padding-right: var(--pd-5);
		}
	}

	&__title {
		font-size: var(--fz-2);
		line-height: var(--lh-2);
		color: var(--text-white-color);
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
			margin-bottom: var(--mg-5);
		}
	}

	&__address {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		color: var(--text-white-color);
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			white-space: pre-line;
			margin-bottom: var(--mg-3);
		}
	}

	&__phone {
		font-size: 20px;
		line-height: 26px;
		color: var(--link-white-color);
		margin-bottom: var(--mg-2);
		display: inline-block;
		text-decoration: none;
		font-weight: 500;

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-4);
		}
	}

	&__clock {
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		color: var(--text-white-color);
	}
}
