.logo-slider {
	position: relative;
	margin-top: -120px;

	&__container {
		padding-top: 120px;
	}

	&__slide {
		@media (--tablet-landscape-down) {
			width: 240px;
		}
	}
}

.logo-slide {
	display: block;
	text-decoration: none;

	&__media {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-down) {
			height: 248px;
		}

		&:after {
			@media (--tablet-landscape-up) {
				content: '';
				padding-bottom: 70%;
				display: block;
			}
		}
	}
}

.logo-slide-media {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	background-color: var(--back-grey-color);
	text-align: center;

	@media (--tablet-landscape-up) {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}

	> img {
		@extend .back-img-contain;
		width: 50%;
	}
}
