.tip-box {
	position: relative;
	display: flex;

	span + & {
		margin-left: var(--mg-1);
	}
}

.tip-link {
	width: 16px;
	height: 16px;
	display: inline-block;

	> svg {
		fill: var(--tip-link-color);
	}
}

.tip-popup {
	background-color: var(--tip-back-color);
	box-shadow: 0 3px 10px var(--tip-shadow-color);
	border-radius: var(--br-2);
	padding-top: var(--pd-4);
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
	padding-bottom: var(--pd-4);
	position: absolute;
	right: calc(100% + 20px);
	top: 50%;
	transform: translateY(-50%);
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	text-align: center;
	min-width: 280px;
	transition-duration: var(--animate-duration-effect);
	transition-timing-function: var(--animate-easing-standard);
	visibility: hidden;
	opacity: 0;
	transition-property: visibility, opacity;
	z-index: 1;

	.tip-link:hover + & {
		opacity: 1;
		visibility: visible;
	}

	&:before {
		content: '';
		top: 50%;
		right: -19px;
		transform: translateY(-50%);
		position: absolute;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.84' height='41.509' viewBox='0 0 18.84 41.509'%3E%3Cpath id='Path_627' data-name='Path 627' d='M264,91.3c-.01,5.949,4.081,10.85,8.677,14.568A47.707,47.707,0,0,0,282.84,112s-18.86,7.959-18.84,20.455Z' transform='translate(-264 -91.135)' fill='%23fff'/%3E%3C/svg%3E%0A");
		width: 19px;
		height: 42px;
		background-repeat: no-repeat;
		filter: drop-shadow(19px 3px 10px var(--tip-shadow-color));
		background-position: center;
	}
}
