.toggle {
	align-items: center;
	display: flex;
	position: relative;

	&__input {
		align-items: center;
		background-color: var(--toggle-back-color);
		border-bottom-color: var(--toggle-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--toggle-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-3);
		border-right-color: var(--toggle-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--toggle-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		cursor: pointer;
		display: flex;
		height: 32px;
		justify-content: center;
		position: relative;
		transition-duration: var(--animate-duration-micro);
		transition-property: background-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 56px;

		:checked ~ & {
			background-color: transparent;
			background-image: var(--toggle-back-checked-color);
		}
	}

	&__checked {
		background-image: var(--toggle-toggle-color);
		border-radius: 50%;
		height: 24px;
		left: 3px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition-duration: var(--animate-duration-micro);
		transition-property: left, background-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 24px;

		:checked ~ .toggle__input & {
			background-image: none;
			background-color: var(--toggle-toggle-checked-color);
			left: calc(100% - 27px);
		}
	}

	&__label {
		color: var(--toggle-lbl-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);

		@media (--tablet-landscape-down) {
			display: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 72px;
		}

		&--checked {
			color: var(--toggle-lbl-checked-color);
			font-weight: 500;

			@media (--tablet-landscape-down) {
				display: block;
			}
		}
	}

	&__input + &__label,
	&__label + &__input {
		@media (--tablet-landscape-up) {
			margin-left: var(--mg-2);
		}
	}
}
