.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1640px;
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
	}

	@media (--desktop-up) {
		padding-left: var(--pd-5);
		padding-right: var(--pd-5);
	}

	@media (min-width: 1500px) {
		padding-left: var(--pd-10);
		padding-right: var(--pd-10);
	}
}

.wrapper-small {
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
	}
}

.wrapper-full {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	position: relative;
	width: 100%;
}
