.link {
	text-decoration-line: none;
	transition-duration: var(--animate-duration-micro);
	transition-property: color, text-decoration-color;
	transition-timing-function: var(--animate-easing-standard);

	.msie & {
		text-decoration: none;
	}

	&[disabled] {
		cursor: default;
	}

	&:any-link,
	button& {
		color: var(--link-color);
		cursor: pointer;

		&:hover:not([disabled]),
		&:focus:not([disabled]) {
			color: var(--link-a-color);

			.link__image {
				border-bottom-color: var(--link-ul-a-color);
				border-left-color: var(--link-ul-a-color);
				border-right-color: var(--link-ul-a-color);
				border-top-color: var(--link-ul-a-color);
			}
		}
	}

	&_solid:any-link,
	button&_solid:not([disabled]) {
		&:not(.link_partial),
		& .link__text {
			text-decoration-color: var(--link-ul-color);
			text-decoration-line: underline;
			text-decoration-style: solid;

			.msie & {
				text-decoration: underline;
			}
		}

		&:hover,
		&:focus {
			&:not(.link_partial),
			& .link__text {
				text-decoration-color: var(--link-ul-a-color);
			}
		}
	}

	&_dotted:any-link,
	button&_dotted:not([disabled]) {
		&:not(.link_partial),
		& .link__text {
			text-decoration-color: var(--link-ul-color);
			text-decoration-line: underline;
			text-decoration-style: dotted;

			.msie & {
				text-decoration: underline;
			}
		}

		&:hover,
		&:focus {
			&:not(.link_partial),
			& .link__text {
				text-decoration-color: var(--link-ul-a-color);
			}
		}
	}

	&__text {
		transition-duration: var(--animate-duration-micro);
		transition-property: text-decoration-color;
		transition-timing-function: var(--animate-easing-standard);
	}

	&__icon {
		fill: currentColor;
		transition-duration: var(--animate-duration-micro);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
		vertical-align: bottom;
	}

	&__image {
		border-bottom-color: var(--grey);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--grey);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--grey);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--grey);
		border-top-style: solid;
		border-top-width: 1px;
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color;
		transition-timing-function: var(--animate-easing-standard);
	}
}
