.select {
	display: inline-block;
	position: relative;

	&::before {
		border-bottom-color: black;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: black;
		border-left-style: solid;
		border-left-width: 1px;
		content: '';
		height: 0.5em;
		pointer-events: none;
		position: absolute;
		right: calc(0.5em / 2);
		top: calc(50% - 0.5em / 1.5);
		transform: rotate(-45deg);
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 0.5em;
	}

	&_focus {
		&::before {
			border-bottom-color: var(--link-a-color);
			border-left-color: var(--link-a-color);
		}
	}

	&__input {
		background-color: white;
		border-bottom-color: var(--grey);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--grey);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--grey);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--grey);
		border-top-style: solid;
		border-top-width: 1px;
		height: 100%;
		padding-right: calc(0.5em * 2);
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color;
		transition-timing-function: var(--animate-easing-standard);
		white-space: nowrap;
		width: 100%;

		&:focus {
			border-bottom-color: var(--link-a-color);
			border-left-color: var(--link-a-color);
			border-right-color: var(--link-a-color);
			border-top-color: var(--link-a-color);
		}
	}
}
