.wysiwyg {
	a {
	}

	b {
	}

	strong {
	}

	i {
	}

	em {
	}

	h2 {
	}

	h3 {
	}

	p {
	}

	ul {
		li {
		}
	}

	ol {
		li {
		}
	}

	table {
		tr {
		}

		td {
		}

		thead {
			tr {
			}

			th {
			}

			td {
			}
		}

		tbody {
			tr {
			}

			td {
			}
		}

		tfoor {
			tr {
			}

			td {
			}
		}
	}

	img {
	}

	iframe {
	}
}
