:root {
	/* https://material.io/design/motion/speed.html#duration */
	--animate-duration-timeout: 2500ms;
	--animate-duration-effect: 500ms;
	--animate-duration-enter: 250ms;
	--animate-duration-leave: 200ms;
	--animate-duration-micro: 100ms;

	/* https://material.io/design/motion/speed.html#easing */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes spinner {
	0% {
		opacity: 0.5;
	}

	50%,
	100% {
		opacity: 1;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes scaleDown {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}
}

@keyframes hvr-icon-pop {
	50% {
		transform: scale(1.1);
	}
}
