@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/Montserrat-Bold.woff2') format('woff2'), url('./fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('./fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/Montserrat-Medium.woff2') format('woff2'), url('./fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Montserrat-Regular.woff2') format('woff2'), url('./fonts/Montserrat-Regular.woff') format('woff');
}

:root {
	--max-text-width: 36em;

	--fz-0: 12px;
	--fz-1: 14px;
	--fz-1-1: 16px;
	--fz-2: 18px;
	--fz-3: 24px;
	--fz-4: 36px;
	--fz-5: 48px;

	--lh-0: 18px;
	--lh-1: 22px;
	--lh-1-1: 26px;
	--lh-2: 26px;
	--lh-3: 32px;
	--lh-4: 42px;
	--lh-5: 56px;
}
