/* Сброс браузерных стилей */
@import url('reset.css');

/* Импорт стилей сторонних модулей */
/* @import url('./../node_modules'); */

/* Импорт стилей собственных компонентов */
@import url('./components/*.css');

/*
@font-face {
	font-display: swap;
	font-family: 'Example';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/example.woff2') format('woff2'), url('./fonts/example.woff') format('woff');
}
*/

/* https://medium.com/p/88d6a5ba1862 */
@custom-media --only-phone (width < 600px);
@custom-media --only-tablet-portrait (width >= 600px) and (width < 900px);
@custom-media --only-tablet-landscape (width >= 900px) and (width < 1200px);
@custom-media --only-desktop (width >= 1200px) and (width < 1500px);
@custom-media --only-big-desktop (width >= 1500px) and (width < 2100px);
@custom-media --tablet-portrait-up (width >= 600px);
@custom-media --tablet-landscape-up (width >= 900px);
@custom-media --desktop-up (width >= 1200px);
@custom-media --big-desktop-up (width >= 1500px);
@custom-media --mega-desktop-up (width >= 2100px);

:root {
	--grey: #e0e0e0;

	/* https://material.io/design/color/text-legibility.html#text-backgrounds */
	--text-color: color-mod(black alpha(87%));
	--text-sub-color: color-mod(black alpha(60%));
	--text-d-color: color-mod(black alpha(38%));

	--link-color: var(--text-color);
	--link-a-color: #e53339; /* Parus Red */
	--link-ul-color: color-mod(var(--link-color) alpha(50%));
	--link-ul-a-color: color-mod(var(--link-a-color) alpha(50%));

	/* https://material.io/design/color/text-legibility.html#text-types */
	--error: #b00020;
	--success: #4caf50; /* Green 500 */

	--fz-0: 0.8rem;
	--fz-1: 1.2rem;
	--fz-2: 1.6rem;
	--fz-3: 2rem;
	--fz-4: 2.4rem;

	--lh-1: 1.25;
	--lh-2: 1.5;
	--lh-3: 1.75;

	--max-text-width: 36em;

	/* https://material.io/design/motion/speed.html#duration */
	--animate-duration-timeout: 2500ms;
	--animate-duration-effect: 500ms;
	--animate-duration-enter: 250ms;
	--animate-duration-leave: 200ms;
	--animate-duration-micro: 100ms;

	/* https://material.io/design/motion/speed.html#easing */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);
}

/* stylelint-disable selector-max-universal */
* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}

	&::before,
	&::after {
		box-sizing: border-box;
	}
}
/* stylelint-enable */

/* stylelint-disable declaration-no-important */
[hidden] {
	display: none !important;
}
/* stylelint-enable */

html {
	@media (--desktop-up) {
		font-size: 112.5%;
	}
}

body {
	color: var(--text-color);
	font-family: system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.disable-hover {
		pointer-events: none;
	}
}

picture {
	img {
		display: inherit;
		width: 100%;
	}
}

button,
input,
select,
textarea {
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: var(--text-color);
	font-family: system-ui;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;

	&::placeholder {
		color: var(--text-d-color);
	}
}

textarea {
	resize: vertical;
}

select {
	appearance: none;
}
