:root {
	/* Border radius */
	--br-0: 2px;
	--br-1: 4px;
	--br-2: 8px;
	--br-3: 16px;

	/* Text */
	--text-main-color: #0f2043;
	--text-sky-color: #d0daf0;
	--text-white-color: #fff;
	--text-grey-color: #505f80;
	--text-light-grey-color: #959aa2;
	--text-light-blue-color: #02a5ff;
	--text-green-color: #10baa8;
	--text-dark-green-color: #09763f;
	--text-red-color: #e31a15;

	/* Section */
	--section-title-color: #0f2043;

	/* Back colors */
	--back-color: #fff;
	--back-grey-color: #fafafc;
	--back-trans-color: rgba(0, 0, 0, 0.3);
	--border-color: #d0daf0;

	/* Link */
	--link-white-color: #ffffff;
	--link-black-color: #100e0c;
	--link-dark-color: #0f2043;
	--link-grey-color: #505f80;
	--link-blue-color: #054077;
	--link-light-blue-color: #02a5ff;

	/* Button */
	--btn-blue-back-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--btn-blue-text-color: #ffffff;
	--btn-blue-text-hover-color: #ffffff;
	--btn-blue-back-disabled-color: linear-gradient(#505f80 0%, #505f80 100%);
	--btn-blue-text-disabled-color: #fff;
	--btn-blue-back-active-color: linear-gradient(#054077 0%, #054077 100%);
	--btn-blue-text-active-color: #fff;
	--btn-back-spinner-color: #ffffff;
	--btn-trans-grey-back-color: #ffffff;
	--btn-trans-grey-border-color: #cedbef;
	--btn-trans-grey-text-color: #505f80;
	--btn-trans-grey-back-hover-color: #cedbef;
	--btn-trans-white-border-color: #ffffff;
	--btn-trans-white-text-color: #ffffff;
	--btn-trans-white-back-hover-color: #ffffff;
	--btn-trans-white-text-hover-color: #505f80;
	--btn-social-text-color: #ffffff;
	--btn-vk-back-color: #4a76a8;
	--btn-vk-back-hover-color: #385c80;
	--btn-fb-back-color: #1a6dd1;
	--btn-fb-back-hover-color: #114180;
	--btn-google-back-color: #4285f4;
	--btn-google-back-hover-color: #316ac9;

	/* Input */
	--input-border-color: #d0daf0;
	--input-back-color: #fafafc;
	--input-back-white-color: #fff;
	--input-placeholder-color: #505f80;
	--input-text-color: #0f2043;
	--input-icon-color: #505f80;
	--input-lbl-color: #505f80;
	--input-back-incorrect-color: #fff7f7;
	--input-border-incorrect-color: #e31a15;
	--input-text-incorrect-color: #e31a15;
	--input-back-correct-color: #f8fffe;
	--input-border-correct-color: #10baa8;
	--input-text-correct-color: #10baa8;
	--input-border-trans-color: #d0daf0;
	--input-back-trans-color: rgba(250, 250, 252, 0.21);
	--input-text-trans-color: #d0daf0;

	/* Select */
	--select-border-color: #d0daf0;
	--select-back-color: #fafafc;
	--select-text-color: #0f2043;
	--select-lbl-color: #505f80;
	--select-item-back-color: #fafafc;
	--select-item-border-color: #d0daf0;
	--select-item-back-hover-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--select-item-text-hover-color: #ffffff;

	/* Radio */
	--radio-border-color: #d0daf0;
	--radio-back-color: #fafafc;
	--radio-border-checked-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--radio-toggle-checked-color: #fafafc;
	--radio-lbl-color: #0f2043;

	/* Radio cart */
	--radio-cart-border-color: #d0daf0;
	--radio-cart-back-color: #ffffff;
	--radio-cart-toggle-border-checked-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--radio-cart-toggle-checked-color: #fafafc;

	/* Radio filter */
	--radio-filter-back-color: #ffffff;
	--radio-filter-text-color: #505f80;
	--radio-filter-border-color: #cedbef;
	--radio-filter-back-active-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--radio-filter-text-active-color: #ffffff;

	/* Range Slider */
	--range-slider-handle-color: #ffffff;
	--range-slider-handle-shadow-color: rgba(59, 90, 251, 0.3);
	--range-slider-back-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);

	/* Toggle */
	--toggle-border-color: #d0daf0;
	--toggle-back-color: #fafafc;
	--toggle-toggle-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--toggle-lbl-color: #959aa2;
	--toggle-lbl-checked-color: #0f2043;
	--toggle-back-checked-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--toggle-toggle-checked-color: #ffffff;

	/* Checkbox */
	--checkbox-border-color: #d0daf0;
	--checkbox-back-color: #ffffff;
	--checkbox-lbl-color: #505f80;
	--checkbox-back-checked-color: linear-gradient(to left, #054077 0%, #3b5afb 100%);
	--checkbox-icon-color: #ffffff;

	/* Upload file */
	--upload-lbl-color: #505f80;
	--upload-back-color: #fafafc;
	--upload-border-color: #cedbef;
	--upload-text-color: #505f80;

	/* Filter */
	--filter-back-color: #ffffff;
	--filter-border-color: #d0daf0;
	--filter-lbl-color: #505f80;
	--filter-result-lbl-color: #505f80;
	--filter-result-text-color: #0f2043;

	/* Info sidebar */
	--info-sidebar-back-color: #ffffff;
	--info-sidebar-border-color: #d0daf0;

	/* Header */
	--header-border-color: rgba(255, 255, 255, 0.5);
	--header-call-color: #fff;
	--header-call-hover-color: #02a5ff;
	--mobile-btn-color: #fff;
	--mobile-btn-active-color: #191a1d;
	--mobile-header-back-color: #fff;

	/* Footer */
	--footer-border-color: #e5e5ed;

	/* Nav link */
	--nav-link-color: #ffffff;
	--nav-link-mobile-color: #0f2043;
	--nav-link-mobile-border-color: #d0daf0;
	--badge-color: linear-gradient(#e31a15 0%, #c10b06 100%);
	--badge-text-color: #d0daf0;

	/* Footer nav */
	--footer-nav-color: #505f80;
	--footer-nav-dark-color: #0f2043;
	--footer-nav-hover-color: #02a5ff;

	/* Banner */
	--banner-pagination-color: #fff;

	/* Favourite button */
	--fav-button-stroke-color: #505f80;
	--fav-button-fill-color: #e31a15;

	/* Breadcrumbs */
	--breadcrumbs-color: #fafafc;
	--breadcrumbs-hover-color: #02a5ff;

	/* Color radio */
	--color-radio-black: #000000;
	--color-radio-grey: #7a7a7a;
	--color-radio-light-grey: linear-gradient(#f0f0f0 0%, #b7b7b7 100%);
	--color-radio-white: #ffffff;
	--color-radio-light-blue: #4f80e6;
	--color-radio-blue: #144abc;
	--color-radio-purple: #8143be;
	--color-radio-pink: #c61388;
	--color-radio-beige: #eadaaa;
	--color-radio-brown: #543024;
	--color-radio-red: #e0302f;
	--color-radio-green: #55bb20;
	--color-radio-light-yellow: #fed773;
	--color-radio-yellow: #fac32d;
	--color-radio-light-pink: #e35bb5;
	--color-radio-orange: #f27220;
	--color-radio-border-color: #d0daf0;
	--color-radio-border-selected-color: #02a5ff;
	--color-radio-clear-color: #adb5c7;

	/* Tile blue */
	--tile-blue-back-color: linear-gradient(#054077 0%, #3b5afb 100%);
	--tile-blue-text-color: #fff;

	/* Tile */
	--tile-media-back-color: #f6f6f8;
	--tile-media-pagination-color: #505f80;
	--tile-option-color: #505f80;

	--tile-lbl-text-color: #fff;
	--tile-lbl-green-color: linear-gradient(to right, #10baa8 0%, #088477 100%);
	--tile-lbl-blue-color: linear-gradient(to right, #3b5afb 0%, #054077 100%);
	--tile-lbl-red-color: linear-gradient(to right, #e31a15 0%, #c10b06 100%);

	/* News tile */
	--news-tile-media-hover-color: linear-gradient(to bottom, rgba(5, 64, 119, 0.7) 0%, rgba(59, 90, 251, 0.7) 100%);
	--news-tile-media-icon-hover-color: #fff;

	/* Social */
	--social-color: #505f80;
	--social-hover-color: #02a5ff;

	/* Product */
	--product-specification-back-color: #fafafc;
	--product-specification-icon-color: #505f80;
	--product-service-back-color: linear-gradient(to bottom, #054077 0%, #3b5afb 100%);
	--product-service-text-color: #fff;

	/* Tabs */
	--tab-active-back-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--tab-active-text-color: #ffffff;
	--tab-border-color: #cedbef;
	--tab-text-color: #505f80;
	--tab-back-hover-color: #cedbef;

	/* Menu link */
	--menu-link-back-color: #fff;
	--menu-link-back-active-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--menu-link-text-active-color: #ffffff;
	--menu-link-border-color: #cedbef;
	--menu-link-text-color: #505f80;
	--menu-link-back-hover-color: #cedbef;

	/* Tip */
	--tip-link-color: #959aa2;
	--tip-back-color: #ffffff;
	--tip-shadow-color: rgba(59, 90, 251, 0.2);step-slider

	/* Popup */
	--popup-box-back-color: rgba(0, 0, 0, 0.3);
	--popup-back-color: #ffffff;
	--popup-img-back: rgba(255, 255, 255, 0.5);

	/* Table */
	--table-head-color: #fafafc;
	--table-head-text-color: #505f80;
	--table-head-border-color: #d0daf0;
	--cart-delete-color: #505f80;

	/* Accordion */
	--acc-head-back-color: #fafafc;
	--acc-head-text-color: #0f2043;
	--acc-head-icon-color: #505f80;
	--acc-head-back-active-color: linear-gradient(to top, #3b5afb 0%, #054077 50%, #054077 100%);
	--acc-head-text-active-color: #fff;
	--acc-head-icon-active-color: #fff;
	--acc-back-color: #fafafc;
}
