.btn {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  position: relative;
  padding: 0;
}
