@mixin border-radius($radius, $unit:"px") {
  border-radius: $radius#{$unit};
}

@mixin size($height, $width, $h-unit:"px", $w-unit:"px") {
  height: $height#{$h-unit};
  width: $width#{$w-unit};
}

@mixin background-image($img-url, $x: 0, $y: 0, $repeat: no-repeat) {
  background: url($img-url) $repeat $x $y;
}

@mixin font($font-size, $line-height, $margin-top: 0, $margin-bottom: 0) {
  font-size: $font-size;
  line-height: $line-height;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}

%position-horizontally-center {
  left: 50%;
  transform: translateX(-50%);
}

%position-vertically-center {
  top: 50%;
  transform: translateY(-50%);
}

%position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%align-center {
  text-align: center;
}

%align-left {
  text-align: left;
}

%align-right {
  text-align: right;
}

%align-justify {
  text-align: justify;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

%flex-space-around {
  display: flex;
  justify-content: space-around;
}

%flex-end {
  display: flex;
  justify-content: flex-end;
}

%flex-start {
  display: flex;
  justify-content: flex-start;
}

%flex-center {
  display: flex;
  justify-content: center;
}

%flex-wrap {
  flex-wrap: wrap;
}

%flex-align-items-center {
  align-items: center;
}

@mixin media($ltgt, $device) {
  $extrema: null;
  @if $ltgt == less-than {
    $extrema: max;
  }
  @if $ltgt == greater-than {
    $extrema: min
  }
  @media only screen and (#{$extrema}-width: $device) {
    @content;
  }
}