p {
  @include font($size, $line-height);
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

h6 {
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

h5 {
  $size: $size * 1.5;
  $line-height: $size * 1.1;
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

h4 {
  $size: $size * 2;
  $line-height: $size * 1.1;
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

h3 {
  $size: $size * 2.5;
  $line-height: $size * 1.1;
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

h2 {
  $size: $size * 3;
  $line-height: $size * 1.1;
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

h1 {
  $size: $size * 3.5;
  $line-height: $size * 1.1;
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

.small-text {
  $size: $size - 2;
  $line-height: $size * 1.1;
  $margin-bottom: $size / 3;
  @include font($size, $line-height, 0, $margin-bottom);
}

.align-center {
  @extend %align-center;
}

.align-left {
  @extend %align-left;
}

.align-right {
  @extend %align-right;
}

.align-justify {
  @extend %align-justify;
}
