body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  max-width: calc(100% - 20px);
  width: 1200px;
  margin: 0 auto;
  height: inherit;
  @extend %flex-wrap;
}

.wrap-between {
  @extend %flex-space-between;
  &-middle {
    @extend %flex-space-between;
    @extend %flex-align-items-center;
  }
}

.wrap-around {
  @extend %flex-space-around;
  &-middle {
    @extend %flex-space-around;
    @extend %flex-align-items-center;
  }
}

.wrap-end {
  @extend %flex-end;
  &-middle {
    @extend %flex-end;
    @extend %flex-align-items-center;
  }
}

.wrap-start {
  @extend %flex-start;
  &-middle {
    @extend %flex-start;
    @extend %flex-align-items-center;
  }
}

.fourth-part {
  width: calc(25% - 15px);
}

.third-part {
  width: calc(32% - 15px);
}

.half-part {
  width: calc(50% - 15px);
}

.full-part {
  width: 100%;
}