@import "variables";
@import "settings";
@import "wrapper";
@import "text";
@import "fields";
@import "color";

body {
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
}

img {
  max-width: 100%;
}

.logo {
  width: 300px;
}