:root {
	--btn-blue-back-color: linear-gradient(to left, #054077 0%, #3b5afb 50%, #3b5afb 100%);
	--btn-blue-text-color: #ffffff;
	--btn-blue-text-hover-color: #ffffff;
	--btn-blue-back-disabled-color: linear-gradient(#505f80 0%, #505f80 100%);
	--btn-blue-text-disabled-color: #ffffff;
	--btn-blue-back-active-color: linear-gradient(#054077 0%, #054077 100%);
	--btn-blue-text-active-color: #ffffff;
	--btn-back-spinner-color: #ffffff;

	--btn-trans-grey-back-color: #ffffff;
	--btn-trans-grey-border-color: #cedbef;
	--btn-trans-grey-text-color: #505f80;
	--btn-trans-grey-back-hover-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--btn-trans-grey-text-hover-color: #ffffff;

	--btn-trans-white-border-color: #ffffff;
	--btn-trans-white-text-color: #ffffff;
	--btn-trans-white-back-hover-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--btn-trans-white-text-hover-color: #ffffff;

	--btn-social-text-color: #ffffff;
	--btn-vk-back-color: #4a76a8;
	--btn-vk-back-hover-color: #385c80;
	--btn-fb-back-color: #1a6dd1;
	--btn-fb-back-hover-color: #114180;
	--btn-google-back-color: #4285f4;
	--btn-google-back-hover-color: #316ac9;
}

.btn {
	align-items: center;
	border-radius: var(--br-1);
	cursor: pointer;
	display: inline-flex;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	font-weight: 500;
	height: 48px;
	justify-content: center;
	line-height: 48px;
	min-height: 48px;
	padding-left: 27px;
	padding-right: 27px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	user-select: none;
	white-space: nowrap;

	@media (--tablet-landscape-up) {
		min-width: 176px;
	}

	> span,
	> svg {
		display: inline-block;
		position: relative;
		z-index: 1;
	}

	span + svg,
	svg + span {
		margin-left: var(--mg-1);
	}

	> svg {
		height: 18px;
		transition-duration: var(--animate-duration-effect);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
		width: 24px;
	}

	> svg.btn__icon-left {
		left: 16px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.msie & {
		text-decoration: none;
	}

	&[disabled] {
		cursor: default;
	}
}

.btn-transparent-grey {
	background-color: var(--btn-trans-grey-back-color);
	border-bottom-color: var(--btn-trans-grey-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--btn-trans-grey-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--btn-trans-grey-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--btn-trans-grey-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--btn-trans-grey-text-color);
	@extend .btn;

	&--no-back {
		background-color: transparent;
	}

	&::before {
		background-image: var(--btn-trans-grey-back-hover-color);
		border-radius: var(--br-1);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity;
		transition-timing-function: var(--animate-easing-standard);
		z-index: 0;
	}

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		color: var(--btn-trans-grey-text-hover-color);

		&::before {
			opacity: 1;
		}
	}
}

.btn-transparent-white {
	background-color: transparent;
	border-bottom-color: var(--btn-trans-white-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--btn-trans-white-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--btn-trans-white-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--btn-trans-white-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--btn-trans-white-text-color);
	@extend .btn;

	&::before {
		background-image: var(--btn-trans-grey-back-hover-color);
		border-radius: var(--br-1);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: opacity;
		transition-timing-function: var(--animate-easing-standard);
		z-index: 0;
	}

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		color: var(--btn-trans-white-text-hover-color);

		&::before {
			opacity: 1;
		}
	}
}

.btn-blue {
	background-image: var(--btn-blue-back-color);
	background-size: 100%;
	color: var(--btn-blue-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-blue-text-color);
	}

	&.has-hover:hover {
		background-size: 200%;
		color: var(--btn-blue-text-hover-color);

		> svg {
			fill: var(--btn-blue-text-hover-color);
		}
	}

	&:active,
	&.has-hover:hover:active {
		background-image: var(--btn-blue-back-active-color);
		color: var(--btn-blue-text-active-color);

		> svg {
			fill: var(--btn-blue-text-active-color);
		}
	}

	&:disabled,
	&.has-hover:disabled:hover {
		background-image: var(--btn-blue-back-disabled-color);
		color: var(--btn-blue-text-disabled-color);
	}
}

.btn-circle-icon {
	border-radius: 50%;
	height: 64px;
	justify-content: center;
	min-width: 64px;
	padding-left: 0;
	padding-right: 0;
	width: 64px;

	> svg {
		height: 26px;
		width: 26px;
	}
}

.btn-vk {
	background-color: var(--btn-vk-back-color);
	color: var(--btn-social-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-social-text-color);
	}

	&.has-hover:hover,
	&:active,
	&.has-hover:hover:active {
		background-color: var(--btn-vk-back-hover-color);
		color: var(--btn-social-text-color);

		> svg {
			fill: var(--btn-social-text-color);
		}
	}
}

.btn-fb {
	background-color: var(--btn-fb-back-color);
	color: var(--btn-social-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-social-text-color);
	}

	&.has-hover:hover,
	&:active,
	&.has-hover:hover:active {
		background-color: var(--btn-fb-back-hover-color);
		color: var(--btn-social-text-color);

		> svg {
			fill: var(--btn-social-text-color);
		}
	}
}

.btn-google {
	background-color: var(--btn-google-back-color);
	color: var(--btn-social-text-color);
	@extend .btn;

	> svg {
		fill: var(--btn-social-text-color);
	}

	&.has-hover:hover,
	&:active,
	&.has-hover:hover:active {
		background-color: var(--btn-google-back-hover-color);
		color: var(--btn-social-text-color);

		> svg {
			fill: var(--btn-social-text-color);
		}
	}
}

.btn-spinner {
	display: none;
	position: relative;

	&--active {
		display: inline-block;
	}

	span {
		animation-direction: alternate;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: spinner;
		animation-timing-function: ease;
		background-color: var(--btn-back-spinner-color);
		border-radius: 50%;
		display: inline-block;
		height: 12px;
		margin-left: 6px;
		margin-right: 6px;
		width: 12px;
	}

	span:nth-child(2) {
		animation-delay: 0.5s;
	}
	span:nth-child(3) {
		animation-delay: 1s;
	}
}

.btn-mobile-full {
	@media (--tablet-landscape-down) {
		width: 100%;
	}
}

.btn-full {
	width: 100%;
}

.btn-medium {
	min-width: 176px;
}
