:root {
	--dropdown-text-color: #0f2043;
	--dropdown-item-back-color: #fafafc;
	--dropdown-item-border-color: #d0daf0;
	--dropdown-item-back-hover-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--dropdown-item-text-hover-color: #ffffff;
}

.dropdown-holder {
	margin-left: -24px;
	margin-right: -24px;
	position: relative;
	width: calc(100% + 48px);
}

.dropdown-btn {
	background-color: transparent;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	color: var(--dropdown-text-color);
	cursor: pointer;
	display: block;
	font-size: 20px;
	font-weight: 500;
	height: 30px;
	line-height: 30px;
	padding-left: var(--pd-3);
	padding-right: var(--pd-7);
	position: relative;
	text-align: left;
	width: 100%;

	&::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.414' height='9.207' viewBox='0 0 17.414 9.207'%3E%3Cpath id='Path_91' data-name='Path 91' d='M-14397-18235l8,8,8-8' transform='translate(14397.707 18235.707)' fill='none' stroke='%235e6170' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
		height: 10px;
		position: absolute;
		right: var(--pd-3);
		top: 50%;
		transform: translateY(-50%);
		transition-duration: var(--animate-duration-effect);
		transition-property: transform;
		transition-timing-function: var(--animate-easing-standard);
		width: 16px;
	}
}

.dropdown {
	height: 0;
	margin-bottom: 0;
	margin-top: 0;
	max-height: 193px;
	position: relative;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);

	&--active {
		border-bottom-color: var(--filter-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		height: 193px;
		margin-bottom: var(--mg-n-3);
		margin-top: var(--mg-2);
	}

	&__list {
		margin-bottom: 0;
		margin-left: 0;

		> li {
			background-color: var(--dropdown-item-back-color);
			color: var(--dropdown-text-color);
			cursor: pointer;
			font-size: var(--fz-1);
			height: 48px;
			line-height: 48px;
			list-style-type: none;
			padding-bottom: 0;
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
			padding-top: 0;

			&.selected,
			&:hover {
				background-color: transparent;
				background-image: var(--select-item-back-hover-color);
				color: var(--select-item-text-hover-color);
			}

			&:not(:last-child) {
				border-bottom-color: var(--dropdown-item-border-color);
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}
	}
}
