.form-box {
	padding-bottom: var(--pd-5);
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	padding-top: var(--pd-5);
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);
		padding-top: var(--pd-7);
	}

	&--pd {
		@media (--tablet-landscape-up) {
			padding-left: var(--pd-5);
			padding-right: var(--pd-5);
		}

		@media (--desktop-up) {
			padding-left: var(--pd-10);
			padding-right: var(--pd-10);
		}
	}

	+ .form-box {
		margin-top: var(--mg-3);
	}

	&--grey {
		background-color: var(--back-grey-color);
	}

	&__tab-content {
		margin-top: var(--mg-4);
	}
}

.form {
	position: relative;

	&__head {
		margin-bottom: var(--mg-3);

		&--half {
			@media (--tablet-landscape-up) {
				width: 50%;
			}
		}
	}
}

.form-title {
	color: var(--text-main-color);
	font-size: var(--fz-4);
	font-weight: 500;
	line-height: var(--lh-4);
	margin-bottom: var(--mg-4);

	@media (--tablet-landscape-up) {
		font-size: var(--fz-5);
		line-height: var(--lh-5);
		margin-bottom: var(--mg-5);
	}

	&--no-mb {
		margin-bottom: 0;
	}

	+ .form-hint {
		margin-top: var(--mg-n-3);
	}

	+ .form-desc {
		margin-top: var(--mg-n-2);
	}
}

.form-hint {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	margin-bottom: var(--mg-2);

	> a {
		color: var(--text-grey-color);
	}

	&--light {
		color: var(--text-light-grey-color);

		> a {
			color: var(--text-light-grey-color);
		}
	}

	.form-fields + & {
		margin-top: var(--mg-4);
	}

	.price-box + & {
		margin-top: var(--mg-2);
	}

	.form + & {
		margin-top: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-7);
		}
	}

	.form-box + & {
		margin-top: var(--mg-2);
	}
}

.form-subtitle {
	color: var(--text-main-color);
	font-size: var(--fz-3);
	font-weight: 500;
	line-height: var(--lh-3);
	margin-bottom: var(--mg-3);

	.form-fields + & {
		margin-top: var(--mg-5);
	}
}

.form-fields {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (--desktop-up) {
		flex-direction: row;
	}

	&--flex {
		flex-direction: row;

		@media (--tablet-landscape-down) {
			flex-direction: column;
		}
	}

	+ .form-fields {
		margin-top: var(--mg-3);
	}

	&--column {
		flex-direction: column;
	}

	&--align {
		align-items: flex-end;
	}

	&--mobile-reverse {
		@media (--tablet-landscape-down) {
			flex-direction: column-reverse;
		}
	}

	&__col {
		+ .form-fields__col {
			margin-top: var(--mg-3);

			@media (--desktop-up) {
				margin-top: 0;

				&--small-mg {
					margin-top: 0;
				}
			}

			&--small-mg {
				margin-top: var(--mg-1);
			}
		}

		.form-fields--mobile-reverse & {
			+ .form-fields__col {
				@media (--tablet-landscape-down) {
					margin-bottom: var(--mg-3);
					margin-top: 0;
				}

				@media (--desktop-up) {
					margin-bottom: 0;
				}
			}
		}

		&--half {
			width: 100%;

			@media (--desktop-up) {
				width: calc(50% - 12px);
			}

			+ .form-fields__col--half {
				@media (--tablet-landscape-up) {
					margin-top: var(--mg-3);
				}

				@media (--desktop-up) {
					margin-top: 0;
				}
			}
		}

		&--full {
			width: 100%;
		}

		&--sort {
			width: 100%;

			@media (--tablet-landscape-up) {
				width: 352px;
			}
		}

		&--search {
			width: 100%;

			@media (--tablet-landscape-up) {
				width: calc(100% - 400px);
			}
		}
	}

	&__field {
		&:not(:last-child) {
			margin-bottom: var(--mg-3);
		}

		&--mb:not(:last-child) {
			@media (--tablet-landscape-up) {
				margin-bottom: var(--mg-6);
			}
		}

		&--mt {
			@media (--tablet-landscape-up) {
				margin-top: var(--mg-7);
			}
		}

		&--mt2 {
			@media (--tablet-landscape-up) {
				margin-top: var(--mg-6);
			}
		}

		&--mt3 {
			@media (--tablet-landscape-up) {
				margin-top: var(--mg-4);
			}
		}

		&--flex {
			display: flex;
			justify-content: space-between;
		}

		&--submit {
			display: flex;
			justify-content: space-between;

			@media (--tablet-landscape-down) {
				flex-direction: column;
			}

			> button {
				width: calc(50% - 12px);

				@media (--tablet-landscape-down) {
					width: 100%;

					&:first-child {
						margin-bottom: var(--mg-2);
					}
				}
			}
		}

		&--small {
			@media (--tablet-landscape-up) {
				width: 60%;
			}
		}
	}
}

.cart-year {
	display: flex;
	justify-content: space-between;
	position: relative;

	&::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.941' height='36.34' viewBox='0 0 13.941 36.34'%3E%3Cline id='Line_87' data-name='Line 87' y1='36' x2='13' transform='translate(0.47 0.17)' fill='none' stroke='%23d0daf0' stroke-width='1'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
		height: 36px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 14px;
	}

	.cart-field {
		&:first-child {
			margin-right: var(--mg-3);
		}
	}
}

.cart-field {
	width: 80px;

	@media (--tablet-landscape-down) {
		width: 64px;
	}
}

.form-cart {
	margin-left: auto;
	margin-right: auto;

	@media (--tablet-landscape-up) {
		background-color: var(--back-color);
		border-bottom-color: var(--border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--border-color);
		border-top-style: solid;
		border-top-width: 1px;
		width: 416px;
	}

	&__item {
		padding-bottom: var(--pd-4);
		padding-top: var(--pd-4);

		@media (--tablet-landscape-down) {
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}

		@media (--tablet-landscape-up) {
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
		}

		&:not(:last-child) {
			border-bottom-color: var(--info-sidebar-border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
	}
}

.form-flex {
	display: flex;
	flex-direction: column;

	@media (--tablet-landscape-up) {
		align-items: center;
		flex-direction: row;
	}

	&--mobile-col-rev {
		@media (--tablet-landscape-down) {
			flex-direction: column-reverse;
		}
	}

	.form-fields + & {
		margin-top: var(--mg-3);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-7);
		}
	}

	&--column {
		align-items: flex-start;
		flex-direction: column;
	}

	&:not(:last-child) {
		margin-bottom: var(--mg-5);
	}

	&__item {
		.form-flex--column & {
			width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: var(--mg-2);

			@media (--tablet-landscape-up) {
				margin-bottom: 0;
				margin-right: var(--mg-5);

				.form-flex--column & {
					margin-bottom: var(--mg-2);
					margin-right: 0;
				}
			}

			.form-flex--mobile-col-rev & {
				margin-bottom: 0;
				margin-top: var(--mg-2);

				@media (--tablet-landscape-up) {
					margin-top: 0;
				}
			}
		}
	}
}

.form-img-box {
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: relative;

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-6);
		padding-right: var(--pd-6);
		padding-top: var(--pd-8);
	}

	&__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		@media (--tablet-landscape-down) {
			display: none;
		}

		> img {
			@extend .back-img-cover;
		}

		&::before {
			background-image: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.49) 100%);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}
	}

	&__inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		position: relative;
		width: 840px;
		z-index: 2;

		@media (--tablet-landscape-up) {
			background-color: var(--back-color);
			border-bottom-color: var(--border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-left-color: var(--border-color);
			border-left-style: solid;
			border-left-width: 1px;
			border-right-color: var(--border-color);
			border-right-style: solid;
			border-right-width: 1px;
			border-top-color: var(--border-color);
			border-top-style: solid;
			border-top-width: 1px;
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-6);
			padding-right: var(--pd-6);
			padding-top: var(--pd-8);
		}
	}
}

.form-box-back {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&__img {
		bottom: 0;
		left: 15%;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		@media (--tablet-landscape-up) {
			left: 50%;
		}

		> img {
			object-position: center left;
			opacity: 0.1;
			@extend .back-img-contain;
		}
	}
}
