:root {
	--input-border-color: #d0daf0;
	--input-back-color: #fafafc;
	--input-back-white-color: #ffffff;
	--input-placeholder-color: #505f80;
	--input-text-color: #0f2043;
	--input-icon-color: #505f80;
	--input-lbl-color: #505f80;
	--input-back-incorrect-color: #fff7f7;
	--input-border-incorrect-color: #e31a15;
	--input-text-incorrect-color: #e31a15;
	--input-back-correct-color: #f8fffe;
	--input-border-correct-color: #10baa8;
	--input-text-correct-color: #10baa8;
	--input-border-trans-color: #d0daf0;
	--input-back-trans-color: rgba(250, 250, 252, 0.21);
	--input-text-trans-color: #d0daf0;
}

.field {
	display: block;
	position: relative;
	width: 100%;

	&--required {
		&::after {
			bottom: 11px;
			color: var(--input-placeholder-color);
			content: '*';
			position: absolute;
			right: 24px;
		}

		&.field--correct::after {
			color: var(--input-text-correct-color);
		}

		&.field--incorrect::after {
			color: var(--input-text-incorrect-color);
		}
	}

	&__label {
		color: var(--input-lbl-color);
		display: block;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);
	}

	&__input {
		border-bottom-color: var(--input-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--input-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--input-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--input-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--input-placeholder-color);
		font-family: 'Montserrat', sans-serif;
		font-size: var(--fz-0);
		font-weight: 400;
		height: 48px;
		line-height: 48px;
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		width: 100%;

		&:focus {
			color: var(--input-text-color);
		}

		&--textarea {
			height: 114px;
			line-height: var(--lh-0);
			padding-bottom: var(--pd-2);
			padding-top: var(--pd-2);

			&-h {
				height: 144px;
				line-height: var(--lh-0);
				padding-bottom: var(--pd-2);
				padding-top: var(--pd-2);
			}
		}

		&--grey {
			background-color: var(--input-back-color);
		}

		&--white {
			background-color: var(--input-back-white-color);
		}

		&--transparent {
			background-color: var(--input-back-trans-color);
			border-bottom-color: var(--input-border-trans-color);
			border-left-color: var(--input-border-trans-color);
			border-right-color: var(--input-border-trans-color);
			border-top-color: var(--input-border-trans-color);
			color: var(--input-text-trans-color);

			&:focus {
				background-color: var(--input-back-white-color);
			}
		}

		.field--correct & {
			border-bottom-color: var(--input-border-correct-color);
			border-left-color: var(--input-border-correct-color);
			border-right-color: var(--input-border-correct-color);
			border-top-color: var(--input-border-correct-color);
			color: var(--input-text-correct-color);
		}

		.field--incorrect & {
			border-bottom-color: var(--input-border-incorrect-color);
			border-left-color: var(--input-border-incorrect-color);
			border-right-color: var(--input-border-incorrect-color);
			border-top-color: var(--input-border-incorrect-color);
			color: var(--input-text-incorrect-color);
		}
	}
}
