.number-field {
	display: inline-block;
	min-width: 136px;
	position: relative;

	&__input {
		align-items: center;
		background-color: var(--input-back-white-color);
		border-bottom-color: var(--input-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--input-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--input-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--input-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--input-text-color);
		display: flex;
		height: 48px;
		justify-content: center;
		line-height: 48px;
		padding-left: 40px;
		padding-right: 40px;
		position: relative;
		width: 100%;

		&::before,
		&::after {
			background-color: var(--input-border-color);
			bottom: 8px;
			content: '';
			position: absolute;
			top: 8px;
			width: 1px;
		}

		&::before {
			left: 40px;
		}

		&::after {
			right: 40px;
		}
	}

	&__btn {
		color: var(--input-text-color);
		font-size: 16px;
		height: 48px;
		line-height: 48px;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		transition-duration: var(--animate-duration-effect);
		transition-property: background-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 40px;

		&:hover {
			background-color: rgba(205, 218, 240, 0.25);
		}

		&--dec {
			left: 0;
		}

		&--inc {
			right: 0;
		}
	}
}
