:root {
	--radio-cart-border-color: #d0daf0;
	--radio-cart-back-color: #ffffff;
	--radio-cart-toggle-border-checked-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--radio-cart-toggle-checked-color: #fafafc;
}

.cart-radio {
	background-color: var(--radio-cart-back-color);
	border-bottom-color: var(--radio-cart-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--radio-cart-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: var(--br-1);
	border-right-color: var(--radio-cart-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--radio-cart-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	display: inline-block;
	height: 240px;
	max-width: 256px;
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
	position: relative;
	width: 100%;

	@media (--only-phone) {
		max-width: 100%;
	}

	@media (--tablet-landscape-up) {
		width: 232px;
	}

	&--small-h {
		height: 168px;

		@media (--only-phone) {
			max-width: 100%;
		}
	}

	&__input {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		text-align: center;
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		font-weight: 600;
		line-height: var(--lh-1);
		margin-bottom: 14px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	&__subtitle {
		color: var(--text-grey-color);
		display: block;
		font-size: var(--fz-0);
		line-height: var(--lh-0);
	}

	&__name {
		color: var(--text-main-color);
		display: block;
		font-size: var(--fz-4);
		font-weight: 500;
		line-height: var(--lh-4);
	}

	&__img {
		margin-top: var(--mg-6);

		.cart-radio--small-h & {
			margin-top: var(--mg-2);
		}
	}

	&__checked {
		border-bottom-color: var(--radio-cart-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--radio-cart-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 50%;
		border-right-color: var(--radio-cart-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--radio-cart-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		height: 16px;
		left: 16px;
		position: absolute;
		top: 16px;
		width: 16px;

		&::before {
			background-color: var(--radio-cart-toggle-checked-color);
			border-radius: 50%;
			content: '';
			display: block;
			height: 8px;
			left: 50%;
			opacity: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition-duration: var(--animate-duration-micro);
			transition-property: opacity;
			transition-timing-function: var(--animate-easing-standard);
			width: 8px;
		}
	}

	:checked ~ &__checked {
		background-image: var(--radio-border-checked-color);
		opacity: 1;

		&::before {
			opacity: 1;
		}
	}
}
