:root {
	--color-radio-black: #000000;
	--color-radio-grey: #7a7a7a;
	--color-radio-light-grey: linear-gradient(#f0f0f0 0%, #b7b7b7 100%);
	--color-radio-white: #ffffff;
	--color-radio-light-blue: #4f80e6;
	--color-radio-blue: #144abc;
	--color-radio-purple: #8143be;
	--color-radio-pink: #c61388;
	--color-radio-beige: #eadaaa;
	--color-radio-brown: #543024;
	--color-radio-red: #e0302f;
	--color-radio-green: #55bb20;
	--color-radio-light-yellow: #fed773;
	--color-radio-yellow: #fac32d;
	--color-radio-light-pink: #e35bb5;
	--color-radio-orange: #f27220;
	--color-radio-border-color: #d0daf0;
	--color-radio-border-selected-color: #02a5ff;
	--color-radio-clear-color: #adb5c7;
}

.color {
	align-items: center;
	display: flex;

	&__input {
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		height: 32px;
		justify-content: center;
		min-width: 32px;
		position: relative;
		width: 32px;
	}

	.color--black &__input {
		background-color: var(--color-radio-black);
	}

	.color--grey &__input {
		background-color: var(--color-radio-grey);
	}

	.color--light-grey &__input {
		background-image: var(--color-radio-light-grey);
	}

	.color--white &__input {
		background-color: var(--color-radio-white);
		border-bottom-color: var(--color-radio-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--color-radio-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--color-radio-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--color-radio-border-color);
		border-top-style: solid;
		border-top-width: 1px;
	}

	.color--light-blue &__input {
		background-color: var(--color-radio-light-blue);
	}

	.color--blue &__input {
		background-color: var(--color-radio-blue);
	}

	.color--purple &__input {
		background-color: var(--color-radio-purple);
	}

	.color--pink &__input {
		background-color: var(--color-radio-pink);
	}

	.color--beige &__input {
		background-color: var(--color-radio-beige);
	}

	.color--brown &__input {
		background-color: var(--color-radio-brown);
	}

	.color--red &__input {
		background-color: var(--color-radio-red);
	}

	.color--green &__input {
		background-color: var(--color-radio-green);
	}

	.color--light-yellow &__input {
		background-color: var(--color-radio-light-yellow);
	}

	.color--yellow &__input {
		background-color: var(--color-radio-yellow);
	}

	.color--light-pink &__input {
		background-color: var(--color-radio-light-pink);
	}

	.color--orange &__input {
		background-color: var(--color-radio-orange);
	}

	.color--clear &__input {
		border-bottom-color: var(--color-radio-clear-color);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-left-color: var(--color-radio-clear-color);
		border-left-style: solid;
		border-left-width: 2px;
		border-right-color: var(--color-radio-clear-color);
		border-right-style: solid;
		border-right-width: 2px;
		border-top-color: var(--color-radio-clear-color);
		border-top-style: solid;
		border-top-width: 2px;

		> svg {
			height: 13px;
			left: 50%;
			position: absolute;
			stroke: var(--color-radio-clear-color);
			stroke-width: 2px;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 13px;
		}
	}

	:checked ~ &__input {
		border-bottom-color: var(--color-radio-border-selected-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--color-radio-border-selected-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--color-radio-border-selected-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--color-radio-border-selected-color);
		border-top-style: solid;
		border-top-width: 1px;
	}
}
