:root {
	--radio-border-color: #d0daf0;
	--radio-back-color: #fafafc;
	--radio-border-checked-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--radio-toggle-checked-color: #fafafc;
	--radio-lbl-color: #0f2043;
}

.radio {
	align-items: center;
	display: flex;

	+ .radio {
		margin-top: 8px;
	}

	&__input {
		align-items: center;
		background-color: var(--radio-back-color);
		border-bottom-color: var(--radio-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--radio-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 50%;
		border-right-color: var(--radio-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--radio-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		cursor: pointer;
		display: flex;
		height: 32px;
		justify-content: center;
		min-width: 32px;
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color, background-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 32px;

		&--small {
			height: 16px;
			min-width: 16px;
			width: 16px;
		}
	}

	&__checked {
		background-image: var(--radio-border-checked-color);
		border-radius: 50%;
		display: block;
		height: 0;
		min-width: 0;
		opacity: 0;
		transform: translateZ(0);
		transition-duration: var(--animate-duration-micro);
		transition-property: opacity, height, min-width, width;
		transition-timing-function: var(--animate-easing-standard);
		width: 0;

		&::before {
			background-color: var(--radio-back-color);
			border-radius: 50%;
			content: '';
			display: block;
			height: 0;
			left: 50%;
			opacity: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition-duration: var(--animate-duration-micro);
			transition-property: opacity, height, width;
			transition-timing-function: var(--animate-easing-standard);
			width: 0;
		}

		:checked ~ .radio__input & {
			height: 32px;
			min-width: 32px;
			opacity: 1;
			width: 32px;
		}

		:checked ~ .radio__input--small & {
			height: 16px;
			min-width: 16px;
			width: 16px;
		}

		:checked ~ .radio__input &::before {
			height: 16px;
			opacity: 1;
			width: 16px;
		}

		:checked ~ .radio__input--small &::before {
			height: 8px;
			width: 8px;
		}
	}

	&__label {
		color: var(--radio-lbl-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}

	&__input + &__label,
	&__label + &__input {
		margin-left: var(--mg-2);
	}
}
