:root {
	--range-handle-back-color: #ffffff;
	--range-handle-shadow-color: rgba(59, 90, 251, 0.3);
	--range-back-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
}

.range {
	&__values {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.range-field {
	color: var(--text-main-color);
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-4);
	font-weight: 500;
	line-height: var(--lh-4);
	width: 50%;

	&:first-child {
		text-align: left;
	}

	&:last-child {
		text-align: right;
	}

	&--left:last-child {
		text-align: left;
	}
}

.range-value {
	color: var(--text-main-color);
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-4);
	font-weight: 500;
	line-height: var(--lh-4);

	&::after {
		content: ' ₽';
	}
}

.range-slider {
	bottom: -18px;
	left: -24px;
	position: absolute;
	right: -24px;
}

.noUi-horizontal .noUi-handle {
	height: 20px;
	right: -10px;
	top: -9px;
	width: 20px;

	&::before,
	&::after {
		display: none;
	}
}

.noUi-handle {
	background-color: #ffffff;
	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 50%;
	border-right-width: 0;
	border-top-width: 0;
	box-shadow: 0 3px 6px var(--range-handle-shadow-color);
	cursor: default;
}

.noUi-target {
	background-color: transparent;
	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 0;
	border-right-width: 0;
	border-top-width: 0;
	box-shadow: none;
}

.noUi-connect {
	background-image: var(--range-back-color);
}

.noUi-horizontal {
	height: 4px;
}

.range-steps {
	bottom: -38px;
	color: var(--text-grey-color);
	display: flex;
	font-size: var(--fz-0);
	justify-content: space-between;
	left: -24px;
	line-height: var(--lh-0);
	position: absolute;
	right: -24px;

	@media (--tablet-landscape-down) {
		display: none;
	}
}
