.select-filter {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;

	&__input.hidden {
		-webkit-appearance: none;
		display: none;
	}
}

.select-filter .select2-dropdown {
	background-color: transparent;
	border-bottom-color: var(--select-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--select-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--select-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--select-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	left: -25px;
	width: calc(100% + 50px) !important;

	&.select2-dropdown--above,
	&.select2-dropdown--above .select2-results {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		overflow: hidden;
	}

	&.select2-dropdown--below,
	&.select2-dropdown--below .select2-results {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		overflow: hidden;
	}
}

.select-filter .select2-container--default {
	.select2-selection--single {
		background-color: transparent;
		border-bottom-width: 0;
		border-left-width: 0;
		border-radius: 0;
		border-right-width: 0;
		border-top-width: 0;

		.select2-selection__rendered {
			color: var(--select-text-color);
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
		}

		.select2-selection__arrow b {
			display: none;
		}

		.select2-selection__arrow {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.414' height='9.207' viewBox='0 0 17.414 9.207'%3E%3Cpath id='Path_91' data-name='Path 91' d='M-14397-18235l8,8,8-8' transform='translate(14397.707 18235.707)' fill='none' stroke='%235e6170' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: 100%;
			height: 10px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition-duration: var(--animate-duration-effect);
			transition-property: transform;
			transition-timing-function: var(--animate-easing-standard);
			width: 16px;
		}
	}

	&.select2-container--open.select2-container--above .select2-selection--single {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.select2-container--open.select2-container--below .select2-selection--single {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.select-filter .select2-container--default.select2-container--open .select2-selection--single {
	.select2-selection__arrow {
		transform: scaleY(-1) translateY(50%);
	}
}

.select-filter .select2-container {
	width: 100% !important;

	.select2-selection--single {
		height: 30px;
		position: relative;
	}

	.select2-selection--single .select2-selection__rendered {
		padding-left: 0;
		padding-right: var(--pd-4);
	}
}

.select-filter .select2-results__option {
	background-color: var(--select-item-back-color);
	color: var(--select-text-color);
	font-size: var(--fz-1);
	height: 48px;
	line-height: 48px;
	padding-bottom: 0;
	padding-left: var(--pd-3);
	padding-right: var(--pd-3);
	padding-top: 0;

	&:not(:last-child) {
		border-bottom-color: var(--select-item-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
}

.select-filter .select2-container--default .select2-results__option--highlighted[aria-selected],
.select-filter .select2-container--default .select2-results__option[aria-selected='true'],
.select-filter .select2-container--default .select2-results__option--selected {
	background-color: transparent;
	background-image: var(--select-item-back-hover-color);
	color: var(--select-item-text-hover-color);
}

.flatpickr-current-month input.cur-year {
	-webkit-appearance: menulist;
}

.select-filter--abs + .select2-container {
	left: -25px !important;
	right: -25px !important;
	top: 83px !important;
	width: auto !important;

	.select2-dropdown {
		width: 100% !important;
	}
}

.select-filter--rel {
	+ .select2-container {
		left: auto !important;
		margin-left: -24px;
		margin-right: -24px;
		position: relative !important;
		right: auto !important;
		top: 16px !important;
		width: calc(100% + 48px) !important;

		.select2-dropdown {
			border-bottom-width: 0;
			border-left-width: 0;
			border-right-width: 0;
			border-top-width: 0;
			position: relative;
			width: 100% !important;
		}

		.select2-dropdown.select2-dropdown--below,
		.select2-dropdown.select2-dropdown--below .select2-results {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.select2-dropdown.select2-dropdown--above,
		.select2-dropdown.select2-dropdown--above .select2-results {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}
