.stars {
	display: flex;
	flex-wrap: wrap;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-1);

			@media (--tablet-landscape-up) {
				margin-right: var(--mg-2);
			}
		}
	}
}

.star {
	height: 17px;
	position: relative;
	width: 17px;

	&--clickable {
		cursor: pointer;
		&:not(:last-child) {
			margin-right: var(--mg-1);

			@media (--tablet-landscape-up) {
				margin-right: var(--mg-2);
			}
		}

		> img {
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}

.star-icon-empty {
	.star--active &,
	.star--hover & {
		opacity: 0;
		visibility: hidden;
	}
}

.star-icon {
	opacity: 0;
	visibility: hidden;

	.star--hover &,
	.star--active & {
		opacity: 1;
		transition-duration: var(--animate-duration-effect);
		transition-property: visibility, opacity;
		transition-timing-function: var(--animate-easing-standard);
		visibility: visible;
	}
}
