:root {
	--upload-lbl-color: #505f80;
	--upload-back-color: #fafafc;
	--upload-border-color: #cedbef;
	--upload-text-color: #505f80;
}

.attach {
	width: 100%;

	&--row {
		@media (--tablet-landscape-up) {
			align-items: center;
			display: flex;

			.attach__input {
				margin-right: var(--mg-3);
				width: 50%;
			}
		}
	}

	&__label {
		align-items: center;
		color: var(--upload-lbl-color);
		display: flex;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);
	}
}

.file-list {
	color: var(--text-grey-color);
}

.file {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: var(--mg-1);

	&__name {
		flex-grow: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__delete-btn {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Group_255' data-name='Group 255' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_143' data-name='Group 143'%3E%3Crect id='Rectangle_1679' data-name='Rectangle 1679' width='24' height='24' fill='none'/%3E%3C/g%3E%3Cg id='_097-cancel' data-name='097-cancel' transform='translate(3.001 3)'%3E%3Cg id='Group_908' data-name='Group 908' transform='translate(0 0)'%3E%3Cpath id='Path_8041' data-name='Path 8041' d='M9.994,9l7.8-7.8A.7.7,0,1,0,16.8.206L9,8.005,1.2.206A.7.7,0,0,0,.206,1.2L8.005,9l-7.8,7.8a.7.7,0,0,0,.994.994L9,9.994l7.8,7.8a.7.7,0,0,0,.994-.994Z' transform='translate(0 0)' fill='%23054077'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		height: 15px;
		margin-left: var(--mg-2);
		width: 15px;
	}
}
