<div class="popup-box js-application-accepted-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner popup-box__inner--info">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup-info">
			<h3 class="popup-title">
				Ваша заявка принята
			</h3>
			<p class="popup-text">Ваша заявка принята и находится
				в обработке. Наш менеджер свяжется с Вами в ближайшее рабочее время. Мы работаем каждый день с 8:00 до 20:00</p>
		</div>
	</div>
</div>
