<div class="popup-box js-feedback-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="feedback-tile feedback-tile--popup">
					<div class="feedback-tile__inner">
						<div class="stars">
							<div class="stars__item">
								<div class="star">
									<img src="./styles/images/star.svg" alt=""/>
								</div>
							</div>
							<div class="stars__item">
								<div class="star">
									<img src="./styles/images/star.svg" alt=""/>
								</div>
							</div>
							<div class="stars__item">
								<div class="star">
									<img src="./styles/images/star.svg" alt=""/>
								</div>
							</div>
							<div class="stars__item">
								<div class="star">
									<img src="./styles/images/star.svg" alt=""/>
								</div>
							</div>
							<div class="stars__item">
								<div class="star">
									<img src="./styles/images/star.svg" alt=""/>
								</div>
							</div>
						</div>
						<h4 class="feedback-tile__title">Отличный салон!!!</h4>
						<p class="feedback-tile__text">22 февраля 2020 забрала свой Логан степвей на Варшавском шоссе. Менеджер Илья Наполов - профессионал своего дела! Поскольку я проживаю в другом регионе, мне было не удобно кататься туда-сюда, Илья нашел выход из этой ситуации, как и из многих других, которые возникали. Машиной довольна, нареканий нет!
							Спасибо, Авто-Белогорье!</p>
					</div>
					<div class="feedback-tile__name">Ирина Смольченко</div>
				</div>
			</div>
		</div>
	</div>
</div>
