<div class="popup-box js-give-feedback-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content popup-content--feedback">
				<form class="form">
					<div class="form-fields form-fields--column">
						<div class="form-fields__field">
							<h4 class="popup-title">Оставить отзыв</h4>
							<div class="form-fields__field">
								<div class="stars">
									<div class="star star--clickable js-star" data-value='1'>
										<img class="star-icon" src="./styles/images/star.svg" alt=""/>
										<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
									</div>
									<div class="star star--clickable js-star" data-value='2'>
										<img class="star-icon" src="./styles/images/star.svg" alt=""/>
										<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
									</div>
									<div class="star star--clickable js-star" data-value='3'>
										<img class="star-icon" src="./styles/images/star.svg" alt=""/>
										<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
									</div>
									<div class="star star--clickable js-star" data-value='4'>
										<img class="star-icon" src="./styles/images/star.svg" alt=""/>
										<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
									</div>
									<div class="star star--clickable js-star" data-value='5'>
										<img class="star-icon" src="./styles/images/star.svg" alt=""/>
										<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
									</div>
								</div>
							</div>
							<div class="form-fields__field">
								<label class="field">
									<span class="field__label">Тема отзыва</span>
									<input class="field__input field__input--white" type="text"
										   placeholder="Введите тему">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field">
									<span class="field__label">Текст</span>
									<textarea class="field__input field__input--textarea field__input--white"
											  placeholder="Введите текст отзыва"></textarea>
								</label>
							</div>
						</div>
					</div>
					<div class="form-fields">
						<div class="form-fields__col form-fields__col--half">
							<button class="btn-blue btn-full js-open-feedback-sent-popup-btn" type="submit">Отправить
							</button>
						</div>
						<div class="form-fields__col form-fields__col--small-mg form-fields__col--half">
							<div class="form-hint">Оставлять отзывы могут только зарегистрированные и
								авторизованные пользователи
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
