<div class="popup-box js-leasing-app-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="popup-content-back">
					<div class="popup-content-back__img">
						<img src="./images/car13.png" alt=""/>
					</div>
				</div>
				<div class="form-fields">
					<div class="form-fields__col form-fields__col--half">
						<h3 class="popup-title">Заявка на лизинг</h3>
						<h4 class="popup-name">Volkswagen Passat</h4>
						<p class="popup-text">Volkswagen Passat VIII (B8) Рестайлинг , Седан, 2020 года выпуска,
							двигатель 1984 см3, 190 л.с., бензиновый, автомат, передний привод, цвет черный,
							комбинированный
							салон.</p>
					</div>
					<div class="form-fields__col form-fields__col--half">
						<h3 class="popup-title">Итоговая стоимость</h3>
						<div>
							<div class="price-box">
								<div class="price price--medium"><span>2 408 000 ₽</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-content popup-content--grey">
				<form class="form">
					<div class="form-fields">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">ФИО</span>
									<input class="field__input field__input--white" type="text" placeholder="ФИО">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Номер телефона</span>
									<input class="field__input field__input--white js-phone-field" type="text"
										   placeholder="+7 ( ___ ) ___ - __ - __">
								</label>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Ваш e-mail</span>
									<input class="field__input field__input--white" type="text"
										   placeholder="Введите e-mail">
								</label>
							</div>
							<div class="form-fields__field">
								<div class="attach">
									<div class="attach__label">
										<span>Скан-копия паспорта</span>
										<div class="tip-box">
											<button class="tip-link">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#info-circle"/>
												</svg>
											</button>
											<div class="tip-popup tip-popup--top">Для подготовки предварительного предложения
												кредитования прикрепите скан-копию Вашего паспорта или водительского
												удостоверения
											</div>
										</div>
									</div>
									<label class="attach__input" for="attach-file-3">
										<input id="attach-file-3" class="upload-file visuallyhidden" name="document"
											   type="file">
										<span
											class="attach-input__btn btn-transparent-grey btn-transparent-grey--no-back btn-full"><span>Прикрепить файл</span></span>
									</label>
									<div class="file-list"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-fields form-fields--mobile-reverse">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<button class="btn-blue btn-full js-application-accepted-btn" data-personal-btn="leasing-app-check" disabled="true" type="submit">Отправить
								</button>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field form-fields__field--small">
								<label class="checkbox">
									<input class="visuallyhidden js-personal-check" data-personal-check="leasing-app-check" type="checkbox">
									<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
									<span class="checkbox__label">Я согласен на <a
										href="">обработку персональных данных</a></span>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
