<div class="popup-box js-leasing-calculator-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="popup-content-back">
					<div class="popup-content-back__img">
						<img src="./images/car19.png" alt=""/>
					</div>
				</div>
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<h3 class="popup-title">Калькулятор лизинга</h3>
						<h4 class="popup-name">Renault Koleos</h4>
						<p class="popup-text">Renault Koleos 2,0 CVT X-Tronic, 2020 года выпуска, двигатель
							1997 см3, 144 л.с., бензиновый, автомат, полный привод, цвет черный, комбинированный
							салон.</p>
					</div>
					<div class="popup-content__col">
						<h3 class="popup-content__title">Итоговая стоимость</h3>
						<div>
							<div class="price-box">
								<div class="price price--medium"><span>747 000 ₽</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form class="popup-form">
				<div class="popup-content">
					<div class="popup-content__head">
						<h3 class="popup-title">
							<strong>Информация о кредите</strong>
						</h3>
					</div>
					<div class="form-fields form-fields--column">
						<div class="form-fields__col form-fields__col--full">
							<div class="form-fields__field form-fields__field--mb">
								<div class="filter">
									<div class="filter-items filter-items--vertical">
										<div class="filter-items__item">
											<div class="filter-item">
												<span class="filter-item__label">Первоначальный взнос</span>
												<div class="range">
													<div class="range__values" data-one-percent="16500">
														<input type="text" class="range-field range-field--left js-range-upper-field">
													</div>
													<div
														class="range-slider js-range-percent"></div>
													<div class="range-steps">
														<div>10%</div>
														<div>20%</div>
														<div>30%</div>
														<div>40%</div>
														<div>50%</div>
														<div>60%</div>
														<div>70%</div>
														<div>80%</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-fields__field form-fields__field--mb">
								<div class="filter">
									<div class="filter-items filter-items--vertical">
										<div class="filter-items__item">
											<div class="filter-item">
												<span class="filter-item__label">Срок кредита</span>
												<div class="range">
													<div class="range__values">
														<input type="text" class="range-field range-field--left js-range-upper-field">
													</div>
													<div
														class="range-slider js-range-month"></div>
													<div class="range-steps">
														<div>12 мес</div>
														<div>24 мес</div>
														<div>36 мес</div>
														<div>48 мес</div>
														<div>60 мес</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-fields__field">
								<button class="btn-blue btn-mobile-full js-calculate-btn" type="button">Рассчитать</button>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-content">
					<div class="popup-content-back">
						<div class="popup-content-back__img">
							<img src="./images/car19.png" alt=""/>
						</div>
					</div>
					<div class="popup-content__inner">
						<div class="popup-content__col popup-content__col--full">
							<h3 class="popup-title popup-title--small">
								<strong>Результаты расчета</strong>
							</h3>
						</div>
					</div>
					<div class="popup-content__inner">
						<div class="popup-content__col">
							<p class="popup-text">Расчет является предварительным и не является публичной
								офертой.</p>
							<p class="form-hint">Для получения индивидуального предложения отправьте запрос нашему
								менеджеру.</p>
						</div>
						<div class="popup-content__col">
							<div class="popup-content__inner">
								<div class="popup-content__col">
									<div>
										<div class="price-lbl">Стоимость авто</div>
										<div class="price-box">
											<div class="price price--medium"><span class="no-price js-no-price">&nbsp;&nbsp;</span>
												<span class="hidden js-price"><span>747 000 ₽</span></span>
											</div>
										</div>
									</div>
									<div>
										<div class="price-lbl">Стоимость по
											договору лизинга</div>
										<div class="price-box">
											<div class="price price--medium"><span class="no-price js-no-price">&nbsp;&nbsp;</span>
												<span class="hidden js-price"><span>1 014 214 ₽</span></span>
											</div>
										</div>
									</div>
								</div>
								<div class="popup-content__col">
									<div>
										<div class="price-lbl">Ежемесячный платеж</div>
										<div class="price-box">
											<div class="price price--medium"><span class="no-price js-no-price">&nbsp;&nbsp;</span>
												<span class="hidden js-price"><span>22 570 ₽</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="popup-content popup-content--grey">
					<div class="form-fields">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">ФИО</span>
									<input class="field__input field__input--white" type="text" placeholder="ФИО">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Номер телефона</span>
									<input class="field__input field__input--white js-phone-field" type="text"
										   placeholder="+7 ( ___ ) ___ - __ - __">
								</label>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Ваш e-mail</span>
									<input class="field__input field__input--white" type="text"
										   placeholder="Введите e-mail">
								</label>
							</div>
							<div class="form-fields__field">
								<div class="attach">
									<div class="attach__label">
										<span>Скан-копия паспорта</span>
										<div class="tip-box">
											<button class="tip-link" type="button">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#info-circle"/>
												</svg>
											</button>
											<div class="tip-popup tip-popup--top">Для подготовки предварительного предложения
												кредитования прикрепите скан-копию Вашего паспорта или водительского
												удостоверения
											</div>
										</div>
									</div>
									<label class="attach__input" for="attach-file-6">
										<input id="attach-file-6" class="upload-file visuallyhidden"
											   name="document"
											   type="file">
										<span
											class="attach-input__btn btn-transparent-grey btn-transparent-grey--no-back btn-full"><span>Прикрепить файл</span></span>
									</label>
									<div class="file-list"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-fields form-fields--mobile-reverse">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<button class="btn-blue btn-full" data-personal-btn="leasing-check" disabled="true" type="submit">Отправить</button>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field form-fields__field--small">
								<label class="checkbox">
									<input class="visuallyhidden js-personal-check" data-personal-check="leasing-check" type="checkbox">
									<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
									<span class="checkbox__label">Я согласен на <a
										href="">обработку персональных данных</a></span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-hint">Предоставляя свои личные данные, вы даете согласие на получение от
						Авто-Белогорье новостей, информации по специальным предложениям, а так же обработку персональных
						данных.
					</div>
					<div class="form-hint">Мы стремимся, чтобы цены на сайте обновлялись максимально быстро и
						отражали все спецпредложения. Тем не менее, на ряд автомобилей возможно получение дополнительных
						поддержек от производителей.
					</div>
					<div class="form-hint">*Узнать подробнее о государственных программах поддержки можно,
						отправив запрос нашему менеджеру.
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
