<div class="popup-box js-offer-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="popup-content-back">
					<div class="popup-content-back__img">
						<img src="./images/car13.png" alt=""/>
					</div>
				</div>
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<h4 class="popup-title">Получить персональное
							предложение</h4>
						<h4 class="popup-name">Volkswagen Passat</h4>
						<p class="popup-text">Volkswagen Passat VIII (B8) Рестайлинг , Седан, 2020 года
							выпуска, двигатель 1984 см3, 190 л.с., бензиновый, автомат, передний привод, цвет черный,
							комбинированный салон.</p>
					</div>
					<div class="popup-content__col">
						<h3 class="popup-title">Итоговая стоимость</h3>
						<div>
							<div class="price-box price-box--no-sb">
								<div class="price price--medium"><span>3 032 500 ₽</span></div>
								<div class="price price--small price--old"><span>4 032 500 ₽</span></div>
							</div>
						</div>
						<div class="popup-content-flex">
							<div class="popup-content-flex__item">
								<div class="tile-lbl tile-lbl--green">Акция</div>
							</div>
							<div class="popup-content-flex__item">
								<div class="tile-lbl tile-lbl--red">Спец цена</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-content popup-content--grey">
				<form class="form">
					<div class="form-fields">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Ваше имя</span>
									<input class="field__input field__input--white" type="text" placeholder="Введите имя">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Номер телефона</span>
									<input class="field__input field__input--white js-phone-field" type="text"
										   placeholder="+7 ( ___ ) ___ - __ - __">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Ваш e-mail</span>
									<input class="field__input field__input--white" type="text"
										   placeholder="Введите e-mail">
								</label>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field">
									<span class="field__label">Вопрос или комментарий</span>
									<textarea class="field__input field__input--white field__input--textarea"
											  placeholder="Напишите ваш вопрос"></textarea>
								</label>
							</div>
							<div class="form-fields__field form-fields__field--small">
								<label class="checkbox">
									<input class="visuallyhidden js-personal-check" data-personal-check="offer-check" type="checkbox">
									<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
									<span class="checkbox__label">Я согласен на <a href="">обработку персональных данных</a></span>
								</label>
							</div>
							<div class="form-fields__field form-fields__field--small">
								<div class="popup-form__btn">
									<button class="btn-blue btn-full" data-personal-btn="offer-check" disabled="true" type="submit">Отправить</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
