<div class="popup-box js-order-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<h4 class="popup-title"><strong>Мой заказ №B526544</strong></h4>
					</div>
				</div>
			</div>

			<form class="popup-form">
				<div class="popup-content popup-content--no-pb popup-content--grey">
					<div class="popup-content__inner">
						<div class="popup-content__col popup-content__col--full">
							<h3 class="popup-title popup-title--small">
								<strong>Информация о заказе</strong>
							</h3>
						</div>
					</div>
					<div class="popup-content__inner">
						<div class="order-table">
							<div class="order-table__head">
								<div class="order-title">Дата</div>
								<div class="order-title">ФИО</div>
								<div class="order-title">Текущий статус</div>
								<div class="order-title">Сумма</div>
								<div class="order-title"></div>
							</div>
							<div class="order-item">
								<div>
									<div class="order-title hide-on-desktop">Дата</div>
									<div class="text-small">04.05.2020</div>
								</div>
								<div>
									<div class="order-title hide-on-desktop">ФИО</div>
									<div>Барсуков
										Сергей Петрович
									</div>
								</div>
								<div>
									<div class="order-title hide-on-desktop">Текущий статус</div>
									<div class="text-red">ожидается
										оплата
									</div>
								</div>
								<div>
									<div class="order-title hide-on-desktop">Сумма</div>
									<div class="price price--semibold"><span>3 032 ₽</span></div>
								</div>
								<div>
									<button class="btn-blue btn-mobile-full">Повторить заказ</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<form class="popup-form">
				<div class="popup-content popup-content--no-pb popup-content--grey">
					<div class="popup-content__inner">
						<div class="popup-content__col popup-content__col--full">
							<h3 class="popup-title popup-title--small">
								<strong>Параметры оплаты</strong>
							</h3>
						</div>
					</div>
					<div>
						<div class="bill-info">
							<svg class="bill-info__icon">
								<use xlink:href="./styles/icons/icons.svg#file-pdf2"/>
							</svg>
							<div class="bill-info__text">
								<div>Заказ №B526544 от 04.05.2020, <span>Ожидается оплата</span></div>
								<div class="bill-info__price">
									<div class="price price--bold"><span>Сумма заказа 3 032 ₽</span></div>
								</div>
							</div>
						</div>
						<div class="bill-info">
							<svg class="bill-info__icon">
								<use xlink:href="./styles/icons/icons.svg#bill"/>
							</svg>
							<div class="bill-info__text">
								<div>Заказ №B526544 от 04.05.2020, <span class="text-red">Не оплачено</span></div>
								<div class="bill-info__price">
									<div class="price price--bold"><span>Сумма заказа 3 032 ₽</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-content popup-content--no-pb popup-content--grey">
					<div class="popup-content__inner">
						<div class="popup-content__col popup-content__col--full">
							<h3 class="popup-title popup-title--small">
								<strong>Способ оплаты</strong>
							</h3>
						</div>
					</div>
					<div>
						<label class="radio">
							<input class="visuallyhidden" type="radio" name="radio" checked="checked">
							<span class="radio__input radio__input--small">
				<span class="radio__checked radio__checked"></span>
			</span>
							<span class="radio__label">
								<span class="payment-cart payment-cart--normal">
									<span class="payment-cart__name">Visa</span>
									<span class="payment-cart__num">5400 **** **** **** 7754</span>
								</span>
							</span>
						</label>
						<label class="radio">
							<input class="visuallyhidden" type="radio" name="radio">
							<span class="radio__input radio__input--small">
				<span class="radio__checked"></span>
			</span>
							<span class="radio__label">
								<span class="payment-cart payment-cart--normal">
									<span class="payment-cart__name">MasterCard</span>
									<span class="payment-cart__num">5400 **** **** **** 7754</span>
								</span>
							</span>
						</label>



					</div>
				</div>
				<div class="popup-content popup-content--grey">
					<button class="btn-blue btn-mobile-full" type="submit">Оплатить</button>
				</div>
			</form>
		</div>
	</div>
</div>
