<div class="login-popup login-popup--active">
	<button class="login-popup__close js-close-login-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="login-popup__box" data-simplebar>
		<div class="login-popup__inner">
			<div class="login-popup__head">
				<h2 class="login-popup__title">Изменение пароля</h2>
			</div>
			<div class="login-popup__form">
				<form class="login-form">
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Новый пароль</span>
							<input class="field__input" type="text" placeholder="Введите новый пароль">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Подтверждение пароля</span>
							<input class="field__input" type="text" placeholder="Подтвердите новый пароль">
						</label>
					</div>
					<div class="login-form__submit">
						<div class="login-form__btn">
							<button class="btn-blue btn-mobile-full" type="submit">Изменить пароль</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
