<div class="login-popup login-popup--active">
	<button class="login-popup__close js-close-login-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="login-popup__box" data-simplebar>
		<div class="login-popup__inner js-login">
			<div class="login-popup__head">
				<h2 class="login-popup__title">Регистрация прошла
					успешно!</h2>
			</div>
			<div class="login-popup__head">
				<p class="login-popup__subtitle">Пожалуйста, авторизуйтесь</p>
			</div>
			<div class="login-popup__form">
				<form class="login-form">
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Пароль</span>
							<input class="field__input" type="text" placeholder="Введите пароль">
						</label>
					</div>
					<div class="login-form__submit">
						<div class="login-form__btn">
							<button class="btn-blue btn-mobile-full" type="submit">Войти</button>
						</div>
						<div class="login-form__btn">
							<button class="link-grey link-under link-small js-show-password-btn" type="button">Забыли
								пароль?
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="login-popup__mobile-close">
				<button class="btn-transparent-grey btn-full js-close-login-popup-btn"><span>Назад</span></button>
			</div>
		</div>
		<div class="login-popup__inner js-password hidden">
			<div class="login-popup__head">
				<h2 class="login-popup__title">Восстановление пароля</h2>
			</div>
			<div class="login-popup__form">
				<form class="login-form">
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="login-form__submit">
						<div class="login-form__btn">
							<button class="btn-blue btn-mobile-full" type="submit">Выслать пароль</button>
						</div>
						<div class="login-form__btn">
							<button class="link-grey link-under link-small js-show-login-btn" type="button">Войти
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="login-popup__mobile-close">
				<button class="btn-transparent-grey btn-full js-close-login-popup-btn"><span>Назад</span></button>
			</div>
		</div>
	</div>
</div>
