<div class="popup-box js-request-call-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<div class="popup-content__head">
							<h4 class="popup-title">Заказать звонок</h4>
						</div>
					</div>
				</div>
				<form class="form">
					<div class="form-fields">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Ваше имя</span>
									<input class="field__input field__input--white" type="text" placeholder="Введите имя">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Номер телефона</span>
									<input class="field__input field__input--white js-phone-field" type="text"
										   placeholder="+7 ( ___ ) ___ - __ - __">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Ваш e-mail</span>
									<input class="field__input field__input--white" type="text"
										   placeholder="Введите e-mail">
								</label>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field">
									<span class="field__label">Вопрос или комментарий</span>
									<textarea class="field__input field__input--white field__input--textarea"
											  placeholder="Напишите ваш вопрос"></textarea>
								</label>
							</div>
							<div class="form-fields__field form-fields__field--small">
								<label class="checkbox">
									<input class="visuallyhidden js-personal-check" data-personal-check="call-check" type="checkbox">
									<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
									<span class="checkbox__label">Я согласен на <a
										href="">обработку персональных данных</a></span>
								</label>
							</div>
							<div class="form-fields__field form-fields__field--small">
								<div class="popup-form__btn">
									<button class="btn-blue btn-full js-application-accepted-btn" data-personal-btn="call-check" disabled="true" type="submit">Отправить</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="popup-content popup-content--grey">
				<div class="form-hint">
					Предоставляя свои личные данные, вы даете согласие на получение от Авто-Белогорье новостей, информации
					по специальным предложениям, а так же обработку персональных данных.
				</div>
			</div>
		</div>
	</div>
</div>
