<div class="popup-box js-vacancy-accepted-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner popup-box__inner--info">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
	<div class="popup-info">
		<h3 class="popup-title">
			Спасибо за отклик
		</h3>
		<p class="popup-text">Мы внимательно ознакомимся
			с Вашим резюме и свяжемся с Вами
			в течение 3 рабочих дней</p>
	</div>
</div>
</div>
