<div class="popup-box js-vacancy-popup">
	<div class="popup-box-close-box"></div>
	<div class="popup-box__inner">
		<button class="popup-box-close js-close-popup-btn">
			<span class="hide-on-mobile">Закрыть</span>
			<svg>
				<use xlink:href="./styles/icons/icons.svg#cross"/>
			</svg>
		</button>
		<div class="popup">
			<div class="popup-content">
				<div class="form-fields">
					<div class="form-fields__col form-fields__col--half">
						<h4 class="popup-title">Откликнуться на вакансию</h4>
					</div>
				</div>
			</div>
			<div class="popup-content popup-content--grey">
				<form class="form">
					<div class="form-fields">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Имя</span>
									<input class="field__input field__input--white" type="text" placeholder="Введите имя">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field field--required">
									<span class="field__label">Номер телефона</span>
									<input class="field__input field__input--white js-phone-field" type="text"
										   placeholder="+7 ( ___ ) ___ - __ - __">
								</label>
							</div>
							<div class="form-fields__field">
								<label class="field">
									<span class="field__label">Ваш e-mail</span>
									<input class="field__input field__input--white" type="text"
										   placeholder="Введите e-mail">
								</label>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
								<label class="field">
									<span class="field__label">Сообщение</span>
									<textarea
										class="field__input field__input--white field__input--textarea field__input--textarea-h"
										placeholder="Текст сообщения"></textarea>
								</label>
							</div>
							<div class="form-fields__field">
								<div class="attach">
									<div class="attach__label">
										<span>Прикрепить резюме</span>
									</div>
									<label class="attach__input" for="attach-file-11">
										<input id="attach-file-11" class="upload-file visuallyhidden" name="document"
											   type="file">
										<span class="attach-input__btn btn-transparent-grey btn-transparent-grey--no-back btn-full">
											<span>Прикрепить файл</span>
										</span>
									</label>
									<div class="file-list"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-fields form-fields--mobile-reverse">
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field">
									<button class="btn-blue btn-full js-vacancy-accepted-btn" data-personal-btn="vacancy-check" disabled="true" type="submit">Отправить</button>
							</div>
						</div>
						<div class="form-fields__col form-fields__col--half">
							<div class="form-fields__field form-fields__field--small">
								<label class="checkbox">
									<input class="visuallyhidden js-personal-check" data-personal-check="vacancy-check" type="checkbox">
									<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
									<span class="checkbox__label">Я согласен на <a
										href="">обработку персональных данных</a></span>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
