@import url('./../node_modules/normalize.css/normalize.css');
@import url('./../node_modules/swiper/dist/css/swiper.css');
@import url('./../node_modules/simplebar/dist/simplebar.min.css');
@import url('anitabs.css');
@import url('./../node_modules/mediaelement/src/css/mediaelementplayer.css');

@font-face {
	font-display: swap;
	font-family: 'BebasNeue';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/BebasNeue.woff') format('woff'), url('fonts/BebasNeue.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.woff2') format('woff2');
}

/* https://medium.com/p/88d6a5ba1862 */
@custom-media --only-phone (width < 678px);
@custom-media --tablet-portrait-up (width >= 678px);
@custom-media --tablet-landscape-up (width >= 960px);
@custom-media --tablet-landscape-down (width < 960px);
@custom-media --desktop-up (width >= 1200px);
@custom-media --desktop-down (width < 1200px);
@custom-media --big-desktop-up (width >= 1440px);

:root {
	--white: #ffffff;
	--brown: #1c160f;
	--ocher: #b4987a;
	--black: #000000;
	--dark: #0f141c;
	--light-black: #1c232f;
	--light-grey: #c1c1c1;
	--grey: #f2f2f2;
	--dark-grey: #707070;
	--bullet: #e5e5e5;
	--red: #e55454;

	/* https://material.io/design/motion/speed.html#duration */
	--animate-duration-timeout: 2500ms;
	--animate-duration-effect: 700ms;
	--animate-duration-enter: 250ms;
	--animate-duration-leave: 200ms;
	--animate-duration-micro: 100ms;

	/* https://material.io/design/motion/speed.html#easing */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes spinner1 {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spinner2 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}

@keyframes load {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
			-0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
			-0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* stylelint-disable selector-max-universal */
* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}

	&::before,
	&::after {
		box-sizing: border-box;
	}

	& ::selection {
		background-color: var(--ocher);
	}
}
/* stylelint-enable */

/* stylelint-disable declaration-no-important */
[hidden] {
	display: none !important;
}
/* stylelint-enable */

html {
	font-size: 16px;
	@media (--desktop-up) {
		font-size: 112.5%;
	}
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;

	&.disable-hover {
		pointer-events: none;
	}
}

picture {
	img {
		display: inherit;
		width: 100%;
	}
}

button,
input {
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: var(--text-color);
	font-family: system-ui;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;

	&::placeholder {
		color: var(--text-d-color);
	}
}

svg {
	height: 100%;
	width: 100%;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;

	@media (--tablet-landscape-up) {
		font-size: 60px;
		line-height: 1.2;
	}
}

h2 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;

	@media (--tablet-landscape-up) {
		font-size: 52px;
		line-height: 1.2;
	}
}

h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 0;
	margin-top: 0;

	@media (--tablet-landscape-up) {
		font-size: 30px;
	}
}

h4 {
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;

	@media (--tablet-landscape-up) {
		font-size: 18px;
		line-height: 1.2;
	}
}

p {
	margin-bottom: 0;
	margin-top: 0;
}

.visuallyhidden {
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.b-slider {
	.swiper-pagination {
		display: block;
		@media (--tablet-landscape-up) {
			display: none;
		}
	}
}

.swiper-pagination-bullet {
	background-color: var(--bullet);
	height: 11px;
	opacity: 1;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	width: 11px;
}

.swiper-pagination-bullet-active {
	background-color: var(--dark-grey);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin-left: 9px;
	margin-right: 9px;
}

.swiper-button-next,
.swiper-button-prev {
	height: 55px;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
}

.swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' fill='%23000'/%3E%3C/svg%3E%0A");
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' fill='%23b4987a'/%3E%3C/svg%3E%0A");
	}
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' transform='translate(26.227 51.484) rotate(180)' fill='%23000'/%3E%3C/svg%3E%0A");
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' transform='translate(26.227 51.484) rotate(180)' fill='%23b4987a'/%3E%3C/svg%3E%0A");
	}
}

.btn {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	height: 56px;
	line-height: 56px;
	min-width: 280px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);

	&:disabled {
		cursor: none;
		pointer-events: none;
	}

	&--ocher {
		border-bottom-color: var(--ocher);
		border-left-color: var(--ocher);
		border-right-color: var(--ocher);
		border-top-color: var(--ocher);
		box-shadow: inset 0 0 0 56px var(--ocher);
		color: var(--white);

		&:hover {
			box-shadow: none;
			color: var(--ocher);
		}
	}

	&--transparent {
		border-bottom-color: var(--ocher);
		border-left-color: var(--ocher);
		border-right-color: var(--ocher);
		border-top-color: var(--ocher);
		color: var(--ocher);

		&:hover {
			box-shadow: inset 0 0 0 56px var(--ocher);
			color: var(--white);
		}
	}

	&--red {
		border-bottom-color: var(--red);
		border-left-color: var(--red);
		border-right-color: var(--red);
		border-top-color: var(--red);
		box-shadow: inset 0 0 0 56px var(--red);

		&:hover {
			box-shadow: none;
			color: var(--red);
		}
	}

	&--grey {
		border-bottom-color: var(--dark-grey);
		border-left-color: var(--dark-grey);
		border-right-color: var(--dark-grey);
		border-top-color: var(--dark-grey);
		box-shadow: inset 0 0 0 56px var(--dark-grey);

		&:hover {
			box-shadow: none;
			color: var(--dark-grey);
		}
	}
}

.btn-circle {
	align-items: center;
	border-bottom-color: var(--white);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--white);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: 100%;
	border-right-color: var(--white);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--white);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--white);
	cursor: pointer;
	display: flex;
	height: 157px;
	justify-content: center;
	text-transform: uppercase;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	width: 157px;

	&:hover {
		box-shadow: inset 0 0 0 157px var(--white);
		color: var(--dark);
	}
}

.checkbox {
	cursor: pointer;
	display: flex;
	line-height: initial;
	margin-bottom: 30px;

	&--error {
		.checkbox__label {
			color: var(--red);
		}
	}

	&__input {
		display: flex;
		flex-shrink: 0;
		height: 31px;
		justify-content: center;
		margin-right: 20px;
		position: relative;
		width: 31px;
	}

	&__checked {
		height: 18px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		width: 16px;
	}

	input:not(:checked) ~ .checkbox__input .checkbox__checked {
		opacity: 0;
	}

	input:checked ~ .checkbox__input .checkbox__checked {
		opacity: 1;
	}

	&__label {
		color: var(--dark-grey);
		font-size: 14px;
		text-align: left;

		a {
			color: var(--white);
		}
	}
}

.toggle {
	align-items: center;
	cursor: pointer;
	display: flex;

	&__input {
		display: none;
	}

	&__holder {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 20px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-width: 1px;
		display: inline-block;
		height: 31px;
		position: relative;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		width: 51px;
	}

	&__circle {
		border-radius: 100%;
		height: 25px;
		position: absolute;
		top: 2px;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		width: 25px;
	}

	input:disabled ~ .toggle__holder,
	input:disabled ~ .toggle__label {
		opacity: 0.5;
	}

	input:not(:checked) ~ .toggle__holder {
		border-bottom-color: #bfbfbf;
		border-left-color: #bfbfbf;
		border-right-color: #bfbfbf;
		border-top-color: #bfbfbf;
	}

	input:checked ~ .toggle__holder {
		border-bottom-color: var(--ocher);
		border-left-color: var(--ocher);
		border-right-color: var(--ocher);
		border-top-color: var(--ocher);
	}

	input:not(:checked) ~ .toggle__holder .toggle__circle {
		background-color: #bfbfbf;
		left: 2px;
	}

	input:checked ~ .toggle__holder .toggle__circle {
		background-color: var(--ocher);
		left: 22px;
	}

	&__label {
		color: var(--dark-grey);
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;

		@media (--tablet-landscape-up) {
			margin-left: 5px;
		}

		@media (--big-desktop-up) {
			margin-left: 25px;
		}
	}
}

.field {
	display: block;
	margin-bottom: 20px;
	position: relative;
	width: 420px;
	@media (--only-phone) {
		width: 100%;
	}

	&--required {
		&::before {
			color: var(--ocher);
			content: '*';
			font-size: 25px;
			position: absolute;
			right: 5px;
			top: 5px;
		}
	}

	&--error {
		&::before {
			color: var(--red);
		}
	}

	&__input {
		border-bottom-color: var(--ocher);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--ocher);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--ocher);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--ocher);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--ocher);
		font-size: 14px;
		height: 56px;
		line-height: 56px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;

		.field--error & {
			border-bottom-color: var(--red);
			border-left-color: var(--red);
			border-right-color: var(--red);
			border-top-color: var(--red);
			color: var(--red);
		}
	}
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1366px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		padding-left: 35px;
		padding-right: 35px;
	}
}

.header {
	position: relative;

	&__inner {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: inline-block;
		position: fixed;
		right: 15px;
		top: 25px;
		width: 33px;
		z-index: 5;

		@media (--tablet-landscape-up) {
			right: 35px;
			top: 50px;
		}
	}
}

.menu-btn {
	cursor: pointer;
	height: 21px;
	left: 15px;
	position: fixed;
	top: 25px;
	width: 30px;
	z-index: 6;

	@media (--tablet-landscape-up) {
		left: 35px;
		top: 50px;
	}

	&__line {
		background-color: var(--white);
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);

		&--top {
			top: 0;

			.menu-btn:hover & {
				top: -2px;
			}

			.menu-btn--close & {
				top: 9px;
				transform: rotate(-45deg);
			}

			.menu-btn.menu-btn--close:hover & {
				top: 9px;
			}
		}

		&--middle {
			top: 11px;
			.menu-btn--close & {
				opacity: 0;
			}
		}

		&--bottom {
			top: 21px;

			.menu-btn:hover & {
				top: 23px;
			}

			.menu-btn--close & {
				top: 9px;
				transform: rotate(45deg);
			}

			.menu-btn.menu-btn--close:hover & {
				top: 9px;
			}
		}
	}
}

.menu {
	background-color: var(--black);
	bottom: 0;
	left: -100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	position: fixed;
	top: 0;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	width: 320px;
	z-index: 5;

@media (--tablet-landscape-up) {
	padding-top: 40px;
}

	&--active {
		left: 0;
	}

	&__inner {
		bottom: 50px;
		left: 0;
		overflow: hidden;
		padding-left: 40px;
		padding-right: 40px;
		position: absolute;
		right: 0;
		top: 80px;
		 display: flex;
		 flex-direction: column;
		 justify-content: space-between;

@media (--tablet-landscape-down) {
	overflow-y: auto;
}
	}

	&__top {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

	&__nav-btn {
		color: var(--light-grey);
		cursor: pointer;
		font-family: 'Helvetica Neue', sans-serif;
		font-size: 14px;
		height: 50px;
		line-height: 50px;
		text-align: left;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		width: 100%;

		&:hover {
			color: var(--ocher);
		}
	}

	&__copyright {
		color: var(--light-grey);
		font-size: 14px;
	}

	&__company {
		color: var(--dark-grey);
		font-size: 14px;

		a {
			color: var(--dark-grey);
			text-decoration: none;
			transition-duration: var(--animate-duration-effect);
			transition-property: all;
			transition-timing-function: var(--animate-easing-standard);

			&:hover {
				color: var(--ocher);
			}
		}
	}
}

.menu-close-btn {
	> svg {
		fill: var(--white);
	}
}

.lang-btn {
	border-bottom-color: var(--dark-grey);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--dark-grey);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--dark-grey);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--dark-grey);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--dark-grey);
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 11px;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);

	&:hover {
		border-bottom-color: var(--white);
		border-left-color: var(--white);
		border-right-color: var(--white);
		border-top-color: var(--white);
		color: var(--white);
	}
}

.special-btn {
	background-color: var(--ocher);
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	height: 80px;
	line-height: 80px;
	margin-left: -40px;
	margin-right: -40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	width: calc(100% + 80px);

	&:hover {
		background-color: #ccb295;
	}
}

.phone {
	margin-top: 50px;
	> a {
		color: var(--white);
		font-size: 24px;
		text-decoration: none;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);

		&:hover {
			color: var(--ocher);
		}
	}

	&__label {
		color: var(--dark-grey);
		font-size: 14px;
	}
}

.banner {
	height: 100vh;
	position: relative;
	width: 100%;

	&__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		@media (--only-phone) {
			position: fixed;
		}

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&::before {
			background-color: rgba(15, 20, 28, 0.8);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: flex-end;
		padding-bottom: 55px;
		position: relative;
		width: 100%;

		@media (--only-phone) {
			left: 0;
			position: fixed;
			right: 0;
			width: auto;
		}

		@media (--tablet-portrait-up) {
			align-items: flex-end;
			flex-direction: row;
			justify-content: initial;
			padding-bottom: 100px;
		}
	}

	&__logo {
		left: 50%;
		position: absolute;
		top: 70px;
		transform: translateX(-50%);
		width: 136px;

		@media (--tablet-portrait-up) {
			top: 50%;
			transform: translate(-50%, -50%);
			width: 500px;
		}

		@media (--tablet-portrait-up) and (max-height: 700px) {
			max-height: 200px;
			top: 40%;
		}
	}

	&__name {
		color: var(--ocher);
		margin-bottom: 50px;
		text-align: center;

		@media (--tablet-portrait-up) {
			display: none;
		}
	}

	&__titles {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;

		@media (--tablet-portrait-up) {
			flex-direction: row;
		}
	}

	&__title {
		color: var(--white);
		font-family: 'BebasNeue', sans-serif;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 20px;

			@media (--tablet-portrait-up) {
				margin-bottom: 0;
			}
		}

		&--ocher {
			color: var(--ocher);
		}
	}

	&__scrolldown {
		bottom: 5px;
		height: 38px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 20px;
		z-index: 1;

		@media (--tablet-landscape-up) {
			bottom: 45px;
		}

		> svg {
			animation-duration: var(--animate-duration-timeout);
			animation-iteration-count: infinite;
			animation-name: pulse;
			position: absolute;
		}
	}
}

.premium {
	background-color: var(--brown);
	padding-bottom: 130px;
	padding-top: 130px;
	position: relative;
	text-align: center;

	&__title {
		color: var(--ocher);
		margin-left: auto;
		margin-right: auto;

		@media (--tablet-landscape-up) {
			width: 70%;
		}
	}
}

.scrollmagic-pin-spacer {
	/* stylelint-disable declaration-no-important */
	display: none !important;

	@media (--tablet-landscape-up) {
		display: block !important;
	}
	/* stylelint-enable */
}

.large-gallery {
	height: 100vh;
	overflow: hidden;
	position: relative;

	@media (--tablet-landscape-down) {
		&--mobile-hide {
			height: 100vh;

			.large-gallery__item {
				display: none;
			}
		}
	}

	&--desktop {
		display: none;

		@media (--tablet-landscape-up) {
			display: block;
		}
	}

	&--mobile {
		display: block;

		@media (--tablet-landscape-up) {
			display: none;
		}
	}

	&__item {
		height: 100vh;

		&--desktop {
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	.swiper-pagination {
		display: block;

		@media (--tablet-landscape-up) {
			display: none;
		}
	}
}

.slogan {
	align-items: center;
	display: flex;
	height: 378px;
	justify-content: center;
	position: relative;
	text-align: center;

	@media (--tablet-landscape-up) {
		height: 512px;
	}

	&--black {
		background-color: var(--dark);
	}

	&--brown {
		background-color: var(--brown);
	}

	&--ocher {
		background-color: var(--ocher);

		.slogan__title {
			color: var(--white);
		}
	}

	&--white {
		background-color: var(--white);

		.slogan__title {
			color: var(--dark);
		}
	}

	&--small {
		height: auto;
		padding-bottom: 96px;
		padding-top: 96px;
	}

	&__title {
		color: var(--ocher);
		margin-left: auto;
		margin-right: auto;

		@media (--tablet-landscape-up) {
			width: 50%;
		}
	}
}

.video {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100%;

	&__inner {
		background-color: var(--black);
		/*display: none;*/
		height: 100%;
		position: absolute;
		width: 100%;
	}

	&__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 4;

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&::before {
			background-color: rgba(15, 20, 28, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__btn,
	&__back-btn {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__btn {
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}

	&__close-btn {
		background-color: var(--white);
		border-radius: 50%;
		cursor: pointer;
		display: none;
		height: 40px;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 40px;

		.video__inner--active & {
			display: block;
		}

		> svg {
			fill: var(--dark);
			height: 15px;
			width: 15px;
		}
	}

	&__movie {
		height: 100% !important;
		width: 100% !important;
	}

	&__subtitle {
		bottom: 40px;
		color: var(--white);
		font-size: 16px;
		left: 50%;
		position: absolute;
		text-transform: uppercase;
		transform: translateX(-50%);
		white-space: nowrap;

		@media (--tablet-landscape-up) {
			bottom: 80px;
			font-size: 18px;
		}
	}

	&__year {
		color: var(--white);
		left: 50%;
		position: absolute;
		top: calc(50% - 250px);
		transform: translate(-50%, -50%);

		.video__inner--active & {
			display: none;
		}
	}
}

.mejs__container iframe,
.mejs__layers {
	height: 100% !important;
	width: 100% !important;
}

.mejs__overlay-play {
	display: none
}


.advantages {
	display: flex;
	flex-direction: row-reverse;
	position: relative;

	&__info {
		align-items: center;
		background-color: rgba(255, 255, 255, 0.95);
		color: var(--dark);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-width: 100%;
		padding-bottom: 80px;
		padding-top: 80px;
		z-index: 1;
		/* stylelint-disable declaration-no-important */
		@media (--tablet-landscape-down) {
			height: auto !important;
		}
		/* stylelint-enable */

		@media (--tablet-landscape-up) {
			height: 100%;
			left: 0;
			min-width: 460px;
			position: absolute;
			top: 0;

			&.fixed {
				position: fixed;
			}

			&.bottom {
				bottom: 0;
				top: auto;
			}
		}
	}

	&__item {
		@media (--tablet-landscape-down) {
			/* stylelint-disable declaration-no-important */
			&--first {
				display: block !important;
				opacity: 1 !important;
			}
			&--second {
				display: block !important;
				opacity: 1 !important;
			}
			/* stylelint-enable */
		}

		@media (--tablet-landscape-up) {
			&--second {
				display: none;
			}
		}

		&:not(:last-child) {
			margin-bottom: 70px;

			@media (--tablet-landscape-up) {
				margin-bottom: 40px;
			}
		}
	}

	&__img {
		@media (--tablet-landscape-down) {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		@media (--tablet-landscape-up) {
			flex-shrink: 0;
			height: 150vh;
			width: calc(100% - 460px);
		}

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}

.advantage {
	font-size: 16px;
	text-align: center;

	&::before {
		color: var(--ocher);
		content: attr(data-adv-num);
		display: block;
		font-size: 44px;

		@media (--tablet-landscape-up) {
			font-size: 94px;
		}
	}
}

.ideal-place {
	background-color: var(--brown);
	color: var(--white);
	height: 100vh;
	position: relative;
	text-align: center;

	@media (--tablet-portrait-up) {
		height: auto;
		padding-bottom: 130px;
		padding-top: 130px;
	}

	.wrapper {
		height: 100%;
		@media (--tablet-portrait-up) {
			height: auto;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	&__title {
		color: var(--ocher);
		margin-bottom: 40px;

		@media (--tablet-portrait-up) {
			margin-bottom: 60px;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		@media (--tablet-portrait-up) {
			flex-direction: row;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 40px;

			@media (--tablet-portrait-up) {
				margin-bottom: 0;
			}
		}
	}
}

.map-box {
	position: relative;

	&__inner {
		display: none;
		left: 0;
		position: absolute;
		top: 80px;

		@media (--tablet-landscape-up) {
			display: block;
		}
	}

	&__logo {
		display: inline-block;
		margin-left: 80px;
		width: 135px;
	}
}

.map-info {
	margin-top: 140px;

	&__item {
		align-items: center;
		display: flex;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__btn {
		cursor: pointer;
		height: 36px;
		margin-right: 15px;
		width: 36px;

		&--hidden {
			opacity: 0.5;
		}
	}

	&__text {
		color: var(--dark-grey);
		font-size: 14px;
	}
}

.map {
	height: 50vh;

	@media (--tablet-landscape-up) {
		height: 100vh;
	}
}

.virtual {
	background-color: var(--dark);
	height: 100vh;
	position: relative;
	text-align: center;

	.wrapper {
		height: 100%;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	&__title {
		color: var(--ocher);
		margin-bottom: 80px;
		margin-left: auto;
		margin-right: auto;

		@media (--tablet-landscape-up) {
			width: 55%;
		}
	}
}

.virtual-movie {
	background-color: var(--dark);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&__video {
		height: 100%;
		width: 100%;
	}
}

.infrastructure {
	background-color: var(--brown);
	padding-bottom: 80px;
	padding-top: 80px;
	position: relative;
	text-align: center;

	@media (--tablet-landscape-up) {
		height: 100vh;
	}

	&__title {
		color: var(--ocher);
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;

		@media (--tablet-landscape-up) {
			margin-bottom: 90px;
		}
	}

	.wrapper {
		height: 100%;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		@media (--desktop-up) {
			width: 80%;
		}
	}

	&__item {
		color: var(--white);
		font-size: 18px;
		padding-left: 40px;
		padding-right: 40px;
		width: 100%;

		@media (--tablet-portrait-up) {
			width: 50%;
		}

		@media (--desktop-up) {
			font-size: 24px;
		}

		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
}

.gallery {
	&__thumbs {
		display: none;

		@media (--tablet-landscape-up) {
			display: block;
		}
	}
	&__slide {
		height: 768px;
		width: 100%;

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__thumb {
		cursor: pointer;
		height: 380px;
		position: relative;

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&::before {
			background-color: rgba(15, 20, 28, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.swiper-pagination {
		display: block;

		@media (--tablet-landscape-up) {
			display: none;
		}
	}
}

.flats {
	display: flex;
	position: relative;
	width: 100%;

	&__tabs {
		background-color: var(--grey);
		width: 100%;
	}

	/* stylelint-disable declaration-no-important */
	&__content {
		background-color: var(--white);
		height: 588px !important;
		width: 100%;

		@media (--tablet-landscape-up) {
			height: 760px !important;
		}
	}
	/* stylelint-enable */
}

.flats-tabs {
	position: relative;

	@media (--only-phone) {
		&.d-tabs-nav--active {
			height: 580px;
		}
	}

	&__item {
		height: 144px;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		width: 100%;

		@media (--tablet-portrait-up) {
			width: 258px;
		}

		&.active {
			@media (--tablet-portrait-up) {
				box-shadow: inset 258px 0 0 0 var(--dark);
			}
		}

		&:not(:last-child) {
			border-bottom-color: var(--light-grey);
			border-bottom-style: solid;
			border-bottom-width: 1px;
			margin-right: 70px;

			@media (--tablet-portrait-up) {
				border-bottom-width: 0;
			}
		}
	}

	&__link {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 144px;
		justify-content: center;
		width: 100%;
	}

	&__type {
		color: var(--dark);
		font-size: 12px;
		margin-bottom: 15px;
		text-transform: uppercase;

		.active & {
			@media (--tablet-portrait-up) {
				color: var(--white);
			}
		}
	}

	&__area {
		color: var(--ocher);
		font-size: 18px;
	}
}

.flats-content {
	&.active {
		z-index: 1;
	}

	&__toggles {
		align-items: center;
		display: none;
		justify-content: center;
		margin-bottom: 90px;
		margin-top: 60px;

		@media (--tablet-landscape-up) {
			display: flex;
		}
	}

	&__toggle {
		&:not(:last-child) {
			@media (--tablet-landscape-up) {
				margin-right: 30px;
			}

			@media (--big-desktop-up) {
				margin-right: 90px;
			}
		}
	}

	&__holder {
		position: relative;
	}
}

.flat-slider {
	&__container {
		padding-bottom: 120px;
		padding-top: 100px;

		@media (--tablet-landscape-up) {
			padding-bottom: 90px;
			padding-top: 0;
		}
	}

	&__slide {
		text-align: center;
		/* stylelint-disable declaration-no-important */
		width: 100% !important;
		/* stylelint-enable */

		> img {
			max-height: 200px;

			@media (--tablet-portrait-up) {
				max-height: 380px;
				max-width: calc(100% - 86px);
			}
		}
	}

	&__footer {
		margin-bottom: 50px;
		text-align: center;

		@media (--tablet-landscape-down) {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
		}

		> button {
			@media (--only-phone) {
				max-width: 100%;
			}
		}
	}

	.swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: 60px;

		@media (--tablet-landscape-up) {
			bottom: 45px;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;

		@media (--tablet-landscape-up) {
			display: block;
		}
	}
}

.flat-3d-btn {
	margin-top: 20px;

	@media (--tablet-landscape-up) {
		margin-top: 0;
		position: absolute;
		right: 35px;
		top: -11px;
	}
}

.img-empty-one,
.img-empty-two,
.img-furniture-two {
	display: none;
}

.mobile-dropdown {
	align-items: center;
	background-color: var(--dark);
	cursor: pointer;
	display: flex;
	height: 144px;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100% + 30px);

	@media (--tablet-portrait-up) {
		display: none;
	}

	&__type {
		color: var(--white);
		font-size: 12px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__area {
		color: var(--ocher);
		font-size: 18px;
	}

	&__text {
		color: var(--ocher);
		font-size: 22px;
	}

	&__icon {
		height: 14px;
		width: 27px;
	}
}

.d-tabs-nav {
	@media (--only-phone) {
		height: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		/* stylelint-disable declaration-no-important */
		@media (--only-phone) {
			transform: none !important;
		}
		/* stylelint-enable */

		@media (--tablet-portrait-up) {
			flex-wrap: nowrap;
		}
	}
}

.offer {
	background-color: var(--ocher);
	position: relative;

	@media (--desktop-up) {
		background-color: var(--brown);
		height: 100vh;
	}

	.wrapper {
		height: 100%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		text-align: center;
		width: 100%;

		@media (--desktop-up) {
			text-align: left;
			width: 50%;
		}
	}

	&__title {
		color: var(--white);
		margin-bottom: 50px;

		@media (--desktop-up) {
			color: var(--ocher);
		}
	}

	&__box {
	}

	&__label {
		color: var(--white);
		font-size: 22px;

		@media (--desktop-up) {
			font-size: 24px;
		}
	}

	&__img-holder {
		height: 100vh;
		position: relative;

		@media (--desktop-up) {
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
		}

		&::before {
			background-color: rgba(15, 20, 28, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__img {
		height: 100%;
		object-fit: cover;
		text-align: center;
	}

	&__img-title {
		bottom: 70px;
		color: var(--white);
		left: 50px;
		position: absolute;
	}
}

.countdown {
	margin-bottom: 80px;
	margin-top: 60px;

	&__label {
		color: var(--white);
		font-size: 18px;

		@media (--desktop-up) {
			font-size: 24px;
		}
	}

	&__inner {
		display: flex;
		justify-content: center;
		margin-top: 30px;

		@media (--desktop-up) {
			justify-content: initial;
		}
	}

	&__int {
		color: var(--white);
		font-size: 47px;
		text-align: center;

		@media (--desktop-up) {
			color: var(--ocher);
			font-size: 94px;
		}

		.changed {
			animation-duration: var(--animate-duration-timeout);
			animation-iteration-count: 1;
			animation-name: pulse;
		}

		&::after {
			color: var(--white);
			content: attr(data-int);
			display: block;
			font-size: 16px;
			margin-top: 10px;

			@media (--desktop-up) {
				margin-top: 15px;
			}
		}
	}

	&__divider {
		height: 32px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		max-width: 5px;
		min-width: 5px;

		@media (--desktop-up) {
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 40px;
			max-width: 10px;
			min-width: 10px;
		}
	}

	&__circle {
		width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--ocher);
		 opacity: 0.352;
		 animation-duration: 1s;
		 animation-iteration-count: infinite;
		 animation-name: pulse;

		&--one {
	margin-bottom: 15px;
		 }

		 &--two {
	animation-delay: 1.5s;
		  }
	 }
}

#circle-one {

}

.open-offer-btn {
	@media (--desktop-down) {
		border-bottom-color: var(--white);
		border-left-color: var(--white);
		border-right-color: var(--white);
		border-top-color: var(--white);
		color: var(--white);

		&:hover {
			box-shadow: none;
			color: var(--white);
		}
	}
}

.grid-gallery {
	height: 100vh;
	position: relative;

	@media (--tablet-landscape-up) {
		height: auto;
	}

	&__wrapper {
		@media (--tablet-landscape-up) {
			display: grid;
			grid-gap: 0;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 50vh);
		}
	}

	&__slide {
		height: 100vh;
		/* stylelint-disable declaration-no-important */
		/*width: 100% !important;*/

		@media (--tablet-landscape-up) {
			height: auto;
			width: auto !important;
		}
		/* stylelint-enable */

		&--1 {
			@media (--tablet-landscape-up) {
				grid-column-end: 3;
				grid-column-start: 1;
				grid-row-end: 3;
				grid-row-start: 1;
			}
		}

		&--2 {
			@media (--tablet-landscape-up) {
				grid-column-end: 2;
				grid-column-start: 1;
				grid-row-end: 5;
				grid-row-start: 3;
			}
		}

		&--3 {
			@media (--tablet-landscape-up) {
				grid-column-end: 3;
				grid-column-start: 2;
				grid-row-end: 3;
				grid-row-start: 3;
			}
		}

		&--4 {
			@media (--tablet-landscape-up) {
				grid-column-end: 3;
				grid-column-start: 2;
				grid-row-end: 4;
				grid-row-start: 4;
			}
		}
	}

	&__item {
		height: 100%;

		> img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}

.docs {
	background-color: var(--dark);
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;

	@media (--tablet-portrait-up) {
		padding-bottom: 115px;
		padding-top: 150px;
	}

	&__title {
		color: var(--ocher);
		text-align: center;

		@media (--tablet-portrait-up) {
			margin-bottom: 40px;
		}
	}

	&__footer {
		margin-top: 30px;
		text-align: center;

		@media (--tablet-landscape-up) {
			margin-top: 60px;
		}
	}
}

.docs-tabs {
	@media (--only-phone) {
		&.d-tabs-nav--active {
			height: 200px;
		}
	}

	@media (--tablet-portrait-up) {
		margin-bottom: 80px;
	}

	&__item {
		width: auto;

		@media (--only-phone) {
			height: auto;
			padding-bottom: 20px;
		}

		&:not(:last-child) {
			@media (--tablet-portrait-up) {
				margin-right: 80px;
			}
		}
	}
	&__link {
		color: var(--dark-grey);
		font-family: 'BebasNeue', sans-serif;
		font-size: 30px;

		&:hover {
			color: var(--white);
		}

		.active & {
			color: var(--ocher);
		}
	}
}

.docs-table {
	border-collapse: collapse;
	width: 100%;

	@media (--tablet-landscape-down) {
		display: block;

		tbody {
			display: block;
			width: 100%;
		}
	}

	&__row {
		@media (--tablet-landscape-down) {
			border-top-color: var(--dark-grey);
			border-top-style: solid;
			border-top-width: 1px;
			display: block;
			padding-bottom: 15px;
			padding-top: 15px;
			width: 100%;

			&:last-child {
				border-bottom-color: var(--dark-grey);
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}
		&:nth-child(odd) {
			@media (--tablet-landscape-up) {
				background-color: var(--light-black);
			}
		}
	}

	&__cell {
		color: var(--white);
		font-size: 14px;
		padding-bottom: 15px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 15px;
		vertical-align: top;

		@media (--tablet-landscape-down) {
			display: block;
			width: 100%;
		}

		@media (--tablet-landscape-up) {
			padding-bottom: 30px;
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 30px;
		}

		&--nowrap {
			@media (--desktop-up) {
				white-space: nowrap;
			}
		}

		> span {
			color: var(--dark-grey);
		}

		&:first-child {
			@media (--tablet-landscape-up) {
				padding-left: 70px;
			}
		}

		&:last-child {
			@media (--tablet-landscape-up) {
				padding-right: 60px;
			}
		}
	}

	&__link {
		color: var(--white);

		&:hover {
			color: var(--ocher);
		}
	}
}

.spinner {
	display: none;
	position: relative;

	&--active {
		display: inline-block;
	}

	span {
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
		background-color: var(--white);
		border-radius: 50%;
		display: inline-block;
		height: 11px;
		margin-left: 9px;
		margin-right: 9px;
		width: 11px;
	}
	span:nth-child(1) {
		animation-delay: 0;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner1;
	}
	span:nth-child(2) {
		animation-delay: 0.2s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}
	span:nth-child(3) {
		animation-delay: 0.4s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}
	span:nth-child(4) {
		animation-delay: 0.6s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}
	span:nth-child(5) {
		animation-delay: 0.8s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}
}

.steps {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100%;

	&__tabs {
		width: 100%;
	}

	&__content {
		/* stylelint-disable declaration-no-important */
		height: 100% !important;
		/* stylelint-enable */
		width: 100%;
	}
}

.step-thumbs {
	bottom: 40px;
	position: absolute;
	width: 100%;
	z-index: 2;

	&--mobile {
		bottom: 80px;
	}
}

.steps-tabs {
	&__list {
		align-items: flex-end;
	}

	&__item {
		width: auto;

		&:not(:last-child) {
			margin-left: 40px;
		}
	}

	&__link {
		color: var(--grey);
		font-size: 20px;
		opacity: 0.7;
		width: auto;

		.active & {
			font-size: 22px;
			opacity: 1;

			@media (--tablet-landscape-up) {
				font-size: 30px;
			}
		}
	}
}

.steps-content {
	height: 100%;
}

.news {
	background-color: var(--dark);
	height: 100vh;
	position: relative;

	.wrapper {
		height: 100%;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	&__title {
		color: var(--ocher);
		margin-bottom: 40px;
		text-align: center;

		@media (--tablet-landscape-up) {
			margin-bottom: 90px;
		}
	}
}

.news-slider {
	position: relative;
	&__item {
		color: var(--light-grey);
		cursor: pointer;
		font-size: 14px;
		height: 385px;
		padding-top: 20px;
		/* stylelint-disable declaration-no-important */
		width: 270px !important;

		@media (--tablet-landscape-up) {
			background-color: var(--light-black);
			padding-bottom: 65px;
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 90px;
			width: 650px !important;
			/* stylelint-enable */
		}
	}

	&__date {
		color: var(--ocher);
		font-size: 19px;
		margin-bottom: 35px;
	}

	&__title {
		color: var(--white);
		margin-bottom: 20px;
		width: 50%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		top: 30px;

		@media (--tablet-landscape-up) {
			display: block;
		}
	}

	.swiper-button-prev {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' transform='translate(26.227 51.484) rotate(180)' fill='%23b4987a'/%3E%3C/svg%3E%0A");
		left: auto;
		right: 100px;
	}

	.swiper-button-next {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' fill='%23b4987a'/%3E%3C/svg%3E%0A");
	}
}

.footer {
	background-color: var(--brown);
	padding-top: 40px;
	position: relative;

	@media (--tablet-landscape-up) {
		padding-top: 100px;
	}

	&__box {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='413.913' height='519.605' viewBox='0 0 413.913 519.605'%3E%3Cpath id='Union_6' data-name='Union 6' d='M115.981,519.6S23.613,414.731,23.613,297.551V35.933S17.268,16.532.044,16.815c-.1-.17,0-7.56,0-7.56h92.82v7.56s-22.1,1.71-22.1,19.118V138.969s41.217-62.356,98.444-95.124S264.573,0,264.573,0l76.006,71.526s-14.766-.4-37.642,3.01v398.1c0,19.16,23,19.966,23,19.966v6.881H231.862s-.254-6.429,0-6.881c18.892.113,22.5-19.966,22.5-19.966V85.671C203.5,101.6,140.977,135.338,98.347,206.822,15.163,346.328,133.87,519.6,133.87,519.6ZM310.425,446.99V428.338a225.916,225.916,0,0,0,51.688-12.449V355c0-9.015-47.1-11.8-47.562-11.827V330.431c.24.014,36.173,2.967,57.354,2.967h.155a345.367,345.367,0,0,0,41.853-2.967V341.2c-.113.071-10.456,6.994-12.251,9.764-2.939,4.507-4.437,16.165-4.451,34.661-.028,24.134,3.123,40.511,3.151,40.68l-.085.042c-4.126,1.681-41.585,16.518-89.839,20.644ZM246.712,445.1A204.033,204.033,0,0,1,193,429.087c-22.453-10.357-40.864-28.175-53.27-51.518-11.53-21.69-17.578-47.265-17.493-73.957.085-27.13,6.457-53.2,18.44-75.4,12.858-23.823,31.708-41.881,54.5-52.225a211.364,211.364,0,0,1,51.561-15.628V177.12a96.764,96.764,0,0,0-36.314,17.38c-27.525,21.52-44.072,53.934-46.573,91.238a149.265,149.265,0,0,0,8.422,59.9A145.6,145.6,0,0,0,205.2,398.623a98.41,98.41,0,0,0,41.542,25.18V445.1ZM392.605,235.492H379.8v-31.03c0-5.709-31.411-22.184-69.379-28.571V157.352c50.783,3.321,89.542,18.482,89.938,18.638l-7.743,59.488v.014Z' transform='translate(0)' fill='%23fff' opacity='0.057'/%3E%3C/svg%3E%0A");
		background-position: 100% 600px;
		background-repeat: no-repeat;

		@media (--tablet-landscape-up) {
			background-position: 100% 150px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@media (--tablet-landscape-down) {
			align-items: center;
			flex-direction: column;
			text-align: center;
		}
	}
}

.contacts {
	&__title {
		color: var(--ocher);
		margin-bottom: 40px;

		@media (--tablet-landscape-up) {
			margin-bottom: 30px;
		}
	}

	&__inner {
		padding-left: 20px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__label {
		color: var(--dark-grey);
		font-size: 14px;
		margin-bottom: 15px;
	}

	&__phone {
		display: inline-block;
		margin-bottom: 30px;

	 	> a {
			color: var(--white);
			font-size: 30px;
			text-decoration: none;


&:hover {
	 color: var(--ocher);
 }
		}

		@media (--tablet-landscape-up) {
			margin-bottom: 20px;
		}
	}

	&__text {
		color: var(--white);
		font-size: 18px;
	}
}

.social {
	@media (--tablet-landscape-down) {
		margin-bottom: 50px;
	}
	&__item {
		display: inline-block;
		height: 35px;
		margin-right: 15px;
		width: 35px;

		> svg {
			fill: var(--white);
			transition-duration: var(--animate-duration-effect);
			transition-property: all;
			transition-timing-function: var(--animate-easing-standard);
		}

		&:hover > svg {
			fill: var(--ocher);
		}
	}
}

.copyright {
	color: var(--dark-grey);
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	padding-bottom: 55px;
	padding-top: 110px;

	@media (--tablet-landscape-down) {
		flex-direction: column;
		justify-content: center;
		padding-bottom: 15px;
		padding-top: 40px;
		text-align: center;

		p:not(.copyright__text) {
			margin-bottom: 15px;
		}
	}

	&__text {
		margin-bottom: 60px;

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
			width: 35%;
		}
	}

	&__link {
		color: var(--dark-grey);
		font-weight: 700;
		text-decoration: none;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);

		&:hover {
			color: var(--ocher);
		}
	}
}

.news-popup {
	background-color: var(--light-black);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: scale(0);
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	z-index: 100;

.simplebar-content-wrapper {
	display: flex;
	align-items: center;
}

	.simplebar-placeholder {
		display: none;
	}

	&--active {
		transform: scale(1);
	}

	.wrapper {
		height: 100%;
	}

	.js-append-new,
	.js-append-new > div {
		height: 100%;
	}

	&__inner {
		color: var(--white);
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
		padding-bottom: 40px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 40px;

		@media (--tablet-landscape-up) {
			align-items: center;
			display: flex;
		}

		p {
			margin-bottom: 15px;
		}
	}

	&__date {
		color: var(--ocher);
		font-size: 19px;
		margin-bottom: 35px;
	}

	&__title {
		margin-bottom: 20px;
		width: 50%;
	}

	&__close {
		align-items: center;
		border-bottom-color: var(--white);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--white);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 100%;
		border-right-color: var(--white);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--white);
		border-top-style: solid;
		border-top-width: 1px;
		cursor: pointer;
		display: flex;
		height: 30px;
		justify-content: center;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 30px;
		z-index: 1;

		@media (--tablet-landscape-up) {
			height: 72px;
			right: 35px;
			top: 55px;
			width: 72px;
		}

		> svg {
			fill: var(--white);
			height: 22px;
			width: 22px;
		}
	}
}

.popup {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;

	.simplebar-placeholder {
		display: none;
	}

	&--active {
		display: block;
	}

	&__inner {
		height: 747px;
		left: 50%;
		max-height: calc(100% - 20px);
		max-width: 478px;
		overflow: hidden;
		overflow-y: auto;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 20px);

		@media (--tablet-landscape-up) {
			padding-bottom: 70px;
			padding-left: 80px;
			padding-right: 80px;
			padding-top: 130px;
		}

		&--black {
			background-color: var(--black);
			color: var(--white);
		}

		&--white {
			background-color: var(--white);
			color: var(--dark);

			.phone a {
				color: var(--dark);
			}
		}
	}

	&__close {
		border-radius: 100%;
		cursor: pointer;
		height: 22px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 22px;

		@media (--tablet-landscape-up) {
			right: 30px;
			top: 60px;
		}

		.popup__inner--white & > svg {
			fill: var(--dark);
		}

		.popup__inner--black & > svg {
			fill: var(--white);
		}
	}

	&__body {
		text-align: center;
	}

	&__subtitle {
		font-size: 14px;
		margin-bottom: 70px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		width: 70%;
	}

	.field,
	.btn {
		width: 100%;
	}
}

.preloader {
	background-color: var(--dark);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0;
	visibility: visible;
	z-index: 100;

	&.hidden {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}

	&__animation {
		animation: load 1.7s infinite ease, round 1.7s infinite ease;
		border-radius: 50%;
		color: var(--white);
		font-size: 90px;
		height: 1em;
		left: 50%;
		margin-left: -50px;
		margin-top: -30px;
		overflow: hidden;
		position: absolute;
		text-indent: -9999em;
		top: 50%;
		transform: translateZ(0) translate(-50%, -50%);
		width: 1em;
	}
}

.mejs__overlay-button {
	background-image: url("images/mejs-controls.svg");
}
.mejs__overlay-loading-bg-img {
	background-image: url("images/mejs-controls.svg");
}
.mejs__button > button {
	background-image: url("images/mejs-controls.svg");
}
