:root {
	--acc-head-back-color: #fafafc;
	--acc-head-text-color: #0f2043;
	--acc-head-icon-color: #505f80;
	--acc-head-back-active-color: #d0daf0;
	--acc-back-color: #fafafc;
}

.accordion-set {
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: var(--mg-3);
	}

	&--active {
		overflow: visible;
	}

	&__link {
		background-color: var(--acc-head-back-color);
		color: var(--acc-head-text-color);
		display: flex;
		font-family: 'Montserrat', sans-serif;
		font-size: var(--fz-2);
		font-weight: 500;
		justify-content: space-between;
		line-height: var(--lh-2);
		padding-bottom: var(--pd-4);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-3);
		text-align: left;
		text-decoration: none;
		transition-duration: var(--animate-duration-effect);
		transition-property: background-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 100%;

		@media (--tablet-landscape-up) {
			align-items: center;
			padding-bottom: var(--pd-2);
			padding-left: var(--pd-3);
			padding-right: var(--pd-4);
			padding-top: var(--pd-2);
		}

		&--active {
			background-color: var(--acc-head-back-active-color);
		}
	}

	&__icon {
		fill: var(--acc-head-icon-color);
		height: 20px;
		min-width: 20px;
		transition-duration: var(--animate-duration-effect);
		transition-property: transform;
		transition-timing-function: var(--animate-easing-standard);
		width: 20px;

		@media (--tablet-landscape-down) {
			margin-left: var(--mg-2);
		}

		.accordion-set__link--active & {
			transform: rotate(-90deg);
		}
	}

	&__content {
		background-color: var(--acc-back-color);
		display: none;
		padding-bottom: var(--pd-6);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-4);

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-8);
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
			padding-top: var(--pd-7);
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	&__btn {
		margin-top: var(--mg-6);
	}
}
