.article {
	.layout__item-half & {
		@media (--tablet-landscape-up) {
			padding-right: var(--pd-8);
		}

		@media (--desktop-up) {
			padding-right: var(--pd-13);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		margin-top: var(--mg-2);
	}

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: var(--mg-3);
	}

	&__col-2 {
		@media (--tablet-landscape-up) {
			column-count: 2;
			column-gap: var(--mg-13);
		}
	}

	&__title {
		font-size: var(--fz-5);
		font-weight: 500 !important;
		line-height: var(--lh-5);
		margin-bottom: var(--mg-4);

		&--hide-on-mobile {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}

		&--hide-on-desktop {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}
	}

	&__date {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-top: var(--mg-4);

		> svg {
			display: inline-block;
			fill: var(--text-grey-color);
			height: 12px;
			margin-right: var(--mg-1);
			position: relative;
			top: 2px;
			width: 12px;
		}
	}

	&__btns {
		display: flex;
		margin-top: var(--mg-8);

		@media (--tablet-landscape-down) {
			flex-direction: column;
		}
	}

	&__btn {
		&:not(:last-child) {
			margin-right: var(--mg-3);

			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
				margin-right: 0;
			}
		}
	}
}

.article-slider {
	position: relative;

	&__slide {
		height: 250px;
		width: 240px;

		@media (--tablet-landscape-up) {
			position: absolute;

			&--h {
				height: 320px;
			}
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-right: var(--mg-2);
			}
		}

		&:last-child {
			@media (--tablet-landscape-up) {
				left: 0;
				min-width: 240px;
				top: 140px;
				width: 35%;
				z-index: 1;
			}
		}

		&:first-child {
			@media (--tablet-landscape-up) {
				right: 0;
				top: 0;
				width: 70%;
			}
		}

		&--half {
			&:first-child,
			&:last-child {
				@media (--tablet-landscape-up) {
					min-width: 55%;
					width: 55%;
				}
			}
		}

		> img {
			@extend .back-img-cover;
		}
	}
}

.article-images {
	display: flex;
	justify-content: space-between;

	&__item {
		flex-basis: calc(50% - 8px);
		max-width: calc(50% - 8px);

		@media (--tablet-landscape-up) {
			flex-basis: calc(50% - 12px);
			max-width: calc(50% - 12px);
		}

		&:first-child {
			margin-bottom: var(--mg-3);
			margin-top: var(--mg-n-3);
		}

		> img {
			@extend .back-img-cover;
		}
	}
}
