.brands {
	justify-content: space-between;

	&__item {
		width: 240px;

		@media (--tablet-landscape-up) {
			flex-basis: calc(50% - 16px);
			max-width: calc(50% - 16px);
			margin-bottom: var(--mg-4);
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-right: var(--mg-2);
			}
		}
	}
}

.brand {
	align-items: center;
	background-color: var(--back-grey-color);
	border-bottom-color: var(--border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: var(--br-1);
	border-right-color: var(--border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--border-color);
	border-top-style: solid;
	border-top-width: 1px;
	display: flex;
	height: 136px;
	justify-content: center;
	width: 100%;
}
