:root {
	--breadcrumbs-color: #fafafc;
	--breadcrumbs-hover-color: #02a5ff;
}

.breadcrumbs {
	position: relative;
	white-space: nowrap;

	@media (--tablet-landscape-down) {
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	&__item {
		color: var(--breadcrumbs-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		text-decoration: none;

		> svg {
			display: inline-block;
			fill: var(--breadcrumbs-color);
			height: 16px;
			margin-right: var(--mg-1);
			margin-top: -4px;
			transition-duration: var(--animate-duration-enter);
			transition-property: fill;
			transition-timing-function: var(--animate-easing-acceleration);
			vertical-align: middle;
			width: 16px;
		}

		&.has-hover:hover {
			color: var(--breadcrumbs-hover-color);

			> svg {
				fill: var(--breadcrumbs-hover-color);
			}
		}

		&:last-child {
			cursor: default;
			pointer-events: none;
			text-decoration: none;
		}

		&:not(:last-child) {
			&::after {
				content: '>';
				display: inline-block;
				margin-left: 6px;
			}
		}
	}
}
