:root {
	--table-head-color: #fafafc;
	--table-head-text-color: #505f80;
	--table-head-border-color: #d0daf0;
	--cart-delete-color: #505f80;
	--cart-delete-light-color: #959aa2;
}

.cart-table {
	@media (--tablet-landscape-up) {
		border-collapse: collapse;
		display: table;
		width: 100%;

		&--fixed {
			table-layout: fixed;
		}
	}

	&__head {
		display: none;

		@media (--tablet-landscape-up) {
			background-color: var(--table-head-color);
			display: table-row;
			height: 64px;

			.cart-table--form & {
				border-bottom-color: var(--table-head-border-color);
				border-bottom-style: solid;
				border-bottom-width: 1px;
				height: 34px;
			}

			> div {
				display: table-cell;
				padding-left: var(--pd-3);
				padding-right: var(--pd-3);
				vertical-align: middle;

				.cart-table--form & {
					vertical-align: top;
				}

				.cart-table--form &:first-child {
					padding-left: 0;
				}

				.cart-table--form &:last-child {
					padding-right: 0;
				}
			}
		}
	}

	&__row {
		border-bottom-color: var(--table-head-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		position: relative;

		@media (--tablet-landscape-down) {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: var(--pd-5);
			padding-top: var(--pd-5);

			.cart-table--form .cart-table__head + & {
				padding-top: 0;
			}

			&:last-child {
				border-bottom-width: 0;
			}
		}

		@media (--tablet-landscape-up) {
			display: table-row;

			> div {
				display: table-cell;
				padding-bottom: var(--pd-5);
				padding-left: var(--pd-3);
				padding-right: var(--pd-3);
				padding-top: var(--pd-5);
				vertical-align: top;

				.cart-table--form & {
					padding-bottom: var(--pd-3);
					padding-top: var(--pd-3);
				}

				.cart-table--form &:first-child {
					padding-left: 0;
				}

				.cart-table--form &:last-child {
					padding-right: 0;
				}
			}
		}

		.cart-table--form &:last-child {
			border-bottom-width: 0;
		}
	}

	&__cell-full {
		@media (--tablet-landscape-down) {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-top: var(--mg-3);
			width: 100%;
		}
	}

	&__cell-image {
		@media (--tablet-landscape-down) {
			margin-right: var(--mg-1);
			width: 35%;
		}
	}

	&__cell-name {
		@media (--tablet-landscape-down) {
			width: calc(65% - 48px);
		}

		&--full {
			width: 100%;
		}
	}

	&__cell-delete {
		@media (--tablet-landscape-down) {
			position: absolute;
			right: 0;
			top: 40px;
		}
	}
}

.cart-title {
	color: var(--table-head-text-color);
	font-size: var(--fz-1);
	line-height: var(--lh-1);
	white-space: nowrap;
}

.cart-image {
	height: 130px;

	> img {
		height: 100%;
		width: 100%;
		@extend .back-img-contain;
	}
}

.cart-product-name {
	color: var(--text-main-color);
	font-size: var(--fz-1);
	line-height: var(--lh-1);

	@media (--tablet-landscape-up) {
		font-size: var(--fz-2);
		line-height: var(--lh-2);
	}
}

.cart-delete-btn {
	height: 32px;
	width: 32px;

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	> svg {
		fill: var(--cart-delete-color);
	}
}

.cart-availability {
	margin-top: var(--mg-3);

	@media (--tablet-landscape-down) {
		margin-top: var(--mg-1);
	}
}
