.catalog-sort {
	display: flex;
	flex-direction: column;

	@media (--tablet-landscape-up) {
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		width: 100%;

		@media (--tablet-landscape-up) {
			width: calc(50% - 16px);
		}

		&:first-child {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
			}
		}
	}
}

.catalog-filter {
	@media (--tablet-landscape-down) {
		background-color: var(--back-color);
		bottom: 0;
		left: 0;
		opacity: 0;
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-2);
		position: fixed;
		right: 0;
		top: 56px;
		transition-duration: var(--animate-duration-effect);
		transition-property: visibility, opacity;
		transition-timing-function: var(--animate-easing-standard);
		visibility: hidden;
		width: auto;

		&--active {
			opacity: 1;
			visibility: visible;
			z-index: 102;
		}
	}

	&__inner {
		@media (--tablet-landscape-down) {
			bottom: 0;
			left: 0;
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			overflow-y: auto;
			padding-bottom: var(--pd-2);
			padding-left: var(--pd-2);
			padding-right: var(--pd-2);
			position: absolute;
			right: 0;
			top: 72px;
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: 20px;
		line-height: 32px;
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			display: none;
		}
	}

	&__close {
		height: 16px;
		position: absolute;
		right: 16px;
		top: -40px;
		width: 16px;

		@media (--tablet-landscape-up) {
			display: none;
		}

		> svg {
			stroke: var(--link-black-color);
		}
	}
}
