.back-img-cover {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.back-img-contain {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.availability {
	align-items: center;
	display: flex;

	&--sb {
		justify-content: space-between;
	}

	&__text {
		align-items: center;
		display: flex;
		margin-left: var(--mg-1);

		> svg {
			height: 16px;
			width: 16px;
		}

		&--mg {
			margin-left: var(--mg-5);
		}

		&--green {
			color: var(--text-green-color);

			> svg {
				fill: var(--text-green-color);
			}
		}

		&--red {
			color: var(--text-red-color);

			> svg {
				fill: var(--text-red-color);
			}
		}

		svg + span,
		span + svg {
			margin-left: var(--mg-1);
		}
	}
}

.simplebar-track {
	background-color: var(--back-sky-color);

	&.simplebar-vertical {
		width: 2px;
	}

	&.simplebar-horizontal {
		height: 2px;
	}
}

.simplebar-scrollbar::before {
	left: 0;
	right: 0;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	top: 0;
}

.hide-on-mobile {
	@media (--tablet-landscape-down) {
		display: none !important;
	}
}

.hide-on-desktop {
	@media (--tablet-landscape-up) {
		display: none !important;
	}
}

.m-slider {
	width: 100%;
	@media (--tablet-landscape-up) {
		overflow: visible;

		&__container {
			overflow: visible;
		}
	}

	&__wrapper {
		@media (--tablet-landscape-up) {
			flex-wrap: wrap;
		}
	}
}

.load-more {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;

	@media (--tablet-landscape-up) {
		flex-direction: row;
	}

	> * {
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
			margin-left: var(--mg-2);
			margin-right: var(--mg-2);
		}
	}
}

.order-num-box {
	background-color: var(--back-color);
	border-bottom-color: var(--border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: var(--br-1);
	border-right-color: var(--border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--border-color);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--text-main-color);
	display: inline-block;
	font-size: 32px;
	font-weight: 500;
	height: 120px;
	line-height: 120px;
	padding-left: var(--pd-7);
	padding-right: var(--pd-7);
	text-align: center;

	@media (--only-phone) {
		width: 100%;
	}

	@media (--tablet-landscape-down) {
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
	}
}

.request-box {
	background-color: var(--popup-back-color);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	z-index: 2;

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-6);
		padding-left: var(--pd-12);
		padding-right: var(--pd-12);
		padding-top: var(--pd-8);
		text-align: center;
		width: 544px;
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-4);
		font-weight: 500;
		line-height: var(--lh-4);
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
		}
	}

	&__text {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}

	&__hint {
		color: var(--text-light-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
	}
}

.step-slider {
	&__container {
		padding-bottom: 40px;
	}
}

.info-img-box {
	position: relative;

	&__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		> img {
			@extend .back-img-cover;
		}
	}

	&__inner {
		padding-bottom: var(--pd-7);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		padding-top: var(--pd-7);
		position: relative;
		z-index: 1;

		@media (--tablet-landscape-up) {
			padding-bottom: var(--pd-16);
			padding-left: var(--pd-6);
			padding-right: 50%;
			padding-top: var(--pd-16);
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-4);
		line-height: var(--lh-4);
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
			margin-bottom: var(--mg-2);
		}
	}

	&__text {
		color: var(--text-main-color);
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
		}
	}
}

.not-found-box {
	@media (--tablet-landscape-up) {
		padding-bottom: 30%;
	}
}

.not-found-info {
	position: relative;
	z-index: 1;
}

.not-found {
	margin-bottom: var(--mg-3);
	margin-left: -16px;
	margin-right: -16px;
	width: calc(100% + 32px);

	@media (--tablet-landscape-up) {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;

		> img {
			@extend .back-img-contain;
		}
	}
	> img {
		@extend .back-img-cover;
	}
}

.payment-cart {
	align-items: center;
	display: flex;

	> div,
	> span {
		&:not(:last-child) {
			margin-right: var(--mg-2);
		}
	}

	&__name {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);

		.payment-cart--normal & {
			font-size: var(--fz-1);
			line-height: var(--lh-1);
		}
	}

	&__num {
		color: var(--text-main-color);
		font-size: var(--fz-3);
		font-weight: 500;
		line-height: var(--lh-3);

		.payment-cart--normal & {
			font-size: var(--fz-1);
			line-height: var(--lh-1);
		}
	}
}

.payment-cart-delete-btn {
	height: 21px;
	width: 21px;

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	> svg {
		fill: var(--cart-delete-light-color);
	}
}

.overflow-mobile {
	@media (--tablet-landscape-down) {
		overflow: hidden;
	}
}

.fancybox-navigation .fancybox-button--arrow_right {
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49.061' height='96.707' viewBox='0 0 49.061 96.707'%3E%3Cpath id='Path_108' data-name='Path 108' d='M-16306-22541l48,48-48,48' transform='translate(16306.354 22541.354)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: contain;

	> div {
		display: none;
	}
}

.fancybox-navigation .fancybox-button--arrow_left {
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49.061' height='96.707' viewBox='0 0 49.061 96.707'%3E%3Cpath id='Path_109' data-name='Path 109' d='M-16258-22541l-48,48,48,48' transform='translate(16306.707 22541.354)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: contain;

	> div {
		display: none;
	}
}
