:root {
	--comparison-tab-color: #959aa2;
	--comparison-tab-active-color: #0f2043;

	--comparison-badge-color: #d0daf0;
	--comparison-badge-active-color: linear-gradient(#e31a15 0%, #c10b06 100%);
	--comparison-badge-text-color: #ffffff;

	--comparison-info-head-color: #fafafc;
	--comparison-info-border-color: #d0daf0;

	--add-comp-btn-back-color: #fafafc;
	--add-comp-btn-icon-color: #505f80;
}

.comparison-tabs {
	padding-left: var(--pd-2);

	@media (--tablet-landscape-up) {
		padding-left: var(--pd-3);
	}

	@media (--big-desktop-up) {
		padding-left: var(--pd-5);
	}

	@media (min-width: 1500px) {
		padding-left: var(--pd-10);
	}

	@media (min-width: 1641px) {
		padding-left: calc(((100% - 1640px) / 2) + 80px);
	}

	&__item {
		width: auto !important;

		&:not(:last-child) {
			margin-right: var(--mg-6);
		}
	}
}

.comparison-tab-lbl {
	color: var(--text-grey-color);
	font-size: var(--fz-1);
	line-height: var(--lh-1);
	margin-bottom: var(--mg-2);
}

.comparison-tab {
	align-items: center;
	color: var(--comparison-tab-color);
	display: flex;
	font-size: var(--fz-4);
	font-weight: 500;
	line-height: var(--lh-4);
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	white-space: nowrap;

	@media (--tablet-landscape-up) {
		font-size: var(--fz-5);
		line-height: var(--lh-5);
	}

	&.active {
		background-color: transparent;
		color: var(--comparison-tab-active-color);
	}

	&__badge {
		background-color: var(--comparison-badge-color);
		border-radius: 24px;
		color: var(--comparison-badge-text-color);
		font-size: var(--fz-1);
		height: 24px;
		line-height: 24px;
		margin-left: var(--mg-2);
		text-align: center;
		transition-duration: var(--animate-duration-enter);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		width: 24px;
	}

	&.active .comparison-tab__badge--active {
		background-color: transparent;
		background-image: var(--comparison-badge-active-color);
	}
}

.comparison-filter {
	z-index: 2;
	@media (--tablet-landscape-down) {
		margin-top: var(--mg-3);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
	}

	@media (--tablet-landscape-up) {
		left: var(--pd-3);
		position: absolute;
		top: 112px;
		width: 300px;
	}

	@media (--big-desktop-up) {
		left: var(--pd-5);
	}

	@media (--desktop-up) {
		width: 368px;
	}

	@media (min-width: 1500px) {
		left: var(--pd-10);
	}

	@media (min-width: 1641px) {
		left: calc(((100% - 1640px) / 2) + 80px);
	}
}

.add-comparison {
	&__lbl {
		margin-top: var(--mg-2);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			font-weight: 500;
			line-height: var(--lh-3);
			margin-top: var(--mg-3);
		}
	}
}

.add-comparison-btn {
	background-color: var(--add-comp-btn-back-color);
	position: relative;

	@media (--only-phone) {
		width: 100%;
	}

	@media (--phone-up) {
		width: 400px;
	}

	&::after {
		content: '';
		display: block;
		padding-bottom: 90%;
	}

	> svg {
		fill: var(--add-comp-btn-icon-color);
		height: 56px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 56px;
		z-index: 1;

		@media (--tablet-landscape-up) {
			height: 80px;
			width: 80px;
		}
	}
}

.comparison-table {
	margin-top: var(--mg-5);

	@media (--tablet-landscape-down) {
		margin-top: var(--mg-7);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
	}

	@media (--tablet-landscape-up) {
		padding-left: 356px;
	}

	@media (--desktop-up) {
		padding-left: 424px;
	}

	@media (--big-desktop-up) {
		padding-left: 472px;
	}

	@media (min-width: 1500px) {
		padding-left: 512px;
	}

	@media (min-width: 1641px) {
		padding-left: calc(((100% - 1640px) / 2) + 512px);
	}

	&__item {
		@media (--tablet-landscape-down) {
			width: 50%;
		}

		@media (--tablet-landscape-up) {
			width: 300px !important;
		}

		@media (--desktop-up) {
			width: 400px !important;
		}
	}
}

.comparison-tab-content {
	display: block;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;

	&.tab-content--active {
		left: auto;
		opacity: 1;
		position: relative;
		right: auto;
		top: auto;
	}
}

.comparison-head {
	bottom: 0;
	left: 0;
	position: absolute;

	@media (--tablet-landscape-down) {
		right: 0;
		text-align: center;
	}

	@media (--tablet-landscape-up) {
		width: 356px;
	}

	@media (--desktop-up) {
		width: 424px;
	}

	@media (--big-desktop-up) {
		width: 472px;
	}

	@media (min-width: 1500px) {
		width: 512px;
	}

	@media (min-width: 1641px) {
		width: calc(((100% - 1640px) / 2) + 512px);
	}

	.comparison-info__head,
	.comparison-info__item {
		padding-left: var(--pd-2);

		@media (--tablet-landscape-down) {
			padding-right: var(--pd-2);
		}

		@media (--tablet-landscape-up) {
			padding-left: var(--pd-3);
		}

		@media (--big-desktop-up) {
			padding-left: var(--pd-5);
		}

		@media (min-width: 1500px) {
			padding-left: var(--pd-10);
		}

		@media (min-width: 1641px) {
			padding-left: calc(((100vw - 1640px) / 2) + 80px);
		}
	}

	.comparison-info__head {
		@media (--tablet-landscape-down) {
			background-color: var(--comparison-info-head-color);
		}
	}

	.comparison-info__item {
		border-bottom-color: transparent;
		border-top-color: transparent;

		@media (--tablet-landscape-down) {
			height: 113px;
			margin-top: 0;
			padding-top: 12px;
		}
	}
}

.comparison-title {
	font-weight: 600;
}

.comparison {
	max-width: 100%;

	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-8);
		}

		&--tile {
			padding-right: var(--pd-4);

			@media (--tablet-landscape-down) {
				padding-right: var(--pd-2);
			}
		}
	}
}

.comparison-info {
	&__head {
		background-color: var(--comparison-info-head-color);
		font-size: var(--fz-4);
		font-weight: 500;
		height: 96px;
		line-height: 96px;
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-down) {
			background-color: transparent;
			height: 64px;
			line-height: 64px;
			margin-bottom: 0;
			margin-top: var(--mg-6);
		}
	}

	&__item {
		border-top-color: var(--comparison-info-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		min-height: 65px;
		padding-bottom: var(--pd-1);
		padding-top: var(--pd-1);

		@media (--tablet-landscape-down) {
			border-bottom-color: var(--comparison-info-border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
			font-size: var(--fz-0);
			line-height: var(--lh-0);
			margin-top: var(--mg-6);
		}
	}
}

.comp-medium {
	@media (--tablet-landscape-up) {
		font-size: var(--fz-3);
		font-weight: 500;
		line-height: var(--lh-3);
	}
}

.scrolled-tiles {
	background-color: var(--comparison-info-head-color);
	left: 0;
	opacity: 0;
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: var(--animate-duration-effect);
	transition-property: opacity;
	transition-timing-function: var(--animate-easing-standard);

	@media (--tablet-landscape-up) {
		padding-left: 340px;
		right: 0;
	}

	@media (--desktop-up) {
		padding-left: 408px;
	}

	@media (--big-desktop-up) {
		padding-left: 440px;
	}

	@media (min-width: 1500px) {
		padding-left: 496px;
	}

	@media (min-width: 1641px) {
		padding-left: calc(((100% - 1640px) / 2) + 496px);
	}
}
