.cookies-notice {
	align-items: center;
	background-color: white;
	bottom: 0;
	box-shadow: 0 0 1.5rem color-mod(black alpha(25%));
	display: flex;
	justify-content: center;
	left: 0;
	padding-bottom: 0.75rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.75rem;
	position: fixed;
	width: 100%;
	z-index: 997;

	&__content {
		font-size: var(--fz-0);
		line-height: var(--lh-1);
		max-width: var(--max-text-width);
	}

	&__close {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: 1.5rem;
		width: 3rem;
	}

	&__icon {
		fill: var(--link-black-color);
		height: 1.5rem;
		transition-duration: var(--animate-duration-micro);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
		width: 1.5rem;

		.cookies-notice__close:hover &,
		.cookies-notice__close:focus & {
			fill: var(--link-light-blue-color);
		}
	}
}
