:root {
	--doc-back-color: #fafafc;
	--doc-text-color: #505f80;
	--doc-title-color: #0f2043;
	--doc-icon-color: #0f2043;
}

.doc-box {
	background-color: var(--doc-back-color);
	margin-bottom: var(--mg-3);
	width: 100%;

	+ .load-more {
		margin-top: var(--mg-3);

		@media (--tablet-landscape-up) {
			margin-top: var(--mg-4);
		}
	}
}

.doc-list {
	&__item {
		&:not(:last-child) {
			border-bottom-color: var(--border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
	}
}

.doc {
	padding-bottom: var(--pd-3);
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	padding-top: var(--pd-3);
	width: 100%;

	@media (--tablet-landscape-up) {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding-bottom: var(--pd-4);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		padding-top: var(--pd-4);

		.doc-list & {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.doc-list & {
		padding-left: 0;
		padding-right: 0;
	}
}

.doc-mobile-row {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.doc-info {
	align-items: center;
	display: flex;
	flex-grow: 1;

	@media (--tablet-landscape-down) {
		margin-bottom: var(--mg-2);
	}

	&__icon {
		fill: var(--doc-icon-color);
		height: 32px;
		margin-right: var(--mg-1);
		width: 25px;
	}

	&__text {
		color: var(--doc-text-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
	}

	&__title {
		color: var(--doc-title-color);
		font-size: var(--fz-1);
		font-weight: 500;
		line-height: var(--lh-1);
	}
}

.doc-options {
	align-items: center;
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-2);

			@media (--tablet-landscape-up) {
				margin-right: var(--mg-4);
			}
		}
	}
}

.doc-option {
	display: inline-block;
	height: 30px;
	text-decoration: none;
	width: 30px;

	@media (--tablet-landscape-down) {
		height: 17px;
		width: 17px;
	}

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	> svg {
		fill: var(--doc-icon-color);
	}
}
