:root {
	--fav-button-stroke-color: #505f80;
	--fav-button-fill-color: #e31a15;
}

.fav-btn {
	display: inline-block;
	height: 22px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	position: relative;
	transform: translateZ(0);
	width: 22px;

	&.has-hover:hover {
		animation-duration: var(--animate-duration-effect);
		animation-name: scaleDown;
		animation-timing-function: ease-in;
	}

	&__icon {
		left: 0;
		position: absolute;
		top: 0;
		transition-duration: var(--animate-duration-enter);
		transition-property: opacity;
		transition-timing-function: var(--animate-easing-standard);
	}

	&__icon--not-added {
		fill: var(--fav-button-stroke-color);
		.fav-btn--added & {
			opacity: 0;
		}
	}

	&__icon--added {
		fill: var(--fav-button-fill-color);
		opacity: 0;
		.fav-btn--added & {
			opacity: 1;
		}
	}
}
