:root {
	--filter-back-color: #ffffff;
	--filter-border-color: #d0daf0;
	--filter-lbl-color: #505f80;
	--filter-result-lbl-color: #505f80;
	--filter-result-text-color: #0f2043;
}

.filter-items {
	background-color: var(--filter-back-color);
	border-bottom-color: var(--filter-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--filter-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: var(--filter-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--filter-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	display: flex;

	+ .filter-items__submit-btn {
		margin-top: var(--mg-3);
	}

	&--horizontal {
		flex-direction: column;

		@media (--tablet-landscape-up) {
			flex-direction: row;
		}
	}

	&--vertical {
		flex-direction: column;
	}

	&__submit {
		padding-bottom: var(--pd-4);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		padding-top: var(--pd-5);
	}

	&__submit-btn {
		text-align: center;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: var(--mg-2);
		}
	}

	&__item {
		padding-bottom: var(--pd-2);
		padding-left: var(--pd-3);
		padding-right: var(--pd-3);
		padding-top: var(--pd-2);

		&--half {
			@media (--tablet-landscape-up) {
				flex-grow: 0.5;
			}
		}

		&--full {
			flex-grow: 1;
		}

		&:not(:last-child) {
			.filter-items--horizontal & {
				@media (--tablet-landscape-down) {
					border-bottom-color: var(--filter-border-color);
					border-bottom-style: solid;
					border-bottom-width: 1px;
				}

				@media (--tablet-landscape-up) {
					border-right-color: var(--filter-border-color);
					border-right-style: solid;
					border-right-width: 1px;
				}
			}

			.filter-items--vertical & {
				border-bottom-color: var(--filter-border-color);
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}
	}
}

.filter-item {
	position: relative;

	&__label {
		color: var(--filter-lbl-color);
		display: block;
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: var(--mg-2);
	}

	&__flex-r {
		align-items: center;
		display: flex;

		.filter-check:not(:last-child) {
			margin-right: var(--mg-5);
		}
	}

	&__flex-c {
		display: flex;
		flex-direction: column;

		.filter-check:not(:last-child) {
			margin-bottom: var(--mg-2);
		}
	}
}

.filter-options {
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

.filter-radio-items {
	align-items: center;
	display: flex;

	&__radio {
		display: inline-flex;

		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}

.filter-result {
	align-items: center;
	color: var(--filter-result-text-color);
	display: flex;
	flex-wrap: nowrap;
	font-size: var(--fz-6);
	line-height: var(--lh-6);
	white-space: nowrap;

	&--col {
		align-items: flex-start;
		flex-direction: column;
	}

	.filter-radio-items + & {
		margin-left: var(--mg-5);
	}

	&::before {
		color: var(--filter-result-lbl-color);
		content: attr(data-result-lbl);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-right: var(--mg-3);
	}

	&--col::before {
		margin-bottom: var(--mg-2);
		margin-right: 0;
	}
}

.filter-options + .filter-items {
	margin-top: var(--mg-4);
}
