:root {
	--footer-border-color: #e5e5ed;
	--footer-nav-color: #505f80;
	--footer-nav-dark-color: #0f2043;
	--footer-nav-hover-color: #02a5ff;
}

.logo-path {
	transition-duration: var(--animate-duration-effect);
	transition-property: fill;
	transition-timing-function: var(--animate-easing-standard);
}

.logo-text {
	fill: #505f80;

	.logo.has-hover:hover & {
		fill: #100e0c;
	}
}

.logo-white-line {
	fill: #505f80;

	.logo.has-hover:hover & {
		fill: #e7e8e8;
	}
}

.logo-green-line {
	fill: #505f80;

	.logo.has-hover:hover & {
		fill: #177f29;
	}
}

.logo-red-line {
	fill: #505f80;

	.logo.has-hover:hover & {
		fill: #d9000d;
	}
}

.logo-black-line {
	fill: #505f80;

	.logo.has-hover:hover & {
		fill: #100e0c;
	}
}

.footer {
	padding-top: var(--pd-8);

	@media (--tablet-landscape-up) {
		padding-top: 0;
	}
}

.footer-nav {
	align-items: center;
	border-top-color: var(--footer-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: var(--pd-7);
	padding-top: var(--pd-8);

	@media (--tablet-landscape-up) {
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: var(--pd-8);
		padding-top: var(--pd-16);
	}

	&__col {
		margin-bottom: var(--mg-3);
		text-align: center;

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
			text-align: left;
		}

		&--mobile {
			@media (--tablet-landscape-down) {
				display: none;
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-3);

			@media (--tablet-landscape-up) {
				margin-bottom: var(--mg-2);
			}
		}

		&--desktop-hide {
			@media (--tablet-landscape-up) {
				display: none;
			}
		}

		&--mg-1 {
			&:not(:last-child) {
				margin-bottom: var(--mg-3);
			}
		}

		&--mg-2 {
			&:not(:last-child) {
				margin-bottom: var(--mg-5);
			}
		}
	}
}

.footer-nav-link {
	color: var(--footer-nav-color);
	font-family: inherit;
	font-size: var(--fz-1);
	line-height: var(--lh-1);
	text-decoration: none;

	&--large {
		color: var(--footer-nav-dark-color);
		font-size: var(--fz-3);
		font-weight: 500;
		line-height: var(--lh-3);
	}

	&.has-hover:hover {
		color: var(--footer-nav-hover-color);
		text-decoration: underline;
	}
}

.footer-contact {
	&::before {
		color: var(--text-grey-color);
		content: attr(data-footer-contact-lbl);
		display: block;
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: 4px;
	}

	&__link {
		text-decoration: none;

		&--phone {
			color: var(--link-dark-color);
			font-size: var(--fz-3);
			font-weight: 700;
			line-height: var(--lh-3);
		}

		&--email {
			color: var(--link-grey-color);
			font-size: var(--fz-1);
			line-height: var(--lh-1);
		}

		&.has-hover:hover {
			text-decoration: underline;
		}
	}
}

.copyright {
	align-items: center;
	border-top-color: var(--footer-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: var(--pd-7);
	padding-top: var(--pd-7);

	@media (--tablet-landscape-up) {
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: var(--pd-8);
		padding-top: var(--pd-8);
	}

	> div:not(:last-child) {
		margin-bottom: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
		}
	}
}

.copyright-lbl {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
}

.copyright-link {
	color: var(--link-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	text-decoration: underline;

	&.has-hover:hover {
		color: var(--link-light-blue-color);
	}
}

.company {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);

	a {
		color: var(--link-grey-color);
		font-size: var(--fz-0);
		font-weight: 700;
		line-height: var(--lh-0);
		text-decoration: none;

		&.has-hover:hover {
			color: #e53339;
		}
	}
}

.politics {
	align-items: center;
	border-top-color: var(--footer-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: var(--pd-16);
	padding-top: var(--pd-4);

	@media (--tablet-landscape-up) {
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
	}

	&__text {
		color: var(--text-grey-color);
		flex-grow: 1;
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: var(--mg-4);
		text-align: center;

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
			margin-right: var(--mg-7);
			text-align: left;
		}
	}
}

.footer-brands {
	align-items: center;
	display: flex;

	> img {
		max-width: 50px;

		&:not(:last-child) {
			margin-right: var(--mg-2);
		}
	}
}
