.history-box {
	overflow: hidden;
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		background-color: var(--back-grey-color);
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
		padding-bottom: var(--pd-8);
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);
		padding-top: var(--pd-7);
	}
}

.history-table {
	@media (--tablet-landscape-up) {
		border-collapse: collapse;
		display: table;
		width: 100%;
	}

	&__head {
		display: none;

		@media (--tablet-landscape-up) {
			background-color: var(--table-head-color);
			display: table-row;
			height: 30px;

			> div {
				display: table-cell;
				padding-left: var(--pd-2);
				padding-right: var(--pd-2);
				vertical-align: middle;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

.history-item {
	@media (--tablet-landscape-down) {
		background-color: var(--back-grey-color);
		display: block;
		padding-bottom: var(--pd-3);
		padding-left: var(--pd-2);
		padding-right: var(--pd-2);
		padding-top: var(--pd-3);

		&:not(:last-child) {
			margin-bottom: var(--mg-3);
		}

		> div {
			padding-bottom: var(--pd-2);
			padding-top: var(--pd-2);

			&:not(:last-child) {
				border-bottom-color: var(--table-head-border-color);
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}
	}

	@media (--tablet-landscape-up) {
		display: table-row;

		&:not(:last-child) {
			border-bottom-color: var(--table-head-border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}

		> div {
			display: table-cell;
			padding-bottom: var(--pd-3);
			padding-left: var(--pd-2);
			padding-right: var(--pd-2);
			padding-top: var(--pd-3);
			vertical-align: middle;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.history-title {
	color: var(--table-head-text-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	white-space: nowrap;

	@media (--tablet-landscape-down) {
		margin-bottom: var(--mg-1);
	}
}
