:root {
	--info-sidebar-back-color: #ffffff;
	--info-sidebar-border-color: #d0daf0;
}

.info-sidebar {
	background-color: var(--info-sidebar-back-color);

	@media (--tablet-landscape-up) {
		border-bottom-color: var(--info-sidebar-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--info-sidebar-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--info-sidebar-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--info-sidebar-border-color);
		border-top-style: solid;
		border-top-width: 1px;
	}

	&--mobile-grey {
		@media (--tablet-landscape-down) {
			background-color: var(--back-grey-color);
			padding-bottom: var(--pd-5);
			padding-left: var(--pd-2);
			padding-right: var(--pd-2);
			padding-top: var(--pd-5);
		}
	}

	&__item {
		padding-bottom: var(--pd-3);
		padding-top: var(--pd-4);

		@media (--tablet-landscape-up) {
			padding-left: var(--pd-3);
			padding-right: var(--pd-3);
		}

		&:first-child {
			@media (--tablet-landscape-down) {
				padding-top: 0;
			}
		}

		&:not(:last-child) {
			border-bottom-color: var(--info-sidebar-border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}

		&--mobile-no-border,
		&--mobile-no-border:not(:last-child) {
			@media (--tablet-landscape-down) {
				border-bottom-width: 0;
				padding-bottom: 0;
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			line-height: var(--lh-3);
		}

		&--large {
			font-size: var(--fz-4);
			line-height: var(--lh-4);

			@media (--tablet-landscape-up) {
				font-size: var(--fz-5);
				line-height: var(--lh-5);
			}
		}
	}
}

.info-item {
	display: flex;
	justify-content: space-between;

	&--no-sb {
		justify-content: flex-start;

		div + div {
			margin-left: var(--mg-4);
		}
	}

	&--center {
		align-items: center;
	}

	+ .info-item {
		margin-top: var(--mg-2);
	}

	+ .info-item:last-child {
		margin-top: var(--mg-4);
	}

	+ .info-item--no-mg:last-child {
		margin-top: var(--mg-2);
	}

	+ .info-item--small-mg,
	+ .info-item--small-mg:last-child {
		margin-top: var(--mg-3);
	}

	&--flex-sb {
		display: flex;
		justify-content: space-between;
	}

	&--flex-sb-mobile {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		@media (--tablet-landscape-up) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__btn {
		flex-basis: 100%;
		max-width: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(50% - 12px);
			max-width: calc(50% - 12px);
			width: calc(50% - 12px);
		}

		&:not(:last-child) {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-2);
			}
		}

		&--large {
			flex-basis: 100%;
			max-width: 100%;
			width: 100%;

			@media (--tablet-landscape-up) {
				flex-basis: calc(60% - 12px);
				max-width: calc(60% - 12px);
				width: calc(60% - 12px);
			}

			+ .info-item__btn--small {
				@media (--tablet-landscape-down) {
					margin-top: var(--mg-3);
				}
			}
		}

		&--small {
			flex: 1 1 100%;
			max-width: 100%;
			width: 100%;

			@media (--tablet-landscape-up) {
				flex-basis: calc(40% - 12px);
				max-width: calc(40% - 12px);
				width: calc(40% - 12px);
			}

			+ .info-item__btn--large {
				@media (--tablet-landscape-down) {
					margin-top: var(--mg-3);
				}
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		white-space: pre-line;

		&--bold {
			font-weight: 600;
		}
	}

	&__price {
		align-items: center;
		display: flex;

		+ .info-item__price {
			margin-top: var(--mg-2);
		}

		.price + .tip-box,
		.price-small + .tip-box,
		.price-total + .tip-box {
			margin-left: var(--mg-1);
		}
	}
}

.info-sidebar-content {
	align-items: center;
	display: flex;

	> svg {
		fill: var(--text-grey-color);
		height: 32px;
		min-width: 32px;
		width: 32px;
	}

	> span {
		color: var(--text-grey-color);
		margin-left: var(--mg-2);

		> strong {
			color: var(--text-main-color);
			font-weight: 500;
		}
	}
}

.info-sidebar-hint {
	align-items: center;
	display: flex;

	> svg {
		fill: var(--text-grey-color);
		height: 16px;
		min-width: 16px;
		width: 16px;
	}

	> span {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-left: var(--mg-2);
	}
}

.info-sidebar-tip {
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	margin-top: var(--mg-2);
}

.info-mobile-slider {
	margin-bottom: var(--mg-5);

	@media (--tablet-landscape-up) {
		display: none;
	}

	&:last-child {
		@media (--tablet-landscape-down) {
			margin-bottom: 0;
		}
	}

	&__box {
		height: 296px;
		position: relative;

		@media (--phone-up) {
			height: 496px;
		}
	}
}
