:root {
	--link-white-color: #ffffff;
	--link-black-color: #100e0c;
	--link-dark-color: #0f2043;
	--link-grey-color: #505f80;
	--link-blue-color: #054077;
	--link-light-blue-color: #02a5ff;
}

.link-grey {
	color: var(--link-grey-color);
	text-decoration: none;

	&.has-hover:hover {
		color: var(--link-light-blue-color);
	}

	> svg {
		display: inline-block;
		fill: var(--link-grey-color);
		height: 18px;
		margin-right: var(--mg-2);
		transition-duration: var(--animate-duration-enter);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
		vertical-align: middle;
		width: 18px;
	}

	&.has-hover:hover > svg {
		fill: var(--link-light-blue-color);
	}
}

.link-under {
	text-decoration: underline;
}

.link-small {
	font-size: var(--fz-0);
	line-height: var(--lh-0);
}
