.logo {
	display: inline-block;
	width: 120px;

	@media (--tablet-landscape-up) {
		width: 190px;
	}
}

.desktop-logo {
	.header--fixed & {
		display: none;
	}
}

.mobile-logo {
	.header--fixed &.hidden {
		display: inline-block !important;
	}
}
