:root {
	--map-site-color: #505f80;
	--map-site-dark-color: #0f2043;
	--map-site-hover-color: #02a5ff;
}

.map-site {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (--tablet-landscape-up) {
		flex-direction: row;
		justify-content: space-between;
	}

	&__col {
		margin-bottom: var(--mg-5);

		@media (--tablet-landscape-up) {
			margin-bottom: 0;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: var(--mg-2);
		}

		&--mb {
			&:not(:last-child) {
				margin-bottom: var(--mg-4);
			}

			.map-site__item + & {
				margin-top: var(--mg-5);

				@media (--tablet-landscape-up) {
					margin-top: var(--mg-7);
				}
			}
		}

		&--mb2 {
			&:not(:last-child) {
				margin-bottom: var(--mg-5);

				@media (--tablet-landscape-up) {
					margin-bottom: var(--mg-7);
				}
			}
		}
	}
}

.map-site-link {
	color: var(--map-site-color);
	font-family: inherit;
	font-size: var(--fz-1);
	line-height: var(--lh-1);
	text-decoration: none;

	&--large {
		color: var(--map-site-dark-color);
		font-size: var(--fz-4);
		font-weight: 500;
		line-height: var(--lh-4);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
		}
	}

	&.has-hover:hover {
		color: var(--map-site-hover-color);
		text-decoration: underline;
	}
}
