.map-box {
	display: flex;

	@media (--tablet-landscape-down) {
		flex-direction: column-reverse;
	}
}

.map-form-box {
	width: 100%;

	@media (--tablet-landscape-up) {
		min-width: 412px;
		width: 412px;
	}

	@media (--desktop-up) {
		min-width: 512px;
		width: 512px;
	}
}

.map {
	@media (--tablet-landscape-down) {
		height: 60vh;
		margin-bottom: var(--mg-5);
		margin-left: var(--mg-n-2);
		margin-right: var(--mg-n-2);
		width: calc(100% + 32px);
	}

	@media (--tablet-landscape-up) {
		flex-basis: calc(100% - 412px);
		width: calc(100% - 412px);
	}

	@media (--desktop-up) {
		flex-basis: calc(100% - 512px);
		width: calc(100% - 512px);
	}
}

.address-map {
	height: 100%;
	width: 100%;
}
