:root {
	--menu-link-back-color: #ffffff;
	--menu-link-back-active-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
	--menu-link-text-active-color: #ffffff;
	--menu-link-border-color: #cedbef;
	--menu-link-text-color: #505f80;
	--menu-link-text-hover-color: #ffffff;
	--menu-link-back-hover-color: linear-gradient(to right, #3b5afb 0%, #054077 50%, #054077 100%);
}

.menu-link {
	background-color: var(--menu-link-back-color);
	border-bottom-color: var(--menu-link-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--menu-link-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: var(--br-1);
	border-right-color: var(--menu-link-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--menu-link-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--menu-link-text-color);
	cursor: pointer;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	min-height: 48px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	white-space: nowrap;
	width: 100%;

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		background-color: transparent;
		background-image: var(--menu-link-back-hover-color);
		color: var(--menu-link-text-hover-color);
	}

	&--active {
		background-color: transparent;
		background-image: var(--menu-link-back-active-color);
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: var(--menu-link-text-active-color);

		&.has-hover:hover:active,
		&.has-hover:hover {
			color: var(--menu-link-text-active-color);
		}
	}
}
