.price-box {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	white-space: nowrap;

	&--col {
		@media (--tablet-landscape-up) {
			flex-direction: column;
		}
	}
}

.no-price {
	font-size: var(--fz-6);
	line-height: var(--lh-6);
	text-decoration: line-through;

	&--small {
		color: var(--text-sky-color);
		font-size: var(--fz-5);
		line-height: var(--lh-5);
	}
}

.price-lbl {
	margin-bottom: 4px;

	&--large {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-3);
			font-weight: 500;
			line-height: var(--lh-3);
		}
	}
}

.price {
	white-space: nowrap;

	+ .price--old,
	&--old + .price {
		margin-left: var(--mg-2);
	}

	&--large {
		font-size: var(--fz-4);
		line-height: var(--lh-4);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-6);
			line-height: var(--lh-6);
		}
	}

	&--medium {
		font-size: var(--fz-5);
		line-height: var(--lh-5);

		@media (--tablet-landscape-up) {
			font-size: 32px;
			line-height: 32px;
		}
	}

	&--normal {
		font-size: var(--fz-3);
		line-height: var(--lh-3);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
		}
	}

	&--normal-2 {
		font-size: var(--fz-4);
		line-height: var(--lh-4);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
		}
	}

	&--normal-fixed {
		font-size: var(--fz-5);
		line-height: var(--lh-5);
	}

	&--small {
		font-size: var(--fz-3);
		line-height: var(--lh-3);

		@media (--tablet-landscape-up) {
			font-size: var(--fz-4);
			line-height: var(--lh-4);
		}
	}

	&--small-fixed {
		font-size: var(--fz-4);
		line-height: var(--lh-4);
	}

	&--old {
		text-decoration: line-through;
	}

	&--bold {
		font-weight: 500;
	}

	&--semibold {
		font-weight: 600;
	}
}
