:root {
	--product-specification-back-color: #fafafc;
	--product-specification-icon-color: #505f80;
	--product-service-back-color: linear-gradient(to bottom, #054077 0%, #3b5afb 100%);
	--product-service-text-color: #ffffff;
}

.product-content {
	&__box + .product-content__box {
		margin-top: var(--pd-8);

		@media (--tablet-landscape-up) {
			margin-top: var(--pd-12);
		}
	}

	&__head {
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-5);
		line-height: var(--lh-5);
		margin-bottom: 0;
		white-space: pre-line;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-6);
			font-weight: 400;
			line-height: var(--lh-6);
		}
	}
}

.product-slider {
	@media (--tablet-landscape-down) {
		display: none;
	}

	&__hint {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-left: auto;
		margin-right: auto;
		margin-top: var(--mg-4);
		text-align: center;
		width: 70%;
	}
}

.product-slider-gallery {
	height: 505px;
	position: relative;
	width: 100%;

	&__container,
	.swiper-wrapper,
	&__slide {
		height: 100%;
		width: 100% !important;
	}

	&__slide {
		align-items: center;
		background-color: var(--tile-media-back-color);
		display: flex;
		justify-content: center;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		img {
			@extend .back-img-contain;
		}
	}

	&__pagination {
		bottom: 32px !important;
		left: 32px !important;
		position: absolute;
		width: auto !important;

		.swiper-pagination-bullet {
			background-color: var(--tile-media-pagination-color);
			height: 8px;
			margin-left: 8px !important;
			margin-right: 8px !important;
			opacity: 0.6;
			position: relative;
			width: 8px;

			&::before {
				border-bottom-color: transparent;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-left-color: transparent;
				border-left-style: solid;
				border-left-width: 1px;
				border-radius: 50%;
				border-right-color: transparent;
				border-right-style: solid;
				border-right-width: 1px;
				border-top-color: transparent;
				border-top-style: solid;
				border-top-width: 1px;
				content: '';
				height: 16px;
				left: -4px;
				position: absolute;
				top: -4px;
				width: 16px;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;

			&::before {
				border-bottom-color: var(--tile-media-pagination-color);
				border-left-color: var(--tile-media-pagination-color);
				border-right-color: var(--tile-media-pagination-color);
				border-top-color: var(--tile-media-pagination-color);
			}
		}
	}
}

.product-options {
	align-items: center;
	display: flex;
	position: absolute;
	right: 32px;
	top: 32px;
	z-index: 1;

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.product-lbl-box {
	left: 32px;
	position: absolute;
	top: 32px;
	z-index: 1;
}

.product-slider-thumbs {
	margin-top: var(--mg-4);

	&__slide {
		background-color: var(--tile-media-back-color);
		cursor: pointer;
		height: 104px;
		width: 136px;

		> img {
			@extend .back-img-contain;
		}
	}
}

.product-specifications {
	display: flex;
	flex-wrap: wrap;

	@media (--tablet-landscape-down) {
		justify-content: space-between;
	}

	&__item {
		margin-bottom: var(--mg-3);

		@media (--tablet-landscape-down) {
			width: 25%;
		}

		@media (--only-phone) {
			width: 50%;
		}

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
			margin-left: var(--mg-4);
			margin-right: var(--mg-4);
		}
	}
}

.product-specification {
	&__box {
		align-items: center;
		background-color: var(--product-specification-back-color);
		border-radius: 50%;
		display: flex;
		height: 112px;
		justify-content: center;
		margin-bottom: var(--mg-4);
		margin-left: auto;
		margin-right: auto;
		width: 112px;

		@media (--tablet-landscape-up) {
			height: 136px;
			width: 136px;
		}
	}

	&__icon {
		fill: var(--product-specification-icon-color);
		height: 44px;
		width: 44px;
	}

	&__color {
		border-radius: 50%;
		height: 56px;
		width: 56px;
	}

	&__info {
		text-align: center;
	}

	&__lbl {
		color: var(--text-main-color);
		font-size: var(--fz-0);
		font-weight: 400;
		line-height: var(--lh-0);
		margin-bottom: 0;
		text-transform: uppercase;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-1);
			line-height: var(--lh-1);
			margin-bottom: var(--mg-1);
		}
	}

	&__name {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		font-weight: 500;
		line-height: var(--lh-1);
		margin-bottom: 0;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-2);
			line-height: var(--lh-2);
		}
	}

	&__desc {
		color: var(--text-grey-color);
		font-size: var(--fz-0);
		line-height: var(--lh-0);
		margin-bottom: 0;
	}
}

.product-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (--tablet-landscape-down) {
		flex-wrap: wrap;
	}

	&__item {
		width: 100%;

		@media (--phone-up) {
			width: calc(50% - 16px);
		}

		@media (--desktop-up) {
			width: calc(33.3% - 16px);
		}

		&:not(:last-child) {
			margin-bottom: var(--mg-3);

			@media (--desktop-up) {
				margin-bottom: 0;
			}
		}
	}
}

.product-service {
	background-image: var(--product-service-back-color);
	color: var(--product-service-text-color);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding-bottom: var(--pd-4);
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
	padding-top: var(--pd-3);
	width: 100%;

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-4);
		padding-left: var(--pd-4);
		padding-right: var(--pd-4);
		padding-top: var(--pd-7);
	}

	&__title {
		font-size: var(--fz-5);
		line-height: var(--lh-5);
		margin-bottom: var(--mg-1);
	}

	&__text {
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-11);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-6);
		}
	}
}

.product-equipment-box {
	margin-top: var(--mg-5);
}

.product-equipment-content {
	&__inner {
		display: flex;
		flex-direction: column;
		position: relative;

		@media (--tablet-landscape-up) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__col {
		width: 100%;

		@media (--tablet-landscape-up) {
			width: calc(50% - 20px);
		}

		&--full {
			width: 100%;
		}
	}

	&__show {
		margin-top: var(--mg-4);
		text-align: center;
	}
}

.product-question-btn {
	margin-top: var(--mg-3);
}

.product-equipment-info {
	+ .product-equipment-info {
		margin-top: var(--mg-5);
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-3);
		line-height: var(--lh-3);
		margin-bottom: var(--mg-2);
	}

	&__item {
		border-top-color: var(--border-color);
		border-top-style: solid;
		border-top-width: 1px;
		padding-bottom: var(--pd-2);
		padding-right: 20%;
		padding-top: var(--pd-1);
	}

	&__desc {
		color: var(--text-main-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
		margin-bottom: var(--mg-1);
	}

	&__name {
		color: var(--text-light-grey-color);
		font-size: var(--fz-1);
		line-height: var(--lh-1);
	}
}

.product-equipment-table {
	border-collapse: collapse;
	width: 100%;

	tr {
		border-top-color: var(--border-color);
		border-top-style: solid;
		border-top-width: 1px;
	}

	td {
		padding-bottom: var(--pd-3);
		padding-top: var(--pd-1);
	}
}
