:root {
	--search-results-back-color: #ffffff;
	--search-results-border-color: #d0daf0;
	--search-icon-color: #505f80;
}

.search-box {
	padding-bottom: 4px;
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	padding-top: 4px;
	position: relative;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);

	@media (--tablet-landscape-up) {
		border-left-color: transparent;
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: transparent;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: transparent;
		border-top-left-radius: var(--br-1);
		border-top-right-radius: var(--br-1);
		border-top-style: solid;
		border-top-width: 1px;
		padding-bottom: var(--pd-2);
		padding-top: var(--pd-2);

		&--active {
			background-color: var(--search-results-back-color);
			border-left-color: var(--search-results-border-color);
			border-right-color: var(--search-results-border-color);
			border-top-color: var(--search-results-border-color);
			z-index: 100;
		}
	}
}

.search {
	display: flex;

	&--mobile {
		@media (--tablet-landscape-down) {
			flex-direction: column;
		}
	}

	&__field {
		flex-grow: 1;
		position: relative;

		.search--mobile & {
			@media (--tablet-landscape-down) {
				margin-bottom: var(--mg-3);
			}
		}

		.field__input {
			@media (--tablet-landscape-up) {
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	&__btn {
		margin-left: -4px;
	}

	&__mobile-btn {
		height: 16px;
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;

		> svg {
			stroke: var(--search-icon-color);
		}
	}
}

.search-results {
	background-color: var(--search-results-back-color);
	display: none;
	left: -1px;
	padding-left: var(--pd-2);
	padding-right: var(--pd-2);
	padding-top: var(--pd-1);
	position: absolute;
	right: -1px;
	top: 100%;

	@media (--tablet-landscape-up) {
		border-bottom-color: var(--search-results-border-color);
		border-bottom-left-radius: var(--br-1);
		border-bottom-right-radius: var(--br-1);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--search-results-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--search-results-border-color);
		border-right-style: solid;
		border-right-width: 1px;
	}

	&__inner {
		max-height: calc(100vh - 160px);
		padding-right: var(--pd-2);
		position: relative;
		width: 100%;

		@media (--tablet-landscape-up) {
			max-height: 430px;
		}
	}

	&__item {
		padding-bottom: var(--pd-3);
		padding-top: var(--pd-3);

		&:not(:last-child) {
			border-bottom-color: var(--search-results-border-color);
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
	}
}

.search-result {
	align-items: center;
	display: flex;
	justify-content: space-between;

	&__img {
		height: 64px;
		width: 64px;

		> img {
			@extend .back-img-contain;
		}
	}

	> div:not(:last-child) {
		margin-right: var(--mg-3);

		@media (--tablet-landscape-up) {
			margin-right: var(--mg-2);
		}
	}
}
