:root {
	--sidebar-border-color: #d0daf0;
	--sidebar-link-back-color: #ffffff;
	--sidebar-link-back-active-color: linear-gradient(to left, #054077 0%, #3b5afb 50%, #3b5afb 100%);
	--sidebar-link-text-active-color: #ffffff;
	--sidebar-link-text-color: #0f2043;
	--sidebar-link-text-mobile-color: #505f80;
	--sidebar-link-back-hover-color: #cedbef;
	--sidebar-link-border-color: #cedbef;
}

.sidebar {
	@media (--tablet-landscape-down) {
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	@media (--tablet-landscape-up) {
		border-bottom-color: var(--sidebar-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--sidebar-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--sidebar-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--sidebar-border-color);
		border-top-style: solid;
		border-top-width: 1px;
	}

	&__item {
		&:not(:last-child) {
			@media (--tablet-landscape-up) {
				border-bottom-color: var(--sidebar-border-color);
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}

			@media (--tablet-landscape-down) {
				margin-right: var(--mg-2);
			}
		}
	}
}

.sidebar-link {
	align-items: center;
	color: var(--sidebar-link-text-color);
	cursor: pointer;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-3);
	font-weight: 500;
	height: 64px;
	line-height: 64px;
	min-height: 64px;
	padding-left: var(--pd-3);
	padding-right: var(--pd-3);
	text-decoration: none;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	width: 100%;

	@media (--tablet-landscape-down) {
		background-color: var(--sidebar-link-back-color);
		border-bottom-color: var(--sidebar-link-border-color);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--sidebar-link-border-color);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: var(--br-1);
		border-right-color: var(--sidebar-link-border-color);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--sidebar-link-border-color);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--sidebar-link-text-mobile-color);
		font-size: var(--fz-1);
		height: 48px;
		line-height: 48px;
		min-height: 48px;
		white-space: nowrap;
	}

	&:active,
	&.has-hover:hover:active,
	&.has-hover:hover {
		background-color: var(--sidebar-link-back-hover-color);
		color: var(--sidebar-link-text-color);
	}

	> svg {
		fill: var(--sidebar-link-text-color);
		height: 18px;
		margin-right: var(--mg-2);
		width: 18px;

		@media (--tablet-landscape-down) {
			display: none;
		}
	}

	&--active {
		background-color: transparent;
		background-image: var(--sidebar-link-back-active-color);
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		color: var(--sidebar-link-text-active-color);

		&.has-hover:hover:active,
		&.has-hover:hover {
			color: var(--sidebar-link-text-active-color);
		}

		> svg {
			fill: var(--sidebar-link-text-active-color);
		}
	}
}
