.slide-2 {
	height: auto;
	margin-bottom: var(--mg-6);
	width: 100%;

	@media (--tablet-landscape-up) {
		flex-basis: calc(50% - 16px);
		margin-bottom: var(--mg-7);
		min-width: initial;
		width: calc(50% - 16px);
	}
}

.slide-3 {
	height: auto;
	margin-bottom: var(--mg-6);
	width: 240px;

	@media (--only-tablet-landscape) {
		flex-basis: calc(50% - 16px);
		margin-bottom: var(--mg-7);
		width: calc(50% - 16px);
	}

	@media (--desktop-up) {
		flex-basis: calc(33.3% - 16px);
		margin-bottom: var(--mg-7);
		width: calc(33.3% - 16px);
	}

	.layout &,
	.m-slider & {
		@media (--only-tablet-landscape) {
			&:not(:nth-child(2n)) {
				margin-right: var(--mg-4);
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (--desktop-up) {
			&:not(:nth-child(3n)) {
				margin-right: var(--mg-3);
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	.layout & {
		@media (--only-phone) {
			flex-basis: 100%;
			width: 100%;
		}

		@media (--phone-up) and (--tablet-landscape-down) {
			flex-basis: calc(50% - 12px);
			width: calc(50% - 12px);

			&:not(:nth-child(2n)) {
				margin-right: var(--mg-3);
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	&:not(:last-child) {
		margin-right: var(--mg-3);

		@media (--tablet-landscape-down) {
			margin-right: var(--mg-2);
		}
	}
}

.slide-4 {
	height: auto;
	margin-bottom: var(--mg-6);
	width: 240px;

	@media (--only-tablet-landscape) {
		flex-basis: calc(33.3% - 16px);
		margin-bottom: var(--mg-7);
		width: calc(33.3% - 16px);
	}

	@media (--desktop-up) {
		flex-basis: calc(25% - 24px);
		margin-bottom: var(--mg-7);
		width: calc(25% - 24px);
	}

	.layout &,
	.m-slider & {
		@media (--only-tablet-landscape) {
			&:not(:nth-child(3n)) {
				margin-right: var(--mg-3);
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media (--desktop-up) {
			&:not(:nth-child(4n)) {
				margin-right: var(--mg-3);
			}

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}

	.layout & {
		@media (--only-phone) {
			flex-basis: 100%;
			width: 100%;
		}

		@media (--phone-up) and (--tablet-landscape-down) {
			flex-basis: calc(50% - 12px);
			width: calc(50% - 12px);

			&:not(:nth-child(2n)) {
				margin-right: var(--mg-3);
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	&:not(:last-child) {
		margin-right: var(--mg-3);

		@media (--tablet-landscape-down) {
			margin-right: var(--mg-2);
		}
	}
}

.slider-fraction {
	margin-top: -120px;
	position: relative;

	&__container {
		padding-top: 120px;
	}

	&__slide {
		@media (--tablet-landscape-down) {
			width: 240px;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 58px;
	width: 26px;

	&::after {
		display: none;
	}
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.061' height='40.707' viewBox='0 0 21.061 40.707'%3E%3Cpath id='Path_119' data-name='Path 119' d='M-16286-22541l-20,20,20,20' transform='translate(16306.707 22541.354)' fill='none' stroke='%23505f80' stroke-width='1'/%3E%3C/svg%3E%0A");
}

.swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.061' height='40.707' viewBox='0 0 21.061 40.707'%3E%3Cpath id='Path_120' data-name='Path 120' d='M-16306-22541l20,20-20,20' transform='translate(16306.354 22541.354)' fill='none' stroke='%23505f80' stroke-width='1'/%3E%3C/svg%3E%0A");
}

.slider-nav {
	align-items: center;
	display: none;
	position: absolute;
	right: 0;
	top: 0;

	@media (--tablet-landscape-up) {
		display: inline-flex;
	}

	&__pagination {
		bottom: auto;
		color: var(--text-main-color);
		left: auto;
		letter-spacing: -1.2px;
		position: relative;
		width: auto;
	}

	.swiper-pagination-current {
		font-size: var(--fz-6);
		line-height: var(--lh-6);
		position: relative;
		top: -5px;
	}

	.swiper-pagination-total {
		font-size: var(--fz-3);
		line-height: var(--lh-3);
	}

	&__next,
	&__prev {
		height: 40px;
		left: auto;
		margin-top: 0;
		position: relative;
		right: auto;
		top: auto;
		width: 20px;
	}

	&__prev {
		margin-right: var(--mg-3);
	}

	&__next {
		margin-left: var(--mg-3);
	}
}

.slide-fixed {
	width: 240px;

	@media (--tablet-landscape-up) {
		width: 408px;
	}

	&:not(:last-child) {
		margin-right: var(--mg-2);

		@media (--tablet-landscape-up) {
			margin-right: var(--mg-3);
		}
	}
}
