:root {
	--social-color: #505f80;
	--social-hover-color: #02a5ff;
}

.social {
	align-items: center;
	display: inline-flex;

	&__item {
		&:not(:last-child) {
			margin-right: var(--mg-2);
		}
	}
}

.social-link {
	display: inline-block;
	height: 24px;
	width: 24px;

	@media (--tablet-landscape-up) {
		height: 30px;
		width: 30px;
	}

	> svg {
		fill: var(--social-color);
		transition-duration: var(--animate-duration-enter);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
	}

	&.has-hover:hover > svg {
		fill: var(--social-hover-color);
	}
}
