.spoiler {
	overflow: hidden;

	&__inner {
		overflow: hidden;
		&--active {
			max-height: 550px;

			@media (--tablet-landscape-up) {
				max-height: 790px;
			}

			&::before {
				background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
				bottom: 0;
				content: '';
				height: 224px;
				left: 0;
				position: absolute;
				right: 0;
			}
		}
	}
}
