:root {
	--tab-back-active-color: linear-gradient(to left, #054077 0%, #3b5afb 50%, #3b5afb 100%);
	--tab-text-active-color: #ffffff;
	--tab-border-color: #cedbef;
	--tab-text-color: #505f80;
}

.tabs {
	&__item {
		width: auto !important;

		&:not(:last-child) {
			margin-right: var(--mg-3);
		}
	}
}

.tab {
	background-color: transparent;
	border-bottom-color: var(--tab-border-color);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: var(--tab-border-color);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: var(--br-1);
	border-right-color: var(--tab-border-color);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: var(--tab-border-color);
	border-top-style: solid;
	border-top-width: 1px;
	color: var(--tab-text-color);
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--animate-duration-enter);
	transition-property: all;
	transition-timing-function: var(--animate-easing-standard);
	user-select: none;
	white-space: nowrap;

	&::before {
		background-image: var(--tab-back-active-color);
		border-radius: var(--br-1);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: var(--animate-easing-standard);
		z-index: 0;
	}

	&:active,
	&.has-hover:hover,
	&.active {
		color: var(--tab-text-active-color);

		&::before {
			background-size: 100%;
			opacity: 1;
		}
	}

	&.has-hover:hover:active,
	&.has-hover.active:hover {
		&::before {
			background-size: 200%;
		}
	}

	> span {
		position: relative;
		z-index: 1;
	}
}

.tab-content {
	display: none;

	&--active {
		display: block;
	}
}
