.text-dark-green {
	color: var(--text-dark-green-color);
}

.text-green {
	color: var(--text-green-color);
}

.text-light-grey {
	color: var(--text-light-grey-color);
}

.text-grey {
	color: var(--text-grey-color);
}

.text-red {
	color: var(--text-red-color);
}

.text-small {
	font-size: var(--fz-0);
	line-height: var(--lh-0);
}
