:root {
	--tip-link-color: #959aa2;
	--tip-back-color: #ffffff;
	--tip-shadow-color: rgba(59, 90, 251, 0.2);
}

.tip-box {
	display: flex;
	position: relative;

	span + & {
		margin-left: var(--mg-1);
	}
}

.tip-link {
	display: inline-block;
	height: 16px;
	width: 16px;

	> svg {
		fill: var(--tip-link-color);
	}
}

.tip-popup {
	background-color: var(--tip-back-color);
	border-radius: var(--br-2);
	box-shadow: 0 3px 10px var(--tip-shadow-color);
	color: var(--text-grey-color);
	font-size: var(--fz-0);
	line-height: var(--lh-0);
	min-width: 280px;
	opacity: 0;
	padding-bottom: var(--pd-4);
	padding-left: var(--pd-4);
	padding-right: var(--pd-4);
	padding-top: var(--pd-4);
	position: absolute;
	right: calc(100% + 20px);
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition-duration: var(--animate-duration-effect);
	transition-property: visibility, opacity;
	transition-timing-function: var(--animate-easing-standard);
	visibility: hidden;
	z-index: 1;

	&--top {
		bottom: calc(100% + 20px);
		left: 50%;
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}

	.tip-link:hover + & {
		opacity: 1;
		visibility: visible;
	}

	&::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.84' height='41.509' viewBox='0 0 18.84 41.509'%3E%3Cpath id='Path_627' data-name='Path 627' d='M264,91.3c-.01,5.949,4.081,10.85,8.677,14.568A47.707,47.707,0,0,0,282.84,112s-18.86,7.959-18.84,20.455Z' transform='translate(-264 -91.135)' fill='%23fff'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		content: '';
		filter: drop-shadow(19px 3px 10px var(--tip-shadow-color));
		height: 42px;
		position: absolute;
		right: -19px;
		top: 50%;
		transform: translateY(-50%);
		width: 19px;
	}

	&--top::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 41.2 18.8' enable-background='new 0 0 41.2 18.8' xml:space='preserve'%3E%3Cpath id='Path_627' fill='%23FFFFFF' d='M41.2,0c-5.9,0-10.9,4.1-14.6,8.7c-2.5,3.1-4.5,6.5-6.1,10.2c0,0-8-18.9-20.5-18.8H41.2z'/%3E%3C/svg%3E%0A");
		bottom: -19px;
		height: 19px;
		left: 50%;
		right: auto;
		top: auto;
		transform: translateX(-50%);
		width: 42px;
	}
}
