{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">404</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Страница не найдена</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout not-found-box">
				<div class="layout__item-half not-found-info">
					<div class="section__head">
						<h3 class="section__title section__title--medium">Запрашиваемая страница
							не найдена</h3>
					</div>
					<div class="hide-on-mobile">
						<a href="/" class="btn-blue btn-mobile-full">Перейти на главную</a>
					</div>
				</div>
				<div class="not-found">
					<img src="./styles/images/not-found.png" alt=""/>
				</div>
				<div class="hide-on-desktop">
					<a href="/" class="btn-blue btn-mobile-full">Перейти на главную</a>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
