{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Личный
						кабинет</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Личный
						кабинет</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-filter">
					<div class="sidebar">
						<div class="sidebar__item">
							<a href="" class="sidebar-link sidebar-link--active">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#user"/>
								</svg>
								Мой кабинет</a>
						</div>
						<div class="sidebar__item">
							<a href="" class="sidebar-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#list"/>
								</svg>
								Личные данные</a>
						</div>
						<div class="sidebar__item">
							<a href="" class="sidebar-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#dollar-sign"/>
								</svg>
								Платежные данные</a>
						</div>
						<div class="sidebar__item">
							<a href="" class="sidebar-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#document"/>
								</svg>
								Документация</a>
						</div>
						<div class="sidebar__item">
							<a href="" class="sidebar-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#history"/>
								</svg>
								История покупок</a>
						</div>
						<div class="sidebar__item">
							<a href="" class="sidebar-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#sign-out"/>
								</svg>
								Выйти</a>
						</div>
					</div>
				</div>
				<div class="layout__item-fill-filter">
					<div class="layout">
						<div class="layout__item-half">
							<a href="" class="tile-blue tile-blue--large">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Личные данные</span>
								</h3>
								<svg class="tile-blue__icon">
									<use xlink:href="./styles/icons/icons.svg#forward"/>
								</svg>
							</a>
						</div>
						<div class="layout__item-half">
							<a href="" class="tile-blue tile-blue--large">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Платежные данные</span>
								</h3>
								<svg class="tile-blue__icon">
									<use xlink:href="./styles/icons/icons.svg#forward"/>
								</svg>
							</a>
						</div>
						<div class="layout__item-half">
							<a href="" class="tile-blue tile-blue--large">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Документация</span>
								</h3>
								<svg class="tile-blue__icon">
									<use xlink:href="./styles/icons/icons.svg#forward"/>
								</svg>
							</a>
						</div>
						<div class="layout__item-half">
							<a href="" class="tile-blue tile-blue--large">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Избранное</span>
								</h3>
								<svg class="tile-blue__icon">
									<use xlink:href="./styles/icons/icons.svg#forward"/>
								</svg>
							</a>
						</div>
						<div class="layout__item-half">
							<a href="" class="tile-blue tile-blue--large">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">История покупок</span>
								</h3>
								<svg class="tile-blue__icon">
									<use xlink:href="./styles/icons/icons.svg#forward"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
