{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Личный
						кабинет</a>
					<a class="breadcrumbs__item" href="">Личные данные</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Личные данные</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-filter">
						<div class="sidebar">
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#user"/>
									</svg>
									Мой кабинет</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link sidebar-link--active">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#list"/>
									</svg>
									Личные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#dollar-sign"/>
									</svg>
									Платежные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#document"/>
									</svg>
									Документация</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#history"/>
									</svg>
									История покупок</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#sign-out"/>
									</svg>
									Выйти</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="form-box form-box--grey">
							<h3 class="form-title">Изменение личных данных</h3>
							<form class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Имя</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите имя">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Фамилия</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите фамилию">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Отчество</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите отчество">
											</label>
										</div>
									</div>
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Ваш e-mail</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите e-mail">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Номер телефона</span>
												<input class="field__input field__input--white js-phone-field" type="text"
													   placeholder="+7 ( ___ ) ___ - __ - __">
											</label>
										</div>
									</div>
								</div>
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field form-fields__field--mt3">
											<button class="btn-blue btn-mobile-full" type="submit">
												Сохранить изменения
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-title">Изменение пароля</h3>
							<form class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Старый пароль</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="* * * * * * ">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Новый пароль</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="* * * * * * ">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Новый пароль еще раз</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="* * * * * * ">
											</label>
										</div>
										<div class="form-fields__field form-fields__field--mt">
											<button class="btn-blue btn-mobile-full" type="submit">
												Сохранить пароль
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-title">Информация об автомобиле</h3>
							<div class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Марка автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Модель</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Комплектация</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Пробег</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Пробег автомобиля">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Год выпуска</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
								</div>
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field form-fields__field--mt3">
											<button class="btn-blue btn-mobile-full" type="submit">
												Сохранить изменения
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

{% endblock %}
