{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Достижения и награды</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Достижения и награды</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title section__title--small"><strong>Наши награды</strong></h3>
			</div>
			<div class="layout layout--mobile-row">
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/847336bbf9c3a81e337eddba81ebecf7.jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/847336bbf9c3a81e337eddba81ebecf7.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2016. Специальный приз президента Киа
							Моторс Россия и СНГ</h4>
						<p class="news-slide__desc">21 июля 2016</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/a5c713559da49d8c8f0dfa2c7cb423c6.jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/a5c713559da49d8c8f0dfa2c7cb423c6.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший дилер по продажам коммерческого транспорта
							PEUGEOT</h4>
						<p class="news-slide__desc">15 июня 2018</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/n18981.jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/n18981.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший Холдинг по продажам в 2015 году</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/6c4b9d05733f0c752008eb96638fae87.jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/6c4b9d05733f0c752008eb96638fae87.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2019. Специальный приз президента Киа
							Моторс Россия и СНГ</h4>
						<p class="news-slide__desc">23 августа 2019</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (51).jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (51).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2016. Специальный приз президента Киа Моторс Россия и
							СНГ</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (48).jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (48).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший дилер по продажам коммерческого транспорта PEUGEOT</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (49).jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (49).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший Холдинг по продажам в 2015 году</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (50).jpg" class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (50).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2019. Специальный приз президента Киа Моторс Россия и
							СНГ</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
			</div>
			<div class="load-more">
				<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title section__title--small"><strong>Наши сертификаты</strong></h3>
			</div>
			<div class="layout layout--mobile-row">
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (52).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (52).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2016. Специальный приз президента Киа
							Моторс Россия и СНГ</h4>
						<p class="news-slide__desc">21 июля 2016</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (53).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (53).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший дилер по продажам коммерческого транспорта
							PEUGEOT</h4>
						<p class="news-slide__desc">15 июня 2018</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (54).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (54).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший Холдинг по продажам в 2015 году</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery1" href="./images/NoPath — копия (55).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (55).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2019. Специальный приз президента Киа
							Моторс Россия и СНГ</h4>
						<p class="news-slide__desc">23 августа 2019</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery2" href="./images/NoPath — копия (56).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (56).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2016. Специальный приз президента Киа Моторс Россия и
							СНГ</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery2" href="./images/NoPath — копия (57).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (57).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший дилер по продажам коммерческого транспорта PEUGEOT</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery2" href="./images/NoPath — копия (58).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (58).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Лучший Холдинг по продажам в 2015 году</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
				<div class="layout__item-fourth">
					<div class="news-slide">
								<a data-fancybox="gallery2" href="./images/NoPath — копия (59).jpg" class="news-slide__media news-slide__media--large">
									<span class="news-slide-media">
										<img src="./images/NoPath — копия (59).jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</a>
						<h4 class="news-slide__title">Дилер года 2019. Специальный приз президента Киа Моторс Россия и
							СНГ</h4>
						<p class="news-slide__desc">8 мая 2015</p>
					</div>
				</div>
			</div>
			<div class="load-more">
				<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
			</div>
		</div>
	</section>
</div>

{% endblock %}
