{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автозапчастей</a>
					<a class="breadcrumbs__item" href="">Автосервис</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Автосервис</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Услуги нашего автосервиса</h3>
			</div>
			<div class="layout">
				<div class="layout__item-third">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Диагностика автомобиля</span>
						</h3>
						<span
							class="tile-blue__text">Диагностика и проверка состояния автомобиля</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-third">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Кузовной ремонт</span>
						</h3>
						<span
							class="tile-blue__text">Восстановление автомобиля до начального состояния</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-third">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Замена масла</span>
						</h3>
						<span
							class="tile-blue__text">Замена моторного масла и масляных фильтров</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Наши автосервисы</h3>
			</div>
		</div>
		<div class="wrapper-full">
			<div class="h-slider">
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service9.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр KIA «Авто-Белогорье»</h3>
										<p class="service-tile__address">
											Официальный дилер KIA
											Старый Оскол, пр. Алексея Угарова, 18г

										</p>
										<a href="tel:+74725391111" class="service-tile__phone">+7 (4725) 39-11-11</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service10.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр «Триумф»</h3>
										<p class="service-tile__address">
											Официальный дилер Volkswagen
											Белгород, ул. Магистральная, 12
										</p>
										<a href="tel:+74722515050" class="service-tile__phone">+7 (4722) 51-50-50</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service11.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр «Авто-Белогорье»</h3>
										<p class="service-tile__address">
											Официальный дилер Renault
											Белгород, Ул. Магистральная, 8


										</p>
										<a href="tel:+74722357070" class="service-tile__phone">+7 (4722) 35-70-70</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
						<div class="h-tile-service-slide swiper-slide">
							<div class="service-tile">
								<div class="service-tile__back">
									<img src="./styles/images/service12.jpg" alt=""/>
								</div>
								<div class="service-tile__inner">
									<div>
										<h3 class="service-tile__title">Автоцентр «Лада Центр Спутник»</h3>
										<p class="service-tile__address">
											Официальный дилер LADA
											Белгород, Ул. Магистральная, 1а
										</p>
										<a href="tel:+74722357575" class="service-tile__phone">+7 (4722) 35-75-75</a>
										<p class="service-tile__clock">ежедневно: с 08:00 до 20:00</p>
									</div>
									<button class="btn-blue btn-mobile-full js-sign-up-btn">Записаться</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
