{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автомобилей</a>
					<a class="breadcrumbs__item" href="">Volkswagen</a>
					<a class="breadcrumbs__item" href="">Passat Business</a>
					<a class="breadcrumbs__item" href="">Резервирование автомобиля</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Резервирование автомобиля</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-fill-info">
					<div class="form-box form-box--grey">
						<h2 class="form-title">Введите данные будущего владельца</h2>
						<form class="form">
							<div class="form-fields">
								<div class="form-fields__col form-fields__col--half">
									<div class="form-fields__field">
										<label class="field field--required">
											<span class="field__label">Ваше имя</span>
											<input class="field__input field__input--white" type="text"
												   placeholder="Введите имя">
										</label>
									</div>
									<div class="form-fields__field">
										<label class="field field--required">
											<span class="field__label">Ваша фамилия</span>
											<input class="field__input field__input--white" type="text"
												   placeholder="Введите фамилию">
										</label>
									</div>
									<div class="form-fields__field">
										<label class="field field--required">
											<span class="field__label">Ваше отчество</span>
											<input class="field__input field__input--white" type="text"
												   placeholder="Введите отчество">
										</label>
									</div>
								</div>
								<div class="form-fields__col form-fields__col--half">
									<div class="form-fields__field">
										<label class="field field--required">
											<span class="field__label">Номер телефона</span>
											<input class="field__input field__input--white js-phone-field" type="text"
												   placeholder="+7 ( ___ ) ___ - __ - __">
										</label>
									</div>
									<div class="form-fields__field">
										<label class="field field--required">
											<span class="field__label">Ваш e-mail</span>
											<input class="field__input field__input--white" type="text"
												   placeholder="Введите e-mail">
										</label>
									</div>
								</div>
							</div>
							<div class="form-fields">
								<div class="form-fields__col form-fields__col--half">
									<div class="form-fields__field">
										<label class="checkbox">
											<input class="visuallyhidden js-personal-check" data-personal-check="reserve-check" type="checkbox">
											<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
											<span class="checkbox__label">Я согласен на <a href="">обработку персональных данных</a></span>
										</label>
									</div>
									<div class="form-fields__field">
										<div class="info-item info-item--center">
											<div class="info-item__title">Предоплата при резерве:</div>
											<div class="info-item__inner">
												<div class="info-item__price">
													<div class="price price--medium price--bold"><span>25 000 ₽</span></div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-fields__field">
										<button class="btn-blue btn-full" data-personal-btn="reserve-check" disabled="true">Внести предоплату</button>
									</div>
									<div class="form-fields__field">
										<div class="text-grey">
											Нажав на кнопку «Внести предоплату», вы перейдете на страницу платежной
											системы
											для завершения резервирования
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="form-hint form-hint--light">Предоставляя свои личные данные, вы даете согласие на получение от
							Авто-Белогорье новостей, информации по специальным предложениям, а так же обработку
							персональных данных.
						</div>
						<div class="form-hint form-hint--light">Мы стремимся, чтобы цены на сайте обновлялись максимально быстро и
							отражали все спецпредложения. Тем не менее, на ряд автомобилей возможно получение
							дополнительных поддержек от производителей.
						</div>
					</div>
				</div>
				<div class="layout__item-info">
					<div class="info-sidebar">
						<div class="info-sidebar__item">
							<h3 class="info-sidebar__title">Volkswagen Passat VIII (B8) Рестайлинг , Седан, 2020 года
								выпуска, двигатель 1984 см3, 190 л.с., бензиновый, автомат, передний привод, цвет
								черный, комбинированный салон</h3>
							<div class="info-item">
								<div class="info-item__title">Заказ номер:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold">B7419_731488197</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Стоимость по прайсу:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold"><span>2 680 900 ₽</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title">Выгода при онлайн
									бронировании:
								</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--small price--bold text-dark-green"><span>- 272 900 ₽</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info-sidebar__item">
							<div class="info-item">
								<div class="info-item__title info-item__title--bold">Итоговая стоимость:</div>
								<div class="info-item__inner">
									<div class="info-item__price">
										<div class="price price--normal price--bold"><span>2 408 000 ₽</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="info-sidebar-tip">
						<div>* Финальная стоимость рассчитывается на основании всех доступных скидок и акций и может
							отличаться после проверки на соответствие условиям.
						</div>
						<div>** Подробную информацию об актуальных скидках и акциях
							можно посмотреть в разделе <a class="link-grey link-under" href="">Акции</a>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
