{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Корзина</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Корзина</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-full">
					<div class="cart-table">
						<div class="cart-table__head">
							<div>
								<div class="cart-title">Фото товара</div>
							</div>
							<div>
								<div class="cart-title">Наименование</div>
							</div>
							<div>
								<div class="cart-title">Цена / шт</div>
							</div>
							<div>
								<div class="cart-title">Количество</div>
							</div>
							<div>
								<div class="cart-title">Стоимость</div>
							</div>
							<div>
								<div class="cart-title">Удалить</div>
							</div>
						</div>
						<div class="cart-table__row js-item-price-box">
							<div class="cart-table__cell-image">
								<div class="cart-image">
									<img src="./images/part1.png" alt=""/>
								</div>
							</div>
							<div class="cart-table__cell-name">
								<div>
									<h3 class="cart-product-name">Моторное масло VOLKSWAGEN Special G 5W-40 5 л
										<br> <span class="text-light-grey">Код товара: LQ-12112</span></h3>
									<div class="cart-availability">
										<div class="availability">
											<div>Наличие:</div>
											<div class="availability__text availability__text--green">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
												</svg>
												<span> Много</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cart-table__cell-full">
								<div class="cart-title hide-on-desktop">Цена / шт</div>
								<div class="price-box price-box--col">
									<div class="price price--normal-2 price--bold"><span>4 479 ₽</span>
									</div>
									<div class="price price--small price--bold price--old text-grey">
										<span>5 399 ₽</span></div>
								</div>
							</div>
							<div class="cart-table__cell-full">
								<div class="cart-title hide-on-desktop">Количество</div>
								<div>
									<input class="hidden js-item-price-val" type="text" value="4479"/>
									<label class="number-field js-item-num-field">
										<span class="number-field__input">
											<input class="hidden js-items-num-val" type="text" value="1">
											<span class="number-field__value">1</span>
										</span>
									</label>
								</div>
							</div>
							<div class="cart-table__cell-full">
								<div class="cart-title hide-on-desktop">Стоимость</div>
								<div class="price-box price-box--col">
									<div class="price price--normal-fixed price--bold"><span class="js-item-price-sum">4 479 ₽</span></div>
								</div>
							</div>
							<div class="cart-table__cell-delete">
								<button class="cart-delete-btn">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#close-circle"/>
									</svg>
								</button>
							</div>
						</div>
						<div class="cart-table__row js-item-price-box">
							<div class="cart-table__cell-image">
								<div class="cart-image">
									<img src="./images/part2.png" alt=""/>
								</div>
							</div>
							<div class="cart-table__cell-name">
								<div>
									<h3 class="cart-product-name">Моторное масло VOLKSWAGEN Special G 5W-40 5 л
										<br> <span class="text-light-grey">Код товара: LQ-12112</span></h3>
									<div class="cart-availability">
										<div class="availability">
											<div>Наличие:</div>
											<div class="availability__text availability__text--green">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
												</svg>
												<span> Много</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cart-table__cell-full">
								<div class="cart-title hide-on-desktop">Цена / шт</div>
								<div class="price-box price-box--col">
									<div class="price price--normal-2 price--bold"><span>950 ₽</span>
									</div>
								</div>
							</div>
							<div class="cart-table__cell-full">
								<div class="cart-title hide-on-desktop">Количество</div>
								<div>
									<input class="hidden js-item-price-val" type="text" value="950"/>
									<label class="number-field js-item-num-field">
										<span class="number-field__input">
											<input class="hidden js-items-num-val" type="text" value="2">
											<span class="number-field__value">2</span>
										</span>
									</label>
								</div>
							</div>
							<div class="cart-table__cell-full">
								<div class="cart-title hide-on-desktop">Стоимость</div>
								<div class="price-box price-box--col">
									<div class="price price--normal-fixed price--bold price--dark"><span class="js-item-price-sum">1 900 ₽</span></div>
								</div>
							</div>
							<div class="cart-table__cell-delete">
								<button class="cart-delete-btn">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#close-circle"/>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-full">
					<div class="form-box form-box--grey">
						<div class="form form-cart">
							<div class="form-cart__item">
								<h3 class="form-title">Итог:</h3>
								<div class="info-item">
									<div class="info-item__title">В корзине:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price-box">
												<div class="price price--small price--bold">3 товара</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-cart__item">
								<div class="info-item">
									<div class="info-item__title">Скидка:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price-box">
												<div class="price price--small price--bold text-dark-green">
													<span>- 340 ₽</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-cart__item">
								<div class="info-item">
									<div class="info-item__title">Итоговая стоимость:</div>
									<div class="info-item__inner">
										<div class="info-item__price">
											<div class="price-box">
												<div class="price price--normal price--bold">
													<span>6 039 ₽</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="info-item js-promocode-field hidden">
									<label class="field">
										<span class="field__label">Промокод</span>
										<input class="field__input field__input--white" type="text"
											   placeholder="Введите промокод">
									</label>
								</div>
								<div class="info-item js-promocode">
									<button class="btn-transparent-grey btn-full js-promocode-btn" type="button"><span>Есть промокод?</span></button>
								</div>
								<div class="info-item">
									<button class="btn-blue btn-full" type="submit">Оформить заказ</button>
								</div>
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
