{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-4.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автозапчастей</a>
					<a class="breadcrumbs__item" href="">Запчасти для Volkswagen</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Запчасти для Volkswagen</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-filter">
					<div class="filter-result filter-result--col" data-result-lbl="Показаны">329 товаров</div>
				</div>
				<div class="layout__item-fill-filter">
					<form class="catalog-sort">
						<div class="catalog-sort__item hide-on-desktop">
							<button class="btn-blue btn-full js-open-catalog-filter-btn" type="button">Фильтр</button>
						</div>
						<div class="catalog-sort__item">
							<label class="select">
								<span class="select__label">Сортировать по:</span>
								<select class="select__input js-select">
									<option>Популярности</option>
									<option>Возрастанию цены</option>
									<option>Убыванию цены</option>
									<option>Размеру скидки</option>
									<option>Алфавиту</option>
								</select>
							</label>
						</div>
						<div class="catalog-sort__item hide-on-mobile">
							<label class="select">
								<span class="select__label">Показать по:</span>
								<select class="select__input js-select">
									<option>12</option>
									<option>24</option>
									<option>48</option>
								</select>
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="layout layout--nowrap  layout--no-mg">
				<div class="layout__item-filter">
					<div class="catalog-filter">
						<h3 class="catalog-filter__title">Фильтр</h3>
						<button class="catalog-filter__close js-close-catalog-filter-btn">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#cross"/>
							</svg>
						</button>
						<div class="catalog-filter__inner">
							<form class="filter">
								<div class="filter-items filter-items--vertical">
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Тип запчасти</span>
											<div class="dropdown-holder">
												<button class="dropdown-btn js-dropdown-btn">Выбрать</button>
												<div class="dropdown js-dropdown" data-simplebar>
													<ul class="dropdown__list js-dropdown-list">
														<li class="selected">Выбрать</li>
														<li>Каталог ТО</li>
														<li>Масла</li>
														<li>Жидкости</li>
														<li>Автохимия</li>
														<li>Электрообуродование</li>
														<li>Шины и диски</li>
														<li>Аксессуары</li>
														<li>Прочее</li>
														<li>Инструменты</li>
														<li>ДВС</li>
														<li>Ходовая</li>
														<li>Трансмиссия</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Марка</span>
											<div class="dropdown-holder">
												<button class="dropdown-btn js-dropdown-btn">Выбрать</button>
												<div class="dropdown js-dropdown" data-simplebar>
													<ul class="dropdown__list js-dropdown-list">
														<li class="selected">Выбрать</li>
														<li>Volkswagen</li>
														<li>KIA</li>
														<li>Renault</li>
														<li>LADA</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Модель</span>
											<div class="dropdown-holder">
												<button class="dropdown-btn js-dropdown-btn">Выбрать</button>
												<div class="dropdown js-dropdown" data-simplebar>
													<ul class="dropdown__list js-dropdown-list">
														<li class="selected">Выбрать</li>
														<li>Select 1</li>
														<li>Select 2</li>
														<li>Select 3</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Модификация</span>
											<div class="dropdown-holder">
												<button class="dropdown-btn js-dropdown-btn">Выбрать</button>
												<div class="dropdown js-dropdown" data-simplebar>
													<ul class="dropdown__list js-dropdown-list">
														<li class="selected">Выбрать</li>
														<li>Select 1</li>
														<li>Select 2</li>
														<li>Select 3</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Поколение</span>
											<div class="dropdown-holder">
												<button class="dropdown-btn js-dropdown-btn">Выбрать</button>
												<div class="dropdown js-dropdown" data-simplebar>
													<ul class="dropdown__list js-dropdown-list">
														<li class="selected">Выбрать</li>
														<li>Select 1</li>
														<li>Select 2</li>
														<li>Select 3</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Комплектация</span>
											<div class="dropdown-holder">
												<button class="dropdown-btn js-dropdown-btn">Выбрать</button>
												<div class="dropdown js-dropdown" data-simplebar>
													<ul class="dropdown__list js-dropdown-list">
														<li class="selected">Выбрать</li>
														<li>Select 1</li>
														<li>Select 2</li>
														<li>Select 3</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Наличие</span>
											<div class="filter-item__flex-r">
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox" checked>
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">В наличии</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Под заказ</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Наличие</span>
											<div class="filter-item__flex-c">
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox" checked>
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Акция</span>
													</label>
												</div>
												<div class="filter-check">
													<label class="checkbox">
														<input class="visuallyhidden" type="checkbox">
														<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
														<span class="checkbox__label">Лучшее предложение</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="filter-items__item">
										<div class="filter-item">
											<span class="filter-item__label">Цена</span>
											<div class="range">
												<div class="range__values">
													<input type="text" class="range-field js-range-lower-field">
													<input type="text" class="range-field js-range-upper-field">
												</div>
												<div class="range-slider js-range-slider-small"></div>
											</div>
										</div>
									</div>
									<div class="filter-items__submit">
										<div class="filter-items__submit-btn">
											<button class="btn-blue btn-full" type="submit">Подобрать запчасти</button>
										</div>
										<div class="filter-items__submit-btn">
											<button class="link-grey" type="button">
												<svg class="hover-rotate-icon">
													<use xlink:href="./styles/icons/icons.svg#rotate-left"/>
												</svg>
												<span>Сбросить фильтр</span>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="layout__item-fill-filter">
					<div class="layout layout--no-mg">
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-lbl-box">
										<div class="tile-lbl tile-lbl--small tile-lbl--blue">Акция</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-red">мало</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-2">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part8.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">Нет на складе</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Под заказ</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="load-more">
							<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
