{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Сравнение</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Сравнение</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper-full">
			<div class="comparison-tabs h-slider">
				<div class="comparison-tab-lbl">Показать</div>
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab active js-tab" data-tab="tab1">
								<span>Автомобили</span>
								<span class="comparison-tab__badge comparison-tab__badge--active">2</span>
							</button>
						</div>
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab js-tab" data-tab="tab2">
								<span>Моторные масла</span>
								<span class="comparison-tab__badge comparison-tab__badge--active">2</span>
							</button>
						</div>
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab js-tab" data-tab="tab3">
								<span>Аккумуляторы</span>
								<span class="comparison-tab__badge comparison-tab__badge--active">2</span>
							</button>
						</div>
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab js-tab" data-tab="tab4">
								<span>Автомобильный пылесос</span>
								<span class="comparison-tab__badge comparison-tab__badge--active">2</span>
							</button>
						</div>
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab js-tab" data-tab="tab5">
								<span>Жидкость омывателя</span>
								<span class="comparison-tab__badge comparison-tab__badge--active">2</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="comparison-filter">
				<form class="filter">
					<div class="filter-items filter-items--vertical">
						<div class="filter-items__item">
							<div class="filter-item">
								<span class="filter-item__label">Показать только отличия</span>
								<label class="select select-filter select-filter--rel">
									<select class="select-filter__input js-select">
										<option>Нет</option>
										<option>Select 1</option>
										<option>Select 2</option>
										<option>Select 3</option>
									</select>
								</label>
							</div>
						</div>
					</div>
					<div class="filter-items__submit-btn">
						<button class="btn-transparent-grey btn-full"><span>Очистить список сравнение</span></button>
					</div>
				</form>
			</div>
			<div class="comparison-tab-content tab-content tab-content--active" id="tab1">
				<div class="comparison-table comparison-slider-holder">
					<div class="comparison-head">
						<div class="comparison__item js-com-head-set-height">
							<div class="comparison-info">
								<div class="comparison-info__head">Опции</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Список</div>
								</div>
							</div>
						</div>
						<div class="comparison__item">
							<div class="comparison-info">
								<div class="comparison-info__head">Двигатель</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Объем двигателя
										Мощность двигателя
									</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Обороты максимальной
										мощности
									</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Максимальный
										крутящий момент
									</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Диаметр цилиндра</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Ход поршня</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Обороты максимального
										крутящего момента
									</div>
								</div>
							</div>
						</div>
						<div class="comparison__item">
							<div class="comparison-info">
								<div class="comparison-info__head">Эксплуотационные показатели</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Максимальная мощность</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Разгон до 100 км/ч</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Расход топлива в городе на 100 км</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Расход топлива на шоссе на 100 км</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Расход топлива в смешанном цикле на 100 км</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comparison-slider-mini scrolled-tiles">
						<div class="comparison-slider-mini__container swiper-container">
							<div class="swiper-wrapper">
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/car1.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line
													Premium
													Белый</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/car1.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line
													Premium
													Белый</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comparison-slider">
						<div class="comparison-slider__container swiper-container">
							<div class="swiper-wrapper">
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car1.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#credit-card"/>
																</svg>
															</a>
														</div>
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line
													Premium
													Белый</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey"><span>3 032 500 ₽</span>
														</div>
													</div>
													<div class="tile-hint">1 автомобиль в наличии</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
													<a href="" class="link-grey">Получить
														предложение</a>
												</div>
											</div>
										</div>
										<div class="comparison__item js-com-head-get-height">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="text-red">Головной свет LED (ближний и дальний свет) с
														ходовыми огнями
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Интерфейс подключения мобильного телефона</div>
												</div>
												<div class="comparison-info__item">
													<div>Противотуманные фары с подсветкой поворотов</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Противотуманные фары с подсветкой поворотов
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Макияжные зеркала с подсветкой в
														солнцезащитных козырьках
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Шины – 215/55 R17, устойчивые к проколам</div>
												</div>
												<div class="comparison-info__item">
													<div>Передние вентиляционные дефлекторы и переключатель света с
														подсветкой и хромированной отделкой
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Двухтоновый звуковой сигнал</div>
												</div>
												<div class="comparison-info__item">
													<div>Электромеханический стояночный тормоз с системой AutoHold</div>
												</div>
												<div class="comparison-info__item">
													<div>Внутреннее зеркало заднего вида с автоматическим затемнением
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Рукоятка рычага КП с кожаной отделкой</div>
												</div>
												<div class="comparison-info__item">
													<div>2 LED-лампы подсветки в районе ног для передних сидений</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Бамперы в цвет кузова с декоративной
														отделкой
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Хромированные молдинги на боковых стеклах
														снаружи
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Детский замок на двери автомобиля</div>
												</div>
												<div class="comparison-info__item">
													<div>Боковые и заднее стекла с атермальным остеклением</div>
												</div>
												<div class="comparison-info__item">
													<div>3-точечный ремень безопасности для среднего пассажира заднего
														сиденья
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Головной свет LED (ближний и дальний свет) с ходовыми огнями
													</div>
												</div>
												<div class="comparison-info__item">
													<div>3-точечные ремни безопасности на заднем сиденье</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Ассистент трогания в гору</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Сиденье водителя ergoComfort с регулировкой
														угла наклона и длины подушки, электропривод спинки
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Текстильная отделка багажного отделения</div>
												</div>
												<div class="comparison-info__item">
													<div>Передние вентиляционные дефлекторы и переключатель света с
														подсветкой и
														хромированной отделкой
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Двухтоновый звуковой сигнал</div>
												</div>
												<div class="comparison-info__item">
													<div>Электромеханический стояночный тормоз с системой AutoHold</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Система «старт-стоп» и функция рекуперативного
														торможения
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Детский замок на двери автомобиля</div>
												</div>
												<div class="comparison-info__item">
													<div>Боковые и заднее стекла с атермальным остеклением</div>
												</div>
												<div class="comparison-info__item">
													<div>3-точечный ремень безопасности для среднего пассажира заднего
														сиденья
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Задние стекла с тонировкой</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="comp-medium">11395 см3</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">190 л.с.</div>
												</div>
												<div class="comparison-info__item">
													<div class="comp-medium ">5 000–6 000 об/мин</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">83 мм</div>
												</div>
												<div class="comparison-info__item">
													<div class="comp-medium">580 мм</div>
												</div>
												<div class="comparison-info__item">
													<div class="comp-medium">от 1 500 до 3 000 об/мин</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="comp-medium">220 км/ч</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">7,5 сек</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">8,3 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">5,2 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">6,3 л</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car1.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/car6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#credit-card"/>
																</svg>
															</a>
														</div>
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line
													Premium
													Белый</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey"><span>3 032 500 ₽</span>
														</div>
													</div>
													<div class="tile-hint">1 автомобиль в наличии</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
													<a href="" class="link-grey">Получить
														предложение</a>
												</div>
											</div>
										</div>
										<div class="comparison__item js-com-head-get-height">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="text-red">Головной свет LED (ближний и дальний свет) с
														ходовыми огнями
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Интерфейс подключения мобильного телефона</div>
												</div>
												<div class="comparison-info__item">
													<div>Противотуманные фары с подсветкой поворотов</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Противотуманные фары с подсветкой поворотов
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Макияжные зеркала с подсветкой в
														солнцезащитных козырьках
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Шины – 215/55 R17, устойчивые к проколам</div>
												</div>
												<div class="comparison-info__item">
													<div>Передние вентиляционные дефлекторы и переключатель света с
														подсветкой и хромированной отделкой
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Двухтоновый звуковой сигнал</div>
												</div>
												<div class="comparison-info__item">
													<div>Электромеханический стояночный тормоз с системой AutoHold</div>
												</div>
												<div class="comparison-info__item">
													<div>Внутреннее зеркало заднего вида с автоматическим затемнением
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Рукоятка рычага КП с кожаной отделкой</div>
												</div>
												<div class="comparison-info__item">
													<div>2 LED-лампы подсветки в районе ног для передних сидений</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Бамперы в цвет кузова с декоративной
														отделкой
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Хромированные молдинги на боковых стеклах
														снаружи
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Детский замок на двери автомобиля</div>
												</div>
												<div class="comparison-info__item">
													<div>Боковые и заднее стекла с атермальным остеклением</div>
												</div>
												<div class="comparison-info__item">
													<div>3-точечный ремень безопасности для среднего пассажира заднего
														сиденья
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Головной свет LED (ближний и дальний свет) с ходовыми огнями
													</div>
												</div>
												<div class="comparison-info__item">
													<div>3-точечные ремни безопасности на заднем сиденье</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Ассистент трогания в гору</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Сиденье водителя ergoComfort с регулировкой
														угла наклона и длины подушки, электропривод спинки
													</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Текстильная отделка багажного отделения</div>
												</div>
												<div class="comparison-info__item">
													<div>Передние вентиляционные дефлекторы и переключатель света с
														подсветкой и
														хромированной отделкой
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Двухтоновый звуковой сигнал</div>
												</div>
												<div class="comparison-info__item">
													<div>Электромеханический стояночный тормоз с системой AutoHold</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">Система «старт-стоп» и функция рекуперативного
														торможения
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Детский замок на двери автомобиля</div>
												</div>
												<div class="comparison-info__item">
													<div>Боковые и заднее стекла с атермальным остеклением</div>
												</div>
												<div class="comparison-info__item">
													<div>3-точечный ремень безопасности для среднего пассажира заднего
														сиденья
													</div>
												</div>
												<div class="comparison-info__item">
													<div>Задние стекла с тонировкой</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="comp-medium">11395 см3</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">190 л.с.</div>
												</div>
												<div class="comparison-info__item">
													<div class="comp-medium ">5 000–6 000 об/мин</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">83 мм</div>
												</div>
												<div class="comparison-info__item">
													<div class="comp-medium">580 мм</div>
												</div>
												<div class="comparison-info__item">
													<div class="comp-medium">от 1 500 до 3 000 об/мин</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="comp-medium">220 км/ч</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">7,5 сек</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">8,3 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">5,2 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red comp-medium">6,3 л</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comparison-tab-content tab-content" id="tab2">
				<div class="comparison-table comparison-slider-holder">
					<div class="comparison-head">
						<div class="comparison__item">
							<div class="comparison-info">
								<div class="comparison-info__head">Характеристики</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Бренд</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Тип</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Двигатель</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Объем</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Вязкость SAE</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comparison-slider-mini scrolled-tiles">
						<div class="comparison-slider-mini__container swiper-container">
							<div class="swiper-wrapper">
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/part1.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">VМоторное масло VOLKSWAGEN Special G 5W-40 5
													л</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/part1.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">VМоторное масло VOLKSWAGEN Special G 5W-40 5
													л</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comparison-slider">
						<div class="comparison-slider__container swiper-container">
							<div class="swiper-wrapper">
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part1.png"
																		 alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">VМоторное масло VOLKSWAGEN Special G 5W-40 5
													л</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey">
															<span>3 032 ₽</span></div>
													</div>
													<div class="tile-hint">
														<div class="availability__text availability__text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span> Много</span>
														</div>
													</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>MOTUL</div>
												</div>
												<div class="comparison-info__item">
													<div>HC-синтетическое</div>
												</div>
												<div class="comparison-info__item">
													<div>дизельный, бензиновый, четырёхтактный</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">5 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">5W-30</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part1.png"
																		 alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">VМоторное масло VOLKSWAGEN Special G 5W-40 5
													л</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey">
															<span>3 032 ₽</span></div>
													</div>
													<div class="tile-hint">
														<div class="availability__text availability__text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span> Много</span>
														</div>
													</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>MOTUL</div>
												</div>
												<div class="comparison-info__item">
													<div>HC-синтетическое</div>
												</div>
												<div class="comparison-info__item">
													<div>дизельный, бензиновый, четырёхтактный</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">5 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">5W-30</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comparison-tab-content tab-content" id="tab3">
				<div class="comparison-table">
					<div class="add-comparison">
						<button class="add-comparison-btn">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#plus"/>
							</svg>
						</button>
						<div class="add-comparison__lbl">Добавить автомобиль
							к сравнению
						</div>
					</div>
				</div>
			</div>
			<div class="comparison-tab-content tab-content" id="tab4">
				<div class="comparison-table comparison-slider-holder">
					<div class="comparison-head">
						<div class="comparison__item">
							<div class="comparison-info">
								<div class="comparison-info__head">Характеристики</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Мощность</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Объем пылесборника</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Уровень шума</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Циклонная технология</div>
								</div>
							</div>
						</div>
						<div class="comparison__item">
							<div class="comparison-info">
								<div class="comparison-info__head">Насадки</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Количество насадок</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Щелевая насадка</div>
								</div>
							</div>
						</div>
						<div class="comparison__item">
							<div class="comparison-info">
								<div class="comparison-info__head">Электропитание</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Питание</div>
								</div>
								<div class="comparison-info__item">
									<div class="comparison-title">Длина сетевого шнура</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comparison-slider-mini scrolled-tiles">
						<div class="comparison-slider-mini__container swiper-container">
							<div class="swiper-wrapper">
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/NoPath — копия (22)44.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/NoPath — копия (23)555.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/Image 95.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile-comparison">
												<div class="tile-comparison__media">
													<img src="./images/Image 94.png" alt=""/>
												</div>
												<h3 class="tile-comparison__title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comparison-slider">
						<div class="comparison-slider__container swiper-container">
							<div class="swiper-wrapper">
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/NoPath — копия (22)44.png"
																		 alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey">
															<span>3 032 ₽</span></div>
													</div>
													<div class="tile-hint">
														<div class="availability__text availability__text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span> Много</span>
														</div>
													</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="text-red">100 Вт</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">0,7 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">84 дБ</div>
												</div>
												<div class="comparison-info__item">
													<div>есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>1</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>от прикуривателя 12 В</div>
												</div>
												<div class="comparison-info__item">
													<div>4 м</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/NoPath — копия (23)555.png"
																		 alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey">
															<span>3 032 ₽</span></div>
													</div>
													<div class="tile-hint">
														<div class="availability__text availability__text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span> Много</span>
														</div>
													</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="text-red">150 Вт</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">1 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">84 дБ</div>
												</div>
												<div class="comparison-info__item">
													<div>есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>1</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">—</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>от прикуривателя 12 В</div>
												</div>
												<div class="comparison-info__item">
													<div>4 м</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/Image 95.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey">
															<span>3 032 ₽</span></div>
													</div>
													<div class="tile-hint">
														<div class="availability__text availability__text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span> Много</span>
														</div>
													</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="text-red">120 Вт</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">3 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">84 дБ</div>
												</div>
												<div class="comparison-info__item">
													<div>есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>1</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>от прикуривателя 12 В</div>
												</div>
												<div class="comparison-info__item">
													<div>4 м</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comparison-table__item  swiper-slide">
									<div class="comparison">
										<div class="comparison__item comparison__item--tile">
											<div class="tile tile--comparison">
												<div class="tile__media">
													<div class="tile-slider">
														<div class="tile-slider__container swiper-container">
															<div class="swiper-wrapper">
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/Image 94.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part2.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part3.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part4.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part5.png" alt=""/>
																</div>
																<div class="tile-slider__slide swiper-slide">
																	<img src="./images/part6.png" alt=""/>
																</div>
															</div>
															<div
																class="tile-slider__pagination swiper-pagination"></div>
														</div>
													</div>
													<div class="tile-options">
														<div class="tile-options__item">
															<button class="fav-btn">
																<svg class="fav-btn__icon fav-btn__icon--not-added">
																	<use xlink:href="./styles/icons/icons.svg#heart"/>
																</svg>
																<svg class="fav-btn__icon fav-btn__icon--added">
																	<use
																		xlink:href="./styles/icons/icons.svg#heart-full"/>
																</svg>
															</button>
														</div>
														<div class="tile-options__item">
															<a href="" class="tile-option">
																<svg>
																	<use
																		xlink:href="./styles/icons/icons.svg#close-circle"/>
																</svg>
															</a>
														</div>
													</div>
												</div>
												<h3 class="tile-title">Автомобильный пылесос STARWIND CV-110 RP258</h3>
												<div class="tile__price-info">
													<div class="price-box">
														<div class="price price--large text-grey">
															<span>3 032 ₽</span></div>
													</div>
													<div class="tile-hint">
														<div class="availability__text availability__text--green">
															<svg>
																<use
																	xlink:href="./styles/icons/icons.svg#checkmark-circle"/>
															</svg>
															<span> Много</span>
														</div>
													</div>
												</div>
												<div class="tile__links">
													<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div class="text-red">120 Вт</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">3 л</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">84 дБ</div>
												</div>
												<div class="comparison-info__item">
													<div>есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>1</div>
												</div>
												<div class="comparison-info__item">
													<div class="text-red">есть</div>
												</div>
											</div>
										</div>
										<div class="comparison__item">
											<div class="comparison-info">
												<div class="comparison-info__head"></div>
												<div class="comparison-info__item">
													<div>от прикуривателя 12 В</div>
												</div>
												<div class="comparison-info__item">
													<div>4 м</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comparison-tab-content tab-content" id="tab5">
				<div class="comparison-table">
					<div class="add-comparison">
						<button class="add-comparison-btn">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#plus"/>
							</svg>
						</button>
						<div class="add-comparison__lbl">Добавить автомобиль
							к сравнению
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
