{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Каталог автомобилей</a>
					<a class="breadcrumbs__item" href="">Сравнение</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Сравнение</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper-full">
			<div class="comparison-tabs h-slider">
				<div class="comparison-tab-lbl">Показать</div>
				<div class="h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab active js-tab" data-tab="tab1">
								<span>Автомобили</span>
								<span class="comparison-tab__badge">0</span>
							</button>
						</div>
						<div class="comparison-tabs__item swiper-slide">
							<button class="comparison-tab js-tab" data-tab="tab2">
								<span>Запчасти</span>
								<span class="comparison-tab__badge">0</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="comparison-filter">
				<form class="filter">
					<div class="filter-items filter-items--vertical">
						<div class="filter-items__item">
							<div class="filter-item">
								<span class="filter-item__label">Показать только отличия</span>
								<label class="select select-filter select-filter--rel">
									<select class="select-filter__input js-select">
										<option>Нет</option>
										<option>Select 1</option>
										<option>Select 2</option>
										<option>Select 3</option>
									</select>
								</label>
							</div>
						</div>
					</div>
					<div class="filter-items__submit-btn">
						<button class="btn-transparent-grey btn-full"><span>Очистить список сравнение</span></button>
					</div>
				</form>
			</div>
			<div>
				<div class="tab-content tab-content--active" id="tab1">
					<div class="comparison-table">
						<div class="add-comparison">
							<button class="add-comparison-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#plus"/>
								</svg>
							</button>
							<div class="add-comparison__lbl">Добавить автомобиль
								к сравнению</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab2">
					<div class="comparison-table">
						<div class="add-comparison">
							<button class="add-comparison-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#plus"/>
								</svg>
							</button>
							<div class="add-comparison__lbl">Добавить автомобиль
								к сравнению</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
