{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Услуги</a>
					<a class="breadcrumbs__item" href="">Кредит на автомобиль</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Кредит на автомобиль</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-filter">
					<div class="menu-sidebar">
						<div class="menu-sidebar__item">
							<a href="" class="menu-link">Страхование автомобиля</a>
						</div>
						<div class="menu-sidebar__item">
							<a href="" class="menu-link">Обмен авто Trade-in</a>
						</div>
						<div class="menu-sidebar__item">
							<a href="" class="menu-link">Выкуп автомобиля</a>
						</div>
						<div class="menu-sidebar__item">
							<a href="" class="menu-link">Покупка в лизинг</a>
						</div>
						<div class="menu-sidebar__item">
							<a href="" class="menu-link menu-link--active">Кредит на автомобиль</a>
						</div>
					</div>
				</div>
				<div class="layout__item-fill-filter">
					<form>
						<div class="form-box form-box--grey">
							<h3 class="form-title">Информация об автомобиле</h3>
							<div class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Марка автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Volkswagen</option>
													<option>KIA</option>
													<option>Renault</option>
													<option>LADA</option>
												</select>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Модификация и стоимость</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Модель автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-title">Информация о кредите</h3>
							<div class="form">
								<div class="form-fields__field">
									<label class="toggle">
										<input class="visuallyhidden js-credit-toggle" type="checkbox">
										<span
											class="toggle__label toggle__label--checked js-credit-toggle-label-not-checked">Классический кредит</span>
										<span class="toggle__input">
								<span class="toggle__checked"></span>
							</span>
										<span
											class="toggle__label js-credit-toggle-label-checked">С отложенным платежом</span>
									</label>
								</div>
								<div class="form-fields__field form-fields__field--mb hidden js-hidden-by-toggle">
									<div class="filter">
										<div class="filter-items filter-items--vertical">
											<div class="filter-items__item">
												<div class="filter-item">
													<span class="filter-item__label">Остаточный платеж</span>
													<div class="range">
														<div class="range__values" data-one-percent="6975">
															<input type="text" class="range-field range-field--left js-range-upper-field">
														</div>
														<div
															class="range-slider js-range-percent"></div>
														<div class="range-steps">
															<div>10%</div>
															<div>20%</div>
															<div>30%</div>
															<div>40%</div>
															<div>50%</div>
															<div>60%</div>
															<div>70%</div>
															<div>80%</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-fields__field form-fields__field--mb">
									<div class="filter">
										<div class="filter-items filter-items--vertical">
											<div class="filter-items__item">
												<div class="filter-item">
													<span class="filter-item__label">Первоначальный взнос</span>
													<div class="range">
														<div class="range__values" data-one-percent="16500">
															<input type="text" class="range-field range-field--left js-range-upper-field">
														</div>
														<div
															class="range-slider js-range-percent"></div>
														<div class="range-steps">
															<div>10%</div>
															<div>20%</div>
															<div>30%</div>
															<div>40%</div>
															<div>50%</div>
															<div>60%</div>
															<div>70%</div>
															<div>80%</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-fields__field form-fields__field--mb">
									<div class="filter">
										<div class="filter-items filter-items--vertical">
											<div class="filter-items__item">
												<div class="filter-item">
													<span class="filter-item__label">Срок кредита</span>
													<div class="range">
														<div class="range__values">
															<input type="text" class="range-field range-field--left js-range-upper-field">
														</div>
														<div
															class="range-slider js-range-month"></div>
														<div class="range-steps">
															<div>12 мес</div>
															<div>24 мес</div>
															<div>36 мес</div>
															<div>48 мес</div>
															<div>60 мес</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<div class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form__head">
											<h4 class="form-title">Государственная поддержка*</h4>
											<div class="form-hint">
												Выгода 10% от стоимости при покупке на условиях
												льготного кредитования**
											</div>
										</div>
										<div class="form-fields__field">
											<label class="checkbox">
												<input class="visuallyhidden" type="checkbox">
												<span class="checkbox__input">
									<span class="checkbox__checked">
										<svg class="checkbox__icon">
											<use xlink:href="./styles/icons/icons.svg#checkmark"/>
										</svg>
									</span>
								</span>
												<span class="checkbox__label">Семейный автомобиль</span>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="checkbox">
												<input class="visuallyhidden" type="checkbox">
												<span class="checkbox__input">
									<span class="checkbox__checked">
										<svg class="checkbox__icon">
											<use xlink:href="./styles/icons/icons.svg#checkmark"/>
										</svg>
									</span>
								</span>
												<span class="checkbox__label">Первый автомобиль</span>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="checkbox">
												<input class="visuallyhidden" type="checkbox">
												<span class="checkbox__input">
									<span class="checkbox__checked">
										<svg class="checkbox__icon">
											<use xlink:href="./styles/icons/icons.svg#checkmark"/>
										</svg>
									</span>
								</span>
												<span class="checkbox__label">Государственная программа
с покупкой автомобиля в trade-in</span>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="checkbox">
												<input class="visuallyhidden" type="checkbox">
												<span class="checkbox__input">
									<span class="checkbox__checked">
										<svg class="checkbox__icon">
											<use xlink:href="./styles/icons/icons.svg#checkmark"/>
										</svg>
									</span>
								</span>
												<span
													class="checkbox__label">Поддержка для медицинских работников</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<div class="form">
								<div class="form-fields form-fields--column">
									<div class="form-fields__col form-fields__col--half">
										<div class="form__head">
											<h4 class="form-title">Скан-копии документов</h4>
											<div class="form-desc">
												Для получения предварительного одобрения
												кредита прикрепите скан-копию первой страницы
												Вашего паспорта либо скан-копию Вашего
												водительского удостоверения
											</div>
										</div>
									</div>
									<div class="form-fields__col">
										<div class="form-fields__field">
											<div class="attach attach--row">
												<label class="attach__input" for="attach-file-2">
													<input id="attach-file-2" class="upload-file visuallyhidden"
														   name="document"
														   type="file">
													<span
														class="attach__btn btn-transparent-grey btn-full"><span>Прикрепить файл</span></span>
												</label>
												<div class="file-list">Файл не выбран</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<div class="form-box-back">
								<div class="form-box-back__img">
									<img src="./images/car19.png" alt=""/>
								</div>
							</div>
							<div class="form">
								<div class="form-fields form-fields--mobile-reverse">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<h3 class="form-title form-title--hide-on-mobile">Результаты
												расчета</h3>
											<p class="form__subtitle">Расчет является предварительным и не является
												публичной
												офертой.</p>
											<p>Для получения индивидуального предложения отправьте запрос нашему
												менеджеру.</p>
										</div>
										<div class="form-fields__field">
											<button class="btn-blue btn-mobile-full js-open-credit-app-popup-btn"
													type="submit">Отправить запрос
											</button>
										</div>
									</div>
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields">
											<div class="form-fields__col form-fields__col--half">
												<div class="form-fields__field">
													<div class="price-lbl">Стоимость авто</div>
													<div class="price-box price-box--no-sb">
														<div class="price price--medium price--dark">
															<span>747 000 ₽</span></div>
													</div>
												</div>
												<div class="form-fields__field">
													<div class="price-lbl">Срок кредита</div>
													<div class="price-box price-box--no-sb">
														<div class="price price--medium price--dark">60 мес.</div>
													</div>
												</div>
											</div>
											<div class="form-fields__col form-fields__col--half">
												<div class="form-fields__field">
													<div class="price-lbl">Ставка</div>
													<div class="price-box price-box--no-sb">
														<div class="price price--medium price--dark">10,3 %</div>
													</div>
												</div>
												<div class="form-fields__field">
													<div class="price-lbl">Ежемесячный платеж</div>
													<div class="price-box price-box--no-sb">
														<div class="price price--medium price--dark"><span>22 570 ₽</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="form-box__hint">* Узнать подробнее о государственных программах поддержки можно,
							отправив запрос нашему менеджеру.
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-half">
					<div class="section__head">
						<h3 class="section__title section__title--small">Кредит в Авто-Белогорье за несколько шагов</h3>
						<p class="section__desc">Вместе с лидерами отрасли кредитования оказываем услуги доступного
							оформления ссуд на приобретение автомобилей. Предлагаемые программы
							сочетают в себе низкие ставки под проценты и простую процедуру оформления.</p>
					</div>
				</div>
			</div>
			<div class="step-slider h-slider">
				<div class="step-slider__container h-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="1">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Выберите автомобиль</span>
								</h3>
								<span
									class="tile-blue__text">Выберите модель автомобиля и его комплектацию в одном из наших автосалонов</span>
							</div>
						</div>
						<div class="slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="2">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Заполните документацию</span>
								</h3>
								<span
									class="tile-blue__text">Заполните необходимую документацию
и дождитесь одобрения банка</span>
							</div>
						</div>
						<div class="slide-3 swiper-slide">
							<div class="tile-blue tile-blue--step" data-step="3">
								<h3 class="tile-blue__title">
									<span class="tile-blue__title--large">Получите Ваш автомобиль</span>
								</h3>
								<span
									class="tile-blue__text">Вы уезжаете на своем новом автомобиле</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
