{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Личный
						кабинет</a>
					<a class="breadcrumbs__item" href="">Платежные данные</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Платежные данные</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-filter">
						<div class="sidebar">
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#user"/>
									</svg>
									Мой кабинет</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#list"/>
									</svg>
									Личные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#dollar-sign"/>
									</svg>
									Платежные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link sidebar-link--active">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#document"/>
									</svg>
									Документация</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#history"/>
									</svg>
									История покупок</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#sign-out"/>
									</svg>
									Выйти</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="form-box form-box--grey">
							<h3 class="form-title form-title--no-mb">Список документов</h3>
							<div class="doc-list">
								<div class="doc-list__item">
									<div class="doc">
										<div class="doc-info">
											<svg class="doc-info__icon">
												<use xlink:href="./styles/icons/icons.svg#file-pdf"/>
											</svg>
											<div>
												<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
												<a href="" class="doc-info__title">Договор купли-продажи от 03.05.2018г.</a>
											</div>
										</div>

										<div class="doc-mobile-row">
											<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
											<div class="doc-options">
												<div class="doc-options__item">
													<a href="" class="doc-option">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#download"/>
														</svg>
													</a>
												</div>
												<div class="doc-options__item">
													<a href="" class="doc-option">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#print"/>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="doc-list__item">
									<div class="doc">
										<div class="doc-info">
											<svg class="doc-info__icon">
												<use xlink:href="./styles/icons/icons.svg#file-pdf"/>
											</svg>
											<div>
												<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
												<a href="" class="doc-info__title">Кредитный договор от 06.09.2019г.</a>
											</div>
										</div>

										<div class="doc-mobile-row">
											<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
											<div class="doc-options">
												<div class="doc-options__item">
													<a href="" class="doc-option">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#download"/>
														</svg>
													</a>
												</div>
												<div class="doc-options__item">
													<a href="" class="doc-option">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#print"/>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="doc-list__item">
									<div class="doc">
										<div class="doc-info">
											<svg class="doc-info__icon">
												<use xlink:href="./styles/icons/icons.svg#file-pdf"/>
											</svg>
											<div>
												<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
												<a href="" class="doc-info__title">Договор о приобретении машины в кредит</a>
											</div>
										</div>

										<div class="doc-mobile-row">
											<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
											<div class="doc-options">
												<div class="doc-options__item">
													<a href="" class="doc-option">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#download"/>
														</svg>
													</a>
												</div>
												<div class="doc-options__item">
													<a href="" class="doc-option">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#print"/>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

{% endblock %}
