{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Личный
						кабинет</a>
					<a class="breadcrumbs__item" href="">История покупок</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">История покупок</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
					<div class="layout__item-filter">
						<div class="sidebar">
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#user"/>
									</svg>
									Мой кабинет</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#list"/>
									</svg>
									Личные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#dollar-sign"/>
									</svg>
									Платежные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#document"/>
									</svg>
									Документация</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link sidebar-link--active">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#history"/>
									</svg>
									История покупок</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#sign-out"/>
									</svg>
									Выйти</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="history-box">
							<div class="history-table">
								<div class="history-table__head">
									<div class="history-title">Дата</div>
									<div class="history-title">Номер</div>
									<div class="history-title">Наименование</div>
									<div class="history-title">Кол-во</div>
									<div class="history-title">Цена</div>
									<div class="history-title">Статус</div>
									<div class="history-title"></div>
								</div>
								<div class="history-item">
									<div>
										<div class="history-title hide-on-desktop">Дата</div>
										<div class="text-small">04.05.2020</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Номер</div>
										<div class="text-small">B526544</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Наименование</div>
										<div>
											Моторное масло
											VOLKSWAGEN Special
											G 5W-40 1 л
										</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Кол-во</div>
										<div>1 шт</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Цена</div>
										<div class="price price--semibold"><span>3 032 ₽</span></div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Статус</div>
										<div class="text-red">ожидается
											оплата</div>
									</div>
									<div>
										<button class="btn-blue btn-mobile-full js-open-order-popup-btn">Повторить заказ</button>
									</div>
								</div>
								<div class="history-item">
									<div>
										<div class="history-title hide-on-desktop">Дата</div>
										<div class="text-small">04.05.2020</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Номер</div>
										<div class="text-small">B526544</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Наименование</div>
										<div>
											Моторное масло
											VOLKSWAGEN Special
											G 5W-40 1 л
										</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Кол-во</div>
										<div>1 шт</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Цена</div>
										<div class="price price--semibold"><span>3 032 ₽</span></div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Статус</div>
										<div>доставка</div>
									</div>
									<div>
										<button class="btn-blue btn-mobile-full js-open-order-popup-btn">Повторить заказ</button>
									</div>
								</div>
								<div class="history-item">
									<div>
										<div class="history-title hide-on-desktop">Дата</div>
										<div class="text-small">04.05.2020</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Номер</div>
										<div class="text-small">B526544</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Наименование</div>
										<div>
											Моторное масло
											VOLKSWAGEN Special
											G 5W-40 1 л
										</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Кол-во</div>
										<div>1 шт</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Цена</div>
										<div class="price price--semibold"><span>3 032 ₽</span></div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Статус</div>
										<div class="text-green">получен</div>
									</div>
									<div>
										<button class="btn-blue btn-mobile-full js-open-order-popup-btn">Повторить заказ</button>
									</div>
								</div>
								<div class="history-item">
									<div>
										<div class="history-title hide-on-desktop">Дата</div>
										<div class="text-small">04.05.2020</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Номер</div>
										<div class="text-small">B526544</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Наименование</div>
										<div>
											Моторное масло
											VOLKSWAGEN Special
											G 5W-40 1 л
										</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Кол-во</div>
										<div>1 шт</div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Цена</div>
										<div class="price price--semibold"><span>3 032 ₽</span></div>
									</div>
									<div>
										<div class="history-title hide-on-desktop">Статус</div>
										<div class="text-green">получен</div>
									</div>
									<div>
										<button class="btn-blue btn-mobile-full js-open-order-popup-btn">Повторить заказ</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
</div>

{% endblock %}
