{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}
<div class="content">
	<section class="banner">
		<div class="wrapper-full">
			<div class="banner-slider">
				<div class="banner-slider__container swiper-container">
					<div class="swiper-wrapper">
						<div class="banner-slider__slide swiper-slide">
							<img src="./images/banner-1.jpg" alt=""/>
						</div>
						<div class="banner-slider__slide swiper-slide">
							<img src="./images/banner-2.jpg" alt=""/>
						</div>
						<div class="banner-slider__slide swiper-slide">
							<img src="./images/banner-3.jpg" alt=""/>
						</div>
					</div>
					<div class="banner-slider-pagination swiper-pagination"></div>
					<div class="banner-button-next swiper-button-next"></div>
					<div class="banner-button-prev swiper-button-prev"></div>
				</div>
			</div>
		</div>
		<div class="wrapper-small banner-info-box">
			<div class="banner-info">
				<div class="banner-info__inner">
					<div class="banner-info__content">
						<h1 class="banner-info__title">
						<span>Онлайн
							продажа</span>
						</h1>
						<p class="banner-info__subtitle">Автомобилей и запасных
							частей для автомобилей</p>
					</div>
					<div class="banner-info__link">
						<a href="" class="btn-blue btn-medium btn-mobile-full">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pd section--grey">
		<div class="wrapper-small">
			<div class="layout banner-tiles">
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Рассчитайте кредит</span>
							<span>на транспортное средство.</span>
						</h3>
						<span class="tile-blue__text">Рассчитайте ежемесячный платеж в кредитном калькуляторе еще до покупки</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Запишитесь на сервис</span>
							<span>для обслуживания автомобиля.</span>
						</h3>
						<span
							class="tile-blue__text">Запишитесь на сервис и выберите удобное время и адрес дилера</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--grey">
		<div class="wrapper-small overflow-mobile">
			<div class="section__head">
				<h3 class="section__title">Подбор автомобиля
					по параметрам</h3>
			</div>
			<form class="filter js-filter-form">
				<div class="filter-options">
					<div class="filter-radio-items">
						<div class="filter-radio-items__radio">
							<label class="filter-radio">
								<input class="visuallyhidden" type="radio" name="find-filter" checked>
								<span class="filter-radio__input">Новые</span>
							</label>
						</div>
						<div class="filter-radio-items__radio">
							<label class="filter-radio">
								<input class="visuallyhidden" type="radio" name="find-filter">
								<span class="filter-radio__input">С пробегом</span>
							</label>
						</div>
						<div class="filter-radio-items__radio">
							<label class="filter-radio">
								<input class="visuallyhidden" type="radio" name="find-filter">
								<span class="filter-radio__input">Продать авто</span>
							</label>
						</div>
					</div>
					<div class="filter-result" data-result-lbl="Найдено"><span class="js-slide-up">2</span><span class="js-slide-up">7</span> авто</div>
				</div>
				<div class="filter-items filter-items--horizontal">
					<div class="filter-items__item filter-items__item--half">
						<div class="filter-item">
							<span class="filter-item__label">Марка</span>
							<label class="select select-filter select-filter--abs">
								<select class="select-filter__input js-select">
									<option>Выбрать</option>
									<option>Volkswagen</option>
									<option>KIA</option>
									<option>Renault</option>
									<option>LADA</option>
								</select>
							</label>
						</div>
					</div>
					<div class="filter-items__item filter-items__item--half">
						<div class="filter-item">
							<span class="filter-item__label">Модель</span>
							<label class="select select-filter select-filter--abs">
								<select class="select-filter__input js-select">
									<option>Выбрать</option>
									<option>Touareg</option>
									<option>Select 1</option>
									<option>Select 2</option>
									<option>Select 3</option>
								</select>
							</label>
						</div>
					</div>
					<div class="filter-items__item">
						<div class="filter-item">
							<span class="filter-item__label">Год</span>
							<label class="filter-field">
								<span class="filter-field__label">от</span>
								<input class="filter-field__input" type="number" min="0" max="9999" value="2019">
							</label>
						</div>
					</div>
					<div class="filter-items__item filter-items__item--full">
						<div class="filter-item">
							<span class="filter-item__label">Цена</span>
							<div class="range">
								<div class="range__values">
									<input type="text" class="range-field js-range-lower-field">
									<input type="text" class="range-field js-range-upper-field">
								</div>
								<div class="range-slider js-range-slider-large"></div>
							</div>
						</div>
					</div>
					<div class="filter-items__submit hide-on-desktop">
						<div class="filter-items__submit-btn">
							<button class="btn-blue btn-mobile-full" type="submit">Подобрать авто</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="section">
		<div class="wrapper-small">
			<div class="section__head">
				<h3 class="section__title">Автомобили
					в наличии</h3>
			</div>
			<form class="filter filter--horizontal">
				<div class="filter-options">
					<div class="filter-radio-items">
						<div class="filter-radio-items__radio">
							<label class="filter-radio">
								<input class="visuallyhidden" type="radio" name="find-filter" checked>
								<span class="filter-radio__input">Новые</span>
							</label>
						</div>
						<div class="filter-radio-items__radio">
							<label class="filter-radio">
								<input class="visuallyhidden" type="radio" name="find-filter">
								<span class="filter-radio__input">С пробегом</span>
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="section__content">
			<div class="wrapper">
				<div class="m-slider">
					<div class="m-slider__container swiper-container">
						<div class="m-slider__wrapper swiper-wrapper">
							<div class="slide-3 swiper-slide">
								<div class="tile">
									<div class="tile__media">
										<div class="tile-slider">
											<div class="tile-slider__container swiper-container">
												<div class="swiper-wrapper" data-tile-hover="hover">
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car1.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car2.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car3.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car4.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car5.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car6.png" alt=""/>
													</div>
												</div>
												<div class="tile-slider__pagination swiper-pagination"></div>
											</div>
										</div>
										<div class="tile-options">
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#credit-card"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<button class="fav-btn">
													<svg class="fav-btn__icon fav-btn__icon--not-added">
														<use xlink:href="./styles/icons/icons.svg#heart"/>
													</svg>
													<svg class="fav-btn__icon fav-btn__icon--added">
														<use xlink:href="./styles/icons/icons.svg#heart-full"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
										Белый</h3>
									<div class="tile__price-info">
										<div class="price-box">
											<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
										</div>
										<div class="tile-hint">1 автомобиль в наличии</div>
									</div>
									<div class="tile__links">
										<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
										<a href="" class="link-grey">Получить
											предложение</a>
									</div>
								</div>
							</div>
							<div class="slide-3 swiper-slide">
								<div class="tile">
									<div class="tile__media">
										<div class="tile-slider">
											<div class="tile-slider__container swiper-container">
												<div class="swiper-wrapper" data-tile-hover="hover">
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car2.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car1.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car3.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car4.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car5.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car6.png" alt=""/>
													</div>
												</div>
												<div class="tile-slider__pagination swiper-pagination"></div>
											</div>
										</div>
										<div class="tile-options">
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#credit-card"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<button class="fav-btn">
													<svg class="fav-btn__icon fav-btn__icon--not-added">
														<use xlink:href="./styles/icons/icons.svg#heart"/>
													</svg>
													<svg class="fav-btn__icon fav-btn__icon--added">
														<use xlink:href="./styles/icons/icons.svg#heart-full"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
										Белый</h3>
									<div class="tile__price-info">
										<div class="price-box">
											<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
											<div class="price text-grey price--normal price--old"><span>4 032 500 ₽</span></div>
										</div>
										<div class="tile-hint">1 автомобиль в наличии</div>
									</div>
									<div class="tile__links">
										<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
										<a href="" class="link-grey">Получить
											предложение</a>
									</div>
								</div>
							</div>
							<div class="slide-3 swiper-slide">
								<div class="tile">
									<div class="tile__media">
										<div class="tile-slider">
											<div class="tile-slider__container swiper-container">
												<div class="swiper-wrapper" data-tile-hover="hover">
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car3.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car1.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car2.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car4.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car5.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car6.png" alt=""/>
													</div>
												</div>
												<div class="tile-slider__pagination swiper-pagination"></div>
											</div>
										</div>
										<div class="tile-options">
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#credit-card"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<button class="fav-btn">
													<svg class="fav-btn__icon fav-btn__icon--not-added">
														<use xlink:href="./styles/icons/icons.svg#heart"/>
													</svg>
													<svg class="fav-btn__icon fav-btn__icon--added">
														<use xlink:href="./styles/icons/icons.svg#heart-full"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
										Белый</h3>
									<div class="tile__price-info">
										<div class="price-box">
											<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
										</div>
										<div class="tile-hint">1 автомобиль в наличии</div>
									</div>
									<div class="tile__links">
										<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
										<a href="" class="link-grey">Получить
											предложение</a>
									</div>
								</div>
							</div>
							<div class="slide-3 swiper-slide">
								<div class="tile">
									<div class="tile__media">
										<div class="tile-slider">
											<div class="tile-slider__container swiper-container">
												<div class="swiper-wrapper" data-tile-hover="hover">
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car4.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car1.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car2.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car3.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car5.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car6.png" alt=""/>
													</div>
												</div>
												<div class="tile-slider__pagination swiper-pagination"></div>
											</div>
										</div>
										<div class="tile-options">
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#credit-card"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<button class="fav-btn">
													<svg class="fav-btn__icon fav-btn__icon--not-added">
														<use xlink:href="./styles/icons/icons.svg#heart"/>
													</svg>
													<svg class="fav-btn__icon fav-btn__icon--added">
														<use xlink:href="./styles/icons/icons.svg#heart-full"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
										Белый</h3>
									<div class="tile__price-info">
										<div class="price-box">
											<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
										</div>
										<div class="tile-hint">1 автомобиль в наличии</div>
									</div>
									<div class="tile__links">
										<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
										<a href="" class="link-grey">Получить
											предложение</a>
									</div>
								</div>
							</div>
							<div class="slide-3 swiper-slide">
								<div class="tile">
									<div class="tile__media">
										<div class="tile-slider">
											<div class="tile-slider__container swiper-container">
												<div class="swiper-wrapper" data-tile-hover="hover">
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car5.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car1.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car2.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car3.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car4.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car6.png" alt=""/>
													</div>
												</div>
												<div class="tile-slider__pagination swiper-pagination"></div>
											</div>
										</div>
										<div class="tile-options">
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#credit-card"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<button class="fav-btn">
													<svg class="fav-btn__icon fav-btn__icon--not-added">
														<use xlink:href="./styles/icons/icons.svg#heart"/>
													</svg>
													<svg class="fav-btn__icon fav-btn__icon--added">
														<use xlink:href="./styles/icons/icons.svg#heart-full"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
										Белый</h3>
									<div class="tile__price-info">
										<div class="price-box">
											<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
										</div>
										<div class="tile-hint">1 автомобиль в наличии</div>
									</div>
									<div class="tile__links">
										<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
										<a href="" class="link-grey">Получить
											предложение</a>
									</div>
								</div>
							</div>
							<div class="slide-3 swiper-slide">
								<div class="tile">
									<div class="tile__media">
										<div class="tile-slider">
											<div class="tile-slider__container swiper-container">
												<div class="swiper-wrapper" data-tile-hover="hover">
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car6.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car1.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car2.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car3.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car4.png" alt=""/>
													</div>
													<div class="tile-slider__slide swiper-slide">
														<img src="./images/car5.png" alt=""/>
													</div>
												</div>
												<div class="tile-slider__pagination swiper-pagination"></div>
											</div>
										</div>
										<div class="tile-options">
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#credit-card"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<a href="" class="tile-option">
													<svg>
														<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
													</svg>
												</a>
											</div>
											<div class="tile-options__item">
												<button class="fav-btn">
													<svg class="fav-btn__icon fav-btn__icon--not-added">
														<use xlink:href="./styles/icons/icons.svg#heart"/>
													</svg>
													<svg class="fav-btn__icon fav-btn__icon--added">
														<use xlink:href="./styles/icons/icons.svg#heart-full"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
										Белый</h3>
									<div class="tile__price-info">
										<div class="price-box">
											<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
										</div>
										<div class="tile-hint">1 автомобиль в наличии</div>
									</div>
									<div class="tile__links">
										<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
										<a href="" class="link-grey">Получить
											предложение</a>
									</div>
								</div>
							</div>
						</div>
						<div class="load-more hide-on-mobile">
							<button class="btn-transparent-grey"><span>Показать еще</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--grey">
		<div class="wrapper-small">
			<div class="section__head">
				<h3 class="section__title">Услуги</h3>
			</div>
			<div class="layout">
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Кредит на автомобиль</span>
						</h3>
						<span class="tile-blue__text">Рассчитайте стоимость ежемесячного
платежа с удобным для вас банком.</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Выкуп автомобиля</span>
						</h3>
						<span
							class="tile-blue__text">Оцените свой автомобиль онлайн!*
Оценка происходит в течение суток с момента отправки документов. </span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Обмен авто Trade-in</span>
						</h3>
						<span
							class="tile-blue__text">Узнайте стоимость Вашего авто
в режиме онлайн!*</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Покупка в лизинг</span>
						</h3>
						<span
							class="tile-blue__text">Рассчитайте стоимость ежемесячного
платежа с удобным для вас банком.</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Страхование авто</span>
						</h3>
						<span
							class="tile-blue__text">Рассчитайте стоимость страхования автомобиля онлайн в удобном калькуляторе</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper-small">
			<div class="section__head">
				<h3 class="section__title">Спецпредложения
					и акции</h3>
			</div>
		</div>
		<div class="section__content">
			<div class="wrapper">
				<div class="slider-fraction slider-fraction-4">
					<div class="slider-fraction__container slider-fraction-4__container swiper-container">
						<div class="swiper-wrapper">
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news1.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Новый Volkswagen Polo скоро в России</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Выкуп автомобилей
										в центрах АвтоБелогорье</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Новый Volkswagen Passat скоро в России</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Онлайн-шоурум Volkswagen уже открыт!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news1.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Новый Volkswagen Polo скоро в России</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Выкуп автомобилей
										в центрах АвтоБелогорье</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Новый Volkswagen Passat скоро в России</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Онлайн-шоурум Volkswagen уже открыт!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news1.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Новый Volkswagen Polo скоро в России</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Выкуп автомобилей
										в центрах АвтоБелогорье</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Новый Volkswagen Passat скоро в России</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Онлайн-шоурум Volkswagen уже открыт!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
						</div>
						<div class="slider-nav">
							<div class="slider-nav__prev swiper-button-prev"></div>
							<div class="slider-nav__pagination swiper-pagination"></div>
							<div class="slider-nav__next swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper-small">
			<div class="section__head">
				<h3 class="section__title">Новости
					компании</h3>
			</div>
		</div>
		<div class="section__content">
			<div class="wrapper">
				<div class="slider-fraction slider-fraction-4">
					<div class="slider-fraction__container slider-fraction-4__container swiper-container">
						<div class="swiper-wrapper">
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С праздником 8 марта!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С днем защитника Отечества!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Цветочный патруль</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С праздником 8 марта!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">С днем защитника Отечества!</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
							<div class="slide-4 swiper-slide">
								<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
									<h4 class="news-slide__title">Цветочный патруль</h4>
									<p class="news-slide__desc">10 июля 2020 г.</p>
								</a>
							</div>
						</div>
						<div class="slider-nav">
							<div class="slider-nav__prev swiper-button-prev"></div>
							<div class="slider-nav__pagination swiper-pagination"></div>
							<div class="slider-nav__next swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
