{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Услуги</a>
					<a class="breadcrumbs__item" href="">Страхование</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Страхование</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-filter">
						<div class="menu-sidebar">
							<div class="menu-sidebar__item">
								<a href="" class="menu-link menu-link--active">Страхование автомобиля</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Обмен авто Trade-in</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Выкуп автомобиля</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Покупка в лизинг</a>
							</div>
							<div class="menu-sidebar__item">
								<a href="" class="menu-link">Кредит на автомобиль</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="form-box form-box--grey">
							<h3 class="form-title">Информация об автомобиле</h3>
							<div class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Марка автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Volkswagen</option>
													<option>KIA</option>
													<option>Renault</option>
													<option>LADA</option>
												</select>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Комплектация</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="select select--white">
												<span class="select__label">Модель автомобиля</span>
												<select class="select__input js-select">
													<option>Выбрать</option>
													<option>Select</option>
													<option>Select</option>
													<option>Select</option>
												</select>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-title">Полис</h3>
							<div class="form">
								<div class="form-fields form-fields--column">
									<div class="form-fields__col">
										<div class="form-fields__field">
											<label class="checkbox">
												<input class="visuallyhidden" type="checkbox">
												<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
												<span class="checkbox__label checkbox__label--large">Каско</span>
											</label>
										</div>
										<div class="form-fields__field">
											<label class="checkbox">
												<input class="visuallyhidden" type="checkbox">
												<span class="checkbox__input">
												<span class="checkbox__checked">
													<svg class="checkbox__icon">
														<use xlink:href="./styles/icons/icons.svg#checkmark"/>
													</svg>
												</span>
											</span>
												<span class="checkbox__label checkbox__label--large">ОСАГО</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey">
							<h3 class="form-title">Информация о владельце</h3>
							<div class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field field--required">
												<span class="field__label">Имя</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите имя">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Фамилия</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите фамилию">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Отчество</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите отчество">
											</label>
										</div>
									</div>
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field field--required">
												<span class="field__label">Номер телефона</span>
												<input class="field__input field__input--white js-phone-field" type="text"
													   placeholder="+7 ( ___ ) ___ - __ - __">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Ваш e-mail</span>
												<input class="field__input field__input--white" type="text"
													   placeholder="Введите e-mail">
											</label>
										</div>
										<div class="form-fields__field form-fields__field--mt">
											<button class="btn-blue btn-full js-application-accepted-btn" type="submit">
												Рассчитать страховку
											</button>
										</div>
										<div class="form-fields__field">
											<div class="form-hint">Нажимая кнопку
												«Рассчитать страховку», Вы
												соглашаетесь на <a href="">обработку
													персональных данных</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="layout layout--small-mg layout--mobile-reverse">
				<div class="layout__item-half">
					<h3 class="article__title hide-on-mobile">Страхование автомобиля в Авто-Белогорье</h3>
					<div class="article">
						<p>Наши специалисты помогут оперативно подобрать оптимальные тарифы, подходящие именно Вам, и
							застраховать транспортное средство от:</p>
						<p>- ДТП;</p>
						<p>- противоправных действий третьих лиц;</p>
						<p>- взрыва, пожара;</p>
						<p>- стихийных бедствий;</p>
						<p>- падения инородных предметов;</p>
						<p>- угона.</p>
					</div>
				</div>
				<div class="layout__item-half">
					<h3 class="article__title hide-on-desktop">Страхование автомобиля в Авто-Белогорье</h3>
					<div class="article-images">
						<div class="article-images__item">
							<img src="./images/service14.jpg" alt=""/>
						</div>
						<div class="article-images__item">
							<img src="./images/service15.jpg" alt=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
