{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Правовая информация</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Правовая информация</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-full">
					<form class="form">
						<div class="form-fields form-fields--align">
							<div class="form-fields__col form-fields__col--full">
								<div class="search search--mobile">
									<div class="search__field">
										<label class="field">
											<span
												class="field__label visuallyhidden">Поиск</span>
											<input class="field__input field__input--transparent" type="text"
												   placeholder="Поиск">
										</label>
									</div>
									<div class="search__btn">
										<button class="btn-blue btn-mobile-full" type="submit">
											<span>Найти</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="layout layout--small-mg">
				<div class="doc-box">
					<div class="doc">
						<div class="doc-info">
							<svg class="doc-info__icon">
								<use xlink:href="./styles/icons/icons.svg#file-pdf"/>
							</svg>
							<div>
								<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
								<div class="doc-info__title">Справочная информация</div>

							</div>
						</div>

						<div class="doc-mobile-row">
							<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
							<div class="doc-options">
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#download"/>
										</svg>
									</a>
								</div>
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#print"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="doc-box">
					<div class="doc">
						<div class="doc-info">
							<svg class="doc-info__icon">
								<use xlink:href="./styles/icons/icons.svg#file-empty"/>
							</svg>
							<div>
								<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
								<a href="" class="doc-info__title">Юридическая информация</a>
							</div>
						</div>

						<div class="doc-mobile-row">
							<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
							<div class="doc-options">
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#print"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="doc-box">
					<div class="doc">
						<div class="doc-info">
							<svg class="doc-info__icon">
								<use xlink:href="./styles/icons/icons.svg#file-pdf"/>
							</svg>
							<div>
								<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
								<div class="doc-info__title">Положение оператора о конфиденциальности</div>

							</div>
						</div>

						<div class="doc-mobile-row">
							<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
							<div class="doc-options">
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#download"/>
										</svg>
									</a>
								</div>
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#print"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="doc-box">
					<div class="doc">
						<div class="doc-info">
							<svg class="doc-info__icon">
								<use xlink:href="./styles/icons/icons.svg#file-empty"/>
							</svg>
							<div>
								<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
								<a href="" class="doc-info__title">Положение об обработке данных</a>
							</div>
						</div>

						<div class="doc-mobile-row">
							<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
							<div class="doc-options">
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#print"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="doc-box">
					<div class="doc">
						<div class="doc-info">
							<svg class="doc-info__icon">
								<use xlink:href="./styles/icons/icons.svg#file-empty"/>
							</svg>
							<div>
								<div class="doc-info__text hide-on-mobile">Документ размещен 03.05.2018г.</div>
								<a href="" class="doc-info__title">Использование cookie</a>
							</div>
						</div>

						<div class="doc-mobile-row">
							<div class="doc-info__text hide-on-desktop">03.05.2018г.</div>
							<div class="doc-options">
								<div class="doc-options__item">
									<a href="" class="doc-option">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#print"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="load-more">
					<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
