{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Карта сайта</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Карта сайта</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Автомобили</h3>
			</div>
			<div class="map-site">
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Lada</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">4x4 5 дверей</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Фургон</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Priora Универсал</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Cross</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Универсал CNG</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Cross CNG</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Фургон CNG</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Vesta SW Cross</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Kalina</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Priora Хэтчбек</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Kalina Cross</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Универсал 7 мест</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">4x4 3 двери</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Priora Седан</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">4x4 Urban 5 дверей</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Kalina Sport</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Priora</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Drive Active</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Cross 5 мест</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Cross 7 мест</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">XRAY Cross</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">4x4 Urban 3 двери</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">4x4 Bronto</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Vesta CNG</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Vesta SW</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Vesta</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Лифтбек</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Largus Универсал 5 мест</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Vesta Cross</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Хэтчбек</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">XRAY</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Kalina Универсал</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Kalina Хэтчбек</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Sport</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Седан</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Granta Универсал</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Vesta Sport</a>
					</div>
				</div>
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">KIA</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">cee’d GT</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">KIA</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">K900</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Rio X-Line</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Ceed SW</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Cerato Classic</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Quoris</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Seltos</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Ceed</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Soul</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Sportage</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Picanto</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">ProCeed</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Sorento</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Rio</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">pro_cee’d GT</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Cerato New</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Optima</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Venga</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Stinger</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Mohave</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Sorento Prime</a>
					</div>
				</div>
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Renault</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Dokker Van</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Arkana</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Kaptur</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Fluence</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Dokker Stepway</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Dokker</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Koleos</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Megane</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Logan</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Duster</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Sandero</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Sandero Stepway</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Logan Stepway</a>
					</div>
				</div>
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Volkswagen</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Teramont</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Passat CC</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Touareg</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Passat New</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Polo New</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Jetta New</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Passat Alltrack</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Golf</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Tiguan</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Passat Variant</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Jetta</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Polo</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Passat</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title">Информация</h3>
			</div>
			<div class="map-site">
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Каталог
							автомобилей</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Новый автомобиль</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Автомобиль с пробегом</a>
					</div>
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">О компании</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Команда</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Вакансии</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Достижения и награды</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Партнеры</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Новости</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Отзывы</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Правовая информация</a>
					</div>
				</div>
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Каталог
							автозапчастей</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Масла</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Жидкости</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Автохимия</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Электрооборудование</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Шины и диски</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Аксессуары</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Инструменты</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">ДВС</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Ходовая</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Трансмиссия</a>
					</div>
				</div>
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Автосервис</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Диагностика</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Сервисные услуги</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Кузовной ремонт</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Замена масла</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Государственный техосмотр</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Адреса</a>
					</div>
					<div class="map-site__item map-site__item--mb">
						<a href="" class="map-site-link map-site-link--large">Услуги</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Страхование</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Trade-in</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Выкуп авто</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Лизинг</a>
					</div>
					<div class="map-site__item">
						<a href="" class="map-site-link">Автокредитование</a>
					</div>
				</div>
				<div class="map-site__col">
					<div class="map-site__item map-site__item--mb2">
						<a href="" class="map-site-link map-site-link--large">Акции</a>
					</div>
					<div class="map-site__item map-site__item--mb2">
						<a href="" class="map-site-link map-site-link--large">Контакты</a>
					</div>
					<div class="map-site__item map-site__item--mb2">
						<a href="" class="map-site-link map-site-link--large">Личный кабинет</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
