{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}
<style>
	.header, .footer, .message-bar {
		display: none;
	}

	body {
		 padding: 40px;
	 }
</style>
<div class="content">
	<a href="index.html">1. Главная</a><br>
	<a href="catalog.html">2. Каталог</a><br>
	<a href="catalog-search.html">3. Каталог поиск</a><br>
	<a href="catalog-part.html">4. Каталог запчасти</a><br>
	<a href="catalog-part-2.html">5. Каталог запчасти 2</a><br>
	<a href="car.html">6. Детальная страница</a><br>
	<a href="car2.html">7. Детальная страница 2</a><br>
	<a href="part.html">8. Детальная страница 3</a><br>
	<a href="car-reservation.html">9. Резервирование автомобиля</a><br>
	<a href="car-booked.html">10. Автомобиль забронирован</a><br>
	<a href="cart.html">11. Корзина</a><br>
	<a href="checkout.html">12. Оформление заказа</a><br>
	<a href="order-paid.html">13. Ваш заказ оплачен</a><br>
	<a href="comparison1.html">14. Сравнение 1</a><br>
	<a href="comparison2.html">15. Сравнение 2</a><br>
	<a href="wished.html">16. Избранное</a><br>
	<a href="promotions.html">17. Акции</a><br>
	<a href="promotion.html">18. Акция</a><br>
	<a href="car-services.html">19. Автосервис</a><br>
	<a href="service1.html">20. Диагностика автомобиля</a><br>
	<a href="service2.html">21. Кузовной ремонт</a><br>
	<a href="service3.html">22. Замена масла</a><br>
	<a href="service4.html">23. Новая услуга</a><br>
	<a href="address.html">24. Адреса</a><br>
	<a href="services.html">25. Услуги</a><br>
	<a href="insurance.html">26. Страхование</a><br>
	<a href="trade-in.html">27. Обмен авто Trade-in</a><br>
	<a href="buyback.html">28. Выкуп авто</a><br>
	<a href="leasing.html">29. Покупка в лизинг</a><br>
	<a href="credit.html">30. Кредит на автомобиль</a><br>
	<a href="about.html">31. О компании</a><br>
	<a href="team.html">32. Команда</a><br>
	<a href="vacancies.html">33. Вакансии</a><br>
	<a href="awards.html">34. Достижения и награды</a><br>
	<a href="partners.html">35. Партнеры</a><br>
	<a href="news.html">36. Новости</a><br>
	<a href="news-item.html">37. Новость</a><br>
	<a href="feedback.html">38. Отзывы</a><br>
	<a href="legal-info.html">39. Правовая информация</a><br>
	<a href="reference-info.html">40. Справочная информация</a><br>
	<a href="contacts.html">41. Контакты</a><br>
	<a href="map-site.html">42. Карта сайта</a><br>
	<a href="404.html">43. 404</a><br>
	<a href="account.html">44. Личный кабинет</a><br>
	<a href="account-info.html">45. Личные данные</a><br>
	<a href="payment-info.html">46. Платежные данные</a><br>
	<a href="documentation.html">47. Документация</a><br>
	<a href="history.html">48. История покупок</a><br>
</div>
{% endblock %}
