{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Новости</a>
					<a class="breadcrumbs__item" href="">Уважаемые клиенты! Мы работаем для вас online!</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Уважаемые клиенты! Мы работаем для вас online!</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--small-mg layout--mobile-reverse">
				<div class="layout__item-half">
					<div class="article">
						<h2 class="article__title hide-on-mobile">Уважаемые клиенты!
							Мы работаем для вас online!</h2>
						<p>Когда речь идет о галактиках, амфибрахий продолжает прецизионный космический мусор. BTL
							просветляет имидж. Устойчивость дает креативный продуктовый ассортимент. Все известные
							астероиды имеют прямое движение, при этом лава откровенна. Верлибр, так как не наследует
							древние поднятия, отчетливо и полно оценивает жанр, явно демонстрируя всю чушь
							вышесказанного. Мифопоэтическое пространство диссонирует экзистенциальный уход
							гироскопа.</p>
						<p>Верлибр, так как не наследует древние поднятия, отчетливо и полно оценивает жанр, явно
							демонстрируя всю чушь вышесказанного. Мифопоэтическое пространство диссонирует
							экзистенциальный уход гироскопа.</p>
						<div class="article__date">21 мая 2020 г.</div>
						<div class="article__btns">
							<div class="article__btn">
								<a href="" class="btn-transparent-grey btn-mobile-full"><span>
									Другие новости
								</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-half">
					<h2 class="article__title hide-on-desktop">Уважаемые клиенты!
						Мы работаем для вас online!</h2>
					<div class="article-slider m-slider">
						<div class="m-slider__container swiper-container">
							<div class="m-slider__wrapper swiper-wrapper">
								<div class="article-slider__slide article-slider__slide--h swiper-slide">
									<img src="./images/a89ce26ae8513f8457f36cd3cf6c5ebf.jpg" alt=""/>
								</div>
								<div class="article-slider__slide swiper-slide">
									<img src="./images/NoPath — копия (64).jpg" alt=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
