{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Новости</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Новости</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-full">
					<form class="form">
						<div class="form-fields form-fields--flex form-fields--align">
							<div class="form-fields__col form-fields__col--search">
								<div class="search search--mobile">
									<div class="search__field">
										<label class="field">
											<span
												class="field__label visuallyhidden">Поиск новостей</span>
											<input class="field__input field__input--transparent" type="text"
												   placeholder="Поиск новостей">
										</label>
									</div>
									<div class="search__btn">
										<button class="btn-blue btn-mobile-full" type="submit">
											<span>Найти</span>
										</button>
									</div>
								</div>
							</div>
							<div class="form-fields__col form-fields__col--sort">
								<label class="select">
									<span class="select__label">Сортировать по:</span>
									<select class="select__input js-select">
										<option>Популярности</option>
										<option>Дате добавления</option>
									</select>
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="layout layout--mobile-row layout--no-mg">
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news6.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С праздником 8 марта!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news7.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С днем Защитника Отечества!
						</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news8.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Цветочный патруль</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news9.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Уважаемые клиенты! Мы работаем для вас online!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news10.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С праздником 8 марта!</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news11.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">С днем Защитника Отечества!
						</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="slide-4">
					<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/news12.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
						<h4 class="news-slide__title">Цветочный патруль</h4>
						<p class="news-slide__desc">10 июля 2020 г.</p>
					</a>
				</div>
				<div class="load-more">
					<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
