{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Партнеры</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Партнеры</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout layout--mobile-reverse">
				<div class="layout__item-half">
					<div class="article">
						<h3 class="article__title">Мы доверяем</h3>
						<p>Мы тщательно выбираем партнеров при работе. Залог успешности предоставления услуг - надежный
							партнеры.</p>
						<p>Наши партнеры - ведущие специалисты в области поставок оборудования и деталей, а также
							страховые компании самого высокого уровня.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title section__title--small"><strong>Страховые компании</strong></h3>
			</div>
			<div class="layout layout--mobile-row">
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (14).png" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (15).png" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (16).png" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (23).png" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (24).png" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/NoPath — копия (25).png" alt=""/>
									</span>
								</span>
					</div>
				</div>
			</div>
			<div class="load-more load-more--mg">
				<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="wrapper">
			<div class="section__head">
				<h3 class="section__title section__title--small"><strong>Поставщики оборудования и деталей</strong></h3>
			</div>
			<div class="layout layout--mobile-row">
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/251_pre.jpg" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/259_pre.jpg" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/252_pre.jpg" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/255_pre.jpg" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/256_pre.jpg" alt=""/>
									</span>
								</span>
					</div>
				</div>
				<div class="layout__item-third">
					<div class="logo-slide">
								<span class="logo-slide__media">
									<span class="logo-slide-media">
										<img src="./images/257_pre.jpg" alt=""/>
									</span>
								</span>
					</div>
				</div>
			</div>
			<div class="load-more load-more--mg">
				<button class="btn-transparent-grey btn-mobile-full"><span>Показать еще</span></button>
			</div>
		</div>
	</section>
</div>

{% endblock %}
