{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Личный
						кабинет</a>
					<a class="breadcrumbs__item" href="">Платежные данные</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Платежные данные</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<form>
				<div class="layout">
					<div class="layout__item-filter">
						<div class="sidebar">
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#user"/>
									</svg>
									Мой кабинет</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#list"/>
									</svg>
									Личные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link sidebar-link--active">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#dollar-sign"/>
									</svg>
									Платежные данные</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#document"/>
									</svg>
									Документация</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#history"/>
									</svg>
									История покупок</a>
							</div>
							<div class="sidebar__item">
								<a href="" class="sidebar-link">
									<svg>
										<use xlink:href="./styles/icons/icons.svg#sign-out"/>
									</svg>
									Выйти</a>
							</div>
						</div>
					</div>
					<div class="layout__item-fill-filter">
						<div class="form-box form-box--grey">
							<h3 class="form-title">Способы оплаты</h3>
							<div class="form">
								<div class="form-fields">
									<div class="form-fields__col">
										<div class="form-fields__field">
											<div class="payment-cart">
												<div class="payment-cart__name">Visa</div>
												<div class="payment-cart__num">5400 **** **** **** 7754</div>
												<div class="payment-cart__delete">
													<button class="payment-cart-delete-btn">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#close-circle"/>
														</svg>
													</button>
												</div>
											</div>
										</div>
										<div class="form-fields__field">
											<div class="payment-cart">
												<div class="payment-cart__name">MasterCard</div>
												<div class="payment-cart__num">5400 **** **** **** 7754</div>
												<div class="payment-cart__delete">
													<button class="payment-cart-delete-btn">
														<svg>
															<use xlink:href="./styles/icons/icons.svg#close-circle"/>
														</svg>
													</button>
												</div>
											</div>
										</div>
										<div class="form-fields__field form-fields__field--mt">
											<button class="btn-blue btn-mobile-full js-show-new-cart-form-btn">
												Добавить новую карту
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-box form-box--grey hidden js-new-cart-form">
							<h3 class="form-title">Новая карта</h3>
							<form class="form">
								<div class="form-fields">
									<div class="form-fields__col form-fields__col--half">
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Номер карты</span>
												<input class="field__input field__input--white js-cart-num-field" type="text">
											</label>
										</div>
										<div class="form-fields__field form-fields__field--flex">
											<div>
												<label class="field">
													<span class="field__label">Срок действия</span>
													<span class="cart-year">
														<input class="cart-field field__input field__input--white"
															   type="text">
														<input class="cart-field field__input field__input--white"
															   type="text">
													</span>
												</label>
											</div>
											<label class="cart-field field">
												<span class="field__label">CVV</span>
												<input class="field__input field__input--white js-cvv-field" type="text">
											</label>
										</div>
										<div class="form-fields__field">
											<label class="field">
												<span class="field__label">Имя владельца карты</span>
												<input class="field__input field__input--white" type="text">
											</label>
										</div>
										<div class="form-fields__field form-fields__field--submit">
											<button class="btn-blue btn-mobile-full js-add-cart" type="submit">
												Добавить
											</button>
											<button
												class="btn-transparent-grey btn-mobile-full js-hide-new-cart-form-btn"
												type="button">
												<span>Отмена</span>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

{% endblock %}
