{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Акции</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Акции</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="m-slider">
				<div class="m-slider__container swiper-container">
					<div class="m-slider__wrapper swiper-wrapper">
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom1.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Новый Volkswagen Polo скоро в России</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom2.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Выкуп автомобилей
									в центрах АвтоБелогорье</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom3.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Новый Volkswagen Passat скоро в России
								</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom4.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Онлайн-шоурум Volkswagen уже открыт!</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom5.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Увеличиваем ажиотаж: летние бонусы</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom6.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Новый Volkswagen Jetta уже в продаже</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom7.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Настало время перемен: пора забрать свою KIA
								</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom8.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Выгода до 300 000 руб при олнайн-бронировании</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom9.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Условия от ЛУЧШЕГО дилера KIA</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom10.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Яркое лето с KIA</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom11.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Новая LADA VESTA в салонах АвтоБелогорье
								</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
						<div class="slide-4 swiper-slide">
							<a href="" class="news-slide">
								<span class="news-slide__media">
									<span class="news-slide-media">
										<img src="./images/prom11.jpg" alt=""/>
										<span class="news-slide-media__hover">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#plus"/>
											</svg>
										</span>
									</span>
								</span>
								<h4 class="news-slide__title">Новая LADA GRANTA уже в продаже
								</h4>
								<p class="news-slide__desc">10 июля 2020 г.</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
