{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Услуги</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Услуги</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Кредит на автомобиль</span>
						</h3>
						<span
							class="tile-blue__text">Рассчитайте стоимость ежемесячного
платежа с удобным для вас банком.</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Выкуп автомобиля</span>
						</h3>
						<span
							class="tile-blue__text">Оцените свой автомобиль онлайн!*
Оценка происходит в течение суток
с момента отправки документов. </span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Обмен авто Trade-in</span>
						</h3>
						<span
							class="tile-blue__text">Узнайте стоимость Вашего авто
в режиме онлайн!*</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Покупка в лизинг</span>
						</h3>
						<span
							class="tile-blue__text">Рассчитайте стоимость ежемесячного
платежа с удобным для вас банком.</span>

						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
				<div class="layout__item-half">
					<a href="" class="tile-blue">
						<h3 class="tile-blue__title">
							<span class="tile-blue__title--large">Страхование авто</span>
						</h3>
						<span
							class="tile-blue__text">Рассчитайте стоимость страхования автомобиля онлайн в удобном калькуляторе</span>
						<svg class="tile-blue__icon">
							<use xlink:href="./styles/icons/icons.svg#forward"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
