{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">О компании</a>
					<a class="breadcrumbs__item" href="">Команда</a>
					<a class="breadcrumbs__item" href="">Вакансии</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Вакансии</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="layout">
				<div class="layout__item-six">
					<div class="accordion-container">
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Менеджер по продажам автомобилей корпоративным клиентам
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Арматурщик
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Механик
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Администратор автосалона
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Специалист по работе с клиентами
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Продавец-консультант
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
						<div class="accordion-set">
							<button class="accordion-set__link accordion-set__link--green">
								Мастер-консу4льтант слесарного цеха
								<svg class="accordion-set__icon">
									<use xlink:href="./styles/icons/icons.svg#arrow"/>
								</svg>
							</button>
							<div class="accordion-set__content">
								<h4>Обязанности</h4>
								<p>Активный и самостоятельный поиск клиентов;
									Звонки по предоставленной клиентской базе;
									Расширение клиентской базы;
									Обработка входящего трафика клиентов;
									Проведение встреч с клиентами;
									Продажа автомобилей клиентам (оформление документов,
									выставление счетов, работа с ПТС);
									Постпродажное сопровождение клиентов.</p>
								<h4>Требования</h4>
								<p>Опыт работы в корпоративных продажах от 1 года
									у официального дилера;
									Опыт работы с марками масс-бренда приветствуется;
									Высшее образование приветствуется;
									Навыки проведения презентаций, грамотная речь,
									умение устанавливать контакт, активная жизненная позиция,
									инициативность, нацеленность на результат, умение не останавливаться </p>
								<h4>Условия работы</h4>
								<p>Оформление с первого дня по ТК РФ, оплачиваемый отпуск
									и больничный лист;
									График работы сменный 5/2 с 9.00 до 18.00;
									Своевременная, стабильная, достойная ПОЛНОСТЬЮ БЕЛАЯ
									заработная плата;
									Прозрачная и понятная система мотивации без "потолка" бонусов;
									Возможность профессионального развития и роста;
									Место работы -- ДЦ Рено Белая Дача / ДЦ Рено на Варшавском;
									Контакты: Колпакова Людмила 8 929 600 05 61 (Будни, с 9.00 до 18.00).</p>
								<div class="accordion-set__btn">
									<button class="btn-blue btn-mobile-full js-open-vacancy-popup-btn">Откликнуться на вакансию</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__item-four hide-on-mobile">
					<div class="article-images">
						<div class="article-images__item">
							<img src="./images/vac1.jpg" alt=""/>
						</div>
						<div class="article-images__item">
							<img src="./images/vac2.jpg" alt=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
