{% extends "./layout.html" %}

{% block title %}ООО «АвтоБелогорье»{% endblock %}

{% block content %}

<div class="content">
	<section class="banner-small">
		<div class="banner-small__img">
			<img src="./images/banner-1.jpg" alt=""/>
		</div>
		<div class="banner-small-info">
			<div class="wrapper">
				<div class="breadcrumbs">
					<a class="breadcrumbs__item" href="/">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#home"/>
						</svg>
						Главная</a>
					<a class="breadcrumbs__item" href="">Избранное</a>
				</div>
				<div class="banner-small-info__head">
					<h1 class="banner-small-info-title">Избранное</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="wrapper">
			<div class="m-slider">
				<div class="m-slider__container swiper-container">
					<div class="m-slider__wrapper swiper-wrapper">
						<div class="slide-3 swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="slide-3 swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
						<div class="slide-3 swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="slide-3 swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car2.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/car6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#credit-card"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Volkswagen Arteon 2.0 TSI DSG (190 л.с.) R-Line Premium
									Белый</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 500 ₽</span></div>
									</div>
									<div class="tile-hint">1 автомобиль в наличии</div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">Подробнее</a>
									<a href="" class="link-grey">Получить
										предложение</a>
								</div>
							</div>
						</div>
						<div class="slide-3 swiper-slide">
							<div class="tile">
								<div class="tile__media">
									<div class="tile-slider">
										<div class="tile-slider__container swiper-container">
											<div class="swiper-wrapper" data-tile-hover="hover">
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part7.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part1.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part3.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part4.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part5.png" alt=""/>
												</div>
												<div class="tile-slider__slide swiper-slide">
													<img src="./images/part6.png" alt=""/>
												</div>
											</div>
											<div class="tile-slider__pagination swiper-pagination"></div>
										</div>
									</div>
									<div class="tile-options">
										<div class="tile-options__item">
											<a href="" class="tile-option">
												<svg>
													<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
												</svg>
											</a>
										</div>
										<div class="tile-options__item">
											<button class="fav-btn fav-btn--added">
												<svg class="fav-btn__icon fav-btn__icon--not-added">
													<use xlink:href="./styles/icons/icons.svg#heart"/>
												</svg>
												<svg class="fav-btn__icon fav-btn__icon--added">
													<use xlink:href="./styles/icons/icons.svg#heart-full"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<h3 class="tile-title">Моторное масло VOLKSWAGEN Special G 5W-40 5 л</h3>
								<div class="tile__price-info">
									<div class="price-box">
										<div class="price price--large text-grey"><span>3 032 ₽</span></div>
									</div>
									<div class="tile-hint">В наличии: <span class="text-green">много</span></div>
								</div>
								<div class="tile__links">
									<a href="" class="btn-blue btn-mobile-full">В корзину</a>
									<a href="" class="link-grey">Посмотреть
										товар</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
