.button {
	text-decoration-line: none;
	transition-duration: var(--animate-duration-micro);
	transition-property: background-color, border-color, color;
	transition-timing-function: var(--animate-easing-standard);
	user-select: none;
	white-space: nowrap;

	.msie & {
		text-decoration: none;
	}

	&[disabled] {
	}

	&:not([disabled]):hover,
	&:not([disabled]):focus {
	}

	&__icon {
		fill: currentColor;
		transition-duration: var(--animate-duration-micro);
		transition-property: fill;
		transition-timing-function: var(--animate-easing-standard);
	}
}
