.checkbox {
	display: flex;

	&__input {
		border-bottom-color: var(--grey);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--grey);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: var(--grey);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--grey);
		border-top-style: solid;
		border-top-width: 1px;
		display: flex;
		flex-shrink: 0;
		height: 1em;
		justify-content: center;
		margin-right: 0.2em;
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 1em;

		&::before {
			border-bottom-color: var(--success);
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-left-color: var(--success);
			border-left-style: solid;
			border-left-width: 2px;
			content: '';
			height: 0.4em;
			margin-top: 0.1em;
			opacity: 0;
			transform: rotate(-45deg);
			transition-duration: var(--animate-duration-micro);
			transition-property: opacity;
			transition-timing-function: var(--animate-easing-acceleration);
			width: 0.8em;
		}

		:focus + & {
			border-bottom-color: var(--link-a-color);
			border-left-color: var(--link-a-color);
			border-right-color: var(--link-a-color);
			border-top-color: var(--link-a-color);
		}

		:checked + &::before {
			opacity: 1;
			transition-timing-function: var(--animate-easing-deceleration);
		}
	}
}
