.overlay {
	align-items: center;
	background-color: color-mod(black alpha(25%));
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;

	&__wrapper {
		background-color: white;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1rem;

		@media (--desktop-up) {
			margin-top: -10vh;
		}
	}
}
