/* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */

.visuallyhidden {
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
