.file-input {
	display: block;

	input[type='file'] {
		display: none;
	}

	&__label {
		cursor: pointer;
		text-decoration-color: var(--link-ul-color);
		text-decoration-line: underline;
		text-decoration-style: dotted;
		transition-duration: var(--animate-duration-micro);
		transition-property: color, text-decoration-color;
		transition-timing-function: var(--animate-easing-standard);

		.msie & {
			text-decoration: underline;
		}

		&:hover {
			color: var(--link-a-color);
			text-decoration-color: var(--link-ul-a-color);
		}
	}
}
