.radio {
	display: flex;

	&__input {
		align-items: center;
		border-bottom-color: var(--grey);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: var(--grey);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 50%;
		border-right-color: var(--grey);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: var(--grey);
		border-top-style: solid;
		border-top-width: 1px;
		display: flex;
		height: 1em;
		justify-content: center;
		margin-right: 0.2em;
		transition-duration: var(--animate-duration-micro);
		transition-property: border-color;
		transition-timing-function: var(--animate-easing-standard);
		width: 1em;

		&::before {
			background-color: var(--success);
			border-radius: 50%;
			content: '';
			height: 0.8em;
			transform: scale(0);
			transition-duration: var(--animate-duration-micro);
			transition-property: transform;
			transition-timing-function: var(--animate-easing-acceleration);
			width: 0.8em;
		}

		:focus + & {
			border-bottom-color: var(--link-a-color);
			border-left-color: var(--link-a-color);
			border-right-color: var(--link-a-color);
			border-top-color: var(--link-a-color);
		}

		:checked + &::before {
			transform: scale(1);
			transition-timing-function: var(--animate-easing-deceleration);
		}
	}
}
