.spoiler {
	&__wrapper {
		overflow: hidden;

		&_active {
			max-height: 25vh;
		}

		&_gradient {
			position: relative;

			&::before {
				/* Safari неправильно интерпретирует transparent */
				background-image: linear-gradient(0deg, white, color-mod(white alpha(0%)));
				bottom: -1px;
				content: '';
				height: 10vh;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
	}

	&__show {
	}
}
