<footer class="footer">
	<div class="wrapper">
		<div class="footer-nav">
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Каталог автомобилей</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Новые автомобили</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Автомобили с пробегом</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Каталог запчастей</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Акции</a>
				</div>
			</div>
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Услуги</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Кредитование</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Выкуп автомобиля</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Обмен авто: Trade-in</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Страхование</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Лизинг</a>
				</div>
			</div>
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Сервис</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Диагностика</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Кузовной ремонт</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Замена масла</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Гос. Техосмотр</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Адреса сервисов</a>
				</div>
			</div>
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Компания</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Команда</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Вакансии</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Награды</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Партнеры</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Новости</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Отзывы</a>
				</div>
			</div>
			<div class="footer-nav__col">
				<div class="footer-nav__item hide-on-desktop">
					<button class="footer-nav-link footer-nav-link--large js-open-mobile-footer-nav-btn">Показать меню</button>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Контакты</a>
				</div>
				<div class="footer-nav__item footer-nav__item--mg-1">
					<div class="footer-contact" data-footer-contact-lbl="Единая справочная служба">
						<a href="tel:88002013131" class="footer-contact__link footer-contact__link--phone">8 (800)
							201-31-31</a>
					</div>
				</div>
				<div class="footer-nav__item footer-nav__item--mg-2">
					<button class="btn-transparent-grey js-open-request-call-btn"><span>Заказать звонок</span></button>
				</div>
				<div class="footer-nav__item">
					<div class="footer-contact" data-footer-contact-lbl="E-mail">
						<a href="mailto:sales@avto-belogorie.ru"
						   class="footer-contact__link footer-contact__link--email">sales@avto-belogorie.ru</a>
					</div>
				</div>
				<div class="footer-nav__item">
					<div class="social">
						<div class="social__item">
							<a href="" class="social-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#instagram"/>
								</svg>
							</a>
						</div>
						<div class="social__item">
							<a href="" class="social-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#vk"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright hide-on-mobile">
			<div>
				<a href="/" class="logo">
					<svg xmlns="http://www.w3.org/2000/svg" width="152.109" height="30.279" viewBox="0 0 152.109 30.279">
						<g id="Group_132" data-name="Group 132" transform="translate(43.27 -239.393)">
							<path id="Path_1" class="logo-text logo-path" data-name="Path 1" d="M-37.37,239.393h2.955l5.889,15.308h-3.03l-1.2-3.154h-6.241l-1.25,3.154H-43.27l5.9-15.308Zm1.5,4.06-2.042,5.253h4.07l-2.028-5.253Zm8.393,11.249V243.378h4.55a4.057,4.057,0,0,1,3.037.881,2.886,2.886,0,0,1,.8,1.993,2.466,2.466,0,0,1-1.644,2.383,2.905,2.905,0,0,1,2.248,2.9,3.007,3.007,0,0,1-.593,1.911,2.826,2.826,0,0,1-1.506,1.005,10.063,10.063,0,0,1-2.543.249Zm2.852-6.869h1.094a1.521,1.521,0,0,0,1.076-.348,1.036,1.036,0,0,0,.38-.774,1.3,1.3,0,0,0-.366-.988,1.186,1.186,0,0,0-.863-.355l-.362.011h-.959v2.454Zm0,4.685H-23.2a1.487,1.487,0,0,0,1.172-.391,1.188,1.188,0,0,0,.337-.764,1.537,1.537,0,0,0-.38-1.012,1.7,1.7,0,0,0-1.367-.458h-1.186v2.625Zm6.649-9.139H-7.424v2.706h-3.758V254.7h-2.852v-8.617h-3.943v-2.706Zm16.836-.291a6.029,6.029,0,0,1,3.015.8,5.8,5.8,0,0,1,2.2,2.174,5.826,5.826,0,0,1,.792,2.966,5.964,5.964,0,0,1-.8,3,5.765,5.765,0,0,1-2.17,2.181,6.012,6.012,0,0,1-3.03.785,5.646,5.646,0,0,1-4.156-1.733,5.749,5.749,0,0,1-1.723-4.209,5.731,5.731,0,0,1,1.946-4.422,5.681,5.681,0,0,1,3.921-1.541Zm.043,2.674a2.92,2.92,0,0,0-2.2.923,3.272,3.272,0,0,0-.877,2.355,3.32,3.32,0,0,0,.87,2.394,2.9,2.9,0,0,0,2.2.916,2.936,2.936,0,0,0,2.216-.927,3.307,3.307,0,0,0,.884-2.383,3.285,3.285,0,0,0-.867-2.365,2.945,2.945,0,0,0-2.223-.913Zm7.69,8.94V239.393h8v2.841H9.508v2.934h.632a9.719,9.719,0,0,1,3.165.43,4.1,4.1,0,0,1,2.046,1.606,4.8,4.8,0,0,1,.817,2.8,4.668,4.668,0,0,1-.615,2.554,4.7,4.7,0,0,1-1.691,1.552,6.212,6.212,0,0,1-2.984.6Zm2.916-6.93v4.152h.728a3.97,3.97,0,0,0,2.529-.522,1.877,1.877,0,0,0,.529-1.4q0-2.227-3.182-2.227Zm19.354,2.092H19.734a3.044,3.044,0,0,0,1.059,1.918,3.3,3.3,0,0,0,2.188.714,3.793,3.793,0,0,0,2.738-1.115l2.394,1.126a5.671,5.671,0,0,1-2.145,1.879,6.707,6.707,0,0,1-2.966.607,5.859,5.859,0,0,1-4.337-1.68,5.719,5.719,0,0,1-1.676-4.209,5.923,5.923,0,0,1,1.669-4.3,5.619,5.619,0,0,1,4.188-1.712A5.827,5.827,0,0,1,27.2,244.8a6.2,6.2,0,0,1,1.676,4.521l-.011.543Zm-2.852-2.238a2.869,2.869,0,0,0-1.108-1.542,3.221,3.221,0,0,0-1.921-.593,3.4,3.4,0,0,0-2.082.668,3.739,3.739,0,0,0-1.041,1.467ZM40.381,254.7H37.49l-2.831-7.15-2.884,7.15H28.895l4.827-11.323h1.833L40.381,254.7ZM46.3,243.087a6.029,6.029,0,0,1,3.015.8,5.88,5.88,0,0,1,2.991,5.139,5.964,5.964,0,0,1-.8,3,5.763,5.763,0,0,1-2.17,2.181,6.012,6.012,0,0,1-3.03.785,5.647,5.647,0,0,1-4.156-1.733,6,6,0,0,1,.224-8.631,5.681,5.681,0,0,1,3.921-1.541Zm.042,2.674a2.919,2.919,0,0,0-2.2.923,3.272,3.272,0,0,0-.877,2.355,3.32,3.32,0,0,0,.87,2.394,2.9,2.9,0,0,0,2.2.916,2.936,2.936,0,0,0,2.216-.927,3.658,3.658,0,0,0,.018-4.749,2.945,2.945,0,0,0-2.224-.913Zm7.378-2.383h6.61v2.706H56.575V254.7H53.723V243.378Zm12.954-.291a6.029,6.029,0,0,1,3.015.8,5.88,5.88,0,0,1,2.991,5.139,5.964,5.964,0,0,1-.8,3,5.766,5.766,0,0,1-2.17,2.181,6.012,6.012,0,0,1-3.03.785,5.646,5.646,0,0,1-4.156-1.733,6,6,0,0,1,.224-8.631,5.681,5.681,0,0,1,3.921-1.541Zm.043,2.674a2.92,2.92,0,0,0-2.2.923,3.272,3.272,0,0,0-.877,2.355,3.32,3.32,0,0,0,.87,2.394,2.9,2.9,0,0,0,2.2.916,2.936,2.936,0,0,0,2.216-.927,3.657,3.657,0,0,0,.018-4.749,2.945,2.945,0,0,0-2.223-.913Zm10.208-2.383v1.25a5.378,5.378,0,0,1,1.666-1.154,4.818,4.818,0,0,1,1.914-.387,4.952,4.952,0,0,1,3.768,1.676,6.082,6.082,0,0,1,1.549,4.3,5.923,5.923,0,0,1-1.6,4.23,5.05,5.05,0,0,1-3.8,1.7,4.743,4.743,0,0,1-1.822-.348,5.6,5.6,0,0,1-1.676-1.14v5.338h-2.82V243.378Zm2.987,2.334a2.965,2.965,0,0,0-2.227.916,3.291,3.291,0,0,0-.884,2.39,3.388,3.388,0,0,0,.884,2.44,2.941,2.941,0,0,0,2.227.934,2.888,2.888,0,0,0,2.191-.948,3.385,3.385,0,0,0,.888-2.415,3.35,3.35,0,0,0-.874-2.387,2.892,2.892,0,0,0-2.206-.931Zm10.208,1.747h.842a10.311,10.311,0,0,1,2.731.277,3.024,3.024,0,0,1,1.609,1.147,3.557,3.557,0,0,1,.657,2.195,3.784,3.784,0,0,1-.593,2.181,2.819,2.819,0,0,1-1.517,1.154,9.043,9.043,0,0,1-2.586.288h-4V243.378h2.852v4.081Zm0,5.058h.863a3.986,3.986,0,0,0,1.115-.11,1.31,1.31,0,0,0,.6-.423,1.159,1.159,0,0,0,.259-.76q0-1.454-1.666-1.456H90.123v2.749Zm18.473-2.653H99.468a3.045,3.045,0,0,0,1.058,1.918,3.3,3.3,0,0,0,2.188.714,3.793,3.793,0,0,0,2.739-1.115l2.394,1.126a5.669,5.669,0,0,1-2.145,1.879,6.707,6.707,0,0,1-2.966.607,5.859,5.859,0,0,1-4.337-1.68,5.719,5.719,0,0,1-1.676-4.209,5.923,5.923,0,0,1,1.669-4.3,5.618,5.618,0,0,1,4.187-1.712,5.827,5.827,0,0,1,4.351,1.712,6.2,6.2,0,0,1,1.676,4.521l-.011.543Zm-2.852-2.238a2.868,2.868,0,0,0-1.108-1.542,3.221,3.221,0,0,0-1.922-.593,3.4,3.4,0,0,0-2.081.668,3.739,3.739,0,0,0-1.041,1.467Z" fill-rule="evenodd"/>
							<path id="Path_2" class="logo-green-line logo-path" data-name="Path 2" d="M473.84,348.442l-.013-.2a330.619,330.619,0,0,0-78.654-.442c32.51-2.638,57.556-1.485,78.667,1.969Z" transform="translate(-365.11 -88.496)" fill-rule="evenodd"/>
							<path id="Path_3" class="logo-red-line logo-path" data-name="Path 3" d="M476.163,355.909c-26.029-4.215-55.414-3.89-78.2-1.523,25.823-1.659,57.282-1.3,78.2,3.339Z" transform="translate(-367.433 -94.321)" fill-rule="evenodd"/>
							<path id="Path_4" class="logo-black-line logo-path" data-name="Path 4" d="M479.016,363.276c-23.529-4.874-53.863-5.3-77.628-3.578,27.772-1.132,56.788-.1,77.628,5.674Z" transform="translate(-370.286 -99.416)" fill-rule="evenodd"/>
							<path id="Path_5" class="logo-white-line logo-path" data-name="Path 5" d="M470.788,340.2c-27.2-3.534-53.631-2.848-79.265.19,32.4-3.137,58.322-1.994,79.278,1.085Z" transform="translate(-362.071 -81.961)" fill-rule="evenodd"/>
							<path id="Path_6" class="logo-text logo-path" data-name="Path 6" d="M178.692,379.057h3.677v.667h-2.923v5.019h-.754v-5.686Zm4.285,5.686v-5.686h2.147a5.247,5.247,0,0,1,.866.054,1.73,1.73,0,0,1,.7.265,1.4,1.4,0,0,1,.457.548,1.844,1.844,0,0,1-.29,2,2.216,2.216,0,0,1-1.669.5h-1.459v2.319Zm.754-2.986H185.2a1.559,1.559,0,0,0,1.036-.271.969.969,0,0,0,.306-.765,1.027,1.027,0,0,0-.18-.61.847.847,0,0,0-.475-.336,3.253,3.253,0,0,0-.7-.05h-1.455v2.033Zm3.792-2.7h.757l1.863,3.5,1.619-3.5h.741l-2.13,4.424a4.422,4.422,0,0,1-.655,1.087.989.989,0,0,1-.732.256,2.417,2.417,0,0,1-.712-.135v-.643a1.255,1.255,0,0,0,.639.175.693.693,0,0,0,.474-.177,2.245,2.245,0,0,0,.439-.806l-2.3-4.179Zm5.63,0h4.463v5.686h-.754v-5.019h-2.954v5.019h-.754v-5.686Zm5.709,0h4.463v5.686h-.755v-5.019h-2.954v5.019h-.755v-5.686Zm5.078,5.686,2.181-5.686h.827l2.315,5.686h-.856l-.658-1.723h-2.394l-.617,1.723Zm1.636-2.335h1.938l-.593-1.577c-.179-.479-.314-.875-.408-1.187a8.051,8.051,0,0,1-.314,1.095l-.624,1.669Zm6.507-3.352h.754v2.494a1.036,1.036,0,0,0,.724-.2,3.327,3.327,0,0,0,.535-.962,5.089,5.089,0,0,1,.391-.791,1.209,1.209,0,0,1,.437-.389,1.267,1.267,0,0,1,.625-.158c.29,0,.442,0,.458.008v.651l-.151,0-.152,0a.728.728,0,0,0-.535.175,2.4,2.4,0,0,0-.408.745,2.909,2.909,0,0,1-.485.912,1.525,1.525,0,0,1-.473.3,2.1,2.1,0,0,1,1.087,1.018l1.171,1.893h-.934l-.954-1.541a4.274,4.274,0,0,0-.654-.88.973.973,0,0,0-.682-.24v2.661h-.754v-5.686Zm4.291,2.919a3.086,3.086,0,0,1,.761-2.214,2.586,2.586,0,0,1,1.963-.8,2.732,2.732,0,0,1,1.42.376,2.453,2.453,0,0,1,.964,1.048,3.4,3.4,0,0,1,.332,1.524,3.339,3.339,0,0,1-.349,1.546,2.375,2.375,0,0,1-.989,1.032,2.829,2.829,0,0,1-1.382.351,2.7,2.7,0,0,1-1.436-.388,2.492,2.492,0,0,1-.958-1.058,3.2,3.2,0,0,1-.326-1.418Zm.778.013a2.272,2.272,0,0,0,.552,1.616,1.93,1.93,0,0,0,2.784-.005,2.408,2.408,0,0,0,.548-1.692,2.906,2.906,0,0,0-.234-1.21,1.8,1.8,0,0,0-.686-.8,1.868,1.868,0,0,0-1.014-.285,1.924,1.924,0,0,0-1.374.548,2.442,2.442,0,0,0-.576,1.828Zm5.614,2.755v-5.686h1.128l1.345,4.025q.187.562.271.842.1-.31.3-.912l1.369-3.955h1.007v5.686h-.723v-4.757l-1.66,4.757h-.678l-1.641-4.845v4.845Zm6.639-5.686h4.463v5.686h-.755v-5.019H230.16v5.019h-.755v-5.686Zm5.078,5.686,2.181-5.686h.827l2.315,5.686h-.857l-.658-1.723H235.9l-.617,1.723Zm1.636-2.335h1.938l-.593-1.577c-.179-.479-.314-.875-.408-1.187a8.007,8.007,0,0,1-.314,1.095l-.623,1.669Zm4.316,2.335v-5.686h.754V381.4h2.939v-2.343h.755v5.686h-.755v-2.677H241.19v2.677Zm5.72-5.686h.683v4.5l3.027-4.5h.745v5.686h-.683v-4.491l-3.019,4.491h-.753v-5.686Zm5.709,0h.683v4.5l3.027-4.5h.745v5.686h-.683v-4.491l-3.019,4.491h-.753v-5.686Zm2.835-1.366h.477a1.06,1.06,0,0,1-1.148,1.017,1.159,1.159,0,0,1-.793-.261,1.144,1.144,0,0,1-.355-.756h.477a.6.6,0,0,0,.65.532.749.749,0,0,0,.477-.128A.651.651,0,0,0,254.7,377.691Z" transform="translate(-184.837 -115.167)" fill-rule="evenodd"/>
						</g>
					</svg>
				</a>
			</div>
			<div>
				<div class="copyright-lbl">
					<div>© ООО «Авто Белогорье»</div>
					<div>Все права защищены. 2020 год.</div>
				</div>
			</div>
			<div>
				<a href="" class="copyright-link">Защита персональных
					данных</a>
			</div>
			<div>
				<a href="" class="copyright-link">Правовая информация</a>
			</div>
			<div>
				<div class="company">
					Сделано с любовью<br>
					в
					<a href="">PARUS AGENCY</a>
				</div>
			</div>
		</div>
		<div class="politics hide-on-mobile">
			<div class="politics__text">Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни
				при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского
				кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей Volkswagen,
				Kia, Renault, LADA обращайтесь к менеджерам по продажам автоцентров «Авто-Белогорье». Для получения
				информации о приобретении автомобилей в кредит, страховании, техническом обслуживании и ремонте
				автомобилей, запасных частях, дополнительном оборудовании, аксессуарах также обращайтесь в сервисные
				центры и автосалоны «Авто-Белогорье».Права на сайт принадлежат ООО «Авто-Белогорье» (ИНН 5047059383,
				ОГРН 1045009553577 от 29 марта 2004 года) тел. +7 (4722) 40-04-44 , адрес эл. почты
				sales@avto-belogorie.ru
			</div>
			<div class="footer-brands">
				<img src="./styles/images/volkswagen.png" alt=""/>
				<img src="./styles/images/renault.png" alt=""/>
				<img src="./styles/images/kia.png" alt=""/>
				<img src="./styles/images/lada.png" alt=""/>
			</div>
		</div>
	</div>
</footer>
