<header class="header">
	<div class="wrapper">
		<div class="header__inner">
			<div class="top-header">
				<div class="top-header__left">
					<div>
						<a href="/" class="logo">
							<img class="desktop-logo" src="./styles/images/logo.svg" alt=""/>
							<img class="mobile-logo hidden" src="./styles/images/mobile-logo.svg" alt=""/>
						</a>
					</div>
					<div class="header-search">
						<div class="search-box">
							<form class="search">
								<div class="search__field">
									<label class="field">
											<span
												class="field__label visuallyhidden">Поиск по автомобилям и запчастям</span>
										<input class="field__input field__input--transparent" type="text"
											   placeholder="Поиск по автомобилям и запчастям">
									</label>
									<button class="search__mobile-btn hide-on-desktop js-header-search-btn">
										<svg>
											<use xlink:href="./styles/icons/icons.svg#search"/>
										</svg>
									</button>
								</div>
								<div class="search__btn hide-on-mobile">
									<button class="btn-blue js-header-search-btn" type="submit">
										<span>Найти</span>
									</button>
								</div>
							</form>
							<div class="search-results">
								<div class="search-results__inner" data-simplebar data-simplebar-auto-hide="false">
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part1.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part2.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part3.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part4.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part1.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part2.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part3.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
									<div class="search-results__item">
										<div class="search-result">
											<div class="search-result__img">
												<img src="./images/part4.png" alt=""/>
											</div>
											<div class="">
												<h4>
													<strong>Моторное масло VOLKSWAGEN Special G 5W-40 5 л</strong>
												</h4>
												<div class="availability">
													<div>Наличие:</div>
													<div class="availability__text availability__text--green">
														<span> Много</span>
													</div>
												</div>
											</div>
											<div>
												<div class="price price--normal text-grey">4 479 ₽</div>
											</div>
										</div>
									</div>
								</div>
								<div class="search-results__item">
									<a href="" class="btn-transparent-grey btn-full"><span>Показать все</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="top-header-mobile-options js-mobile-options">
						<div class="top-header-mobile-options__item">
							<button class="mobile-search-btn js-open-mobile-search-btn">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#search"/>
								</svg>
							</button>
						</div>
						<div class="top-header-mobile-options__item">
							<button class="menu-button js-open-mobile-nav-btn">
								<span class="menu-button__line menu-button__line--top"></span>
								<span class="menu-button__line menu-button__line--middle"></span>
								<span class="menu-button__line menu-button__line--bottom"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="header-call" data-header-call-lbl="Единая справочная служба">
					<a class="header-call__link" href="tel:88002013131">8 (800) 201-31-31</a>
				</div>
				<div class="top-header__right">
					<div class="request-call">
						<button class="btn-blue js-open-request-call-btn">
							<span>Заказать звонок</span>
						</button>
					</div>
					<div>
						<a href="" class="btn-blue btn-circle-icon has-badge" data-cart-item-num="3">
							<svg>
								<use xlink:href="./styles/icons/icons.svg#shopping-cart"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="navigation">
				<div class="navigation__item">
					<a href="" class="navigation-link navigation-link--active">
						<span>Каталог авто</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Запчасти</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Сервис</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Услуги</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#promotions"/>
						</svg>
						<span>Акции</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Контакты</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#heart"/>
						</svg>
						<span>Избранное</span>
					</a>
				</div>
				<div class="navigation__item hide-on-desktop">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
						</svg>
						<span>Корзина</span>
						<span class="badge">3</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
						</svg>
						<span>Сравнение</span>
						<span class="badge">4</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="#" class="navigation-link js-open-login-popup-btn">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#user"/>
						</svg>
						<span>Личный кабинет</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
