/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Swiper 4.5.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: September 13, 2019
 */

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */

.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* IE10 Windows Phone 8 Fixes */

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000;
}

.swiper-pagination-lock {
  display: none;
}

/* Scrollbar */

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  font-family: "object-fit:contain";
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

/* Preloader */

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* a11y */

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-flip {
  overflow: visible;
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

[data-simplebar]{position:relative;flex-direction:column;flex-wrap:wrap;justify-content:flex-start;align-content:flex-start;align-items:flex-start}

.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit}

.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0}

.simplebar-offset{direction:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch}

.simplebar-content-wrapper{direction:inherit;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;visibility:visible;overflow:auto;max-width:100%;max-height:100%;scrollbar-width:none}

.simplebar-content-wrapper::-webkit-scrollbar{display:none}

.simplebar-content:after,.simplebar-content:before{content:' ';display:table}

.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none}

.simplebar-height-auto-observer-wrapper{box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;flex-grow:inherit;flex-shrink:0;flex-basis:0}

.simplebar-height-auto-observer{box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1}

.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden}

[data-simplebar].simplebar-dragging .simplebar-content{pointer-events:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-select:none}

[data-simplebar].simplebar-dragging .simplebar-track{pointer-events:all}

.simplebar-scrollbar{position:absolute;right:2px;width:7px;min-height:10px}

.simplebar-scrollbar:before{position:absolute;content:'';background:#000;border-radius:7px;left:0;right:0;opacity:0;transition:opacity .2s linear}

.simplebar-scrollbar.simplebar-visible:before{opacity:.5;transition:opacity 0s linear}

.simplebar-track.simplebar-vertical{top:0;width:11px}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px}

.simplebar-track.simplebar-horizontal{left:0;height:11px}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical{right:auto;left:0}

.hs-dummy-scrollbar-size{direction:rtl;position:fixed;opacity:0;visibility:hidden;height:500px;width:500px;overflow-y:hidden;overflow-x:scroll}

.simplebar-hide-scrollbar{position:fixed;left:0;visibility:hidden;overflow-y:scroll;scrollbar-width:none}

.simplebar-hide-scrollbar::-webkit-scrollbar{display:none}

@charset "utf-8";

.tabs-nav {
	position: relative;
	z-index: 1;
}

.tabs-nav__item {
	display: inline-block;
	vertical-align: top;
}

.tabs-nav__link {
	text-decoration: none;
	transition-duration: 0.7s;
	transition-timing-function: linear;
}

.tabs-nav__drag {
	position: absolute;
}

.tabs-nav__drag.active {
	transition-timing-function: linear;
}

.tabs-content {
	color: #333333;
	overflow: hidden;
	position: relative;
}

.tabs-content .tabs-content {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.tabs-content .tabs-nav {
	font-size: 14px;
}

.tab {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition-timing-function: linear;
	width: 100%;
}

.tab.active {
	opacity: 1;
	position: relative;
	z-index: 1;
}

.tab.slide {
	display: none;
	opacity: 1;
}

.tab.slide.active {
	display: block;
}

.tab.slide.moved {
	display: block;
}

/* animation for "slide" type from animated.css library */

@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	animation-name: slideInLeft;
}

@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	animation-name: slideInRight;
}

@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
	}
}

.slideOutLeft {
	animation-name: slideOutLeft;
}

@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
		visibility: hidden;
	}
}

.slideOutRight {
	animation-name: slideOutRight;
}

@font-face {
	font-display: swap;
	font-family: 'BebasNeue';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/BebasNeue.woff') format('woff'), url('fonts/BebasNeue.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.woff2') format('woff2');
}

/* https://medium.com/p/88d6a5ba1862 */

:root {
	--white: #ffffff;
	--brown: #1c160f;
	--ocher: #b4987a;
	--black: #000000;
	--dark: #0f141c;
	--light-black: #1c232f;
	--light-grey: #c1c1c1;
	--grey: #f2f2f2;
	--dark-grey: #707070;
	--bullet: #e5e5e5;
	--red: #e55454;

	/* https://material.io/design/motion/speed.html#duration */
	--animate-duration-timeout: 2500ms;
	--animate-duration-effect: 700ms;
	--animate-duration-enter: 250ms;
	--animate-duration-leave: 200ms;
	--animate-duration-micro: 100ms;

	/* https://material.io/design/motion/speed.html#easing */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes spinner1 {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spinner2 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}

@keyframes load {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
			-0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
			-0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* stylelint-disable selector-max-universal */

* {
	box-sizing: border-box;
}

*:focus {
		outline: none;
	}

*::before,
	*::after {
		box-sizing: border-box;
	}

* ::selection {
		background-color: #b4987a;
		background-color: var(--ocher);
	}

/* stylelint-enable */

/* stylelint-disable declaration-no-important */

[hidden] {
	display: none !important;
}

/* stylelint-enable */

html {
	font-size: 16px;
}

@media (min-width: 1200px) {

html {
		font-size: 112.5%
}
	}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

body.disable-hover {
		pointer-events: none;
	}

picture img {
		display: inherit;
		width: 100%;
	}

button,
input {
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: var(--text-color);
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

button:-ms-input-placeholder, input:-ms-input-placeholder {
		color: var(--text-d-color);
	}

button::-ms-input-placeholder, input::-ms-input-placeholder {
		color: var(--text-d-color);
	}

button::placeholder, input::placeholder {
		color: var(--text-d-color);
	}

svg {
	height: 100%;
	width: 100%;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-width: 960px) {

h1 {
		font-size: 60px;
		line-height: 1.2
}
	}

h2 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-width: 960px) {

h2 {
		font-size: 52px;
		line-height: 1.2
}
	}

h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-width: 960px) {

h3 {
		font-size: 30px
}
	}

h4 {
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-width: 960px) {

h4 {
		font-size: 18px;
		line-height: 1.2
}
	}

p {
	margin-bottom: 0;
	margin-top: 0;
}

.visuallyhidden {
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	height: 1px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.b-slider .swiper-pagination {
		display: block;
	}

@media (min-width: 960px) {

.b-slider .swiper-pagination {
			display: none
	}
		}

.swiper-pagination-bullet {
	background-color: #e5e5e5;
	background-color: var(--bullet);
	height: 11px;
	opacity: 1;
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
	width: 11px;
}

.swiper-pagination-bullet-active {
	background-color: #707070;
	background-color: var(--dark-grey);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin-left: 9px;
	margin-right: 9px;
}

.swiper-button-next,
.swiper-button-prev {
	height: 55px;
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
}

.swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' fill='%23000'/%3E%3C/svg%3E%0A");
}

.swiper-button-next:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' fill='%23b4987a'/%3E%3C/svg%3E%0A");
	}

.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' transform='translate(26.227 51.484) rotate(180)' fill='%23000'/%3E%3C/svg%3E%0A");
}

.swiper-button-prev:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' transform='translate(26.227 51.484) rotate(180)' fill='%23b4987a'/%3E%3C/svg%3E%0A");
	}

.btn {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	height: 56px;
	line-height: 56px;
	min-width: 280px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
}

.btn:disabled {
		cursor: none;
		pointer-events: none;
	}

.btn--ocher {
		border-bottom-color: #b4987a;
		border-bottom-color: var(--ocher);
		border-left-color: #b4987a;
		border-left-color: var(--ocher);
		border-right-color: #b4987a;
		border-right-color: var(--ocher);
		border-top-color: #b4987a;
		border-top-color: var(--ocher);
		box-shadow: inset 0 0 0 56px #b4987a;
		box-shadow: inset 0 0 0 56px var(--ocher);
		color: #ffffff;
		color: var(--white);
	}

.btn--ocher:hover {
			box-shadow: none;
			color: #b4987a;
			color: var(--ocher);
		}

.btn--transparent {
		border-bottom-color: #b4987a;
		border-bottom-color: var(--ocher);
		border-left-color: #b4987a;
		border-left-color: var(--ocher);
		border-right-color: #b4987a;
		border-right-color: var(--ocher);
		border-top-color: #b4987a;
		border-top-color: var(--ocher);
		color: #b4987a;
		color: var(--ocher);
	}

.btn--transparent:hover {
			box-shadow: inset 0 0 0 56px #b4987a;
			box-shadow: inset 0 0 0 56px var(--ocher);
			color: #ffffff;
			color: var(--white);
		}

.btn--red {
		border-bottom-color: #e55454;
		border-bottom-color: var(--red);
		border-left-color: #e55454;
		border-left-color: var(--red);
		border-right-color: #e55454;
		border-right-color: var(--red);
		border-top-color: #e55454;
		border-top-color: var(--red);
		box-shadow: inset 0 0 0 56px #e55454;
		box-shadow: inset 0 0 0 56px var(--red);
	}

.btn--red:hover {
			box-shadow: none;
			color: #e55454;
			color: var(--red);
		}

.btn--grey {
		border-bottom-color: #707070;
		border-bottom-color: var(--dark-grey);
		border-left-color: #707070;
		border-left-color: var(--dark-grey);
		border-right-color: #707070;
		border-right-color: var(--dark-grey);
		border-top-color: #707070;
		border-top-color: var(--dark-grey);
		box-shadow: inset 0 0 0 56px #707070;
		box-shadow: inset 0 0 0 56px var(--dark-grey);
	}

.btn--grey:hover {
			box-shadow: none;
			color: #707070;
			color: var(--dark-grey);
		}

.btn-circle {
	align-items: center;
	border-bottom-color: #ffffff;
	border-bottom-color: var(--white);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #ffffff;
	border-left-color: var(--white);
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: 100%;
	border-right-color: #ffffff;
	border-right-color: var(--white);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #ffffff;
	border-top-color: var(--white);
	border-top-style: solid;
	border-top-width: 1px;
	color: #ffffff;
	color: var(--white);
	cursor: pointer;
	display: flex;
	height: 157px;
	justify-content: center;
	text-transform: uppercase;
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
	width: 157px;
}

.btn-circle:hover {
		box-shadow: inset 0 0 0 157px #ffffff;
		box-shadow: inset 0 0 0 157px var(--white);
		color: #0f141c;
		color: var(--dark);
	}

.checkbox {
	cursor: pointer;
	display: flex;
	line-height: normal;
	line-height: initial;
	margin-bottom: 30px;
}

.checkbox--error .checkbox__label {
			color: #e55454;
			color: var(--red);
		}

.checkbox__input {
		display: flex;
		flex-shrink: 0;
		height: 31px;
		justify-content: center;
		margin-right: 20px;
		position: relative;
		width: 31px;
	}

.checkbox__checked {
		height: 18px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
		width: 16px;
	}

.checkbox input:not(:checked) ~ .checkbox__input .checkbox__checked {
		opacity: 0;
	}

.checkbox input:checked ~ .checkbox__input .checkbox__checked {
		opacity: 1;
	}

.checkbox__label {
		color: #707070;
		color: var(--dark-grey);
		font-size: 14px;
		text-align: left;
	}

.checkbox__label a {
			color: #ffffff;
			color: var(--white);
		}

.toggle {
	align-items: center;
	cursor: pointer;
	display: flex;
}

.toggle__input {
		display: none;
	}

.toggle__holder {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 20px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-width: 1px;
		display: inline-block;
		height: 31px;
		position: relative;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
		width: 51px;
	}

.toggle__circle {
		border-radius: 100%;
		height: 25px;
		position: absolute;
		top: 2px;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
		width: 25px;
	}

.toggle input:disabled ~ .toggle__holder,
	.toggle input:disabled ~ .toggle__label {
		opacity: 0.5;
	}

.toggle input:not(:checked) ~ .toggle__holder {
		border-bottom-color: #bfbfbf;
		border-left-color: #bfbfbf;
		border-right-color: #bfbfbf;
		border-top-color: #bfbfbf;
	}

.toggle input:checked ~ .toggle__holder {
		border-bottom-color: #b4987a;
		border-bottom-color: var(--ocher);
		border-left-color: #b4987a;
		border-left-color: var(--ocher);
		border-right-color: #b4987a;
		border-right-color: var(--ocher);
		border-top-color: #b4987a;
		border-top-color: var(--ocher);
	}

.toggle input:not(:checked) ~ .toggle__holder .toggle__circle {
		background-color: #bfbfbf;
		left: 2px;
	}

.toggle input:checked ~ .toggle__holder .toggle__circle {
		background-color: #b4987a;
		background-color: var(--ocher);
		left: 22px;
	}

.toggle__label {
		color: #707070;
		color: var(--dark-grey);
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
	}

@media (min-width: 960px) {

.toggle__label {
			margin-left: 5px
	}
		}

@media (min-width: 1440px) {

.toggle__label {
			margin-left: 25px
	}
		}

.field {
	display: block;
	margin-bottom: 20px;
	position: relative;
	width: 420px;
}

@media (max-width: 677px) {

.field {
		width: 100%
}
	}

.field--required::before {
			color: #b4987a;
			color: var(--ocher);
			content: '*';
			font-size: 25px;
			position: absolute;
			right: 5px;
			top: 5px;
		}

.field--error::before {
			color: #e55454;
			color: var(--red);
		}

.field__input {
		border-bottom-color: #b4987a;
		border-bottom-color: var(--ocher);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: #b4987a;
		border-left-color: var(--ocher);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: #b4987a;
		border-right-color: var(--ocher);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: #b4987a;
		border-top-color: var(--ocher);
		border-top-style: solid;
		border-top-width: 1px;
		color: #b4987a;
		color: var(--ocher);
		font-size: 14px;
		height: 56px;
		line-height: 56px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}

.field--error .field__input {
			border-bottom-color: #e55454;
			border-bottom-color: var(--red);
			border-left-color: #e55454;
			border-left-color: var(--red);
			border-right-color: #e55454;
			border-right-color: var(--red);
			border-top-color: #e55454;
			border-top-color: var(--red);
			color: #e55454;
			color: var(--red);
		}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1366px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
}

@media (min-width: 960px) {

.wrapper {
		padding-left: 35px;
		padding-right: 35px
}
	}

.header {
	position: relative;
	z-index: 2;
}

.header__inner {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

.header__logo {
		display: inline-block;
		position: fixed;
		right: 15px;
		top: 25px;
		width: 33px;
		z-index: 5;
	}

@media (min-width: 960px) {

.header__logo {
			right: 35px;
			top: 50px
	}
		}

.menu-btn {
	cursor: pointer;
	height: 21px;
	left: 15px;
	position: fixed;
	top: 25px;
	width: 30px;
	z-index: 5;
}

@media (min-width: 960px) {

.menu-btn {
		left: 35px;
		top: 50px
}

		.menu-btn::after {
			color: #ffffff;
			color: var(--white);
			content: attr(data-menu-text);
			display: inline-block;
			font-family: 'BebasNeue', sans-serif;
			font-size: 30px;
			line-height: 25px;
			margin-left: 45px;
			opacity: 0.3;
			transition-duration: 700ms;
			transition-duration: var(--animate-duration-effect);
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-timing-function: var(--animate-easing-standard);
			vertical-align: middle;
		}

		.menu-btn.menu-btn--close::after {
			opacity: 0;
		}
	}

.menu-btn__line {
		background-color: #ffffff;
		background-color: var(--white);
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
	}

.menu-btn__line--top {
			top: 0;
		}

.menu-btn:hover .menu-btn__line--top {
				top: -2px;
			}

.menu-btn--close .menu-btn__line--top {
				top: 9px;
				transform: rotate(-45deg);
			}

.menu-btn.menu-btn--close:hover .menu-btn__line--top {
				top: 9px;
			}

.menu-btn__line--middle {
			top: 11px;
		}

.menu-btn--close .menu-btn__line--middle {
				opacity: 0;
			}

.menu-btn__line--bottom {
			top: 21px;
		}

.menu-btn:hover .menu-btn__line--bottom {
				top: 23px;
			}

.menu-btn--close .menu-btn__line--bottom {
				top: 9px;
				transform: rotate(45deg);
			}

.menu-btn.menu-btn--close:hover .menu-btn__line--bottom {
				top: 9px;
			}

.menu {
	background-color: #000000;
	background-color: var(--black);
	bottom: 0;
	left: -100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	position: fixed;
	top: 0;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
	width: 320px;
	z-index: 4;
}

@media (min-width: 960px) {

.menu {
		padding-top: 40px
}
	}

.menu--active {
		left: 0;
	}

.menu__inner {
		bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		left: 0;
		overflow: hidden;
		padding-left: 40px;
		padding-right: 40px;
		position: absolute;
		right: 0;
		top: 80px;
	}

@media (max-width: 959px) {

.menu__inner {
			overflow-y: auto
	}
		}

.menu__top {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

.menu__nav-btn {
		color: #c1c1c1;
		color: var(--light-grey);
		cursor: pointer;
		font-family: 'Helvetica Neue', sans-serif;
		font-size: 14px;
		height: 50px;
		line-height: 50px;
		text-align: left;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
		width: 100%;
	}

.menu__nav-btn:hover {
			color: #b4987a;
			color: var(--ocher);
		}

.menu__copyright {
		color: #c1c1c1;
		color: var(--light-grey);
		font-size: 14px;
	}

.menu__company {
		color: #707070;
		color: var(--dark-grey);
		font-size: 14px;
	}

.menu__company a {
			color: #707070;
			color: var(--dark-grey);
			text-decoration: none;
			transition-duration: 700ms;
			transition-duration: var(--animate-duration-effect);
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-timing-function: var(--animate-easing-standard);
		}

.menu__company a:hover {
				color: #b4987a;
				color: var(--ocher);
			}

.menu-close-btn > svg {
		fill: #ffffff;
		fill: var(--white);
	}

.lang-btn {
	border-bottom-color: #707070;
	border-bottom-color: var(--dark-grey);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #707070;
	border-left-color: var(--dark-grey);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #707070;
	border-right-color: var(--dark-grey);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #707070;
	border-top-color: var(--dark-grey);
	border-top-style: solid;
	border-top-width: 1px;
	color: #707070;
	color: var(--dark-grey);
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 11px;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
}

.lang-btn:hover {
		border-bottom-color: #ffffff;
		border-bottom-color: var(--white);
		border-left-color: #ffffff;
		border-left-color: var(--white);
		border-right-color: #ffffff;
		border-right-color: var(--white);
		border-top-color: #ffffff;
		border-top-color: var(--white);
		color: #ffffff;
		color: var(--white);
	}

.special-btn {
	background-color: #b4987a;
	background-color: var(--ocher);
	color: #ffffff;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	height: 80px;
	line-height: 80px;
	margin-left: -40px;
	margin-right: -40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
	width: calc(100% + 80px);
}

.special-btn:hover {
		background-color: #ccb295;
	}

.phone {
	margin-top: 50px;
}

.phone__link {
		color: #ffffff;
		color: var(--white);
		font-size: 24px;
		text-decoration: none;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
	}

.phone__link:hover {
			color: #b4987a;
			color: var(--ocher);
		}

.phone__label {
		color: #707070;
		color: var(--dark-grey);
		font-size: 14px;
	}

.banner {
	height: 100vh;
	position: relative;
	width: 100%;
	z-index: 1;
}

.banner__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

@media (max-width: 677px) {

.banner__back {
			position: fixed
	}
		}

.banner__back > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.banner__back::before {
			background-color: rgba(15, 20, 28, 0.89);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

.banner__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: flex-end;
		padding-bottom: 55px;
		position: relative;
		width: 100%;
	}

@media (max-width: 677px) {

.banner__inner {
			left: 0;
			position: fixed;
			right: 0;
			width: auto
	}
		}

@media (min-width: 678px) {

.banner__inner {
			align-items: flex-end;
			flex-direction: row;
			justify-content: initial;
			padding-bottom: 100px
	}
		}

.banner__logo {
		left: 50%;
		position: absolute;
		top: 70px;
		transform: translateX(-50%);
		width: 136px;
	}

@media (min-width: 678px) {

.banner__logo {
			top: 50%;
			transform: translate(-50%, -50%);
			width: 500px
	}
		}

@media (min-width: 678px) and (max-height: 700px) {

.banner__logo {
			max-height: 200px;
			top: 40%
	}
		}

.banner__name {
		color: #b4987a;
		color: var(--ocher);
		margin-bottom: 50px;
		text-align: center;
	}

@media (min-width: 678px) {

.banner__name {
			display: none
	}
		}

.banner__titles {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
	}

@media (min-width: 678px) {

.banner__titles {
			flex-direction: row
	}
		}

.banner__title {
		color: #ffffff;
		color: var(--white);
		font-family: 'BebasNeue', sans-serif;
		text-align: center;
	}

.banner__title:not(:last-child) {
			margin-bottom: 20px;
		}

@media (min-width: 678px) {

.banner__title:not(:last-child) {
				margin-bottom: 0
		}
			}

.banner__title--ocher {
			color: #b4987a;
			color: var(--ocher);
		}

.banner__scrolldown {
		bottom: 5px;
		height: 38px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 20px;
		z-index: 1;
	}

@media (min-width: 960px) {

.banner__scrolldown {
			bottom: 45px
	}
		}

.banner__scrolldown > svg {
			animation-duration: 2500ms;
			animation-duration: var(--animate-duration-timeout);
			animation-iteration-count: infinite;
			animation-name: pulse;
			position: absolute;
		}

.premium {
	background-color: #1c160f;
	background-color: var(--brown);
	padding-bottom: 130px;
	padding-top: 130px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.premium__title {
		color: #b4987a;
		color: var(--ocher);
		margin-left: auto;
		margin-right: auto;
	}

@media (min-width: 960px) {

.premium__title {
			width: 70%
	}
		}

.scrollmagic-pin-spacer {
	/* stylelint-disable declaration-no-important */
	display: none !important;
	/* stylelint-enable */
}

@media (min-width: 960px) {

.scrollmagic-pin-spacer {
		display: block !important
}
	}

.large-gallery {
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

@media (max-width: 959px) {
		.large-gallery--mobile-hide {
			height: 100vh;
		}

			.large-gallery--mobile-hide .large-gallery__item {
				display: none;
			}
	}

@media (min-width: 960px) {

.large-gallery .swiper-container {
			height: 100%
	}
		}

@media (min-width: 960px) {

.large-gallery .swiper-wrapper {
			display: block
	}
		}

.large-gallery .swiper-pagination {
		display: block;
	}

@media (min-width: 960px) {

.large-gallery .swiper-pagination {
			display: none
	}
		}

.large-gallery__item {
		height: 100vh;
	}

@media (min-width: 960px) {

.large-gallery__item {
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%
	}
		}

.large-gallery__item::before {
			background-color: rgba(0, 0, 0, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition-duration: 1s;
			transition-property: all;
			transition-timing-function: ease-in-out;
		}

.large-gallery__item--changed-delay::before {
				transition-delay: 1s;
			}

.large-gallery__item--changed::before {
				opacity: 1;
			}

.large-gallery__item > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.large-gallery .swiper-pagination {
		display: block;
	}

@media (min-width: 960px) {

.large-gallery .swiper-pagination {
			display: none
	}
		}

.slogan {
	align-items: center;
	display: flex;
	height: 378px;
	justify-content: center;
	position: relative;
	text-align: center;
	z-index: 1;
}

@media (min-width: 960px) {

.slogan {
		height: 512px
}
	}

.slogan--black {
		background-color: #0f141c;
		background-color: var(--dark);
	}

.slogan--brown {
		background-color: #1c160f;
		background-color: var(--brown);
	}

.slogan--ocher {
		background-color: #b4987a;
		background-color: var(--ocher);
	}

.slogan--ocher .slogan__title {
			color: #ffffff;
			color: var(--white);
		}

.slogan--white {
		background-color: #ffffff;
		background-color: var(--white);
	}

.slogan--white .slogan__title {
			color: #0f141c;
			color: var(--dark);
		}

.slogan--small {
		height: auto;
		padding-bottom: 96px;
		padding-top: 96px;
	}

.slogan__title {
		color: #b4987a;
		color: var(--ocher);
		margin-left: auto;
		margin-right: auto;
	}

@media (min-width: 960px) {

.slogan__title {
			width: 50%
	}
		}

.video {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100%;
	z-index: 1;
}

.video__inner {
		background-color: #000000;
		background-color: var(--black);
		/*display: none;*/
		height: 100%;
		position: absolute;
		width: 100%;
	}

.video__back {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

.video__back > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.video__back::before {
			background-color: rgba(15, 20, 28, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

.video__btn,
	.video__back-btn {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

.video__btn {
		opacity: 0;
	}

.video__btn:hover {
			opacity: 1;
		}

.video__close-btn {
		background-color: #ffffff;
		background-color: var(--white);
		border-radius: 50%;
		cursor: pointer;
		display: none;
		height: 40px;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 40px;
	}

.video__inner--active .video__close-btn {
			display: block;
		}

.video__close-btn > svg {
			fill: #0f141c;
			fill: var(--dark);
			height: 15px;
			width: 15px;
		}

.video__movie {
		height: 100%;
		width: 100%;
	}

.video__subtitle {
		bottom: 40px;
		color: #ffffff;
		color: var(--white);
		font-size: 16px;
		left: 50%;
		position: absolute;
		text-transform: uppercase;
		transform: translateX(-50%);
		white-space: nowrap;
	}

@media (min-width: 960px) {

.video__subtitle {
			bottom: 80px;
			font-size: 18px
	}
		}

.video__year {
		color: #ffffff;
		color: var(--white);
		left: 50%;
		position: absolute;
		top: calc(50% - 250px);
		transform: translate(-50%, -50%);
	}

.video__inner--active .video__year {
			display: none;
		}

.advantages {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	z-index: 1;
}

.advantages__info {
		align-items: center;
		background-color: rgba(255, 255, 255, 0.95);
		color: #0f141c;
		color: var(--dark);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-width: 100%;
		padding-bottom: 80px;
		padding-top: 80px;
		z-index: 1;
	}

/* stylelint-disable declaration-no-important */

@media (max-width: 959px) {

.advantages__info {
			height: auto !important
	}
		}

/* stylelint-enable */

@media (min-width: 960px) {

.advantages__info {
			height: 100%;
			left: 0;
			min-width: 460px;
			position: absolute;
			top: 0
	}

			.advantages__info.fixed {
				position: fixed;
			}

			.advantages__info.bottom {
				bottom: 0;
				top: auto;
			}
		}

@media (max-width: 959px) {

.advantages__item {
			/* stylelint-disable declaration-no-important */
			/* stylelint-enable */
	}
			.advantages__item--first {
				display: block !important;
				opacity: 1 !important;
			}
			.advantages__item--second {
				display: block !important;
				opacity: 1 !important;
			}
		}

@media (min-width: 960px) {
			.advantages__item--second {
				display: none;
			}
		}

.advantages__item:not(:last-child) {
			margin-bottom: 70px;
		}

@media (min-width: 960px) {

.advantages__item:not(:last-child) {
				margin-bottom: 40px
		}
			}

@media (max-width: 959px) {

.advantages__img {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0
	}
		}

@media (min-width: 960px) {

.advantages__img {
			flex-shrink: 0;
			height: 150vh;
			width: calc(100% - 460px)
	}
		}

.advantages__img > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.advantage {
	font-size: 16px;
	text-align: center;
	z-index: 1;
}

.advantage::before {
		color: #b4987a;
		color: var(--ocher);
		content: attr(data-adv-num);
		display: block;
		font-size: 44px;
	}

@media (min-width: 960px) {

.advantage::before {
			font-size: 94px
	}
		}

.ideal-place {
	background-color: #1c160f;
	background-color: var(--brown);
	color: #ffffff;
	color: var(--white);
	height: 100vh;
	position: relative;
	text-align: center;
	z-index: 1;
}

@media (min-width: 678px) {

.ideal-place {
		height: auto;
		padding-bottom: 130px;
		padding-top: 130px
}
	}

.ideal-place .wrapper {
		height: 100%;
	}

@media (min-width: 678px) {

.ideal-place .wrapper {
			height: auto
	}
		}

.ideal-place__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

.ideal-place__title {
		color: #b4987a;
		color: var(--ocher);
		margin-bottom: 40px;
	}

@media (min-width: 678px) {

.ideal-place__title {
			margin-bottom: 60px
	}
		}

.ideal-place__items {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

@media (min-width: 678px) {

.ideal-place__items {
			flex-direction: row
	}
		}

.ideal-place__item:not(:last-child) {
			margin-bottom: 40px;
		}

@media (min-width: 678px) {

.ideal-place__item:not(:last-child) {
				margin-bottom: 0
		}
			}

.map-box {
	position: relative;
	z-index: 1;
}

.map-box__inner {
		display: none;
		left: 0;
		position: absolute;
		top: 80px;
	}

@media (min-width: 960px) {

.map-box__inner {
			display: block
	}
		}

.map-box__logo {
		display: inline-block;
		margin-left: 80px;
		width: 135px;
	}

.map-info {
	margin-top: 140px;
}

.map-info__item {
		align-items: center;
		display: flex;
	}

.map-info__item:not(:last-child) {
			margin-bottom: 15px;
		}

.map-info__btn {
		cursor: pointer;
		height: 36px;
		margin-right: 15px;
		width: 36px;
	}

.map-info__btn--hidden {
			opacity: 0.5;
		}

.map-info__text {
		color: #707070;
		color: var(--dark-grey);
		font-size: 14px;
	}

.map {
	height: 50vh;
}

@media (min-width: 960px) {

.map {
		height: 100vh
}
	}

.virtual {
	background-color: #0f141c;
	background-color: var(--dark);
	height: 100vh;
	position: relative;
	text-align: center;
	z-index: 1;
}

.virtual .wrapper {
		height: 100%;
	}

.virtual__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

.virtual__title {
		color: #b4987a;
		color: var(--ocher);
		margin-bottom: 80px;
		margin-left: auto;
		margin-right: auto;
	}

@media (min-width: 960px) {

.virtual__title {
			width: 55%
	}
		}

.virtual-movie {
	background-color: #0f141c;
	background-color: var(--dark);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.virtual-movie__video {
		height: 100%;
		width: 100%;
	}

.infrastructure {
	background-color: #1c160f;
	background-color: var(--brown);
	padding-bottom: 80px;
	padding-top: 80px;
	position: relative;
	text-align: center;
	z-index: 1;
}

@media (min-width: 960px) {

.infrastructure {
		height: 100vh
}
	}

.infrastructure__title {
		color: #b4987a;
		color: var(--ocher);
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
	}

@media (min-width: 960px) {

.infrastructure__title {
			margin-bottom: 90px
	}
		}

.infrastructure .wrapper {
		height: 100%;
	}

.infrastructure__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

.infrastructure__items {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

@media (min-width: 1200px) {

.infrastructure__items {
			width: 80%
	}
		}

.infrastructure__item {
		color: #ffffff;
		color: var(--white);
		font-size: 18px;
		padding-left: 40px;
		padding-right: 40px;
		width: 100%;
	}

@media (min-width: 678px) {

.infrastructure__item {
			width: 50%
	}
		}

@media (min-width: 1200px) {

.infrastructure__item {
			font-size: 24px
	}
		}

.infrastructure__item:not(:last-child) {
			margin-bottom: 50px;
		}

.gallery {
	z-index: 1;
}

.gallery__thumbs {
		display: none;
	}

@media (min-width: 960px) {

.gallery__thumbs {
			display: block
	}
		}

.gallery__slide {
		height: 768px;
		width: 100%;
	}

.gallery__slide > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.gallery__thumb {
		cursor: pointer;
		height: 380px;
		position: relative;
	}

.gallery__thumb > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.gallery__thumb::before {
			background-color: rgba(15, 20, 28, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

.gallery .swiper-pagination {
		display: block;
	}

@media (min-width: 960px) {

.gallery .swiper-pagination {
			display: none
	}
		}

.penthouses-img {
	filter: blur(10px);
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
}

.penthouses {
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

@media (min-width: 678px) {

.penthouses {
		height: 380px;
		width: 400px
}
	}

.penthouses__title {
		font-size: 22px;
		margin-bottom: 30px;
	}

@media (min-width: 678px) {

.penthouses__title {
			font-size: 30px;
			margin-bottom: 30px
	}
		}

.flats {
	display: flex;
	position: relative;
	width: 100%;
	z-index: 1;
	/* stylelint-enable */
}

.flats__tabs {
		background-color: #f2f2f2;
		background-color: var(--grey);
		width: 100%;
	}

/* stylelint-disable declaration-no-important */

.flats__content {
		background-color: #ffffff;
		background-color: var(--white);
		height: 588px !important;
		width: 100%;
	}

@media (min-width: 960px) {

.flats__content {
			height: 760px !important
	}
		}

.flats-tabs {
	position: relative;
}

@media (max-width: 677px) {
		.flats-tabs.d-tabs-nav--active {
			height: 580px;
		}
	}

.flats-tabs__item {
		height: 144px;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
		width: 100%;
	}

@media (min-width: 678px) {

.flats-tabs__item {
			width: 258px
	}
		}

@media (min-width: 678px) {

.flats-tabs__item.active {
				box-shadow: inset 258px 0 0 0 #0f141c;
				box-shadow: inset 258px 0 0 0 var(--dark)
		}
			}

.flats-tabs__item:not(:last-child) {
			border-bottom-color: #c1c1c1;
			border-bottom-color: var(--light-grey);
			border-bottom-style: solid;
			border-bottom-width: 1px;
			margin-right: 70px;
		}

@media (min-width: 678px) {

.flats-tabs__item:not(:last-child) {
				border-bottom-width: 0
		}
			}

.flats-tabs__link {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 144px;
		justify-content: center;
		width: 100%;
	}

.flats-tabs__type {
		color: #0f141c;
		color: var(--dark);
		font-size: 12px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

@media (min-width: 678px) {

.active .flats-tabs__type {
				color: #ffffff;
				color: var(--white)
		}
			}

.flats-tabs__area {
		color: #b4987a;
		color: var(--ocher);
		font-size: 18px;
	}

.flats-content.active {
		z-index: 1;
	}

.flats-content__toggles {
		align-items: center;
		display: none;
		justify-content: center;
		margin-bottom: 90px;
		margin-top: 60px;
	}

@media (min-width: 960px) {

.flats-content__toggles {
			display: flex
	}
		}

@media (min-width: 960px) {

.flats-content__toggle:not(:last-child) {
				margin-right: 30px
		}
			}

@media (min-width: 1440px) {

.flats-content__toggle:not(:last-child) {
				margin-right: 90px
		}
			}

.flats-content__holder {
		position: relative;
	}

.flat-slider__container {
		padding-bottom: 120px;
		padding-top: 100px;
	}

@media (min-width: 960px) {

.flat-slider__container {
			padding-bottom: 90px;
			padding-top: 0
	}
		}

.flat-slider__slide {
		text-align: center;
		/* stylelint-disable declaration-no-important */
		width: 100% !important;
	}

/* stylelint-enable */

.flat-slider__slide > img {
			max-height: 200px;
		}

@media (min-width: 678px) {

.flat-slider__slide > img {
				max-height: 380px;
				max-width: calc(100% - 86px)
		}
			}

.flat-slider__footer {
		margin-bottom: 50px;
		text-align: center;
	}

@media (max-width: 959px) {

.flat-slider__footer {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-bottom: 30px
	}
		}

@media (max-width: 677px) {

.flat-slider__footer > button {
				max-width: 100%
		}
			}

.flat-slider .swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: 60px;
	}

@media (min-width: 960px) {

.flat-slider .swiper-container-horizontal > .swiper-pagination-bullets {
			bottom: 45px
	}
		}

.flat-slider .swiper-button-next,
	.flat-slider .swiper-button-prev {
		display: none;
	}

@media (min-width: 960px) {

.flat-slider .swiper-button-next,
	.flat-slider .swiper-button-prev {
			display: block
	}
		}

.flat-3d-btn {
	margin-top: 20px;
}

@media (min-width: 960px) {

.flat-3d-btn {
		margin-top: 0;
		position: absolute;
		right: 35px;
		top: -11px
}
	}

.img-empty-one,
.img-empty-two,
.img-furniture-two {
	display: none;
}

.mobile-dropdown {
	align-items: center;
	background-color: #0f141c;
	background-color: var(--dark);
	cursor: pointer;
	display: flex;
	height: 144px;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100% + 30px);
}

@media (min-width: 678px) {

.mobile-dropdown {
		display: none
}
	}

.mobile-dropdown__type {
		color: #ffffff;
		color: var(--white);
		font-size: 12px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

.mobile-dropdown__area {
		color: #b4987a;
		color: var(--ocher);
		font-size: 18px;
	}

.mobile-dropdown__text {
		color: #b4987a;
		color: var(--ocher);
		font-size: 22px;
	}

.mobile-dropdown__icon {
		height: 14px;
		width: 27px;
	}

@media (max-width: 677px) {

.d-tabs-nav {
		height: 0;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard)
}
	}

.d-tabs-nav__list {
		display: flex;
		flex-wrap: wrap;
	}

/* stylelint-disable declaration-no-important */

@media (max-width: 677px) {

.d-tabs-nav__list {
			transform: none !important
	}
		}

/* stylelint-enable */

@media (min-width: 678px) {

.d-tabs-nav__list {
			flex-wrap: nowrap
	}
		}

.offer {
	background-color: #b4987a;
	background-color: var(--ocher);
	position: relative;
	z-index: 1;
}

@media (min-width: 1200px) {

.offer {
		background-color: #1c160f;
		background-color: var(--brown);
		height: 100vh
}
	}

.offer .wrapper {
		height: 100%;
	}

.offer__info {
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		text-align: center;
		width: 100%;
	}

@media (min-width: 1200px) {

.offer__info {
			text-align: left;
			width: 50%
	}
		}

.offer__title {
		color: #ffffff;
		color: var(--white);
		margin-bottom: 50px;
	}

@media (min-width: 1200px) {

.offer__title {
			color: #b4987a;
			color: var(--ocher)
	}
		}

.offer__box {
	}

.offer__label {
		color: #ffffff;
		color: var(--white);
		font-size: 22px;
	}

@media (min-width: 1200px) {

.offer__label {
			font-size: 24px
	}
		}

.offer-slider {
	height: 100vh;
	position: relative;
}

@media (min-width: 1200px) {

.offer-slider {
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 50%
}
	}

.offer-slider::before {
		background-color: rgba(15, 20, 28, 0.5);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}

.offer-slider__title {
		bottom: 70px;
		color: #ffffff;
		color: var(--white);
		left: 50px;
		position: absolute;
		z-index: 2;
	}

.offer-slider__container {
		height: 100%;
		width: 100%;
	}

.offer-slider img {
		height: 100%;
		font-family: "object-fit:cover";
		object-fit: cover;
		text-align: center;
		width: 100%;
	}

.countdown {
	margin-bottom: 80px;
	margin-top: 60px;
}

.countdown__label {
		color: #ffffff;
		color: var(--white);
		font-size: 18px;
	}

@media (min-width: 1200px) {

.countdown__label {
			font-size: 24px
	}
		}

.countdown__inner {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}

@media (min-width: 1200px) {

.countdown__inner {
			justify-content: initial
	}
		}

.countdown__int {
		color: #ffffff;
		color: var(--white);
		font-size: 47px;
		text-align: center;
	}

@media (min-width: 1200px) {

.countdown__int {
			color: #b4987a;
			color: var(--ocher);
			font-size: 94px
	}
		}

.countdown__int .changed {
			animation-duration: 2500ms;
			animation-duration: var(--animate-duration-timeout);
			animation-iteration-count: 1;
			animation-name: pulse;
		}

.countdown__int::after {
			color: #ffffff;
			color: var(--white);
			content: attr(data-int);
			display: block;
			font-size: 16px;
			margin-top: 10px;
		}

@media (min-width: 1200px) {

.countdown__int::after {
				margin-top: 15px
		}
			}

.countdown__divider {
		height: 32px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		max-width: 5px;
		min-width: 5px;
	}

@media (min-width: 1200px) {

.countdown__divider {
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 40px;
			max-width: 10px;
			min-width: 10px
	}
		}

.countdown__circle {
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: pulse;
		background-color: #b4987a;
		background-color: var(--ocher);
		border-radius: 100%;
		height: 10px;
		opacity: 0.352;
		width: 10px;
	}

.countdown__circle--one {
			margin-bottom: 15px;
		}

.countdown__circle--two {
			animation-delay: 1.5s;
		}

#circle-one {
}

@media (max-width: 1199px) {

.open-offer-btn {
		border-bottom-color: #ffffff;
		border-bottom-color: var(--white);
		border-left-color: #ffffff;
		border-left-color: var(--white);
		border-right-color: #ffffff;
		border-right-color: var(--white);
		border-top-color: #ffffff;
		border-top-color: var(--white);
		color: #ffffff;
		color: var(--white)
}

		.open-offer-btn:hover {
			box-shadow: none;
			color: #ffffff;
			color: var(--white);
		}
	}

.grid-gallery {
	height: 100vh;
	position: relative;
}

@media (min-width: 960px) {

.grid-gallery {
		height: auto
}
	}

@media (min-width: 960px) {

.grid-gallery__wrapper {
			display: grid;
			grid-gap: 0;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 50vh)
	}
		}

.grid-gallery__slide {
		height: 100vh;
	}

/*width: 100% !important;*/

@media (min-width: 960px) {

.grid-gallery__slide {
			height: auto;
			width: auto !important
	}
		}

/* stylelint-enable */

@media (min-width: 960px) {

.grid-gallery__slide--1 {
				grid-column-end: 3;
				grid-column-start: 1;
				grid-row-end: 3;
				grid-row-start: 1
		}
			}

/* stylelint-disable declaration-no-important */

@media (min-width: 960px) {

.grid-gallery__slide--2 {
				grid-column-end: 2;
				grid-column-start: 1;
				grid-row-end: 5;
				grid-row-start: 3
		}
			}

@media (min-width: 960px) {

.grid-gallery__slide--3 {
				grid-column-end: 3;
				grid-column-start: 2;
				grid-row-end: 3;
				grid-row-start: 3
		}
			}

@media (min-width: 960px) {

.grid-gallery__slide--4 {
				grid-column-end: 3;
				grid-column-start: 2;
				grid-row-end: 4;
				grid-row-start: 4
		}
			}

.grid-gallery__item {
		height: 100%;
	}

.grid-gallery__item > img {
			height: 100%;
			font-family: "object-fit:cover";
			object-fit: cover;
			width: 100%;
		}

.docs {
	background-color: #0f141c;
	background-color: var(--dark);
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

@media (min-width: 678px) {

.docs {
		padding-bottom: 115px;
		padding-top: 150px
}
	}

.docs__title {
		color: #b4987a;
		color: var(--ocher);
		text-align: center;
	}

@media (min-width: 678px) {

.docs__title {
			margin-bottom: 40px
	}
		}

.docs__footer {
		margin-top: 30px;
		text-align: center;
	}

@media (min-width: 960px) {

.docs__footer {
			margin-top: 60px
	}
		}

@media (min-width: 678px) {

.docs__tabs {
			text-align: center
	}
		}

@media (max-width: 677px) {
		.docs-tabs.d-tabs-nav--active {
			height: 200px;
		}
	}

@media (min-width: 678px) {

.docs-tabs {
		display: inline-block;
		margin-bottom: 80px
}
	}

.docs-tabs__item {
		width: auto;
	}

@media (max-width: 677px) {

.docs-tabs__item {
			height: auto;
			padding-bottom: 20px
	}
		}

@media (min-width: 678px) {

.docs-tabs__item:not(:last-child) {
				margin-right: 80px
		}
			}

.docs-tabs__link {
		color: #707070;
		color: var(--dark-grey);
		font-family: 'BebasNeue', sans-serif;
		font-size: 30px;
	}

.docs-tabs__link:hover {
			color: #ffffff;
			color: var(--white);
		}

.active .docs-tabs__link {
			color: #b4987a;
			color: var(--ocher);
		}

.docs-table {
	border-collapse: collapse;
	width: 100%;
}

@media (max-width: 959px) {

.docs-table {
		display: block
}

		.docs-table tbody {
			display: block;
			width: 100%;
		}
	}

@media (max-width: 959px) {

.docs-table__row {
			border-top-color: #707070;
			border-top-color: var(--dark-grey);
			border-top-style: solid;
			border-top-width: 1px;
			display: block;
			padding-bottom: 15px;
			padding-top: 15px;
			width: 100%
	}

			.docs-table__row:last-child {
				border-bottom-color: #707070;
				border-bottom-color: var(--dark-grey);
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}

@media (min-width: 960px) {

.docs-table__row:nth-child(odd) {
				background-color: #1c232f;
				background-color: var(--light-black)
		}
			}

.docs-table__cell {
		color: #ffffff;
		color: var(--white);
		font-size: 14px;
		padding-bottom: 15px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 15px;
		vertical-align: top;
	}

@media (max-width: 959px) {

.docs-table__cell {
			display: block;
			width: 100%
	}
		}

@media (min-width: 960px) {

.docs-table__cell {
			padding-bottom: 30px;
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 30px
	}
		}

@media (min-width: 1200px) {

.docs-table__cell--nowrap {
				white-space: nowrap
		}
			}

.docs-table__cell > span {
			color: #707070;
			color: var(--dark-grey);
		}

@media (min-width: 960px) {

.docs-table__cell:first-child {
				padding-left: 70px
		}
			}

@media (min-width: 960px) {

.docs-table__cell:last-child {
				padding-right: 60px
		}
			}

.docs-table__link {
		color: #ffffff;
		color: var(--white);
	}

.docs-table__link:hover {
			color: #b4987a;
			color: var(--ocher);
		}

.spinner {
	display: none;
	position: relative;
}

.spinner--active {
		display: inline-block;
	}

.spinner span {
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
		background-color: #ffffff;
		background-color: var(--white);
		border-radius: 50%;
		display: inline-block;
		height: 11px;
		margin-left: 9px;
		margin-right: 9px;
		width: 11px;
	}

.spinner span:nth-child(1) {
		animation-delay: 0;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner1;
	}

.spinner span:nth-child(2) {
		animation-delay: 0.2s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}

.spinner span:nth-child(3) {
		animation-delay: 0.4s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}

.spinner span:nth-child(4) {
		animation-delay: 0.6s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}

.spinner span:nth-child(5) {
		animation-delay: 0.8s;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-name: spinner2;
	}

.steps {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100%;
}

.steps__tabs {
		width: 100%;
	}

.steps__content {
		/* stylelint-disable declaration-no-important */
		height: 100% !important;
		/* stylelint-enable */
		width: 100%;
	}

.step-thumbs {
	bottom: 40px;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.step-thumbs--mobile {
		bottom: 80px;
	}

.steps-tabs__list {
		align-items: flex-end;
	}

.steps-tabs__item {
		width: auto;
	}

.steps-tabs__item:not(:last-child) {
			margin-left: 40px;
		}

.steps-tabs__link {
		color: #f2f2f2;
		color: var(--grey);
		font-size: 20px;
		opacity: 0.7;
		width: auto;
	}

.active .steps-tabs__link {
			font-size: 22px;
			opacity: 1;
		}

@media (min-width: 960px) {

.active .steps-tabs__link {
				font-size: 30px
		}
			}

.steps-content {
	height: 100%;
}

.news {
	background-color: #0f141c;
	background-color: var(--dark);
	height: 100vh;
	position: relative;
	z-index: 1;
}

.news .wrapper {
		height: 100%;
	}

.news__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

.news__title {
		color: #b4987a;
		color: var(--ocher);
		margin-bottom: 40px;
		text-align: center;
	}

@media (min-width: 960px) {

.news__title {
			margin-bottom: 90px
	}
		}

.news-slider {
	position: relative;
}

.news-slider__item {
		color: #c1c1c1;
		color: var(--light-grey);
		cursor: pointer;
		font-size: 14px;
		height: 385px;
		padding-top: 20px;
		/* stylelint-disable declaration-no-important */
		width: 270px !important;
	}

@media (min-width: 960px) {

.news-slider__item {
			background-color: #1c232f;
			background-color: var(--light-black);
			padding-bottom: 65px;
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 90px;
			width: 650px !important
			/* stylelint-enable */
	}
		}

.news-slider__date {
		color: #b4987a;
		color: var(--ocher);
		font-size: 19px;
		margin-bottom: 35px;
	}

.news-slider__title {
		color: #ffffff;
		color: var(--white);
		margin-bottom: 20px;
		width: 50%;
	}

.news-slider .swiper-button-next,
	.news-slider .swiper-button-prev {
		display: none;
		top: 30px;
	}

@media (min-width: 960px) {

.news-slider .swiper-button-next,
	.news-slider .swiper-button-prev {
			display: block
	}
		}

.news-slider .swiper-button-prev {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' transform='translate(26.227 51.484) rotate(180)' fill='%23b4987a'/%3E%3C/svg%3E%0A");
		left: auto;
		right: 100px;
	}

.news-slider .swiper-button-next {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.227' height='51.484' viewBox='0 0 26.227 51.484'%3E%3Cpath id='Слой_1-2' data-name='Слой 1-2' d='M0,50.994l.482.489L25.738,26.227l.489-.489-.489-.482L.482,0,0,.482,25.256,25.738Z' fill='%23b4987a'/%3E%3C/svg%3E%0A");
	}

.footer {
	background-color: #1c160f;
	background-color: var(--brown);
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

@media (min-width: 960px) {

.footer {
		padding-top: 100px
}
	}

.footer__box {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='413.913' height='519.605' viewBox='0 0 413.913 519.605'%3E%3Cpath id='Union_6' data-name='Union 6' d='M115.981,519.6S23.613,414.731,23.613,297.551V35.933S17.268,16.532.044,16.815c-.1-.17,0-7.56,0-7.56h92.82v7.56s-22.1,1.71-22.1,19.118V138.969s41.217-62.356,98.444-95.124S264.573,0,264.573,0l76.006,71.526s-14.766-.4-37.642,3.01v398.1c0,19.16,23,19.966,23,19.966v6.881H231.862s-.254-6.429,0-6.881c18.892.113,22.5-19.966,22.5-19.966V85.671C203.5,101.6,140.977,135.338,98.347,206.822,15.163,346.328,133.87,519.6,133.87,519.6ZM310.425,446.99V428.338a225.916,225.916,0,0,0,51.688-12.449V355c0-9.015-47.1-11.8-47.562-11.827V330.431c.24.014,36.173,2.967,57.354,2.967h.155a345.367,345.367,0,0,0,41.853-2.967V341.2c-.113.071-10.456,6.994-12.251,9.764-2.939,4.507-4.437,16.165-4.451,34.661-.028,24.134,3.123,40.511,3.151,40.68l-.085.042c-4.126,1.681-41.585,16.518-89.839,20.644ZM246.712,445.1A204.033,204.033,0,0,1,193,429.087c-22.453-10.357-40.864-28.175-53.27-51.518-11.53-21.69-17.578-47.265-17.493-73.957.085-27.13,6.457-53.2,18.44-75.4,12.858-23.823,31.708-41.881,54.5-52.225a211.364,211.364,0,0,1,51.561-15.628V177.12a96.764,96.764,0,0,0-36.314,17.38c-27.525,21.52-44.072,53.934-46.573,91.238a149.265,149.265,0,0,0,8.422,59.9A145.6,145.6,0,0,0,205.2,398.623a98.41,98.41,0,0,0,41.542,25.18V445.1ZM392.605,235.492H379.8v-31.03c0-5.709-31.411-22.184-69.379-28.571V157.352c50.783,3.321,89.542,18.482,89.938,18.638l-7.743,59.488v.014Z' transform='translate(0)' fill='%23fff' opacity='0.057'/%3E%3C/svg%3E%0A");
		background-position: 100% 600px;
		background-repeat: no-repeat;
	}

@media (min-width: 960px) {

.footer__box {
			background-position: 100% 150px
	}
		}

.footer__inner {
		display: flex;
		justify-content: space-between;
	}

@media (max-width: 959px) {

.footer__inner {
			align-items: center;
			flex-direction: column;
			text-align: center
	}
		}

.contacts__title {
		color: #b4987a;
		color: var(--ocher);
		margin-bottom: 40px;
	}

@media (min-width: 960px) {

.contacts__title {
			margin-bottom: 30px
	}
		}

.contacts__inner {
		padding-left: 20px;
	}

.contacts__item:not(:last-child) {
			margin-bottom: 30px;
		}

.contacts__label {
		color: #707070;
		color: var(--dark-grey);
		font-size: 14px;
		margin-bottom: 15px;
	}

.contacts__phone {
		color: #ffffff;
		color: var(--white);
		display: inline-block;
		font-size: 30px;
		margin-bottom: 30px;
		text-decoration: none;
	}

@media (min-width: 960px) {

.contacts__phone {
			margin-bottom: 20px
	}
		}

.contacts__phone:hover {
			color: #b4987a;
			color: var(--ocher);
		}

.contacts__text {
		color: #ffffff;
		color: var(--white);
		font-size: 18px;
	}

@media (max-width: 959px) {

.social {
		margin-bottom: 50px
}
	}

.social__item {
		display: inline-block;
		height: 35px;
		margin-right: 15px;
		width: 35px;
	}

.social__item > svg {
			fill: #ffffff;
			fill: var(--white);
			transition-duration: 700ms;
			transition-duration: var(--animate-duration-effect);
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-timing-function: var(--animate-easing-standard);
		}

.social__item:hover > svg {
			fill: #b4987a;
			fill: var(--ocher);
		}

.copyright {
	color: #707070;
	color: var(--dark-grey);
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	padding-bottom: 55px;
	padding-top: 110px;
}

@media (max-width: 959px) {

.copyright {
		flex-direction: column;
		justify-content: center;
		padding-bottom: 15px;
		padding-top: 40px;
		text-align: center
}

		.copyright p:not(.copyright__text) {
			margin-bottom: 15px;
		}
	}

.copyright__text {
		margin-bottom: 60px;
	}

@media (min-width: 960px) {

.copyright__text {
			margin-bottom: 0;
			width: 35%
	}
		}

.copyright__link {
		color: #707070;
		color: var(--dark-grey);
		font-weight: 700;
		text-decoration: none;
		transition-duration: 700ms;
		transition-duration: var(--animate-duration-effect);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
	}

.copyright__link:hover {
			color: #b4987a;
			color: var(--ocher);
		}

.news-popup {
	background-color: #1c232f;
	background-color: var(--light-black);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: scale(0);
	transition-duration: 700ms;
	transition-duration: var(--animate-duration-effect);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: var(--animate-easing-standard);
	z-index: 100;
}

.news-popup .simplebar-content-wrapper {
		align-items: center;
		display: flex;
	}

.news-popup .simplebar-placeholder {
		display: none;
	}

.news-popup--active {
		transform: scale(1);
	}

.news-popup .wrapper {
		height: 100%;
	}

.news-popup__inner {
		color: #ffffff;
		color: var(--white);
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
		padding-bottom: 40px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 40px;
	}

@media (min-width: 960px) {

.news-popup__inner {
			align-items: center;
			display: flex
	}
		}

.news-popup__inner p {
			margin-bottom: 15px;
		}

.news-popup__date {
		color: #b4987a;
		color: var(--ocher);
		font-size: 19px;
		margin-bottom: 35px;
	}

.news-popup__title {
		margin-bottom: 20px;
		width: 50%;
	}

.news-popup__close {
		align-items: center;
		border-bottom-color: #ffffff;
		border-bottom-color: var(--white);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: #ffffff;
		border-left-color: var(--white);
		border-left-style: solid;
		border-left-width: 1px;
		border-radius: 100%;
		border-right-color: #ffffff;
		border-right-color: var(--white);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: #ffffff;
		border-top-color: var(--white);
		border-top-style: solid;
		border-top-width: 1px;
		cursor: pointer;
		display: flex;
		height: 30px;
		justify-content: center;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 30px;
		z-index: 1;
	}

@media (min-width: 960px) {

.news-popup__close {
			height: 72px;
			right: 35px;
			top: 55px;
			width: 72px
	}
		}

.news-popup__close > svg {
			fill: #ffffff;
			fill: var(--white);
			height: 22px;
			width: 22px;
		}

.popup {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

.popup .simplebar-placeholder {
		display: none;
	}

.popup--active {
		display: block;
	}

.popup__inner {
		height: 747px;
		left: 50%;
		max-height: calc(100% - 20px);
		max-width: 478px;
		overflow: hidden;
		overflow-y: auto;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 20px);
	}

@media (min-width: 960px) {

.popup__inner {
			padding-bottom: 70px;
			padding-left: 80px;
			padding-right: 80px;
			padding-top: 130px
	}
		}

.popup__inner--black {
			background-color: #000000;
			background-color: var(--black);
			color: #ffffff;
			color: var(--white);
		}

.popup__inner--white {
			background-color: #ffffff;
			background-color: var(--white);
			color: #0f141c;
			color: var(--dark);
		}

.popup__inner--white .phone__link {
				color: #0f141c;
				color: var(--dark);
			}

.popup__close {
		border-radius: 100%;
		cursor: pointer;
		height: 22px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 22px;
	}

@media (min-width: 960px) {

.popup__close {
			right: 30px;
			top: 60px
	}
		}

.popup__inner--white .popup__close > svg {
			fill: #0f141c;
			fill: var(--dark);
		}

.popup__inner--black .popup__close > svg {
			fill: #ffffff;
			fill: var(--white);
		}

.popup__body {
		text-align: center;
	}

.popup__subtitle {
		font-size: 14px;
		margin-bottom: 70px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		width: 70%;
	}

.popup .field,
	.popup .btn {
		width: 100%;
	}

.preloader {
	background-color: #0f141c;
	background-color: var(--dark);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: 250ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	visibility: visible;
	z-index: 100;
}

.preloader.hidden {
		bottom: 100%;
		visibility: hidden;
		z-index: -1;
	}

@keyframes fillUp {
	0% {
		transform: translate(0, 135px);
	}
	100% {
		transform: translate(0, -135px);
	}
}

.preloader__animation {
	background: #1c160f;
	height: 132px;
	left: 50%;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: scale(1) translate(-50%, -50%);
	width: 106px;
}

.preloader__icon {
	fill: #ffffff;
	height: 135px;
	left: -2px;
	position: absolute;
	top: -1px;
	width: 110px;
	z-index: 1;
}

.preloader__fill {
	animation: fillUp 1.5s ease-in-out infinite;
	background: #b4987a;
	height: 135px;
	width: 205px;
}
