$color-classes: 'white', 'blue', 'light-blue', 'pink', 'coral', 'grey', 'dark-grey', 'light-green';
$colors: $white, $blue, $light-blue, $pink, $coral, $grey, $dark-grey, $light-green;

[class*="-bottom-line"]:after {
  content: '';
  display: block;
  height: 5px;
  width: 100px;
  margin: 20px 0;
}

[class*="-small-bottom-line"]:after {
  content: '';
  display: block;
  height: 3px;
  width: 50px;
  margin: 10px 0;
}

@for $i from 1 through length($color-classes) {
  .#{nth($color-classes, $i)}-text {
    color: #{nth($colors, $i)};
  }
  .#{nth($color-classes, $i)}-back {
    background-color: #{nth($colors, $i)};
  }
  .btn.#{nth($color-classes, $i)}-back {
    color: $white;
  }
  .#{nth($color-classes, $i)}-bordered,
  .#{nth($color-classes, $i)}-double-bordered:before {
    border-color: #{nth($colors, $i)};
  }
  .#{nth($color-classes, $i)}-bottom-line:after,
  .#{nth($color-classes, $i)}-small-bottom-line:after {
    background-color: #{nth($colors, $i)};
  }
}