.btn {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-family: CoreRhino, sans-serif;
  padding: 0;
  &:not(.square-btn):not(.circle-btn) {
    @include border-radius(25);
  }
}

.large {
  padding: 10px 30px;
  font-size: 22px;
}

.medium {
  padding: 3px 10px;
  min-width: 110px;
}

.fixed-width {
  padding: 3px;
  width: 200px;
}

.square-btn {
  padding: 3px 10px;
  @include border-radius(5);
}

.circle-btn {
  @include border-radius(50, "%");
  @include size(55, 55);
}

.link-btn {
  text-decoration: underline;
}

.with-icon-btn {
  > img {
    padding-left: 5px;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

[class*="-double-bordered"] {
  margin: 3px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 1px solid transparent;
    @include border-radius(25);
  }
}

.tile-btn {
  padding-bottom: 50px;
  background-size: contain;
  max-width: 270px;
  margin-bottom: 25px;
  @include size(320, 100, "px", "%");
  img {
    width: 170px;
    max-width: 100%;
  }
  &:hover:after {
    content: '';
    border-top: 20px solid $pink;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -21px;
    @extend %position-horizontally-center;
  }
}

.tile-btn-label-box {
  height: 92px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  &:before {
    content: '';
    display: block;
    background-color: #f1a9a0;
    border-top: 2px solid #fff;
    position: absolute;
    bottom: -25px;
    transform: rotate(12deg);
    height: 85px;
    left: -50px;
    right: -50px;
  }
}

.tile-btn-label {
  color: $white;
  font-size: 18px;
  position: absolute;
  bottom: 15px;
  @extend %position-horizontally-center;
}

.planning-btn {
  @include background-image("../img/planning.png", no-repeat)
}

.pregnant-btn {
  @include background-image("../img/pregnant.png", no-repeat)
}

.baby-btn {
  @include background-image("../img/baby.png", no-repeat)
}

.child-btn {
  @include background-image("../img/child.png", no-repeat)
}

.field {
  height: 20px;
  line-height: 20px;
  border: 1px solid transparent;
  @include border-radius(20);
}

.field-with-icon {
  position: relative;
  display: inline-block;
  input {
    padding-left: 25px;
  }
}

.field-icon {
  position: absolute;
  left: 6px;
  @extend %position-vertically-center;
}

