$white: #fff;
$blue: #89c4f4;
$light-blue: #b5d9f6;
$pink: #f1a9a0;
$coral: #e38c81;
$grey: #949494;
$dark-grey: #5f5e5e;
$light-green: #e3ffdf;

$size: 14px;
$line-height: $size * 1.1;

$desktop: 1200px;
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$mobile-phone: 480px;
