@font-face {
  src: url("../fonts/CoreRhino.otf");
  font-family: CoreRhino;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $dark-grey;
  font-family: CoreRhino, sans-serif;
  overflow-x: hidden;
}

section {
  padding: 25px 0;
  position: relative;
}

img {
  max-width: 100%;
}

.circle {
  @include border-radius(50, "%");
}

.wrapper {
  position: relative;
  max-width: calc(100% - 20px);
  width: 1200px;
  margin: 0 auto;
  height: inherit;
  @extend %flex-wrap;
  > *:not(:last-child) {
    @include media(less-than, $ipad-portrait) {
      margin-bottom: 15px;
    }
  }
}

.wrap-between {
  @extend %flex-space-between;
  &-middle {
    @extend %flex-space-between;
    @extend %flex-align-items-center;
  }
  &-middle__center-mobile {
    @extend %flex-align-items-center;
  }
  &-middle__center-mobile,
  &__center-mobile {
    @extend %flex-space-between;
    @include media(less-than, $ipad-portrait) {
      display: flex;
      justify-content: center;
    }
  }
}

.wrap-around {
  @extend %flex-space-around;
  &-middle {
    @extend %flex-space-around;
    @extend %flex-align-items-center;
  }
}

.wrap-end {
  @extend %flex-end;
  &-middle {
    @extend %flex-end;
    @extend %flex-align-items-center;
  }
}

.wrap-start {
  @extend %flex-start;
  &-middle {
    @extend %flex-start;
    @extend %flex-align-items-center;
  }
}

.fourth-part {
  width: calc(25% - 15px);
  @include media(less-than, $ipad-landscape) {
    width: calc(50% - 15px);
  }
  @include media(less-than, $mobile-phone) {
    width: 100%;
  }
}

.third-part {
  width: calc(32% - 15px);
  @include media(less-than, $ipad-portrait) {
    width: calc(48% - 15px);
  }
  @include media(less-than, $mobile-phone) {
    width: 100%;
  }
}

.half-part {
  width: calc(50% - 15px);
  @include media(less-than, $mobile-phone) {
    width: 100%;
  }
}

.full-part {
  width: 100%;
}