@import "variables";
@import "settings";
@import "wrapper";
@import "text";
@import "fields";
@import "color";


.mobile-menu-box {
  background-color: $blue;
  height: 50px;
  position: relative;
  border-bottom: 1px solid $white;
  @include media(greater-than, $ipad-portrait) {
    display: none;
  }
  @include media(less-than, $ipad-portrait) {
    display: block;
  }
}

.mobile-menu-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 13px;
  width: 25px;
}

#menu {
  display: none;
  @include media(less-than, $ipad-portrait) {
    &:checked ~ .header-controls {
      right: 0;
    }
    &:not(:checked) ~ .header-controls {
      right: -100%;
    }
  }
}

.header-controls {
  @include media(less-than, $ipad-portrait) {
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: all .5s ease;
  }
}

.top-header {
  height: 50px;
  background-color: $blue;
  @include media(less-than, $ipad-portrait) {
    height: auto;
    padding-top: 10px;
  }
}

.top-header-logo-box {
  padding-left: 260px;
  display: none;
  @include media(less-than, $desktop) {
    padding-left: 220px;
  }
  @include media(less-than, $ipad-landscape) {
    padding-left: 95px;
  }
  &.desktop {
    @include media(greater-than, $ipad-portrait) {
      display: block;
    }
  }
  &.mobile {
    @include media(less-than, $ipad-portrait) {
      display: block;
    }
  }
}

.top-header-logo {
  display: block;
  background: linear-gradient(to bottom, $white 50%, $light-blue 100%);
  z-index: 2;
  position: absolute;
  top: -100px;
  left: 0;
  @include size(250, 250);
  @include border-radius(50, "%");
  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid $blue;
    @include size(242, 242);
    @include border-radius(50, "%");
    @include media(less-than, $desktop) {
      @include size(202, 202);
    }
    @include media(less-than, $ipad-landscape) {
      display: none;
    }
  }
  @include media(less-than, $desktop) {
    @include size(210, 210);
  }
  @include media(less-than, $ipad-landscape) {
    @include size(50, 90);
    background: transparent;
    top: 0;
  }
}

.top-header-logo-white-img {
  @include media(greater-than, $ipad-landscape) {
    display: none;
  }
  @include media(less-than, $ipad-landscape) {
    display: block;
    height: 50px;
  }
}

.top-header-logo-img {
  position: absolute;
  bottom: 25px;
  max-width: calc(100% - 50px);
  @extend %position-horizontally-center;
  @include media(less-than, $ipad-landscape) {
    display: none;
  }
}

.header-navigation {
  height: 90px;
  background-color: rgba(255, 255, 255, .7);
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 1;
  @include media(less-than, $desktop) {
    height: 50px;
  }
  @include media(less-than, $ipad-portrait) {
    height: auto;
    background-color: $blue;
    top: 0;
    position: relative;
  }
}

.navigation {
  @include media(less-than, $ipad-portrait) {
    width: 100%;
    padding-bottom: 10px;
  }
}

.navigation-link {
  color: $blue;
  font-size: $size + 2px;
  text-decoration: none;
  @include media(less-than, $desktop) {
    font-size: $size;
  }
  @include media(less-than, $ipad-landscape) {
    font-size: $size - 1;
  }
  @include media(less-than, $ipad-portrait) {
    color: $white;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid $light-blue;
  }
  &:not(:first-child) {
    margin-left: 10px;
    @include media(less-than, $ipad-landscape) {
      margin-left: 5px;
    }
    @include media(less-than, $ipad-portrait) {
      margin-left: 0;
    }
  }
  &:not(:first-child):before {
    display: inline-block;
    content: "";
    background-color: $pink;
    margin-right: 10px;
    @include size(10, 10);
    @include border-radius(50, "%");
    @include media(less-than, $ipad-landscape) {
      margin-right: 5px;
    }
    @include media(less-than, $ipad-portrait) {
      display: none;
    }
  }
}

.social-links {
  @include media(less-than, $ipad-portrait) {
    padding-top: 8px;
  }
  a {
    display: inline-block;
    @include size(30, 31);
  }
}

.fb {
  @include background-image("../img/sprite-social.png", 0, 0, no-repeat);
}

.inst {
  @include background-image("../img/sprite-social.png", -38px, 0, no-repeat);
}

.pint {
  @include background-image("../img/sprite-social.png", -77px, 0, no-repeat);
}

.twitter {
  @include background-image("../img/sprite-social.png", -116px, 0, no-repeat);
}

.vk {
  @include background-image("../img/sprite-social.png", -154px, 0, no-repeat);
}

.banner-section {
  background-size: contain;
  height: 310px;
  padding-top: 90px;
  padding-bottom: 0;
  @include background-image("../img/banner.png");
  @include media(less-than, $desktop) {
    padding-top: 50px;
  }
  @include media(less-than, $ipad-portrait) {
    padding-top: 0;
  }
  .half-part {
    @include media(less-than, $ipad-landscape) {
      width: 100%;
    }
  }
}

.line-section > div > *:not(.weeks) {
  @include media(less-than, $ipad-portrait) {
    width: 100%;
    text-align: center;
  }
}

.calendar-title {
  @include media(less-than, $ipad-landscape) {
    width: 100%;
    @extend .align-center;
  }
}

.weeks {
  width: 415px;
  display: flex;
  @include media(less-than, $desktop) {
    width: 306px;
  }
}

.week-box {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  @include media(less-than, $desktop) {
    margin-right: 2px;
  }
}

.week-box-reverse {
  display: flex;
  flex-direction: column-reverse;
  &:not(:last-child) {
    margin-right: 5px;
    @include media(less-than, $desktop) {
      margin-right: 2px;
    }
  }
}

.week {
  @include size(25, 25);
  @include media(less-than, $desktop) {
    font-size: 11px;
    @include size(20, 20);
  }
  .week-box &:not(:last-child) {
    margin-bottom: 5px;
    @include media(less-than, $desktop) {
      margin-bottom: 2px;
    }
  }
  .week-box-reverse &:not(:last-child) {
    margin-top: 5px;
    @include media(less-than, $desktop) {
      margin-top: 2px;
    }
  }
}

.image-box {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  &:not(.small) {
    @include size(100, 100);
  }
  &.small {
    @include size(70, 90);
  }
}

.links-box {
  @include media(less-than, $ipad-portrait) {
    width: 100%;
  }
}

.list-of-colored-links {
  > a {
    display: block;
    @include media(less-than, $ipad-portrait) {
      display: inline-block;
      margin-right: 10px;
    }
  }
  > a:not(:last-child) {
    margin-bottom: 25px;
  }
  a:nth-child(4n + 1),
  a:nth-child(4n + 2) {
    color: $pink;
  }
  a:nth-child(4n + 3),
  a:nth-child(4n + 4) {
    color: $blue;
  }
}

.preview-box {
  margin-bottom: 10px;
  @include media(less-than, $ipad-landscape) {
    display: block;
    text-align: center;
  }
}

.info-section {
  background-size: contain;
  height: 355px;
  padding: 0;
  @include background-image("../img/info-back.png");
  @include media(less-than, $ipad-portrait) {
    background: none;
    background-color: $blue;
    height: auto;
    padding: 15px 0;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #ff4545 25%, #f7b044 50%, #def23d 75%, #79ff1f 100%);
    position: absolute;
  }
  &:before {
    top: -5px;
  }
  &:after {
    bottom: -5px;
  }
}

.info-box-image {
  margin: 15px 0;
}

.tile {
  color: $white;
  padding: 10px;
  margin-bottom: 10px;
  @include border-radius(10);
}

footer {
  background-color: $pink;
  color: $white;
  padding: 30px 0;
}

.footer-logo-box {
  @include media(less-than, $ipad-landscape) {
    display: none;
  }
}

.footer-social-links {
  margin: 10px 0;
}

.footer-navigation {
  margin-bottom: 10px;
}

.footer-nav-links-two-column {
  column-count: 2;
}

.footer-nav-links {
  border-top: 2px solid $light-green;
  border-bottom: 2px solid $light-green;
  height: calc(100% - 45px);
  a {
    display: block;
    color: $white;
    margin-bottom: 10px;
  }
  a:first-child {
    margin-top: 10px;
  }
}