{% extends "./layout.html" %}

{% block title %}ГрандИмпериалъ{% endblock %}

{% block content %}
<div class="content">
	<div class="virtual-movie">
		<video controls class="virtual-movie__video">
			<source src="./images/video/grand-video.mp4" type="video/mp4">
			Ваш браузер не поддерживает видео.
		</video>
	</div>
</div>
{% endblock %}
