<div class="large-gallery large-gallery--desktop large-gallery-six">
	<div class="large-gallery__item large-gallery__item--desktop">
		<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/room1.jpg" alt=""/>
	</div>
	<div class="large-gallery__item large-gallery__item--desktop large-gallery-six__item--two">
		<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/room1.jpg" alt=""/>
	</div>
	<div class="large-gallery__item large-gallery__item--desktop large-gallery-six__item--three">
		<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/room1.jpg" alt=""/>
	</div>
	<div class="large-gallery__item large-gallery__item--desktop large-gallery-six__item--four">
		<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/room1.jpg" alt=""/>
	</div>
</div>
<div class="large-gallery large-gallery--mobile b-slider">
	<div class="swiper-container b-slider__container">
		<div class="swiper-wrapper">
			<div class="large-gallery__slide swiper-slide">
				<div class="large-gallery__item">
					<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/room1.jpg" alt=""/>
				</div>
			</div>
			<div class="large-gallery__slide swiper-slide">
				<div class="large-gallery__item">
					<img class="lazy" data-src="./images/home2.jpg" data-srcset="./images/room1.jpg" alt=""/>
				</div>
			</div>
			<div class="large-gallery__slide swiper-slide">
				<div class="large-gallery__item">
					<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/room1.jpg" alt=""/>
				</div>
			</div>
			<div class="large-gallery__slide swiper-slide">
				<div class="large-gallery__item">
					<img class="lazy" data-src="./images/home1.jpg" data-srcset="./images/room1.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
