@charset "utf-8";

.tabs-nav {
	position: relative;
	z-index: 1;
}
.tabs-nav__item {
	display: inline-block;
	vertical-align: top;
}

.tabs-nav__link {
	text-decoration: none;
	transition-duration: 0.7s;
	transition-timing-function: linear;
}

.tabs-nav__drag {
	position: absolute;
}

.tabs-nav__drag.active {
	transition-timing-function: linear;
}

.tabs-content {
	color: #333333;
	overflow: hidden;
	position: relative;
}

.tabs-content .tabs-content {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}
.tabs-content .tabs-nav {
	font-size: 14px;
}

.tab {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition-timing-function: linear;
	width: 100%;
}

.tab.active {
	opacity: 1;
	position: relative;
	z-index: 1;
}

.tab.slide {
	display: none;
	opacity: 1;
}

.tab.slide.active {
	display: block;
}
.tab.slide.moved {
	display: block;
}

/* animation for "slide" type from animated.css library */
@-webkit-keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
.slideInLeft {
	animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
.slideInRight {
	animation-name: slideInRight;
}
@-webkit-keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
	}
}
@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
	}
}
.slideOutLeft {
	animation-name: slideOutLeft;
}
@-webkit-keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
		visibility: hidden;
	}
}
@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
		visibility: hidden;
	}
}
.slideOutRight {
	animation-name: slideOutRight;
}
