{% extends "./layout.njk" %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
<div class="content">
	<div class="breadcrumbs">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a class="link" href="/">Главная</a></li>
			<li class="breadcrumbs__item">Страница не найдена</li>
		</ul>
	</div>
</div>
{% endblock %}
