{% extends "./layout.njk" %}

{% block title %}Политика в отношении обработки и защиты персональных данных{% endblock %}

{% block content %}
<div class="content">
	<div class="wysiwyg">
		<p>Настоящая Политика в&nbsp;отношении обработки и&nbsp;защиты персональных данных (далее&nbsp;— «Политика») принята и&nbsp;действует в&nbsp;ООО&nbsp;«Парус», расположенном по&nbsp;адресу: г. Самара, ул.&nbsp;Ульяновская, д.&nbsp;18, офис 401 (далее&nbsp;— «Компания»).</p>
		<p>Мы&nbsp;собираем, используем и&nbsp;охраняем персональные данные, которые Вы&nbsp;предоставляете нам при использовании нашего сайта (далее&nbsp;— «сайт») с&nbsp;любого устройства и&nbsp;при коммуникации с&nbsp;нами в&nbsp;любой форме, в&nbsp;соответствии с&nbsp;данной Политикой.</p>
		<p><em>Используя наши сайты и&nbsp;предоставляя нам свои персональные данные, Вы&nbsp;даете согласие на&nbsp;обработку Ваших персональных данных в&nbsp;соответствии с&nbsp;данной Политикой.</em></p>
		<h2>Основные понятия</h2>
		<p>«Персональные данные»&nbsp;— любая информация, относящаяся к&nbsp;прямо или косвенно определенному или определяемому физическому лицу.</p>
		<p>«Обработка персональных данных»&nbsp;— осуществление любых действий или совокупности действий в&nbsp;отношении Ваших персональных данных, включая сбор, запись, систематизацию, накопление, хранение, обновление и&nbsp;изменение, извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и&nbsp;уничтожение, как с&nbsp;использованием, так и&nbsp;без использования систем автоматизированной обработки персональных данных.</p>
		<h2>Данные, которые мы&nbsp;собираем</h2>
		<p>Мы&nbsp;собираем:</p>
		<ul>
			<li>персональные данные, которые Вы&nbsp;предоставляете нам при заполнении форм на&nbsp;нашем сайте;</li>
			<li>персональные данные и&nbsp;другую информацию, содержащуюся в&nbsp;сообщениях, которые Вы&nbsp;нам направляете;</li>
			<li>технические данные, которые автоматически передаются устройством, с&nbsp;помощью которого Вы&nbsp;используете наш сайт, в&nbsp;том числе технические характеристики устройства, IP-адрес, информация, сохраненная в&nbsp;файлах cookies, которые были отправлены на&nbsp;Ваше устройство, информация о&nbsp;браузере, дата и&nbsp;время доступа к&nbsp;сайту, адреса запрашиваемых страниц и&nbsp;иная подобная информация;</li>
			<li>иные данные о&nbsp;Вас, которые Вы&nbsp;пожелали оставить на&nbsp;нашем сайте.</li>
		</ul>
		<h2>Цели обработки данных</h2>
		<p>Мы&nbsp;обрабатываем Ваши персональные данные исключительно для тех целей, для которых они были предоставлены, в&nbsp;том числе:</p>
		<ul>
			<li>регистрации Вас на&nbsp;нашем сайте для предоставления Вам доступа к&nbsp;отдельным его разделам, в&nbsp;том числе создание аккаунта (учетной записи), оказания услуг в&nbsp;рамках договора;</li>
			<li>предоставления Вам информации о&nbsp;Компании и наших услугах;</li>
			<li>коммуникации с&nbsp;Вами, когда Вы&nbsp;обращаетесь к&nbsp;нам;</li>
			<li>направления Вам наших новостных материалов;</li>
			<li>выполнения полномочий и&nbsp;обязанностей, возложенных на&nbsp;Компанию законодательством Российской Федерации;</li>
			<li>для других целей с&nbsp;Вашего согласия.</li>
		</ul>
		<p>Мы&nbsp;обрабатываем технические данные для:</p>
		<ul>
			<li>обеспечения функционирования и&nbsp;безопасности наших сайтов;</li>
			<li>улучшения качества нашего сайта.</li>
		</ul>
		<p>Мы&nbsp;не&nbsp;размещаем Ваши персональные данные в&nbsp;общедоступных источниках. Мы&nbsp;не&nbsp;принимаем решений, порождающих для Вас юридические последствия или иным образом затрагивающих Ваши права и&nbsp;законные интересы на&nbsp;основании исключительно автоматизированной обработки персональных данных.</p>
		<h2>Ваши права</h2>
		<p>Обеспечение защиты Ваших прав и&nbsp;свобод в&nbsp;сфере персональных данных&nbsp;— важное условие работы Компании.</p>
		<p>Чтобы обеспечить защиту Ваших прав и&nbsp;свобод, по&nbsp;Вашей просьбе мы:</p>
		<ul>
			<li>подтвердим, обрабатываем&nbsp;ли мы&nbsp;Ваши персональные данные и&nbsp;предоставим Вам возможность с&nbsp;ними ознакомиться в&nbsp;течение 30 дней с&nbsp;даты получения Вашего запроса;</li>
			<li>сообщим Вам об&nbsp;источнике получения и&nbsp;составе Ваших персональных данных, которые мы&nbsp;обрабатываем;</li>
			<li>сообщим Вам о&nbsp;правовых основаниях, целях, сроках и&nbsp;способах обработки Ваших персональных данных;</li>
			<li>внесем необходимые изменения в&nbsp;Ваши персональные данные, если Вы&nbsp;подтвердите, что они неполные, неточные или неактуальные, в&nbsp;течение 7 рабочих дней с&nbsp;даты получения подтверждения, и&nbsp;уведомим Вас о&nbsp;внесенных изменениях;</li>
			<li>сообщим Вам об&nbsp;осуществленной или о&nbsp;предполагаемой трансграничной передаче Ваших персональных данных;</li>
			<li>сообщим Вам наименование и&nbsp;место нахождение организаций, которые имеют доступ к&nbsp;Вашим персональным данным и&nbsp;которым могут быть раскрыты Ваши персональные данные с&nbsp;Вашего согласия;</li>
			<li>сообщим Вам наименование или фамилию, имя, отчество и&nbsp;адрес лиц, которым с&nbsp;Вашего согласия может быть поручена обработка Ваших персональных данных;</li>
			<li>уведомим Вас о&nbsp;порядке осуществления Ваших прав при обработке нами Ваших персональных данных;</li>
			<li>исключим Вас из&nbsp;рассылки наших новостных материалов;</li>
			<li>прекратим обработку Ваших персональных данных в&nbsp;течение 30 дней с&nbsp;даты получения отзыва согласия, если для обработки персональных данных не&nbsp;будет иных правовых оснований, предусмотренных законодательством Российской Федерации;</li>
			<li>прекратим обработку Ваших персональных данных, если будет подтверждено, что мы&nbsp;их&nbsp;обрабатываем неправомерно, и&nbsp;уведомим Вас о&nbsp;предпринятых мерах;</li>
			<li>уничтожим Ваши персональные данные, если будет подтверждено, что они незаконно получены или не&nbsp;соответствуют заявленным целям обработки, в&nbsp;течение 7 рабочих дней с&nbsp;даты получения соответствующего подтверждения, и&nbsp;уведомим Вас о&nbsp;предпринятых мерах;</li>
			<li>ответим на&nbsp;Ваши вопросы, касающиеся Ваших персональных данных, которые мы&nbsp;обрабатываем.</li>
		</ul>
		<h2>Как Вы&nbsp;можете связаться с&nbsp;нами</h2>
		<p>Вы&nbsp;можете обратиться к&nbsp;нам с&nbsp;запросом, касающимся обработки Ваших персональных данных, направив нам письмо с&nbsp;темой письма «Запрос о&nbsp;персональных данных» (либо «Отзыв согласия на&nbsp;обработку персональных данных» в&nbsp;случае отзыва согласия на&nbsp;обработку персональных данных) на&nbsp;адрес электронной почты: <a href="mailto:privacy@ra-parus.ru">privacy@ra-parus.ru</a> или на&nbsp;адрес: 443001, г. Самара, ул.&nbsp;Ульяновская, д.&nbsp;18, офис 401.</p>
		<h2>Безопасность персональных данных</h2>
		<p>Для обеспечения безопасности Ваших персональных данных при их&nbsp;обработке мы&nbsp;принимаем необходимые и&nbsp;достаточные правовые, организационные и&nbsp;технические меры для защиты персональных данных от&nbsp;неправомерного или случайного доступа к&nbsp;ним, их&nbsp;уничтожения, изменения, блокирования, копирования, предоставления, распространения, а&nbsp;также от&nbsp;иных неправомерных действий в&nbsp;отношении персональных данных.</p>
		<p>В&nbsp;целях обеспечения адекватной защиты Ваших персональных данных мы&nbsp;проводим оценку вреда, который может быть причинен в&nbsp;случае нарушения безопасности Ваших персональных данных, а&nbsp;также определяем актуальные угрозы безопасности Ваших персональных данных при их&nbsp;обработке в&nbsp;информационных системах персональных данных.</p>
		<p>В&nbsp;Компании приняты локальные акты по&nbsp;вопросам безопасности персональных данных. Сотрудники Компании, имеющие доступ к&nbsp;персональным данным, ознакомлены с&nbsp;настоящей Политикой и&nbsp;локальными актами по&nbsp;вопросам безопасности персональных данных.</p>
		<h2>Прекращение обработки персональных данных</h2>
		<p>Мы&nbsp;прекращаем обработку Ваших персональных данных:</p>
		<ul>
			<li>при наступлении условий прекращения обработки персональных данных или по&nbsp;истечении установленных сроков;</li>
			<li>по&nbsp;достижении целей их&nbsp;обработки либо в&nbsp;случае утраты необходимости в&nbsp;достижении этих целей;</li>
			<li>по&nbsp;Вашему требованию, если обрабатываемые персональные данные являются незаконно полученными или не&nbsp;являются необходимыми для заявленной цели обработки;</li>
			<li>в&nbsp;случае выявления неправомерной обработки персональных данных, если обеспечить правомерность обработки невозможно;</li>
			<li>по&nbsp;истечении срока действия Вашего согласия на&nbsp;обработку персональных данных или в&nbsp;случае отзыва Вами такого согласия, если для обработки персональных данных не&nbsp;будет иных правовых оснований, предусмотренных законодательством Российской Федерации;</li>
			<li>в&nbsp;случае ликвидации Компании.</li>
		</ul>
		<h2>Cookies</h2>
		<p>Мы&nbsp;используем файлы cookies. Файлы cookies&nbsp;— это небольшие текстовые файлы, размещаемые на&nbsp;жестких дисках Ваших устройств во&nbsp;время использования различных сайтов, предназначенные для содействия в&nbsp;настройке пользовательского интерфейса в&nbsp;соответствии с&nbsp;Вашими предпочтениями.</p>
		<p>Большинство браузеров позволяют отказаться от&nbsp;получения файлов cookies и&nbsp;удалить их&nbsp;с&nbsp;жесткого диска устройства.</p>
		<h2>Ссылки на&nbsp;сайты третьих лиц</h2>
		<p>На&nbsp;наших сайтах могут быть размещены ссылки на&nbsp;сторонние сайты и&nbsp;службы, которые мы&nbsp;не&nbsp;контролируем. Мы&nbsp;не&nbsp;несем ответственности за&nbsp;безопасность или конфиденциальность любой информации, собираемой сторонними сайтами или службами.</p>
		<h2>Изменение Политики</h2>
		<p>Мы&nbsp;можем обновлять Политику по&nbsp;мере необходимости. Мы&nbsp;рекомендуем Вам периодически проверять актуальность данной Политики. Продолжая пользоваться нашими сайтами после изменения Политики, Вы&nbsp;подтверждаете согласие с&nbsp;внесенными изменениями.</p>
		<p>Если у&nbsp;Вас остались вопросы по&nbsp;данной Политике, пожалуйста, свяжитесь с&nbsp;ответственным за&nbsp;организацию обработки персональных данных в&nbsp;Компании, направив письмо с&nbsp;пометкой «Запрос о&nbsp;персональных данных» на&nbsp;адрес электронной почты: <a href="mailto:privacy@ra-parus.ru">privacy@ra-parus.ru</a> или на&nbsp;адрес: 443001, г. Самара, ул.&nbsp;Ульяновская, д.&nbsp;18, офис 401.</p>
	</div>
</div>
{% endblock %}
