<div class="popup-box js-application-accepted-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup-info">
		<h3 class="popup-info__title">
			Ваша заявка принята
		</h3>
		<p class="popup-info__text">Ваша заявка принята и находится
			в обработке. Наш менеджер свяжется с Вами в ближайшее рабочее время. Мы работаем каждый день с 8:00 до 20:00</p>
	</div>
</div>
