<div class="popup-box js-feedback-sent-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup-info">
		<h3 class="popup-info__title">
			Спасибо за отзыв
		</h3>
		<p class="popup-info__text">Мы опубликуем его после модерации</p>
	</div>
</div>
