<footer class="footer">
	<div class="wrapper">
		<div class="footer-nav">
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Каталог автомобилей</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Новые автомобили</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Автомобили с пробегом</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Каталог запчастей</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Акции</a>
				</div>
			</div>
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Услуги</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Кредитование</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Выкуп автомобиля</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Обмен авто: Trade-in</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Страхование</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Лизинг</a>
				</div>
			</div>
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Сервис</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Диагностика</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Кузовной ремонт</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Замена масла</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Гос. Техосмотр</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Адреса сервисов</a>
				</div>
			</div>
			<div class="footer-nav__col footer-nav__col--mobile">
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Компания</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Команда</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Вакансии</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Награды</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Партнеры</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Новости</a>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link">Отзывы</a>
				</div>
			</div>
			<div class="footer-nav__col">
				<div class="footer-nav__item footer-nav__item--desktop-hide">
					<button class="footer-nav-link footer-nav-link--large js-open-mobile-footer-nav-btn">Показать меню</button>
				</div>
				<div class="footer-nav__item">
					<a href="" class="footer-nav-link footer-nav-link--large">Контакты</a>
				</div>
				<div class="footer-nav__item footer-nav__item--mg-1">
					<div class="footer-contact" data-footer-contact-lbl="Единая справочная служба">
						<a href="tel:88002013131" class="footer-contact__link footer-contact__link--phone">8 (800)
							201-31-31</a>
					</div>
				</div>
				<div class="footer-nav__item footer-nav__item--mg-2">
					<button class="btn-transparent-grey">Заказать звонок</button>
				</div>
				<div class="footer-nav__item">
					<div class="footer-contact" data-footer-contact-lbl="E-mail">
						<a href="mailto:sales@avto-belogorie.ru"
						   class="footer-contact__link footer-contact__link--email">sales@avto-belogorie.ru</a>
					</div>
				</div>
				<div class="footer-nav__item">
					<div class="social">
						<div class="social__item">
							<a href="" class="social-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#instagram"/>
								</svg>
							</a>
						</div>
						<div class="social__item">
							<a href="" class="social-link">
								<svg>
									<use xlink:href="./styles/icons/icons.svg#vk"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div>
				<a href="/" class="logo">
					<img src="./styles/images/footer-logo.svg" alt=""/>
				</a>
			</div>
			<div>
				<div class="copyright-lbl">
					<div>© ООО «Авто Белогорье»</div>
					<div>Все права защищены. 2020 год.</div>
				</div>
			</div>
			<div>
				<a href="" class="copyright-link">Защита персональных
					данных</a>
			</div>
			<div>
				<a href="" class="copyright-link">Правовая информация</a>
			</div>
			<div>
				<div class="company">
					Сделано с любовью<br>
					в
					<a href="">PARUS AGENCY</a>
				</div>
			</div>
		</div>
		<div class="politics">
			<div class="politics__text">Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни
				при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского
				кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей Volkswagen,
				Kia, Renault, LADA обращайтесь к менеджерам по продажам автоцентров «Авто-Белогорье». Для получения
				информации о приобретении автомобилей в кредит, страховании, техническом обслуживании и ремонте
				автомобилей, запасных частях, дополнительном оборудовании, аксессуарах также обращайтесь в сервисные
				центры и автосалоны «Авто-Белогорье».Права на сайт принадлежат ООО «Авто-Белогорье» (ИНН 5047059383,
				ОГРН 1045009553577 от 29 марта 2004 года) тел. +7 (4722) 40-04-44 , адрес эл. почты
				sales@avto-belogorie.ru
			</div>
			<div class="footer-brands">
				<img src="./styles/images/volkswagen.png" alt=""/>
				<img src="./styles/images/renault.png" alt=""/>
				<img src="./styles/images/kia.png" alt=""/>
				<img src="./styles/images/lada.png" alt=""/>
			</div>
		</div>
	</div>
</footer>
