<div class="popup-box js-give-feedback-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup">
		<form class="popup-content popup-content--feedback popup-form">
			<div class="popup-content__inner">
				<div class="popup-content__col popup-content__col--full">
					<h4 class="popup-content__title">Оставить отзыв</h4>
					<div class="popup-form__field">
						<div class="stars">
							<div class="star star--clickable js-star" data-value='1'>
								<img class="star-icon" src="./styles/images/star.svg" alt=""/>
								<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
							</div>
							<div class="star star--clickable js-star" data-value='2'>
								<img class="star-icon" src="./styles/images/star.svg" alt=""/>
								<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
							</div>
							<div class="star star--clickable js-star" data-value='3'>
								<img class="star-icon" src="./styles/images/star.svg" alt=""/>
								<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
							</div>
							<div class="star star--clickable js-star" data-value='4'>
								<img class="star-icon" src="./styles/images/star.svg" alt=""/>
								<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
							</div>
							<div class="star star--clickable js-star" data-value='5'>
								<img class="star-icon" src="./styles/images/star.svg" alt=""/>
								<img class="star-icon-empty" src="./styles/images/star-empty.svg" alt=""/>
							</div>
						</div>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Тема отзыва</span>
							<input class="field__input field__input--white" type="text" placeholder="Введите тему">
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Текст</span>
							<textarea class="field__input field__input--textarea field__input--white"
									  placeholder="Введите текст отзыва"></textarea>
						</label>
					</div>
				</div>
			</div>
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<button class="btn-blue btn-full js-open-feedback-sent-popup-btn" type="submit">Отправить</button>
				</div>
				<div class="popup-content__col">
					<div class="popup-content__hint">Оставлять отзывы могут только зарегистрированные и авторизованные пользователи</div>
				</div>
			</div>
		</form>
	</div>
</div>
