<header class="header">
	<div class="wrapper">
		<div class="top-header">
			<div class="top-header-options">
				<div class="top-header-options__logo">
					<div class="logo-box">
						<a href="/" class="logo">
							<img class="desktop-logo" src="./styles/images/logo.svg" alt=""/>
							<img class="mobile-logo hidden" src="./styles/images/mobile-logo.svg" alt=""/>
						</a>
					</div>
				</div>
				<div class="top-header__search">
					<div class="header-search">
						<form class="search-box">
							<div class="search-box__field">
								<label class="field">
									<span class="field__label visuallyhidden">Поиск по автомобилям и запчастям</span>
									<input class="field__input field__input--transparent" type="text"
										   placeholder="Поиск по автомобилям и запчастям">
								</label>
							</div>
							<div class="search-box__btn">
								<button class="btn-blue">
									<span>Найти</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="top-header-mobile-options js-mobile-options">
				<div class="top-header-mobile-options__item">
					<button class="mobile-search-btn js-open-mobile-search-btn">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#search"/>
						</svg>
					</button>
				</div>
				<div class="top-header-mobile-options__item">
					<button class="menu-button js-open-mobile-nav-btn">
						<span class="menu-button__line menu-button__line--top"></span>
						<span class="menu-button__line menu-button__line--middle"></span>
						<span class="menu-button__line menu-button__line--bottom"></span>
					</button>
				</div>
			</div>
			<div class="top-header-options top-header-options--right">
				<div class="top-header-options__item top-header-options__item--mr">
					<div class="header-call" data-header-call-lbl="Единая справочная служба">
						<a class="header-call__link" href="tel:88002013131">8 (800) 201-31-31</a>
					</div>
				</div>
				<div class="top-header-options__item">
					<button class="btn-blue js-open-request-call-btn">
						<span>Заказать звонок</span>
					</button>
				</div>
				<div class="top-header-options__item">
					<button class="btn-blue btn-circle-icon">
						<svg>
							<use xlink:href="./styles/icons/icons.svg#shopping-cart"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="header__navigation">
			<div class="navigation">
				<div class="navigation__item">
					<a href="" class="navigation-link navigation-link--active">
						<span>Каталог авто</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Запчасти</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Сервис</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Услуги</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#promotions"/>
						</svg>
						<span>Акции</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<span>Контакты</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#heart"/>
						</svg>
						<span>Избранное</span>
					</a>
				</div>
				<div class="navigation__item navigation__item--hide-on-desktop">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
						</svg>
						<span>Корзина</span>
						<span class="badge">3</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="" class="navigation-link">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#slider-circle-h"/>
						</svg>
						<span>Сравнение</span>
						<span class="badge">4</span>
					</a>
				</div>
				<div class="navigation__item">
					<a href="#" class="navigation-link js-open-login-popup-btn">
						<svg class="navigation-link__icon">
							<use xlink:href="./styles/icons/icons.svg#user"/>
						</svg>
						<span>Личный кабинет</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
