<div class="popup-box js-leasing-calculator-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup">
		<div class="popup-content">
			<div class="popup-content-back">
				<div class="popup-content-back__img">
					<img src="./images/car19.png" alt=""/>
				</div>
			</div>
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<h3 class="popup-content__title">Калькулятор лизинга</h3>
					<h4 class="popup-content__name">Renault Koleos</h4>
					<p class="popup-content__text">Renault Koleos 2,0 CVT X-Tronic, 2020 года выпуска, двигатель
						1997 см3, 144 л.с., бензиновый, автомат, полный привод, цвет черный, комбинированный
						салон.</p>
				</div>
				<div class="popup-content__col">
					<h3 class="popup-content__title">Итоговая стоимость</h3>
					<div>
						<div class="price-box price-box--no-sb">
							<div class="price price--medium price--dark"><span>747 000</span><sup>₽</sup></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="popup-form">
			<div class="popup-content">
				<div class="popup-content__inner popup-content__inner--col">
					<div class="popup-content__col popup-content__col--full">
						<h2 class="popup-content__title">
							<strong>Информация о кредите</strong>
						</h2>
					</div>
					<div class="popup-content__col popup-content__col--full">
						<div class="filter">
							<div class="filter-items filter-items--vertical">
								<div class="filter-items__item">
									<div class="filter-item">
										<span class="filter-item__label">Первоначальный взнос</span>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popup-content__col popup-content__col--full">
						<div class="filter">
							<div class="filter-items filter-items--vertical">
								<div class="filter-items__item">
									<div class="filter-item">
										<span class="filter-item__label">Срок кредита</span>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popup-content__col popup-content__col--full">
						<button class="btn-blue btn-mobile-full">Рассчитать</button>
					</div>
				</div>
			</div>
			<div class="popup-content">
				<div class="popup-content-back">
					<div class="popup-content-back__img">
						<img src="./images/car19.png" alt=""/>
					</div>
				</div>
				<div class="popup-content__inner">
					<div class="popup-content__col popup-content__col--full">
						<h3 class="popup-content__title">Результаты расчета</h3>
					</div>
				</div>
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<p class="popup-content__text">Расчет является предварительным и не является публичной
							офертой.</p>
						<p class="popup-content__hint">Для получения индивидуального предложения отправьте запрос нашему
							менеджеру.</p>
					</div>
					<div class="popup-content__col">
						<div class="popup-content__inner">
							<div class="popup-content__col">
								<div>
									<div class="price-lbl">Стоимость авто</div>
									<div class="price-box price-box--no-sb">
										<div class="price price--medium price--dark"><span class="no-price">----</span></div>
									</div>
								</div>
								<div>
									<div class="price-lbl">Стоимость по
										договору лизинга</div>
									<div class="price-box price-box--no-sb">
										<div class="price price--medium price--dark"><span class="no-price">----</span></div>
									</div>
								</div>
							</div>
							<div class="popup-content__col">
								<div>
									<div class="price-lbl">Ежемесячный платеж</div>
									<div class="price-box price-box--no-sb">
										<div class="price price--medium price--dark"><span class="no-price">----</span></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="popup-content popup-content--grey">
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">ФИО</span>
								<input class="field__input field__input--white" type="text" placeholder="ФИО">
							</label>
						</div>
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Номер телефона</span>
								<input class="field__input field__input--white" type="text"
									   placeholder="+7 ( ___ ) ___ - __ - __">
							</label>
						</div>
					</div>
					<div class="popup-content__col">
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Ваш e-mail</span>
								<input class="field__input field__input--white" type="text"
									   placeholder="Введите e-mail">
							</label>
						</div>
						<div class="popup-form__field">
							<div class="attach">
								<div class="attach__label">
									<span>Скан-копия паспорта</span>
									<div class="tip-box">
										<button class="tip-link">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#info-circle"/>
											</svg>
										</button>
										<div class="tip-popup">Рекламоноситель упорядочивает пул лояльных изданий.
											Анализ рыночных цен обоснован необходимостью. Процесс стратегического
											планирования однородно отражает экспериментальный BTL, осознав маркетинг
											как часть производства. BTL,
										</div>
									</div>
								</div>
								<label class="attach__input" for="attach-file-complaint">
									<input id="attach-file-complaint" class="upload-file visuallyhidden" name="document"
										   type="file">
									<span class="attach-input__btn btn-transparent-grey btn-full">Прикрепить файл</span>
								</label>
								<div class="file-list"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-content__inner popup-content__inner--mobile-reverse">
					<div class="popup-content__col">
						<div class="popup-form__submit popup-form__submit--full">
							<div class="popup-form__btn">
								<button class="btn-blue btn-full">Отправить</button>
							</div>
						</div>
					</div>
					<div class="popup-content__col">
						<div class="popup-form__submit">
							<label class="checkbox">
								<input class="visuallyhidden" type="checkbox">
								<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
								<span class="checkbox__label">Я согласен на <a
									href="">обработку персональных данных</a></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
