<div class="popup-box js-leasing-app-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup">
		<div class="popup-content">
			<div class="popup-content-back">
				<div class="popup-content-back__img">
					<img src="./images/car13.png" alt=""/>
				</div>
			</div>
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<h3 class="popup-content__title">Заявка на лизинг</h3>
					<h4 class="popup-content__name">Volkswagen Passat</h4>
					<p class="popup-content__text">Volkswagen Passat VIII (B8) Рестайлинг , Седан, 2020 года выпуска,
						двигатель 1984 см3, 190 л.с., бензиновый, автомат, передний привод, цвет черный, комбинированный
						салон.</p>
				</div>
				<div class="popup-content__col">
					<h3 class="popup-content__title">Итоговая стоимость</h3>
					<div>
						<div class="price-box price-box--no-sb">
							<div class="price price--medium price--dark"><span>2 408 000</span><sup>₽</sup></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="popup-form">
			<div class="popup-content popup-content--grey">
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">ФИО</span>
								<input class="field__input field__input--white" type="text" placeholder="ФИО">
							</label>
						</div>
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Номер телефона</span>
								<input class="field__input field__input--white" type="text"
									   placeholder="+7 ( ___ ) ___ - __ - __">
							</label>
						</div>
					</div>
					<div class="popup-content__col">
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Ваш e-mail</span>
								<input class="field__input field__input--white" type="text"
									   placeholder="Введите e-mail">
							</label>
						</div>
						<div class="popup-form__field">
							<div class="attach">
								<div class="attach__label">
									<span>Скан-копия паспорта</span>
									<div class="tip-box">
										<button class="tip-link">
											<svg>
												<use xlink:href="./styles/icons/icons.svg#info-circle"/>
											</svg>
										</button>
										<div class="tip-popup">Рекламоноситель упорядочивает пул лояльных изданий.
											Анализ рыночных цен обоснован необходимостью. Процесс стратегического
											планирования однородно отражает экспериментальный BTL, осознав маркетинг
											как часть производства. BTL,
										</div>
									</div>
								</div>
								<label class="attach__input" for="attach-file-complaint">
									<input id="attach-file-complaint" class="upload-file visuallyhidden" name="document"
										   type="file">
									<span class="attach-input__btn btn-transparent-grey btn-full">Прикрепить файл</span>
								</label>
								<div class="file-list"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-content__inner popup-content__inner--mobile-reverse">
					<div class="popup-content__col">
						<div class="popup-form__submit popup-form__submit--full">
							<div class="popup-form__btn">
								<button class="btn-blue btn-full js-application-accepted-btn" type="submit">Отправить</button>
							</div>
						</div>
					</div>
					<div class="popup-content__col">
						<div class="popup-form__submit">
							<label class="checkbox">
								<input class="visuallyhidden" type="checkbox">
								<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
								<span class="checkbox__label">Я согласен на <a
									href="">обработку персональных данных</a></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
