<div class="login-popup">
	<button class="login-popup__close js-close-login-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="login-popup__box" data-simplebar>
		<div class="login-popup__inner js-login">
			<div class="login-popup__head">
				<h2 class="login-popup__title">Вход</h2>
				<button class="link-grey link-under link-small js-show-registration-btn">Регистрация</button>
			</div>
			<div class="login-popup__form">
				<form class="login-form">
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Пароль</span>
							<input class="field__input" type="text" placeholder="Введите пароль">
						</label>
					</div>
					<div class="login-form__submit">
						<div class="login-form__btn">
							<button class="btn-blue btn-mobile-full">Войти</button>
						</div>
						<div class="login-form__btn">
							<button class="link-grey link-under link-small js-show-password-btn">Забыли пароль?</button>
						</div>
					</div>
				</form>
			</div>
			<div class="login-popup__social">
				<div class="login-popup__head">
					<h3 class="login-popup__title">Быстрый вход</h3>
				</div>
				<div class="login-popup-social">
					<div class="login-popup-social__item">
						<button class="btn-vk btn-full">
							<svg class="btn__icon-left">
								<use xlink:href="./styles/icons/icons.svg#vk-social"/>
							</svg>
							<span>Войти с помощью Vk</span>
						</button>
					</div>
					<div class="login-popup-social__item">
						<button class="btn-fb btn-full">
							<svg class="btn__icon-left">
								<use xlink:href="./styles/icons/icons.svg#facebook-logo"/>
							</svg>
							<span>Войти с помощью Facebook</span>
						</button>
					</div>
					<div class="login-popup-social__item">
						<button class="btn-google btn-full">
							<svg class="btn__icon-left">
								<use xlink:href="./styles/icons/icons.svg#google"/>
							</svg>
							<span>Войти с помощью Google</span>
						</button>
					</div>
				</div>
			</div>
			<div class="login-popup__mobile-close">
				<button class="btn-transparent-grey btn-full js-close-login-popup-btn">Назад</button>
			</div>
		</div>
		<div class="login-popup__inner js-registration hidden">
			<div class="login-popup__head">
				<h2 class="login-popup__title">Регистрация</h2>
				<button class="link-grey link-under link-small js-show-login-btn">Вход</button>
			</div>
			<div class="login-popup__form">
				<form class="login-form">
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Фамилия</span>
							<input class="field__input" type="text" placeholder="Введите фамилию">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Имя</span>
							<input class="field__input" type="text" placeholder="Введите имя">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Отчество</span>
							<input class="field__input" type="text" placeholder="Введите отчество">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Телефон</span>
							<input class="field__input" type="text" placeholder="+7 ( ___ ) ___ - __ - __">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Пароль</span>
							<input class="field__input" type="text" placeholder="* * * * * * * * * ">
						</label>
					</div>
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Подтверждение пароля</span>
							<input class="field__input" type="text" placeholder="* * * * * * * * * ">
						</label>
					</div>
					<div class="login-form__field">
						<label class="checkbox">
							<input class="visuallyhidden" type="checkbox">
							<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
							<span class="checkbox__label">Я согласен на <a href="">обработку персональных данных</a></span>
						</label>
					</div>
					<div class="login-form__submit">
						<div class="login-form__btn">
							<button class="btn-blue btn-mobile-full">Зарегистрироваться</button>
						</div>
						<div class="login-form__btn">
							<button class="link-grey link-under link-small js-show-login-btn">Войти</button>
						</div>
					</div>
				</form>
			</div>
			<div class="login-popup__mobile-close">
				<button class="btn-transparent-grey btn-full js-close-login-popup-btn">Назад</button>
			</div>
		</div>
		<div class="login-popup__inner js-password hidden">
			<div class="login-popup__head">
				<h2 class="login-popup__title">Восстановление пароля</h2>
			</div>
			<div class="login-popup__form">
				<form class="login-form">
					<div class="login-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="login-form__submit">
						<div class="login-form__btn">
							<button class="btn-blue btn-mobile-full">Выслать пароль</button>
						</div>
						<div class="login-form__btn">
							<button class="link-grey link-under link-small js-show-login-btn">Войти</button>
						</div>
					</div>
				</form>
			</div>
			<div class="login-popup__mobile-close">
				<button class="btn-transparent-grey btn-full js-close-login-popup-btn">Назад</button>
			</div>
		</div>
	</div>
</div>
