<div class="popup-box js-request-call-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup">
		<form class="popup-content popup-form">
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<h4 class="popup-content__title">Заказать звонок</h4>
				</div>
			</div>
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Ваше имя</span>
							<input class="field__input field__input--white" type="text" placeholder="Введите имя">
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Номер телефона</span>
							<input class="field__input field__input--white" type="text"
								   placeholder="+7 ( ___ ) ___ - __ - __">
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Ваш e-mail</span>
							<input class="field__input field__input--white" type="text"
								   placeholder="Введите e-mail">
						</label>
					</div>
				</div>
				<div class="popup-content__col">
					<div class="popup-form__field">
						<label class="field">
							<span class="field__label">Вопрос или комментарий</span>
							<textarea class="field__input field__input--white field__input--textarea"
									  placeholder="Напишите ваш вопрос"></textarea>
						</label>
					</div>
					<div class="popup-form__submit">
						<label class="checkbox">
							<input class="visuallyhidden" type="checkbox">
							<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
							<span class="checkbox__label">Я согласен на <a
								href="">обработку персональных данных</a></span>
						</label>
					</div>
					<div class="popup-form__submit">
						<div class="popup-form__btn">
							<button class="btn-blue btn-full js-application-accepted-btn" type="submit">Отправить</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="popup-content popup-content--grey popup-form">
			<div class="popup-content__hint-small">
				Предоставляя свои личные данные, вы даете согласие на получение от Авто-Белогорье новостей, информации
				по специальным предложениям, а так же обработку персональных данных.
			</div>
		</div>
	</div>
</div>
