<div class="popup-box js-sign-up-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup">
		<div class="popup-content">
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<h4 class="popup-content__title">Записаться в автосервис</h4>
				</div>
			</div>
		</div>
		<form class="popup-content popup-content--grey popup-form">
			<h4 class="popup-content__subtitle">Информация об автомобиле</h4>
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<div class="popup-form__field">
						<label class="select">
							<span class="select__label">Марка автомобиля</span>
							<select class="select__input js-select">
								<option>Выбрать</option>
								<option>Select</option>
								<option>Select</option>
								<option>Select</option>
							</select>
						</label>
					</div>
					<div class="popup-form__field">
						<label class="select">
							<span class="select__label">Модель автомобиля</span>
							<select class="select__input js-select">
								<option>Выбрать</option>
								<option>Select</option>
								<option>Select</option>
								<option>Select</option>
							</select>
						</label>
					</div>
					<div class="popup-form__field">
						<label class="select">
							<span class="select__label">Комплектация</span>
							<select class="select__input js-select">
								<option>Выбрать</option>
								<option>Select</option>
								<option>Select</option>
								<option>Select</option>
							</select>
						</label>
					</div>
				</div>
				<div class="popup-content__col">
					<div class="popup-form__field">
						<label class="select">
							<span class="select__label">Год выпуска</span>
							<select class="select__input js-select">
								<option>Год выпуска</option>
								<option>Select</option>
								<option>Select</option>
								<option>Select</option>
							</select>
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Пробег</span>
							<input class="field__input field__input--white" type="text"
								   placeholder="Пробег автомобиля">
						</label>
					</div>
				</div>
			</div>
			<h4 class="popup-content__subtitle">Контактные данные</h4>
			<div class="popup-content__inner">
				<div class="popup-content__col">
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Имя</span>
							<input class="field__input field__input--white" type="text"
								   placeholder="Введите имя">
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Фамилия</span>
							<input class="field__input" type="text" placeholder="Введите фамилию">
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Отчество</span>
							<input class="field__input" type="text" placeholder="Введите отчество">
						</label>
					</div>
				</div>
				<div class="popup-content__col">
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">Номер телефона</span>
							<input class="field__input" type="text"
								   placeholder="+7 ( ___ ) ___ - __ - __">
						</label>
					</div>
					<div class="popup-form__field">
						<label class="field field--required">
							<span class="field__label">E-mail</span>
							<input class="field__input" type="text" placeholder="Введите e-mail">
						</label>
					</div>
					<div class="popup-form__field popup-form__field--mg">
						<button class="btn-blue btn-full js-application-accepted-btn" type="submit">
							Записаться
						</button>
					</div>
				</div>
			</div>
			<div class="popup-content__inner">
				<div class="popup-content__hint">
					Предоставляя свои личные данные, вы даете согласие на получение от Авто-Белогорье новостей,
					информации по специальным предложениям, а так же обработку персональных данных.
				</div>
				<div class="popup-content__hint">
					Мы стремимся, чтобы цены на сайте обновлялись максимально быстро и отражали все спецпредложения. Тем
					не менее, на ряд автомобилей возможно получение дополнительных поддержек от производителей.
				</div>
				<div class="popup-content__hint">
					*Узнать подробнее о государственных программах поддержки можно, отправив запрос нашему менеджеру.
				</div>
			</div>
		</form>
	</div>
</div>
