<div class="popup-box js-vacancy-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup">
			<div class="popup-content">
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<h4 class="popup-content__title">Откликнуться на вакансию</h4>
					</div>
				</div>
			</div>
			<form class="popup-content popup-content--grey popup-form">
				<div class="popup-content__inner">
					<div class="popup-content__col">
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Имя</span>
								<input class="field__input field__input--white" type="text" placeholder="Введите имя">
							</label>
						</div>
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Номер телефона</span>
								<input class="field__input field__input--white" type="text"
									   placeholder="+7 ( ___ ) ___ - __ - __">
							</label>
						</div>
						<div class="popup-form__field">
							<label class="field field--required">
								<span class="field__label">Ваш e-mail</span>
								<input class="field__input field__input--white" type="text"
									   placeholder="Введите e-mail">
							</label>
						</div>
					</div>
					<div class="popup-content__col">
						<div class="popup-form__field">
							<label class="field">
								<span class="field__label">Сообщение</span>
								<textarea class="field__input field__input--white field__input--textarea field__input--textarea-h"
										  placeholder="Текст сообщения"></textarea>
							</label>
						</div>
						<div class="popup-form__field">
							<div class="attach">
								<div class="attach__label">
									<span>Прикрепить резюме</span>
								</div>
								<label class="attach__input" for="attach-file-complaint">
									<input id="attach-file-complaint" class="upload-file visuallyhidden" name="document"
										   type="file">
									<span class="attach-input__btn btn-transparent-grey btn-full">Прикрепить файл</span>
								</label>
								<div class="file-list"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-content__inner popup-content__inner--mobile-reverse">
					<div class="popup-content__col">
						<div class="popup-form__submit popup-form__submit--full">
							<div class="popup-form__btn">
								<button class="btn-blue btn-full js-vacancy-accepted-btn">Отправить</button>
							</div>
						</div>
					</div>
					<div class="popup-content__col">
						<div class="popup-form__submit">
							<label class="checkbox">
								<input class="visuallyhidden" type="checkbox">
								<span class="checkbox__input">
							<span class="checkbox__checked">
								<svg class="checkbox__icon">
									<use xlink:href="./styles/icons/icons.svg#checkmark"/>
								</svg>
							</span>
						</span>
								<span class="checkbox__label">Я согласен на <a
									href="">обработку персональных данных</a></span>
							</label>
						</div>
					</div>
				</div>
			</form>
	</div>
</div>
