<div class="popup-box js-vacancy-accepted-popup">
	<button class="popup-box__close js-close-popup-btn">
		<svg>
			<use xlink:href="./styles/icons/icons.svg#cross"/>
		</svg>
	</button>
	<div class="popup-info">
		<h3 class="popup-info__title">
			Спасибо за отклик
		</h3>
		<p class="popup-info__text">Мы внимательно ознакомимся
			с Вашим резюме и свяжемся с Вами
			в течение 3 рабочих дней</p>
	</div>
</div>
