:root {
	/* https://material.io/design/motion/speed.html#duration */
	--animate-duration-timeout: 2500ms;
	--animate-duration-effect: 500ms;
	--animate-duration-enter: 250ms;
	--animate-duration-leave: 200ms;
	--animate-duration-micro: 100ms;

	/* https://material.io/design/motion/speed.html#easing */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes spinner {
	0% {
		opacity: 0.5;
	}

	50%,
	100% {
		opacity: 1;
	}
}

@keyframes scaleDown {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}
}

@keyframes hvr-icon-pop {
	50% {
		transform: scale(1.1);
	}
}

@keyframes rotate-icon {
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.slide-up {
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name: slideUp;
	animation-timing-function: ease;
	overflow: hidden;

	&:nth-child(2) {
		animation-delay: 0.1s;
	}

	&:nth-child(3) {
		animation-delay: 0.2s;
	}

	&:nth-child(4) {
		animation-delay: 0.3s;
	}

	&:nth-child(5) {
		animation-delay: 0.4s;
	}

	&:nth-child(6) {
		animation-delay: 0.5s;
	}

	&:nth-child(7) {
		animation-delay: 0.6s;
	}

	&:nth-child(8) {
		animation-delay: 0.7s;
	}

	&:nth-child(9) {
		animation-delay: 0.8s;
	}

	&:nth-child(10) {
		animation-delay: 0.9s;
	}
}

.has-hover:hover .hover-rotate-icon {
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name: rotate-icon;
	animation-timing-function: ease;
}
