/* stylelint-disable selector-max-universal */
* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}

	&::before,
	&::after {
		box-sizing: border-box;
	}
}
/* stylelint-enable */

/* stylelint-disable declaration-no-important */
.hidden,
[hidden] {
	display: none !important;
}
/* stylelint-enable */

body {
	background-color: var(--back-color);
	color: var(--text-main-color);
	font-family: 'Montserrat', sans-serif;
	font-size: var(--fz-1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	line-height: var(--lh-1);
	overflow-x: hidden;

	&.disable-hover {
		pointer-events: none;
	}
}

picture {
	img {
		display: inherit;
		width: 100%;
	}
}

button,
input,
select,
textarea {
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: var(--text-color);
	font-family: system-ui;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;

	&::placeholder {
		color: var(--text-d-color);
	}
}

textarea {
	resize: vertical;
}

select {
	appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

svg {
	height: 100%;
	width: 100%;
}

button {
	cursor: pointer;
	font-family: inherit;
}

img {
	max-width: 100%;
}

.locked {
	overflow: hidden;
}
