.content {
	position: relative;

	&--search {
		&::before {
			background-color: var(--popup-box-back-color);
			bottom: 0;
			content: '';
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 101;
		}
	}
}
