@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Montserrat-Regular.woff2') format('woff2'), url('./fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/Montserrat-Medium.woff2') format('woff2'), url('./fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('./fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/Montserrat-Bold.woff2') format('woff2'), url('./fonts/Montserrat-Bold.woff') format('woff');
}

:root {
	--max-text-width: 36em;

	--fz-0: 12px;
	--fz-1: 14px;
	--fz-2: 16px;
	--fz-3: 18px;
	--fz-4: 20px;
	--fz-5: 24px;
	--fz-6: 36px;
	--fz-7: 48px;

	--lh-0: 18px;
	--lh-1: 22px;
	--lh-2: 26px;
	--lh-3: 26px;
	--lh-4: 32px;
	--lh-5: 32px;
	--lh-6: 42px;
	--lh-7: 56px;
}
