.layout {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		flex-direction: row;
		justify-content: space-between;
	}

	&--mobile-reverse {
		@media (--tablet-landscape-down) {
			flex-direction: column-reverse;
		}
	}

	&--mobile-row {
		@media (--phone-up) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&--nowrap {
		flex-wrap: nowrap;
	}

	&__item-full {
		flex-basis: 100%;
		width: 100%;
	}

	&__item-filter {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: 300px;
			width: 300px;
		}

		@media (--desktop-up) {
			flex-basis: 368px;
			width: 368px;
		}

		+ .layout__item-fill-filter {
			@media (--tablet-landscape-up) {
				margin-left: var(--mg-4);
			}

			@media (--desktop-up) {
				margin-left: var(--mg-8);
			}
		}
	}

	&__item-fill-filter {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(100% - 332px);
			max-width: calc(100% - 332px);
		}

		@media (--desktop-up) {
			flex-basis: calc(100% - 432px);
			max-width: calc(100% - 432px);
		}
	}

	&__item-info {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: 350px;
			margin-top: 0 !important;
			width: 350px;
		}

		@media (--desktop-up) {
			flex-basis: 410px;
			margin-top: 0 !important;
			width: 410px;
		}
	}

	&__item-fill-info {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(100% - 374px);
			max-width: calc(100% - 374px);
		}

		@media (--desktop-up) {
			flex-basis: calc(100% - 458px);
			max-width: calc(100% - 458px);
		}

		+ .layout__item-info {
			@media (--tablet-landscape-up) {
				margin-left: var(--mg-3);
			}

			@media (--desktop-up) {
				margin-left: var(--mg-6);
			}
		}
	}

	&__item-six {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(60% - 16px);
			max-width: calc(60% - 16px);
		}
	}

	&__item-four {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(40% - 16px);
			max-width: calc(40% - 16px);
		}
	}

	&__item-half {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(50% - 16px);
			max-width: calc(50% - 16px);
		}
	}

	&__item-third {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(33% - 21px);
			max-width: calc(33% - 21px);
		}
	}

	&__item-fourth {
		flex-basis: 100%;
		width: 100%;

		@media (--tablet-landscape-up) {
			flex-basis: calc(33% - 21px);
			max-width: calc(33% - 21px);
		}

		@media (--desktop-up) {
			flex-basis: calc(25% - 24px);
			max-width: calc(25% - 24px);
		}
	}

	+ .layout {
		margin-top: var(--mg-13);
	}

	+ .layout--no-mg {
		margin-top: 0;
	}

	+ .layout--small-mg {
		margin-top: var(--mg-4);
	}
}

[class*='layout__item'] {
	margin-bottom: var(--mg-3);
	position: relative;

	@media (--tablet-landscape-up) {
		margin-bottom: var(--mg-4);
	}
}

.layout--mobile-reverse {
	@media (--tablet-landscape-down) {
		[class*='layout__item'] + [class*='layout__item'] {
			margin-bottom: var(--mg-3);
			margin-top: 0;
		}
	}
}
