/*! nouislider - 14.6.1 - 8/17/2020 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-touch-action: none;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.noUi-target {
	position: relative;
}
.noUi-base,
.noUi-connects {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
	overflow: hidden;
	z-index: 0;
}
.noUi-connect,
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	transform-style: flat;
	will-change: transform;
	z-index: 1;
}
.noUi-connect {
	height: 100%;
	width: 100%;
}
.noUi-origin {
	height: 10%;
	width: 10%;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
	left: 0;
	right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
	width: 0;
}
.noUi-horizontal .noUi-origin {
	height: 0;
}
.noUi-handle {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}
.noUi-touch-area {
	height: 100%;
	width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	height: 28px;
	right: -17px;
	top: -6px;
	width: 34px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	height: 34px;
	right: -6px;
	top: -17px;
	width: 28px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
	left: -17px;
	right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
	background: #fafafa;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}
.noUi-connects {
	border-radius: 3px;
}
.noUi-connect {
	background: #3fb8af;
}
/* Handles and cursors;
 */
.noUi-draggable {
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}
.noUi-handle {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
	cursor: default;
}
.noUi-active {
	box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}
/* Handle stripes;
 */
.noUi-handle::before,
.noUi-handle::after {
	background: #e8e7e6;
	content: '';
	display: block;
	height: 14px;
	left: 14px;
	position: absolute;
	top: 6px;
	width: 1px;
}
.noUi-handle::after {
	left: 17px;
}
.noUi-vertical .noUi-handle::before,
.noUi-vertical .noUi-handle::after {
	height: 1px;
	left: 6px;
	top: 14px;
	width: 14px;
}
.noUi-vertical .noUi-handle::after {
	top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
	background: #b8b8b8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-pips {
	color: #999999;
	position: absolute;
}
/* Values;
 *
 */
.noUi-value {
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.noUi-value-sub {
	color: #cccccc;
	font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
	background: #cccccc;
	position: absolute;
}
.noUi-marker-sub {
	background: #aaaaaa;
}
.noUi-marker-large {
	background: #aaaaaa;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	height: 80px;
	left: 0;
	padding: 10px 0;
	top: 100%;
	width: 100%;
}
.noUi-value-horizontal {
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
	-webkit-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
	height: 5px;
	margin-left: -1px;
	width: 2px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	height: 100%;
	left: 100%;
	padding: 0 10px;
	top: 0;
}
.noUi-value-vertical {
	padding-left: 25px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.noUi-rtl .noUi-value-vertical {
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
	height: 2px;
	margin-top: -1px;
	width: 5px;
}
.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}
.noUi-tooltip {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	color: #000000;
	display: block;
	padding: 5px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
	bottom: 120%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.noUi-vertical .noUi-tooltip {
	right: 120%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
	bottom: 10px;
	left: auto;
	-webkit-transform: translate(50%, 0);
	transform: translate(50%, 0);
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
	right: 28px;
	top: auto;
	-webkit-transform: translate(0, -18px);
	transform: translate(0, -18px);
}
