.section {
	padding-bottom: var(--pd-8);
	padding-top: var(--pd-8);
	position: relative;
	width: 100%;

	@media (--tablet-landscape-up) {
		padding-bottom: var(--pd-10);
		padding-top: var(--pd-10);
	}

	@media (--desktop-up) {
		padding-bottom: var(--pd-15);
		padding-top: var(--pd-15);
	}

	.banner-small + & {
		padding-top: var(--pd-8);
	}

	&--no-pd {
		padding-bottom: 0;
		padding-top: 0;
	}

	&--no-pt {
		padding-top: 0;
	}

	&--no-mobile-pt {
		@media (--tablet-landscape-down) {
			padding-top: 0;
		}
	}

	&--grey {
		background-color: var(--back-grey-color);
	}

	&__content {
		margin-top: var(--mg-7);

		&--small-mt {
			margin-top: var(--mg-7);
		}
	}

	&__head {
		margin-bottom: var(--mg-4);

		@media (--tablet-landscape-up) {
			margin-bottom: var(--mg-5);
		}

		.layout__item-half & {
			margin-bottom: var(--mg-2);

			@media (--tablet-landscape-up) {
				margin-bottom: var(--mg-3);
			}
		}
	}

	&__title {
		color: var(--text-main-color);
		font-size: var(--fz-5);
		font-weight: 400;
		line-height: var(--lh-5);
		margin-bottom: 0;
		white-space: pre-line;

		@media (--tablet-landscape-up) {
			font-size: var(--fz-6);
			line-height: var(--lh-6);
		}

		&--medium {
			@media (--tablet-landscape-up) {
				font-size: 32px;
			}
		}

		&--small {
			font-size: var(--fz-5);
			line-height: var(--lh-5);
		}

		> strong {
			font-weight: 500;
		}
	}

	&__desc {
		margin-bottom: 0;
		margin-top: var(--mg-3);
	}
}
