a {
	color: var(--link-dark-color);
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: underline;
	transition-duration: var(--animate-duration-enter);
	transition-property: color, text-decoration;
	transition-timing-function: var(--animate-easing-acceleration);

	&.has-hover:hover {
		color: var(--link-light-blue-color);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-top: 0;

	> strong {
		font-weight: 600;
	}
}

h1 {
	margin-bottom: var(--mg-4);
}

h2 {
	margin-bottom: var(--mg-3);
}

h3 {
	margin-bottom: var(--mg-2);
}

h4 {
	margin-bottom: var(--mg-2);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none;
}

p {
	margin-bottom: var(--mg-3);
	margin-top: 0;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6,
dl + h1,
dl + h2,
dl + h3,
dl + h4,
dl + h5,
dl + h6,
table + h1,
table + h2,
table + h3,
table + h4,
table + h5,
table + h6 {
	margin-top: var(--mg-4);
}

p:not([class]):last-child,
h1:not([class]):last-child,
h2:not([class]):last-child,
h3:not([class]):last-child,
h4:not([class]):last-child,
h5:not([class]):last-child,
h5:not([class]):last-child {
	margin-bottom: 0;
}

ul,
ol {
	margin: 0 0 30px 25px;
	padding: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 30px 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -15%;
}

sub {
	bottom: -15%;
}

big {
	font-size: 120%;
}

small {
	font-size: 1.2rem;
}

tt,
pre,
kbd,
xmp,
code,
samp,
plaintext {
	font-family: monospace, sans-serif;
}

pre {
	overflow: auto;
}

address {
	font-style: normal;
}

img {
	border: 0;
	height: auto;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: top;
}
