:root {
	/* Border radius */
	--br-0: 2px;
	--br-1: 4px;
	--br-2: 8px;
	--br-3: 16px;

	/* Text */
	--text-main-color: #0f2043;
	--text-sky-color: #d0daf0;
	--text-white-color: #ffffff;
	--text-grey-color: #505f80;
	--text-light-grey-color: #959aa2;
	--text-light-blue-color: #02a5ff;
	--text-green-color: #10baa8;
	--text-dark-green-color: #09763f;
	--text-red-color: #e31a15;

	/* Back colors */
	--back-color: #ffffff;
	--back-grey-color: #fafafc;
	--back-sky-color: #d0daf0;
	--back-trans-color: rgba(0, 0, 0, 0.3);
	--border-color: #d0daf0;
}
